Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

rm(1): remove whiteouts when forcibly removing directories
  bin/rm/rm.c
Owners: none

multicast tests: Run in VNET jails
  tests/sys/netinet/Makefile
Owners: @ngie-eign

multicast tests: Run in VNET jails
  tests/sys/netinet/Makefile
Owners: @ngie-eign

geom_zero.4: Document
  share/man/man4/Makefile
  share/man/man4/geom_zero.4
  share/man/man4/zero.4
Owners: none

geom_zero.4: Document
  share/man/man4/Makefile
  share/man/man4/geom_zero.4
  share/man/man4/zero.4
Owners: none

ports.7: Add /var/db/ports to FILES
  share/man/man7/ports.7
Owners: none

ports.7: Add /var/db/ports to FILES
  share/man/man7/ports.7
Owners: none

ports.7: Add /var/db/ports to FILES
  share/man/man7/ports.7
Owners: none

dtrace.1: Fix mdoc macros around -x
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
Owners: none

dtrace.1: Fix mdoc macros around -x
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
Owners: none

dtrace.1: Fix mdoc macros around -x
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
Owners: none

proc_set_cred(): Allow 'newcred' to have multiple references
  sys/kern/kern_prot.c
Owners: none

proc_set_cred(): Allow 'newcred' to have multiple references
  sys/kern/kern_prot.c
Owners: none

setpgid(): Fix space before TAB in herald comment
  sys/kern/kern_prot.c
Owners: none

kern: RACCT: Keep process credentials alive via references
  sys/kern/kern_jail.c
  sys/kern/kern_loginclass.c
  sys/kern/kern_prot.c
  sys/kern/kern_racct.c
Owners: none

setpgid(): Fix space before TAB in herald comment
  sys/kern/kern_prot.c
Owners: none

kern: RACCT: Keep process credentials alive via references
  sys/kern/kern_jail.c
  sys/kern/kern_loginclass.c
  sys/kern/kern_prot.c
  sys/kern/kern_racct.c
Owners: none

geom_zero.4: typo
  share/man/man4/geom_zero.4
Owners: none

geom_zero.4: typo
  share/man/man4/geom_zero.4
Owners: none

newfs_msdos: Improve error messages
  sbin/newfs_msdos/mkfs_msdos.c
Owners: none

newfs_msdos: Improve error messages
  sbin/newfs_msdos/mkfs_msdos.c
Owners: none

bsdinstall: Fix newfs bsddialog menu
  usr.sbin/bsdinstall/partedit/gpart_ops.c
Owners: none

pf.conf.5: add nat-to/rdr-to to BNF
  share/man/man5/pf.conf.5
Owners: none

dtrace_vfs.4: Document the DTrace vfs provider
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
  share/man/man4/Makefile
  share/man/man4/dtrace_vfs.4
  share/man/man9/VFS.9
Owners: none

dtrace_vfs.4: Document the DTrace vfs provider
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
  share/man/man4/Makefile
  share/man/man4/dtrace_vfs.4
  share/man/man9/VFS.9
Owners: none

dtrace_vfs.4: Document the DTrace vfs provider
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
  share/man/man4/Makefile
  share/man/man4/dtrace_vfs.4
  share/man/man9/VFS.9
Owners: none

mixer(8): Update FILES section
  usr.sbin/mixer/mixer.8
Owners: none

libpam: Don't put man8 in the dev package
  lib/libpam/modules/pam_chroot/Makefile
  lib/libpam/modules/pam_deny/Makefile
  lib/libpam/modules/pam_echo/Makefile
  lib/libpam/modules/pam_exec/Makefile
  lib/libpam/modules/pam_ftpusers/Makefile
  lib/libpam/modules/pam_group/Makefile
  lib/libpam/modules/pam_guest/Makefile
  lib/libpam/modules/pam_krb5/Makefile
  lib/libpam/modules/pam_ksu/Makefile
  lib/libpam/modules/pam_lastlog/Makefile
  lib/libpam/modules/pam_login_access/Makefile
  lib/libpam/modules/pam_nologin/Makefile
  lib/libpam/modules/pam_passwdqc/Makefile
  lib/libpam/modules/pam_permit/Makefile
  lib/libpam/modules/pam_radius/Makefile
  lib/libpam/modules/pam_rhosts/Makefile
  lib/libpam/modules/pam_rootok/Makefile
  lib/libpam/modules/pam_securetty/Makefile
  lib/libpam/modules/pam_self/Makefile
  lib/libpam/modules/pam_ssh/Makefile
  lib/libpam/modules/pam_tacplus/Makefile
  lib/libpam/modules/pam_unix/Makefile
  lib/libpam/modules/pam_xdg/Makefile
Owners: @dag-erling

libpam: Don't put man8 in the dev package
  lib/libpam/modules/pam_chroot/Makefile
  lib/libpam/modules/pam_deny/Makefile
  lib/libpam/modules/pam_echo/Makefile
  lib/libpam/modules/pam_exec/Makefile
  lib/libpam/modules/pam_ftpusers/Makefile
  lib/libpam/modules/pam_group/Makefile
  lib/libpam/modules/pam_guest/Makefile
  lib/libpam/modules/pam_krb5/Makefile
  lib/libpam/modules/pam_ksu/Makefile
  lib/libpam/modules/pam_lastlog/Makefile
  lib/libpam/modules/pam_login_access/Makefile
  lib/libpam/modules/pam_nologin/Makefile
  lib/libpam/modules/pam_passwdqc/Makefile
  lib/libpam/modules/pam_permit/Makefile
  lib/libpam/modules/pam_radius/Makefile
  lib/libpam/modules/pam_rhosts/Makefile
  lib/libpam/modules/pam_rootok/Makefile
  lib/libpam/modules/pam_securetty/Makefile
  lib/libpam/modules/pam_self/Makefile
  lib/libpam/modules/pam_ssh/Makefile
  lib/libpam/modules/pam_tacplus/Makefile
  lib/libpam/modules/pam_unix/Makefile
  lib/libpam/modules/pam_xdg/Makefile
Owners: @dag-erling

libpam: Move to a new "pam" package
  UPDATING
  lib/libpam/Makefile.inc
  lib/libpam/libpam/Makefile
  lib/libpam/modules/pam_lastlog/Makefile
  lib/libpam/modules/pam_login_access/Makefile
  lib/libpam/modules/pam_nologin/Makefile
  lib/libpam/modules/pam_securetty/Makefile
  lib/libpam/modules/pam_self/Makefile
  lib/libpam/modules/pam_unix/Makefile
  lib/libpam/pam.d/Makefile
  release/packages/ucl/pam-all.ucl
Owners: @dag-erling

libpam: Move to a new "pam" package
  UPDATING
  lib/libpam/Makefile.inc
  lib/libpam/libpam/Makefile
  lib/libpam/modules/pam_lastlog/Makefile
  lib/libpam/modules/pam_login_access/Makefile
  lib/libpam/modules/pam_nologin/Makefile
  lib/libpam/modules/pam_securetty/Makefile
  lib/libpam/modules/pam_self/Makefile
  lib/libpam/modules/pam_unix/Makefile
  lib/libpam/pam.d/Makefile
  release/packages/ucl/pam-all.ucl
Owners: @dag-erling

cd9660: Unbreak symbolic links
  sys/fs/cd9660/cd9660_vnops.c
Owners: none

cd9660: Unbreak symbolic links
  sys/fs/cd9660/cd9660_vnops.c
Owners: none

ktrace: Only enable EXTERROR traces for 'x'
  usr.bin/ktrace/subr.c
Owners: none

vtnet: don't provide VIRTIO_NET_HDR_F_DATA_VALID
  sys/dev/virtio/network/if_vtnet.c
Owners: none

vtnet: don't provide VIRTIO_NET_HDR_F_DATA_VALID
  sys/dev/virtio/network/if_vtnet.c
Owners: none

vtnet: fix enabling/disabling tso
  sys/dev/virtio/network/if_vtnet.c
Owners: none

vtnet: fix enabling/disabling tso
  sys/dev/virtio/network/if_vtnet.c
Owners: none

nvmf: Add a transport hook to limit the size of host data transfers
  sys/dev/nvmf/nvmf_tcp.c
  sys/dev/nvmf/nvmf_transport.c
  sys/dev/nvmf/nvmf_transport.h
  sys/dev/nvmf/nvmf_transport_internal.h
Owners: none

nvmft: Honor any IOCCSZ limit imposed by the transport
  sys/dev/nvmf/controller/nvmft_controller.c
  sys/dev/nvmf/controller/nvmft_qpair.c
  sys/dev/nvmf/controller/nvmft_var.h
Owners: none
