Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

pf: Check if source nodes use a valid redirection address
  sys/net/pfvar.h
  sys/netpfil/pf/pf.c
  sys/netpfil/pf/pf_lb.c
  sys/netpfil/pf/pf_table.c
  tests/sys/netpfil/pf/src_track.sh
Owners: @glebius, @ngie-eign

pf: Check if source nodes use a valid redirection address
  sys/net/pfvar.h
  sys/netpfil/pf/pf.c
  sys/netpfil/pf/pf_lb.c
  sys/netpfil/pf/pf_table.c
  tests/sys/netpfil/pf/src_track.sh
Owners: @glebius, @ngie-eign

rc.subr set dot_dir and dot_file in dot
  libexec/rc/rc.subr
Owners: none

rc.subr set dot_dir and dot_file in dot
  libexec/rc/rc.subr
Owners: none

ifconfig.8: Mention max name length
  sbin/ifconfig/ifconfig.8
Owners: none

ifconfig.8: Mention max name length
  sbin/ifconfig/ifconfig.8
Owners: none

riscv: Treat pointer register as an input in fpe_store
  sys/riscv/riscv/fpe.c
Owners: none

riscv: Treat pointer register as an input in fpe_store
  sys/riscv/riscv/fpe.c
Owners: none

pmcstat: Remove no-op -k option
  usr.sbin/pmcstat/pmcstat.c
Owners: none

ipfw: Retire obsolete compat code
  sys/conf/files
  sys/modules/dummynet/Makefile
  sys/netinet/raw_ip.c
  sys/netpfil/ipfw/ip_dn_glue.c
  sys/netpfil/ipfw/ip_dn_private.h
  sys/netpfil/ipfw/ip_dummynet.c
Owners: none

bsdlabel: Bump removal to FreeBSD 16.0.
  sbin/bsdlabel/bsdlabel.8
  sbin/bsdlabel/bsdlabel.c
Owners: none

pjdfstest: Avoid needless use of expr
  contrib/pjdfstest/tests/ftruncate/12.t
  contrib/pjdfstest/tests/link/05.t
  contrib/pjdfstest/tests/link/15.t
  contrib/pjdfstest/tests/mkdir/11.t
  contrib/pjdfstest/tests/mkfifo/11.t
  contrib/pjdfstest/tests/open/19.t
  contrib/pjdfstest/tests/symlink/11.t
  contrib/pjdfstest/tests/truncate/12.t
Owners: @ngie-eign, @asomers

pjdfstest: Fix link count test
  contrib/pjdfstest/tests/link/05.t
Owners: @ngie-eign, @asomers

pjdfstest: Fix link count test
  contrib/pjdfstest/tests/link/05.t
Owners: @ngie-eign, @asomers

pjdfstest: Avoid needless use of expr
  contrib/pjdfstest/tests/ftruncate/12.t
  contrib/pjdfstest/tests/link/05.t
  contrib/pjdfstest/tests/link/15.t
  contrib/pjdfstest/tests/mkdir/11.t
  contrib/pjdfstest/tests/mkfifo/11.t
  contrib/pjdfstest/tests/open/19.t
  contrib/pjdfstest/tests/symlink/11.t
  contrib/pjdfstest/tests/truncate/12.t
Owners: @ngie-eign, @asomers

release: Only check no-root/no-qemu when building
  release/Makefile.vm
Owners: none

release: Only check no-root/no-qemu when building
  release/Makefile.vm
Owners: none

pkg: Die if make -V BRANCH fails
  usr.sbin/pkg/Makefile
Owners: none

pkg: Die if make -V BRANCH fails
  usr.sbin/pkg/Makefile
Owners: none

pkg: Die if make -V BRANCH fails
  usr.sbin/pkg/Makefile
Owners: none

release: Only check no-root/no-qemu when building
  release/Makefile.vm
Owners: none

bsdlabel: Bump removal to FreeBSD 16.0.
  sbin/bsdlabel/bsdlabel.8
  sbin/bsdlabel/bsdlabel.c
Owners: none

pmcstat: Remove no-op -k option
  usr.sbin/pmcstat/pmcstat.c
Owners: none

ipfw: Retire obsolete compat code
  sys/conf/files
  sys/modules/dummynet/Makefile
  sys/netinet/raw_ip.c
  sys/netpfil/ipfw/ip_dn_glue.c
  sys/netpfil/ipfw/ip_dn_private.h
  sys/netpfil/ipfw/ip_dummynet.c
Owners: none

release: Only check no-root/no-qemu when building
  release/Makefile.vm
Owners: none

pkg: Die if make -V BRANCH fails
  usr.sbin/pkg/Makefile
Owners: none

intrng: allocate event during isrc setup
  sys/kern/subr_intr.c
Owners: none

intrng: destroy event when deregistering source
  sys/kern/subr_intr.c
Owners: none

intrng: have isrc_free_irq() return success if already free
  sys/kern/subr_intr.c
Owners: none

intrng: invalidate ->isrc_index and ->isrc_count when releasing counters
  sys/kern/subr_intr.c
Owners: none

kern/intr: have intr_event_destroy() return success on NULL event
  sys/kern/kern_intr.c
Owners: none

kern/intr: declare intr_event_destroy() __result_use_check
  sys/netpfil/pf/if_pfsync.c
  sys/netpfil/pf/pf_ioctl.c
  sys/netpfil/pf/pflow.c
  sys/sys/interrupt.h
  sys/x86/x86/intr_machdep.c
Owners: @glebius

intrng: split intr_describe_irq()
  sys/kern/subr_intr.c
Owners: none

intrng: expose lower-level device interface for INTRNG
  sys/kern/subr_intr.c
  sys/sys/intr.h
Owners: none

intrng: handle intr_describe() being passed NULL cookies
  sys/kern/subr_intr.c
Owners: none

intrng: adjust intr_teardown_irq() to use intr_describe()
  sys/kern/subr_intr.c
Owners: none

intrng: split intr_isrc_assign_cpu()
  sys/kern/subr_intr.c
  sys/sys/intr.h
Owners: none

intrng: switch PIC interface to use pic_list_lock
  sys/kern/subr_intr.c
Owners: none

intrng: break PIC functionality off of main INTRNG file
  sys/conf/files.arm
  sys/conf/files.arm64
  sys/conf/files.riscv
  sys/kern/subr_intr.c
  sys/kern/subr_intrpic.c
Owners: none

kern/intr: remove ->td_intr_nesting_level++ from core interrupt handler
  sys/dev/xen/bus/xen_intr.c
  sys/kern/kern_clock.c
  sys/kern/kern_intr.c
  sys/kern/subr_intr.c
  sys/powerpc/powerpc/interrupt.c
  sys/powerpc/powerpc/intr_machdep.c
  sys/x86/isa/atpic.c
  sys/x86/x86/local_apic.c
  sys/x86/x86/mp_x86.c
Owners: none
