Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

locale: Update Unicode to CLDR 48
  tools/tools/locale/Makefile
Owners: none

locale: Update Unicode to CLDR 48
  tools/tools/locale/Makefile
Owners: none

sound: Retire snd_mixer->busy
  sys/dev/sound/pci/es137x.c
  sys/dev/sound/pcm/mixer.c
  sys/dev/sound/pcm/mixer.h
Owners: none

sndctl(8): Do not free and re-open device
  usr.sbin/sndctl/sndctl.c
Owners: none

sndctl(8): Do not free and re-open device
  usr.sbin/sndctl/sndctl.c
Owners: none

lib/libc: fix bug in parsing in getopt
  lib/libc/stdlib/getopt.c
Owners: none

net: fix LINT-NOIP build
  sys/net/route.c
Owners: none

net: fix LINT-NOIP build
  sys/net/route.c
Owners: none

tcp: fix build with RSS
  sys/netinet/tcp_syncache.c
Owners: none

tcp: fix build with RSS
  sys/netinet/tcp_syncache.c
Owners: none

ip6: Add explicit lock order information to catch LOR
  sys/kern/subr_witness.c
Owners: none

ip6: Add explicit lock order information to catch LOR
  sys/kern/subr_witness.c
Owners: none

libsysdecode: Use consistent include path
  lib/libsysdecode/Makefile
Owners: none

libsysdecode: Use consistent include path
  lib/libsysdecode/Makefile
Owners: none

ipsec: Fix typos in references to IPsec's ESP
  sbin/ipfw/ipfw.8
  sbin/ipfw/ipv6.c
  sbin/ping/ping.8
  sys/netipsec/esp.h
Owners: none

ipsec: Fix typos in references to IPsec's ESP
  sbin/ipfw/ipfw.8
  sbin/ipfw/ipv6.c
  sbin/ping/ping.8
  sys/netipsec/esp.h
Owners: none

dtrace_priv.4: Document the DTrace priv provider
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
  share/man/man4/Makefile
  share/man/man4/dtrace_priv.4
  share/man/man9/priv.9
Owners: none

dtrace_priv.4: Document the DTrace priv provider
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
  share/man/man4/Makefile
  share/man/man4/dtrace_priv.4
  share/man/man9/priv.9
Owners: none

geom/zero: Add support for unmapped I/O
  sys/geom/zero/g_zero.c
Owners: none

geom/zero: Add support for unmapped I/O
  sys/geom/zero/g_zero.c
Owners: none

zfs: world changes after 89f729dcc merge
  Makefile.inc1
  ObsoleteFiles.inc
  cddl/lib/Makefile
  cddl/lib/libtpool/Makefile
  cddl/lib/libtpool/Makefile.depend
  cddl/lib/libtpool/tests/Makefile
  cddl/lib/libtpool/tests/libtpool_test.c
  cddl/lib/libuutil/Makefile
  cddl/lib/libuutil/Makefile.depend
  cddl/lib/libzfs/Makefile
  cddl/lib/libzfs/Makefile.depend
  cddl/lib/libzutil/Makefile
  cddl/lib/libzutil/Makefile.depend
  cddl/lib/pam_zfs_key/Makefile
  cddl/sbin/zfs/Makefile
  cddl/sbin/zfs/Makefile.depend
  cddl/sbin/zpool/Makefile
  cddl/sbin/zpool/Makefile.depend
  cddl/usr.bin/zinject/Makefile
  cddl/usr.bin/zinject/Makefile.depend
  cddl/usr.bin/zstream/Makefile
  cddl/usr.bin/ztest/Makefile
  cddl/usr.bin/ztest/Makefile.depend
  cddl/usr.libexec/zpool_influxdb/Makefile.depend
  cddl/usr.sbin/zdb/Makefile
  cddl/usr.sbin/zdb/Makefile.depend
  cddl/usr.sbin/zfsd/Makefile.common
  cddl/usr.sbin/zfsd/Makefile.depend
  rescue/rescue/Makefile
  share/mk/bsd.libnames.mk
  share/mk/src.libnames.mk
  sys/modules/zfs/zfs_config.h
  targets/pseudo/userland/cddl/Makefile.depend
Owners: @bsdimp, @bapt, @bdrewery, @emaste

zfs: world changes after 183682d6a merge
  Makefile.inc1
  ObsoleteFiles.inc
  cddl/lib/Makefile
  cddl/lib/libtpool/Makefile
  cddl/lib/libtpool/Makefile.depend
  cddl/lib/libtpool/tests/Makefile
  cddl/lib/libtpool/tests/libtpool_test.c
  cddl/lib/libuutil/Makefile
  cddl/lib/libuutil/Makefile.depend
  cddl/lib/libzfs/Makefile
  cddl/lib/libzfs/Makefile.depend
  cddl/lib/libzutil/Makefile
  cddl/lib/libzutil/Makefile.depend
  cddl/lib/pam_zfs_key/Makefile
  cddl/sbin/zfs/Makefile
  cddl/sbin/zfs/Makefile.depend
  cddl/sbin/zpool/Makefile
  cddl/sbin/zpool/Makefile.depend
  cddl/usr.bin/zinject/Makefile
  cddl/usr.bin/zinject/Makefile.depend
  cddl/usr.bin/zstream/Makefile
  cddl/usr.bin/ztest/Makefile
  cddl/usr.bin/ztest/Makefile.depend
  cddl/usr.libexec/zpool_influxdb/Makefile.depend
  cddl/usr.sbin/zdb/Makefile
  cddl/usr.sbin/zdb/Makefile.depend
  cddl/usr.sbin/zfsd/Makefile.common
  cddl/usr.sbin/zfsd/Makefile.depend
  rescue/rescue/Makefile
  share/mk/bsd.libnames.mk
  share/mk/src.libnames.mk
  sys/modules/zfs/zfs_config.h
  targets/pseudo/userland/cddl/Makefile.depend
Owners: @bsdimp, @bapt, @bdrewery, @emaste

release: Include comms/usbmuxd to DVD to ensure ipheth(4) works
  release/scripts/pkg-stage.sh
Owners: none

release: Include comms/usbmuxd to DVD to ensure ipheth(4) works
  release/scripts/pkg-stage.sh
Owners: none

iwmfw(4): fix spelling of the iwm8000C firmware.
  ObsoleteFiles.inc
  share/firmwares/iwm/Makefile
  stand/defaults/loader.conf
Owners: @bsdimp

iwmfw(4): fix spelling of the iwm8000C firmware.
  ObsoleteFiles.inc
  share/firmwares/iwm/Makefile
  stand/defaults/loader.conf
Owners: @bsdimp

pfsync: fix incorrect unlock during destroy
  sys/netpfil/pf/if_pfsync.c
Owners: @glebius

cleanvar: Fix startup order
  libexec/rc/rc.d/FILESYSTEMS
  libexec/rc/rc.d/cleanvar
Owners: none

cleanvar: Fix startup order
  libexec/rc/rc.d/FILESYSTEMS
  libexec/rc/rc.d/cleanvar
Owners: none

noshutdown: Fix startup order
  libexec/rc/rc.d/noshutdown
Owners: none

noshutdown: Fix startup order
  libexec/rc/rc.d/noshutdown
Owners: none

nextboot: Reimplement missing -a option
  sbin/reboot/nextboot.8
  sbin/reboot/reboot.c
Owners: none

nextboot: Reimplement missing -a option
  sbin/reboot/nextboot.8
  sbin/reboot/reboot.c
Owners: none

zfs: unbreak build after 89f729dcc merge
  cddl/usr.sbin/zfsd/Makefile.common
  cddl/usr.sbin/zfsd/Makefile.depend
Owners: none

zfs: unbreak build after 183682d6a merge
  cddl/usr.sbin/zfsd/Makefile.common
  cddl/usr.sbin/zfsd/Makefile.depend
Owners: none

imgact_elf: Fix off-by-one in note size check
  sys/kern/imgact_elf.c
Owners: none

imgact_elf: Fix off-by-one in note size check
  sys/kern/imgact_elf.c
Owners: none

prepare-commit-msg: Add missing tabs to Fixes: and Event:
  tools/tools/git/hooks/prepare-commit-msg
Owners: none

prepare-commit-msg: Add missing tabs to Fixes: and Event:
  tools/tools/git/hooks/prepare-commit-msg
Owners: none

pf: Fix an off-by-one in pf_handle_getcreators()
  sys/netpfil/pf/pf_nl.c
Owners: @glebius
