Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

usr.bin/gh-bc: fix invocation of test scripts
  usr.bin/gh-bc/tests/Makefile
Owners: none

usr.bin/gh-bc: fix invocation of test scripts
  usr.bin/gh-bc/tests/Makefile
Owners: none

usr.bin/gh-bc: update for version 7.1.0
  usr.bin/gh-bc/Makefile
  usr.bin/gh-bc/tests/Makefile
Owners: none

usr.bin/gh-bc: update for version 7.1.0
  usr.bin/gh-bc/Makefile
  usr.bin/gh-bc/tests/Makefile
Owners: none

flua: add posix.unistd.dup2()
  libexec/flua/modules/lposix.c
Owners: none

flua: add fbsd module
  libexec/flua/Makefile
  libexec/flua/linit_flua.c
  libexec/flua/modules/lfbsd.c
  libexec/flua/modules/lfbsd.h
Owners: none

lposix: Clean up the posix namespace definitions
  libexec/flua/linit_flua.c
  libexec/flua/modules/lposix.c
  libexec/flua/modules/lposix.h
Owners: none

flua: fbsd: allow stdout to be captured for exec() processes
  libexec/flua/modules/lfbsd.c
Owners: none

jail: Add meta and env parameters
  lib/libjail/jail.c
  lib/libjail/jail.h
  libexec/flua/libjail/lua_jail.c
  sys/conf/files
  sys/kern/kern_jail.c
  sys/kern/kern_jailmeta.c
  sys/sys/jail.h
  tests/sys/kern/Makefile
  tests/sys/kern/jailmeta.sh
  usr.sbin/jail/jail.8
  usr.sbin/jls/jls.c
Owners: @ngie-eign

flua: fbsd: avoid leaking stdin pipes on error
  libexec/flua/modules/lfbsd.c
Owners: none

flua: fbsd: return a process handle to operate on when we exec()
  libexec/flua/modules/lfbsd.c
Owners: none

Revert "libc: Remove readdir_r(3)"
  ObsoleteFiles.inc
  include/dirent.h
  lib/libc/gen/Makefile.inc
  lib/libc/gen/Symbol.map
  lib/libc/gen/directory.3
  lib/libc/gen/gen-compat.h
  lib/libc/gen/gen-private.h
  lib/libc/gen/readdir-compat11.c
  lib/libc/gen/readdir.c
Owners: none

Revert "libc: Remove readdir_r(3)"
  ObsoleteFiles.inc
  include/dirent.h
  lib/libc/gen/Makefile.inc
  lib/libc/gen/Symbol.map
  lib/libc/gen/directory.3
  lib/libc/gen/gen-compat.h
  lib/libc/gen/gen-private.h
  lib/libc/gen/readdir-compat11.c
  lib/libc/gen/readdir.c
Owners: none

LinuxKPI: 802.11: avoid recursive wiphy lock
  sys/compat/linuxkpi/common/src/linux_80211.c
Owners: none

LinuxKPI: 802.11: avoid recursive wiphy lock
  sys/compat/linuxkpi/common/src/linux_80211.c
Owners: none

loader.efi: improve StartImage error message
  stand/efi/loader/main.c
Owners: @bsdimp

loader.efi: improve StartImage error message
  stand/efi/loader/main.c
Owners: @bsdimp

sys/efi.h: Some style(9) tweaks
  sys/sys/efi.h
Owners: none

sys/efi.h: Some style(9) tweaks
  sys/sys/efi.h
Owners: none

git-blame-ignore-revs: sys/efi.h style(9) tweaks
  .git-blame-ignore-revs
Owners: none

git-blame-ignore-revs: sys/efi.h style(9) tweaks
  .git-blame-ignore-revs
Owners: none

bnxt: Fix the request length in bnxt_hwrm_func_backing_store_cfg()
  sys/dev/bnxt/bnxt_en/bnxt_hwrm.c
Owners: none

bnxt: Fix the request length in bnxt_hwrm_func_backing_store_cfg()
  sys/dev/bnxt/bnxt_en/bnxt_hwrm.c
Owners: none

ossl: Add GCM support on powerpc64/powerpc64le (POWER8+)
  sys/conf/files.amd64
  sys/conf/files.arm
  sys/conf/files.powerpc
  sys/crypto/openssl/amd64/ossl_aes_gcm.c
  sys/crypto/openssl/amd64/ossl_aes_gcm_avx512.c
  sys/crypto/openssl/arm/ossl_aes_gcm_neon.c
  sys/crypto/openssl/ossl_aes_gcm.c
  sys/crypto/openssl/ossl_ppc.c
  sys/crypto/openssl/ossl_x86.c
  sys/modules/ossl/Makefile
Owners: @juikim

ossl: Add GCM support on powerpc64/powerpc64le (POWER8+)
  sys/conf/files.amd64
  sys/conf/files.arm
  sys/conf/files.powerpc
  sys/crypto/openssl/amd64/ossl_aes_gcm.c
  sys/crypto/openssl/amd64/ossl_aes_gcm_avx512.c
  sys/crypto/openssl/arm/ossl_aes_gcm_neon.c
  sys/crypto/openssl/ossl_aes_gcm.c
  sys/crypto/openssl/ossl_ppc.c
  sys/crypto/openssl/ossl_x86.c
  sys/modules/ossl/Makefile
Owners: @juikim

ichwd: address unused function warning by marking as __unused
  sys/dev/ichwd/i6300esbwd.c
Owners: none

ichwd: address unused function warning by marking as __unused
  sys/dev/ichwd/i6300esbwd.c
Owners: none

snd_hda: Add patch for Framework 16 AMD Ryzen AI 300 Series
  sys/dev/sound/pci/hda/hdaa_patches.c
  sys/dev/sound/pci/hda/hdac.h
Owners: none

snd_hda: Add patch for Framework 16 AMD Ryzen AI 300 Series
  sys/dev/sound/pci/hda/hdaa_patches.c
  sys/dev/sound/pci/hda/hdac.h
Owners: none

nuageinit: Remove duplicate description of users.{user}.groups
  libexec/nuageinit/nuageinit.7
Owners: @bapt

nuageinit: Remove duplicate description of users.{user}.groups
  libexec/nuageinit/nuageinit.7
Owners: @bapt

nuageinit: chmod sudoers directory instead of chmod (again) sudoers file
  libexec/nuageinit/nuage.lua
Owners: @bapt

nuageinit: chmod sudoers directory instead of chmod (again) sudoers file
  libexec/nuageinit/nuage.lua
Owners: @bapt

nuageinit: Add me to copyright list
  libexec/nuageinit/nuage.lua
  libexec/nuageinit/nuageinit
  libexec/nuageinit/nuageinit.7
  libexec/nuageinit/tests/nuage.sh
  libexec/nuageinit/tests/nuageinit.sh
  libexec/nuageinit/tests/utils.sh
Owners: @bapt

nuageinit: Allow the use of network parameters from network-config
  libexec/nuageinit/nuageinit
  libexec/nuageinit/nuageinit.7
Owners: @bapt

nuageinit: Allow the use of network parameters from network-config
  libexec/nuageinit/nuageinit
  libexec/nuageinit/nuageinit.7
Owners: @bapt

nuageinit: Add doas support
  libexec/nuageinit/nuage.lua
  libexec/nuageinit/nuageinit
  libexec/nuageinit/nuageinit.7
  libexec/nuageinit/tests/nuageinit.sh
Owners: @bapt

nuageinit: Add doas support
  libexec/nuageinit/nuage.lua
  libexec/nuageinit/nuageinit
  libexec/nuageinit/nuageinit.7
  libexec/nuageinit/tests/nuageinit.sh
Owners: @bapt

nuageinit: Add me to copyright list
  libexec/nuageinit/nuage.lua
  libexec/nuageinit/nuageinit
  libexec/nuageinit/nuageinit.7
  libexec/nuageinit/tests/nuage.sh
  libexec/nuageinit/tests/nuageinit.sh
  libexec/nuageinit/tests/utils.sh
Owners: @bapt

Prevent scrubbing a read-only pool
  module/zfs/zfs_ioctl.c
Owners: none
