Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

kern: Fix section name for embedded firmware blobs
  sys/kern/firmw.S
Owners: none

NOTES: Fix a typo in a comments
  sys/conf/NOTES
Owners: none

nvme(4): Increase HMB alignment.
  sys/dev/nvme/nvme_ctrlr.c
Owners: @bsdimp

nvme(4): Increase HMB alignment.
  sys/dev/nvme/nvme_ctrlr.c
Owners: @bsdimp

em(4): fix capability bounds needed to access checksum context.
  sys/dev/e1000/if_em.c
Owners: none

em(4): fix capability bounds needed to access checksum context.
  sys/dev/e1000/if_em.c
Owners: none

if_ovpn: use IFT_TUNNEL
  sys/net/if_ovpn.c
Owners: none

if_ovpn: use IFT_TUNNEL
  sys/net/if_ovpn.c
Owners: none

pf: fix udp_mapping cleanup
  sys/netpfil/pf/pf_lb.c
  tests/sys/netpfil/pf/nat.sh
Owners: @glebius, @ngie-eign

NOTES: Remove duplicate options KCSAN entries
  sys/amd64/conf/NOTES
Owners: none

FreeBSD: Fix uninitialized variable error
  lib/libspl/tunables.c
Owners: none

kernel linker: Disable local sym resolution by default
  UPDATING
  sys/kern/link_elf.c
  sys/kern/link_elf_obj.c
Owners: none

kernel linker: Disable local sym resolution by default
  UPDATING
  sys/kern/link_elf.c
  sys/kern/link_elf_obj.c
Owners: none

libpfctl: improve error handling
  lib/libpfctl/libpfctl.c
Owners: none

libpfctl: improve error handling
  lib/libpfctl/libpfctl.c
Owners: none

kevent: Hold the knlist mutex when invoking f_event(NOTE_FORK)
  sys/kern/kern_event.c
Owners: none

kevent: Hold the knlist mutex when invoking f_event(NOTE_FORK)
  sys/kern/kern_event.c
Owners: none

Add description of the LD_DEBUG environment variable.
  libexec/rtld-elf/rtld.1
Owners: none

Add description of the LD_DEBUG environment variable.
  libexec/rtld-elf/rtld.1
Owners: none

pf: relax sctp v_tag verification
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/sctp.py
Owners: @glebius, @ngie-eign

pf: relax sctp v_tag verification
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/sctp.py
Owners: @glebius, @ngie-eign

nvme: Minor style(9) fixes
  sys/dev/nvme/nvme.h
Owners: @bsdimp

nvme: Minor style(9) fixes
  sys/dev/nvme/nvme.h
Owners: @bsdimp

Revert "kernel linker: Disable local sym resolution by default"
  UPDATING
  sys/kern/link_elf.c
  sys/kern/link_elf_obj.c
Owners: none

Revert "kernel linker: Disable local sym resolution by default"
  UPDATING
  sys/kern/link_elf.c
  sys/kern/link_elf_obj.c
Owners: none

cdev: Use len variable instead of hardcoded buffer size
  share/examples/kld/cdev/module/cdev.c
Owners: none

libefivar: Fix (some) typos
  lib/libefivar/FreeBSD-update
  lib/libefivar/efivar-dp-xlate.c
  lib/libefivar/efivar.h
  lib/libefivar/uefi-dputil.c
  sys/sys/efi-edk2.h
Owners: @bsdimp

libefivar: Standardize #ifndef __FreeBSD__
  lib/libefivar/efivar-dp-parse.c
  lib/libefivar/uefi-dplib.h
Owners: @bsdimp

libefivar: Standardize #ifndef __FreeBSD__
  lib/libefivar/efivar-dp-parse.c
  lib/libefivar/uefi-dplib.h
Owners: @bsdimp

libefivar: Fix (some) typos
  lib/libefivar/FreeBSD-update
  lib/libefivar/efivar-dp-xlate.c
  lib/libefivar/efivar.h
  lib/libefivar/uefi-dputil.c
  sys/sys/efi-edk2.h
Owners: @bsdimp

libefivar: MdePkg: Clean up source files
  lib/libefivar/uefi-dputil.c
Owners: @bsdimp

libefivar: Add sanity check for FilePath device path
  lib/libefivar/uefi-dputil.c
Owners: @bsdimp

libefivar: Add and comment out unused functions
  lib/libefivar/uefi-dputil.c
Owners: @bsdimp

libefivar: Add and comment out unused functions
  lib/libefivar/uefi-dputil.c
Owners: @bsdimp

libefivar: Add sanity check for FilePath device path
  lib/libefivar/uefi-dputil.c
Owners: @bsdimp

libefivar: Move functions to match reference file
  lib/libefivar/uefi-dputil.c
Owners: @bsdimp

libefivar: MdePkg: Clean up source files
  lib/libefivar/uefi-dputil.c
Owners: @bsdimp

libefivar: Add a checking step
  lib/libefivar/uefi-dputil.c
Owners: @bsdimp

libefivar: Move functions to match reference file
  lib/libefivar/uefi-dputil.c
Owners: @bsdimp

libefivar: Add a checking step
  lib/libefivar/uefi-dputil.c
Owners: @bsdimp

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
