Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

nuageinit: Add me to copyright list
  libexec/nuageinit/nuage.lua
  libexec/nuageinit/nuageinit
  libexec/nuageinit/nuageinit.7
  libexec/nuageinit/tests/nuage.sh
  libexec/nuageinit/tests/nuageinit.sh
  libexec/nuageinit/tests/utils.sh
Owners: @bapt

pkg(7): Add support for pkg+ prefix to bootstrap pubkey
  usr.sbin/pkg/pkg.c
Owners: none

usb_vendors: update to 2025-07-26
  share/misc/usb_vendors
Owners: none

pci_vendors: update to 2025-07-11
  share/misc/pci_vendors
Owners: none

pci_vendors: update to 2025-07-11
  share/misc/pci_vendors
Owners: none

pkg(7): Add support for pkg+ prefix to bootstrap pubkey
  usr.sbin/pkg/pkg.c
Owners: none

usb_vendors: update to 2025-07-26
  share/misc/usb_vendors
Owners: none

mac_do(4): fix typo
  share/man/man4/mac_do.4
Owners: none

timeout(1): add license header to unit test
  bin/timeout/tests/timeout_test.sh
Owners: none

nuageinit: Improvements for nuageinit
  libexec/nuageinit/nuage.lua
  libexec/nuageinit/nuageinit
  libexec/nuageinit/nuageinit.7
  libexec/nuageinit/tests/Makefile
  libexec/nuageinit/tests/nuage.sh
  libexec/nuageinit/tests/nuageinit.sh
  libexec/nuageinit/tests/settimezone.lua
Owners: @bapt

nuageinit: chmod sudoers directory instead of chmod (again) sudoers file
  libexec/nuageinit/nuage.lua
Owners: @bapt

nuageinit: Remove duplicate description of users.{user}.groups
  libexec/nuageinit/nuageinit.7
Owners: @bapt

nuageinit: Allow the use of network parameters from network-config
  libexec/nuageinit/nuageinit
  libexec/nuageinit/nuageinit.7
Owners: @bapt

nuageinit: Add me to copyright list
  libexec/nuageinit/nuage.lua
  libexec/nuageinit/nuageinit
  libexec/nuageinit/nuageinit.7
  libexec/nuageinit/tests/nuage.sh
  libexec/nuageinit/tests/nuageinit.sh
  libexec/nuageinit/tests/utils.sh
Owners: @bapt

nuageinit.7: grammar fixes
  libexec/nuageinit/nuageinit.7
Owners: @bapt

nuageinit.7: put each sentence on a new line
  libexec/nuageinit/nuageinit.7
Owners: @bapt

nuageinit: Add doas support
  libexec/nuageinit/nuage.lua
  libexec/nuageinit/nuageinit
  libexec/nuageinit/nuageinit.7
  libexec/nuageinit/tests/nuageinit.sh
Owners: @bapt

packages: Add minimal-jail set
  release/packages/create-sets.sh
  release/packages/generate-ucl.lua
  release/packages/sets/minimal-jail-dbg.ucl
  release/packages/sets/minimal-jail.ucl
  release/packages/ucl/at-all.ucl
  release/packages/ucl/caroot-all.ucl
  release/packages/ucl/certctl-all.ucl
  release/packages/ucl/clibs-all.ucl
  release/packages/ucl/cron-all.ucl
  release/packages/ucl/fetch-all.ucl
  release/packages/ucl/inetd-all.ucl
  release/packages/ucl/locales-all.ucl
  release/packages/ucl/newsyslog-all.ucl
  release/packages/ucl/periodic-all.ucl
  release/packages/ucl/pkg-bootstrap-all.ucl
  release/packages/ucl/rc-all.ucl
  release/packages/ucl/runtime-all.ucl
  release/packages/ucl/syslogd-all.ucl
  release/packages/ucl/utilities-all.ucl
  release/packages/ucl/vi-all.ucl
  release/packages/ucl/zoneinfo-all.ucl
Owners: none

packages: Add minimal-jail set
  release/packages/create-sets.sh
  release/packages/generate-ucl.lua
  release/packages/sets/minimal-jail-dbg.ucl
  release/packages/sets/minimal-jail.ucl
  release/packages/ucl/at-all.ucl
  release/packages/ucl/caroot-all.ucl
  release/packages/ucl/certctl-all.ucl
  release/packages/ucl/clibs-all.ucl
  release/packages/ucl/cron-all.ucl
  release/packages/ucl/fetch-all.ucl
  release/packages/ucl/inetd-all.ucl
  release/packages/ucl/locales-all.ucl
  release/packages/ucl/newsyslog-all.ucl
  release/packages/ucl/periodic-all.ucl
  release/packages/ucl/pkg-bootstrap-all.ucl
  release/packages/ucl/rc-all.ucl
  release/packages/ucl/runtime-all.ucl
  release/packages/ucl/syslogd-all.ucl
  release/packages/ucl/utilities-all.ucl
  release/packages/ucl/vi-all.ucl
  release/packages/ucl/zoneinfo-all.ucl
Owners: none

packages: Mark all sets as vital
  release/packages/sets/base.ucl
  release/packages/sets/devel-dbg.ucl
  release/packages/sets/devel.ucl
  release/packages/sets/lib32.ucl
  release/packages/sets/minimal-jail.ucl
  release/packages/sets/minimal.ucl
  release/packages/sets/src.ucl
  release/packages/sets/tests.ucl
Owners: none

packages: Mark all sets as vital
  release/packages/sets/base.ucl
  release/packages/sets/devel-dbg.ucl
  release/packages/sets/devel.ucl
  release/packages/sets/lib32.ucl
  release/packages/sets/minimal-jail.ucl
  release/packages/sets/minimal.ucl
  release/packages/sets/src.ucl
  release/packages/sets/tests.ucl
Owners: none

packages: Move kernel-man to the minimal set
  release/packages/ucl/kernel-man.ucl
Owners: none

packages: Move kernel-man to the minimal set
  release/packages/ucl/kernel-man.ucl
Owners: none

bsdinstall: Drop outdated comments about ZFS dataset compression
  usr.sbin/bsdinstall/bsdinstall.8
  usr.sbin/bsdinstall/scripts/zfsboot
Owners: none

atf_pytest: fix xfail detection from pytest report
  tests/atf_python/atf_pytest.py
Owners: @ngie-eign

release: Add images for almost all packages, with & without toolchain
  release/Makefile.oci
  release/scripts/make-oci-image.sh
  release/tools/oci-image-notoolchain.conf
  release/tools/oci-image-toolchain.conf
Owners: none

release: Add images for almost all packages, with & without toolchain
  release/Makefile.oci
  release/scripts/make-oci-image.sh
  release/tools/oci-image-notoolchain.conf
  release/tools/oci-image-toolchain.conf
Owners: none

syslogd: Make some code more clear.
  usr.sbin/syslogd/syslogd.c
Owners: none

syslogd: Make some code more clear.
  usr.sbin/syslogd/syslogd.c
Owners: none

Include a pkg package in the pkgbase repo
  Makefile.inc1
  release/scripts/make-pkg-package.sh
Owners: none

Include a pkg package in the pkgbase repo
  Makefile.inc1
  release/scripts/make-pkg-package.sh
Owners: none

vfs: remove a stale comment about unlock + unref relationship in vput
  sys/kern/vfs_subr.c
Owners: none

vfs: remove a stale comment about unlock + unref relationship in vput
  sys/kern/vfs_subr.c
Owners: none

Fix atomic-alignment warnings in libspl on FreeBSD/i386
  config/always-arch.m4
  config/always-compiler-options.m4
  config/zfs-build.m4
  lib/libspl/Makefile.am
Owners: none

Fix a printf format specifier on FreeBSD/i386
  cmd/zfs/zfs_main.c
Owners: none

Bootstrap pkg before building a pkg package
  Makefile.inc1
Owners: none

Bootstrap pkg before building a pkg package
  Makefile.inc1
Owners: none

release: Allow powerpc GENERIC64(le)? kernels
  release/scripts/pkgbase-stage.lua
Owners: none

release: Allow powerpc GENERIC64(le)? kernels
  release/scripts/pkgbase-stage.lua
Owners: none

release: Make PKGBASE the default
  release/Makefile
  release/release.sh
Owners: none
