Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

uart: provide and use default rclk for JH7110 UART
  sys/dev/uart/uart_bus_fdt.c
  sys/dev/uart/uart_dev_snps.c
Owners: none

uart: provide and use default rclk for JH7110 UART
  sys/dev/uart/uart_bus_fdt.c
  sys/dev/uart/uart_dev_snps.c
Owners: none

Revert "Merge commit e24f90190c77 from llvm git (by Brad Smith):"
  contrib/llvm-project/clang/lib/Driver/ToolChains/FreeBSD.h
Owners: @DimitryAndric

Revert "Merge commit e24f90190c77 from llvm git (by Brad Smith):"
  contrib/llvm-project/clang/lib/Driver/ToolChains/FreeBSD.h
Owners: @DimitryAndric

Revert "Merge commit e24f90190c77 from llvm git (by Brad Smith):"
  contrib/llvm-project/clang/lib/Driver/ToolChains/FreeBSD.h
Owners: @DimitryAndric

dtrace_io.4: Use bio_length instead of bio_bcount in examples
  share/man/man4/dtrace_io.4
Owners: none

dtrace_io.4: Use bio_length instead of bio_bcount in examples
  share/man/man4/dtrace_io.4
Owners: none

Revert "Merge commit e24f90190c77 from llvm git (by Brad Smith):"
  contrib/llvm-project/clang/lib/Driver/ToolChains/FreeBSD.h
Owners: @DimitryAndric

truss: Properly display first argument to nmount
  usr.bin/truss/syscalls.c
Owners: none

truss: Properly display first argument to nmount
  usr.bin/truss/syscalls.c
Owners: none

Add support for Sierra Wireless EM7590 modem.
  sys/dev/usb/serial/u3g.c
  sys/dev/usb/usbdevs
Owners: none

Add support for Sierra Wireless EM7590 modem.
  sys/dev/usb/serial/u3g.c
  sys/dev/usb/usbdevs
Owners: none

usb/u3g: add Quectel EM060K
  sys/dev/usb/serial/u3g.c
  sys/dev/usb/usbdevs
Owners: none

usb/u3g: add Quectel EM060K
  sys/dev/usb/serial/u3g.c
  sys/dev/usb/usbdevs
Owners: none

u3g: Note support for Quectel EM060K and Sierra EM7590
  share/man/man4/u3g.4
Owners: none

u3g: Note support for Quectel EM060K and Sierra EM7590
  share/man/man4/u3g.4
Owners: none

openssh: Handle localtime_r() failure by return "UNKNOWN-TIME"
  crypto/openssh/misc.c
Owners: @dag-erling

openssh: Handle localtime_r() failure by return "UNKNOWN-TIME"
  crypto/openssh/misc.c
Owners: @dag-erling

ddb: improve printing of inp_flags
  sys/netinet/in_pcb.c
Owners: none

ddb: improve printing of inp_flags
  sys/netinet/in_pcb.c
Owners: none

random: CTASSERT check sizeof random_source_descr[]
  sys/dev/random/fenestrasX/fx_pool.c
  sys/dev/random/random_harvestq.c
Owners: none

random: CTASSERT check sizeof random_source_descr[]
  sys/dev/random/fenestrasX/fx_pool.c
  sys/dev/random/random_harvestq.c
Owners: none

ddb: whitespace change
  sys/netinet/in_pcb.c
Owners: none

ddb: whitespace change
  sys/netinet/in_pcb.c
Owners: none

ddb: optionally print inp when printing tcpcb
  share/man/man4/ddb.4
  sys/netinet/in_pcb.c
  sys/netinet/in_pcb.h
  sys/netinet/tcp_usrreq.c
Owners: none

ddb: optionally print inp when printing tcpcb
  share/man/man4/ddb.4
  sys/netinet/in_pcb.c
  sys/netinet/in_pcb.h
  sys/netinet/tcp_usrreq.c
Owners: none

amdtemp(4): Fix typo in a sysctl description
  sys/dev/amdtemp/amdtemp.c
Owners: none

oce(4): Fix a couple of typos in a sysctl descriptions
  sys/dev/oce/oce_sysctl.c
Owners: none

ath(4): Fix a typo in a device messsage
  sys/dev/ath/ath_hal/ar5416/ar5416_cal_iq.c
Owners: none

bwi(4): Fix a typo in a panic messsage
  sys/dev/bwi/if_bwi.c
Owners: none

oce(4): Fix a couple of typos in a sysctl descriptions
  sys/dev/oce/oce_sysctl.c
Owners: none

vnic: Fix a typo in a device messsage
  sys/dev/vnic/nicvf_main.c
Owners: none

bwi(4): Fix a typo in a panic messsage
  sys/dev/bwi/if_bwi.c
Owners: none

amdtemp(4): Fix typo in a sysctl description
  sys/dev/amdtemp/amdtemp.c
Owners: none

vnic: Fix a typo in a device messsage
  sys/dev/vnic/nicvf_main.c
Owners: none

ath(4): Fix a typo in a device messsage
  sys/dev/ath/ath_hal/ar5416/ar5416_cal_iq.c
Owners: none

cesa: Fix a typo in a device messsage
  sys/dev/cesa/cesa.c
Owners: none

isci(4): Fix two typos in a log messages
  sys/dev/isci/scil/scic_sds_remote_node_context.c
Owners: none

igc(4): Fix a typo in a sysctl description
  sys/dev/igc/if_igc.c
Owners: none

mfi(4): Fix a typo in a KASSERT message
  sys/dev/mfi/mfi.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
