Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

amd64: re-enable la57
  sys/amd64/amd64/pmap.c
Owners: none

ice(4): Fix a few typos in source code comments
  sys/dev/ice/ice_bitops.h
  sys/dev/ice/ice_lan_tx_rx.h
  sys/dev/ice/ice_lib.h
  sys/dev/ice/ice_protocol_type.h
Owners: none

ice(4): Fix a few typos in source code comments
  sys/dev/ice/ice_bitops.h
  sys/dev/ice/ice_lan_tx_rx.h
  sys/dev/ice/ice_lib.h
  sys/dev/ice/ice_protocol_type.h
Owners: none

stand/efi: Fix a typo in a source code comment
  stand/efi/include/amd64/pe.h
  stand/efi/include/i386/pe.h
Owners: @bsdimp

stand/efi: Fix a typo in a source code comment
  stand/efi/include/amd64/pe.h
  stand/efi/include/i386/pe.h
Owners: @bsdimp

udp: Fix a typo in a source code comment
  sys/netinet/udp_usrreq.c
  sys/netinet6/udp6_usrreq.c
Owners: none

udp: Fix a typo in a source code comment
  sys/netinet/udp_usrreq.c
  sys/netinet6/udp6_usrreq.c
Owners: none

isa: Fix a typo in a source code comment
  sys/isa/isareg.h
Owners: none

isa: Fix a typo in a source code comment
  sys/isa/isareg.h
Owners: none

g_part: Fix a few typos in source code comments
  sys/geom/part/g_part.c
Owners: none

g_part: Fix a few typos in source code comments
  sys/geom/part/g_part.c
Owners: none

Revert "amd64: re-enable la57"
  sys/amd64/amd64/pmap.c
Owners: none

Revert "amd64: re-enable la57"
  sys/amd64/amd64/pmap.c
Owners: none

ufs: st_rdev is only meaningful for special nodes
  sys/ufs/ufs/ufs_vnops.c
Owners: none

ufs: st_rdev is only meaningful for special nodes
  sys/ufs/ufs/ufs_vnops.c
Owners: none

ufs_times_locked(): style
  sys/ufs/ufs/ufs_vnops.c
Owners: none

ufs_times_locked(): style
  sys/ufs/ufs/ufs_vnops.c
Owners: none

jemalloc: don't error out on initializer warning in gcc
  lib/libc/stdlib/malloc/jemalloc/Makefile.inc
Owners: none

jemalloc: don't error out on initializer warning in gcc
  lib/libc/stdlib/malloc/jemalloc/Makefile.inc
Owners: none

fusefs: Fix a warning in a test
  tests/sys/fs/fusefs/mockfs.cc
Owners: @asomers

fusefs: Fix a warning in a test
  tests/sys/fs/fusefs/mockfs.cc
Owners: @asomers

stat(2): Document the st_rdev field
  lib/libsys/stat.2
Owners: none

stat(2): Document the st_rdev field
  lib/libsys/stat.2
Owners: none

vfs: Introduce VN_ISDEV() macro
  lib/libprocstat/libprocstat.c
  sys/fs/cd9660/cd9660_vnops.c
  sys/fs/ext2fs/ext2_vnops.c
  sys/fs/fuse/fuse_vnops.c
  sys/fs/nfsclient/nfs_clvnops.c
  sys/fs/p9fs/p9fs_vnops.c
  sys/fs/tarfs/tarfs_vnops.c
  sys/fs/tmpfs/tmpfs_subr.c
  sys/fs/tmpfs/tmpfs_vnops.c
  sys/kern/vfs_bio.c
  sys/kern/vfs_syscalls.c
  sys/sys/param.h
  sys/sys/vnode.h
  sys/ufs/ffs/ffs_vnops.c
  sys/ufs/ufs/ufs_vnops.c
  sys/vm/vnode_pager.c
Owners: @asomers

getmntpoint: Don't compare st_rdev for non-devices
  lib/libutil/mntopts.c
Owners: none

zfs: Set st_rdev to NODEV, not 0, when not a device
  sys/contrib/openzfs/module/os/freebsd/zfs/zfs_ctldir.c
  sys/contrib/openzfs/module/os/freebsd/zfs/zfs_vnops_os.c
Owners: none

vfs: Introduce VN_ISDEV() macro
  lib/libprocstat/libprocstat.c
  sys/fs/cd9660/cd9660_vnops.c
  sys/fs/ext2fs/ext2_vnops.c
  sys/fs/fuse/fuse_vnops.c
  sys/fs/nfsclient/nfs_clvnops.c
  sys/fs/p9fs/p9fs_vnops.c
  sys/fs/tarfs/tarfs_vnops.c
  sys/fs/tmpfs/tmpfs_subr.c
  sys/fs/tmpfs/tmpfs_vnops.c
  sys/kern/vfs_bio.c
  sys/kern/vfs_syscalls.c
  sys/sys/param.h
  sys/sys/vnode.h
  sys/ufs/ffs/ffs_vnops.c
  sys/ufs/ufs/ufs_vnops.c
  sys/vm/vnode_pager.c
Owners: @asomers

getmntpoint: Don't compare st_rdev for non-devices
  lib/libutil/mntopts.c
Owners: none

zfs: Set st_rdev to NODEV, not 0, when not a device
  sys/contrib/openzfs/module/os/freebsd/zfs/zfs_ctldir.c
  sys/contrib/openzfs/module/os/freebsd/zfs/zfs_vnops_os.c
Owners: none

ext2fs: Set st_rdev to NODEV when not a device
  sys/fs/ext2fs/ext2_vnops.c
Owners: none

ext2fs: Set st_rdev to NODEV when not a device
  sys/fs/ext2fs/ext2_vnops.c
Owners: none

vfs: Assert that st_rdev is NODEV for non-devices
  sys/kern/vfs_syscalls.c
Owners: none

vfs: Assert that st_rdev is NODEV for non-devices
  sys/kern/vfs_syscalls.c
Owners: none

libmsun: remove duplicates after cdefs.h added inline to __always_inline
  lib/msun/ld128/e_rem_pio2l.h
  lib/msun/ld128/s_logl.c
  lib/msun/ld80/e_rem_pio2l.h
  lib/msun/ld80/s_logl.c
  lib/msun/src/e_rem_pio2.c
  lib/msun/src/e_rem_pio2f.c
Owners: none

Updates for ccosh[f] and csinh[f]
  lib/msun/src/s_ccosh.c
  lib/msun/src/s_ccoshf.c
  lib/msun/src/s_csinh.c
  lib/msun/src/s_csinhf.c
Owners: none

libmsun: remove duplicates after cdefs.h added inline to __always_inline
  lib/msun/ld128/e_rem_pio2l.h
  lib/msun/ld128/s_logl.c
  lib/msun/ld80/e_rem_pio2l.h
  lib/msun/ld80/s_logl.c
  lib/msun/src/e_rem_pio2.c
  lib/msun/src/e_rem_pio2f.c
Owners: none

Updates for ccosh[f] and csinh[f]
  lib/msun/src/s_ccosh.c
  lib/msun/src/s_ccoshf.c
  lib/msun/src/s_csinh.c
  lib/msun/src/s_csinhf.c
Owners: none

tcopy: Fix braino.
  usr.bin/tcopy/tcopy.cc
Owners: none

tcopy: Fix braino.
  usr.bin/tcopy/tcopy.cc
Owners: none

hidraw(4): Rename to uhid if HIDRAW_MAKE_UHID_ALIAS is specified
  sys/dev/hid/hidraw.c
  sys/dev/usb/input/uhid.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
