Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

15.0: Update to ALPHA4
  sys/conf/newvers.sh
Owners: none

CI: update perf and bpftools with the kernel packages
  .github/workflows/scripts/qemu-3-deps-vm.sh
Owners: none

libcasper: explicit cast in cap_fileargs header
  lib/libcasper/services/cap_fileargs/cap_fileargs.h
Owners: none

mlx5 ipsec: Add VLAN tag to IPSec rules to prevent duplicates
  sys/dev/mlx5/mlx5_accel/mlx5_ipsec_fs.c
Owners: none

mlx5 ipsec: Add VLAN tag to IPSec rules to prevent duplicates
  sys/dev/mlx5/mlx5_accel/mlx5_ipsec_fs.c
Owners: none

libsys: drop private exports no longer needed
  lib/libsys/Symbol.map
Owners: none

libsys: drop private exports no longer needed
  lib/libsys/Symbol.map
Owners: none

libc: un-namespace gen-compat.h
  lib/libc/gen/fts-compat.c
  lib/libc/gen/fts-compat11.c
Owners: none

libc: properly forward the compat syscall references to libsys
  lib/libc/gen/gen-compat.h
Owners: none

libc: properly forward the compat syscall references to libsys
  lib/libc/gen/gen-compat.h
Owners: none

libc: un-namespace gen-compat.h
  lib/libc/gen/fts-compat.c
  lib/libc/gen/fts-compat11.c
Owners: none

libc/aarch64: fix ELF size of timingsafe_memcmp
  lib/libc/aarch64/string/timingsafe_memcmp.S
Owners: none

libc/aarch64: fix ELF size of timingsafe_memcmp
  lib/libc/aarch64/string/timingsafe_memcmp.S
Owners: none

tcp: fix sending of RST segments
  sys/netinet/tcp_input.c
Owners: none

tcp lro: remove redundant check
  sys/netinet/tcp_lro.c
Owners: none

tcp: fix sending of RST segments
  sys/netinet/tcp_input.c
Owners: none

tcp lro: remove redundant check
  sys/netinet/tcp_lro.c
Owners: none

vtnet: improve interface capability handling
  share/man/man4/vtnet.4
  sys/dev/virtio/network/if_vtnet.c
Owners: none

vtnet: improve interface capability handling
  share/man/man4/vtnet.4
  sys/dev/virtio/network/if_vtnet.c
Owners: none

arm64: Add table attributes to the EFI maps
  sys/arm64/arm64/efirt_machdep.c
Owners: @zxombie

arm64: Add table attributes to the EFI maps
  sys/arm64/arm64/efirt_machdep.c
Owners: @zxombie

arm64: Mark EFI memory as userspace non-executable
  sys/arm64/arm64/efirt_machdep.c
Owners: @zxombie

arm64: Mark EFI memory as userspace non-executable
  sys/arm64/arm64/efirt_machdep.c
Owners: @zxombie

acpi: Use sleep types defined in sys/power.h
  sys/dev/acpica/acpi.c
  sys/dev/acpica/acpi_lid.c
  sys/dev/acpica/acpivar.h
  sys/x86/acpica/acpi_apm.c
Owners: none

acpi: Use sleep types defined in sys/power.h
  sys/dev/acpica/acpi.c
  sys/dev/acpica/acpi_lid.c
  sys/dev/acpica/acpivar.h
  sys/x86/acpica/acpi_apm.c
Owners: none

acpi: Add back `hw.acpi.suspend_state` sysctl
  sys/dev/acpica/acpi.c
Owners: none

acpi: Add back `hw.acpi.suspend_state` sysctl
  sys/dev/acpica/acpi.c
Owners: none

sys/power: Sleep type reporting by PM backends
  sys/dev/acpica/acpi.c
  sys/kern/subr_power.c
  sys/sys/power.h
Owners: none

sys/power: Sleep type reporting by PM backends
  sys/dev/acpica/acpi.c
  sys/kern/subr_power.c
  sys/sys/power.h
Owners: none

Linux 6.17 compat: META
  META
Owners: none

tests/lorder_test: add require.progs for nm and cc
  usr.bin/lorder/tests/Makefile
  usr.bin/lorder/tests/lorder_test.sh
Owners: none

fusefs: fix a kernel panic regarding SCM_RIGHTS
  sys/fs/fuse/fuse_vnops.c
  tests/sys/fs/fusefs/release.cc
  tests/sys/fs/fusefs/write.cc
Owners: @asomers

e1000: fix igb VF stats
  sys/dev/e1000/if_em.c
  sys/dev/e1000/if_em.h
Owners: none

CI: Remove Buildbot references
  .github/PULL_REQUEST_TEMPLATE.md
  contrib/pyzfs/libzfs_core/test/test_libzfs_core.py
Owners: none

CI: Switch FreeBSD 15 to 15.0-ALPHA3
  .github/workflows/scripts/qemu-2-start.sh
Owners: none

vfs: retire the NULLVP macro
  sys/fs/cd9660/cd9660_vfsops.c
  sys/fs/devfs/devfs_vnops.c
  sys/fs/ext2fs/ext2_vfsops.c
  sys/fs/fdescfs/fdesc_vnops.c
  sys/fs/fuse/fuse_vfsops.c
  sys/fs/msdosfs/msdosfs_vfsops.c
  sys/fs/nfsclient/nfs_clrpcops.c
  sys/fs/nfsclient/nfs_clvnops.c
  sys/fs/nullfs/null_subr.c
  sys/fs/nullfs/null_vnops.c
  sys/fs/p9fs/p9fs_vfsops.c
  sys/fs/p9fs/p9fs_vnops.c
  sys/fs/pseudofs/pseudofs_vncache.c
  sys/fs/smbfs/smbfs_vnops.c
  sys/fs/tarfs/tarfs_vfsops.c
  sys/fs/tarfs/tarfs_vnops.c
  sys/fs/tmpfs/tmpfs_vnops.c
  sys/fs/udf/udf_vfsops.c
  sys/fs/unionfs/union_subr.c
  sys/fs/unionfs/union_vfsops.c
  sys/fs/unionfs/union_vnops.c
  sys/kern/uipc_mqueue.c
  sys/kern/vfs_lookup.c
  sys/kern/vfs_mountroot.c
  sys/kern/vfs_syscalls.c
  sys/sys/vnode.h
  sys/ufs/ffs/ffs_softdep.c
  sys/ufs/ffs/ffs_vfsops.c
  sys/ufs/ufs/ufs_quota.c
Owners: @asomers, @dag-erling

vfs: retire the VCALL macro
  sys/fs/nullfs/null_vnops.c
  sys/sys/vnode.h
Owners: none

vfs: retire the VCALL macro
  sys/fs/nullfs/null_vnops.c
  sys/sys/vnode.h
Owners: none

vfs: stop using SDT_PROBES_ENABLED in inlined ops
  sys/tools/vnode_if.awk
Owners: none

BUF_ISLOCKED.9: drop a reference to lockstatus(9)
  share/man/man9/BUF_ISLOCKED.9
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
