Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

vnic: Fix a typo in a device messsage
  sys/dev/vnic/nicvf_main.c
Owners: none

ath(4): Fix a typo in a device messsage
  sys/dev/ath/ath_hal/ar5416/ar5416_cal_iq.c
Owners: none

bwi(4): Fix a typo in a panic messsage
  sys/dev/bwi/if_bwi.c
Owners: none

cesa: Fix a typo in a device messsage
  sys/dev/cesa/cesa.c
Owners: none

ciss(4): Fix a typo in a debug messsage
  sys/dev/ciss/ciss.c
Owners: none

igc(4): Fix a typo in a sysctl description
  sys/dev/igc/if_igc.c
Owners: none

mfi(4): Fix a typo in a KASSERT message
  sys/dev/mfi/mfi.c
Owners: none

isci(4): Fix two typos in a log messages
  sys/dev/isci/scil/scic_sds_remote_node_context.c
Owners: none

copy.9: Fix a typo in the manual page
  share/man/man9/copy.9
Owners: none

efirt.9: Fix a typo in the manual page
  share/man/man9/efirt.9
Owners: none

Update vendor/libarchive to 3.8.3
  .cirrus.yml
  CMakeLists.txt
  Makefile.am
  NEWS
  build/version
  configure.ac
  libarchive/archive.h
  libarchive/archive_disk_acl_darwin.c
  libarchive/archive_entry.h
  libarchive/archive_entry_stat.3
  libarchive/archive_read_disk_entry_from_file.c
  libarchive/archive_read_disk_posix.c
  libarchive/archive_read_disk_windows.c
  libarchive/archive_read_support_filter_lz4.c
  libarchive/archive_read_support_filter_zstd.c
  libarchive/archive_read_support_format_7zip.c
  libarchive/archive_read_support_format_lha.c
  libarchive/archive_read_support_format_tar.c
  libarchive/archive_read_support_format_zip.c
  libarchive/archive_string.c
  libarchive/archive_string.h
  libarchive/archive_write_disk_posix.c
  libarchive/archive_write_open_filename.c
  libarchive/module.modulemap
  libarchive/test/CMakeLists.txt
  libarchive/test/test_archive_string.c
  libarchive/test/test_compat_lz4.c
  libarchive/test/test_compat_lz4_skippable_frames_B4.tar.lz4.uu
  libarchive/test/test_read_format_7zip_issue2765.7z.uu
  libarchive/test/test_read_format_7zip_issue2765.c
  tar/test/test_option_safe_writes.c
  tar/util.c
  test_utils/test_main.c
Owners: none

Update commit message and add missing decls.
  sys/dev/sound/midi/mpu401.c
Owners: none

gdb: Fix some PEP 8 violations
  sys/tools/gdb/acttrace.py
  sys/tools/gdb/freebsd.py
  sys/tools/gdb/pcpu.py
  sys/tools/gdb/vnet.py
Owners: none

gdb: Fix some PEP 8 violations
  sys/tools/gdb/acttrace.py
  sys/tools/gdb/freebsd.py
  sys/tools/gdb/pcpu.py
  sys/tools/gdb/vnet.py
Owners: none

mpool(3): Fix a typo in statistical message
  lib/libc/db/mpool/mpool.c
Owners: none

mpool(3): Fix a typo in statistical message
  lib/libc/db/mpool/mpool.c
Owners: none

exit.3: Fix a typo in the manual page
  lib/libc/stdlib/exit.3
Owners: none

exit.3: Fix a typo in the manual page
  lib/libc/stdlib/exit.3
Owners: none

moused(8): Fix a couple of typos in the manual pages
  usr.sbin/moused/moused/moused.8
  usr.sbin/moused/moused/moused.conf.5
Owners: none

moused(8): Fix a couple of typos in the manual pages
  usr.sbin/moused/moused/moused.8
  usr.sbin/moused/moused/moused.conf.5
Owners: none

stand/lua: Fix two typos in the manual pages
  stand/lua/config.lua.8
  stand/lua/loader.lua.8
Owners: @kevans91

stand/lua: Fix two typos in the manual pages
  stand/lua/config.lua.8
  stand/lua/loader.lua.8
Owners: @kevans91

libexec/lua: Fix two typos in the manual pages
  libexec/flua/libfreebsd/kenv/freebsd.kenv.3lua
  libexec/flua/libfreebsd/sys/linker/freebsd.sys.linker.3lua
Owners: none

libexec/lua: Fix two typos in the manual pages
  libexec/flua/libfreebsd/kenv/freebsd.kenv.3lua
  libexec/flua/libfreebsd/sys/linker/freebsd.sys.linker.3lua
Owners: none

cxgbetool(8): Fix a typo in the stats description
  usr.sbin/cxgbetool/tcbinfot7.c
Owners: none

cxgbetool(8): Fix a typo in the stats description
  usr.sbin/cxgbetool/tcbinfot7.c
Owners: none

nuageinit: Fix a typo in an error message
  libexec/nuageinit/nuageinit
Owners: @bapt

nuageinit: Fix a typo in an error message
  libexec/nuageinit/nuageinit
Owners: @bapt

lpr(1): Fix a typo in a debug message
  usr.sbin/lpr/lpr/lpr.1
Owners: @gbergling

lpr(1): Fix a typo in a debug message
  usr.sbin/lpr/lpr/lpr.1
Owners: @gbergling

ypldap(8): Fix a typo in a debug message
  usr.sbin/ypldap/ldapclient.c
Owners: none

ypldap(8): Fix a typo in a debug message
  usr.sbin/ypldap/ldapclient.c
Owners: none

jail: Make jaildesc_ops const
  sys/kern/kern_jaildesc.c
Owners: none

jail: Make jaildesc_ops const
  sys/kern/kern_jaildesc.c
Owners: none

bhyve: Move the slirp backend out into a separate process
  usr.sbin/bhyve/Makefile
  usr.sbin/bhyve/bhyve.8
  usr.sbin/bhyve/net_backend_slirp.c
  usr.sbin/bhyve/slirp/Makefile
  usr.sbin/bhyve/slirp/libslirp.h
  usr.sbin/bhyve/slirp/slirp-helper.c
Owners: @bsdjhb, @grehan-freebsd

bhyve: Move the slirp backend out into a separate process
  usr.sbin/bhyve/Makefile
  usr.sbin/bhyve/bhyve.8
  usr.sbin/bhyve/net_backend_slirp.c
  usr.sbin/bhyve/slirp/Makefile
  usr.sbin/bhyve/slirp/libslirp.h
  usr.sbin/bhyve/slirp/slirp-helper.c
Owners: @bsdjhb, @grehan-freebsd

taskq: initialize tsd on first use
  lib/libspl/taskq.c
Owners: none

zfs: replace tpool with taskq
  cmd/zed/agents/zfs_mod.c
  cmd/zpool/zpool_iter.c
  cmd/zpool/zpool_main.c
  include/Makefile.am
  include/thread_pool.h
  lib/Makefile.am
  lib/libspl/include/sys/taskq.h
  lib/libtpool/Makefile.am
  lib/libtpool/thread_pool.c
  lib/libtpool/thread_pool_impl.h
  lib/libzfs/libzfs.abi
  lib/libzfs/libzfs_mount.c
  lib/libzfs/os/linux/libzfs_mount_os.c
  lib/libzfs_core/libzfs_core.abi
  lib/libzutil/Makefile.am
  lib/libzutil/os/freebsd/zutil_import_os.c
  lib/libzutil/os/linux/zutil_import_os.c
  lib/libzutil/zutil_import.c
Owners: none

inotify: Work around the vput() bug directly
  sys/kern/vfs_inotify.c
Owners: none

Fix taskq NULL pointer dereference on timer race
  module/os/linux/spl/spl-taskq.c
Owners: none
