Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

sdp(3): Change bdaddr parameter type in sdp_register_service()
  lib/libsdp/sdp.3
  lib/libsdp/sdp.h
  lib/libsdp/service.c
Owners: none

pfctl: allow tables to be defined inside anchors
  sbin/pfctl/parse.y
  sbin/pfctl/pfctl.c
  sbin/pfctl/pfctl.h
  sbin/pfctl/pfctl_optimize.c
  sbin/pfctl/pfctl_parser.h
  sbin/pfctl/pfctl_radix.c
  sbin/pfctl/pfctl_table.c
Owners: none

pfctl: allow tables to be defined inside anchors
  sbin/pfctl/parse.y
  sbin/pfctl/pfctl.c
  sbin/pfctl/pfctl.h
  sbin/pfctl/pfctl_optimize.c
  sbin/pfctl/pfctl_parser.h
  sbin/pfctl/pfctl_radix.c
  sbin/pfctl/pfctl_table.c
Owners: none

pfctl.8: omit preceding flag from command/modifier lists to get tags
  sbin/pfctl/pfctl.8
Owners: none

pf: Count m_gethdr() failures in PFRES_MEMORY counter
  sys/net/pfvar.h
  sys/netpfil/pf/pf.c
  sys/netpfil/pf/pf_syncookies.c
Owners: @glebius

pf tests: declare a table inside an anchor
  tests/sys/netpfil/pf/table.sh
Owners: @ngie-eign

pf tests: declare a table inside an anchor
  tests/sys/netpfil/pf/table.sh
Owners: @ngie-eign

pfctl.8: omit preceding flag from command/modifier lists to get tags
  sbin/pfctl/pfctl.8
Owners: none

pf: Count m_gethdr() failures in PFRES_MEMORY counter
  sys/net/pfvar.h
  sys/netpfil/pf/pf.c
  sys/netpfil/pf/pf_syncookies.c
Owners: @glebius

pf: set limits before rules
  sbin/pfctl/pfctl.c
Owners: none

pf tests: test set limit
  tests/sys/netpfil/pf/limits.sh
Owners: @ngie-eign

pfctl.8: -z honours -a (reset rule stats per anchor)
  sbin/pfctl/pfctl.8
Owners: none

pf: set limits before rules
  sbin/pfctl/pfctl.c
Owners: none

pf tests: test set limit
  tests/sys/netpfil/pf/limits.sh
Owners: @ngie-eign

pfctl.8: -z honours -a (reset rule stats per anchor)
  sbin/pfctl/pfctl.8
Owners: none

pf: allows TCP RST packets in the backwards window if ACK matches
  sys/netpfil/pf/pf.c
Owners: @glebius

pf: allows TCP RST packets in the backwards window if ACK matches
  sys/netpfil/pf/pf.c
Owners: @glebius

pf: fix rules_counter:keepcounters test
  sys/netpfil/pf/pf_ioctl.c
  sys/netpfil/pf/pf_ruleset.c
Owners: @glebius

pf.conf.5: rephrase macro section
  share/man/man5/pf.conf.5
Owners: none

pf.conf.5: rephrase macro section
  share/man/man5/pf.conf.5
Owners: none

pf: fix rules_counter:keepcounters test
  sys/netpfil/pf/pf_ioctl.c
  sys/netpfil/pf/pf_ruleset.c
Owners: @glebius

rk_tsadc: use tsadc_temp_to_raw for shutdown_temp
  sys/arm64/rockchip/rk_tsadc.c
Owners: @evadot

rk_tsadc: use tsadc_temp_to_raw for shutdown_temp
  sys/arm64/rockchip/rk_tsadc.c
Owners: @evadot

Shellcheck.am: add silent rules for shellcheck and checkbashisms
  config/Shellcheck.am
Owners: none

mancheck: allow single files
  scripts/mancheck.sh
Owners: none

man: add silent rules for mancheck
  man/Makefile.am
Owners: none

Refactor `zhack label repair` and fix `-c` regression on nonzero TXG
  cmd/zhack.c
  tests/zfs-tests/tests/functional/cli_root/zhack/library.kshlib
  tests/zfs-tests/tests/functional/cli_root/zhack/zhack_label_repair_001.ksh
Owners: @ngie-eign

Add `typeset`s to `zhack label repair` test scripts
  tests/zfs-tests/tests/functional/cli_root/zhack/library.kshlib
Owners: @ngie-eign

linux/super: add tunable to request immediate reclaim of unused inodes
  man/man4/zfs.4
  module/os/linux/zfs/zpl_super.c
Owners: none

linux/super: add tunable to request immediate reclaim of unused dentries
  config/kernel-dentry-operations.m4
  include/os/linux/zfs/sys/zpl.h
  man/man4/zfs.4
  module/os/linux/zfs/zfs_vfsops.c
  module/os/linux/zfs/zpl_super.c
Owners: none

vnet.9: Rename vnet.9/vimage.9 to VNET.9/VIMAGE.9
  contrib/kyua/doc/kyuafile.5.in
  share/man/man9/Makefile
  share/man/man9/VNET.9
Owners: none

vnet.9: Rename vnet.9/vimage.9 to VNET.9/VIMAGE.9
  contrib/kyua/doc/kyuafile.5.in
  share/man/man9/Makefile
  share/man/man9/VNET.9
Owners: none

ObsoleteFiles: Remove the miscapitalized vnet.9
  ObsoleteFiles.inc
Owners: none

ObsoleteFiles: Remove the miscapitalized vnet.9
  ObsoleteFiles.inc
Owners: none

witness: Record the first acquired file and line for recursable locks
  sys/kern/subr_witness.c
Owners: none

witness: Record the first acquired file and line for recursable locks
  sys/kern/subr_witness.c
Owners: none

nuageinit: Remove duplicate description of users.{user}.groups
  libexec/nuageinit/nuageinit.7
Owners: @bapt

nuageinit: chmod sudoers directory instead of chmod (again) sudoers file
  libexec/nuageinit/nuage.lua
Owners: @bapt

nuageinit: Add doas support
  libexec/nuageinit/nuage.lua
  libexec/nuageinit/nuageinit
  libexec/nuageinit/nuageinit.7
  libexec/nuageinit/tests/nuageinit.sh
Owners: @bapt

nuageinit: Allow the use of network parameters from network-config
  libexec/nuageinit/nuageinit
  libexec/nuageinit/nuageinit.7
Owners: @bapt

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
