Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

if_epair(4): use ether_gen_addr(9) for stable MAC address
  sys/net/if_epair.c
Owners: none

sdio: don't use CAM_PRIORITY_NONE for queued CCB-s
  sys/dev/sdio/sdiob.c
Owners: none

sdio: don't use CAM_PRIORITY_NONE for queued CCB-s
  sys/dev/sdio/sdiob.c
Owners: none

krb5: Add missing gssapi header
  krb5/lib/gssapi/mechglue/Makefile.inc
Owners: none

krb5: Add missing gssapi header
  krb5/lib/gssapi/mechglue/Makefile.inc
Owners: none

krb5: Remove Heimdal library when MK_MITKRB5 is enabled
  tools/build/mk/OptionalObsoleteFiles.inc
Owners: @bsdimp

krb5: Remove Heimdal library when MK_MITKRB5 is enabled
  tools/build/mk/OptionalObsoleteFiles.inc
Owners: @bsdimp

krb5: Move compile_et to /usr/bin as it was with Heimdal
  ObsoleteFiles.inc
  krb5/util/compile_et/Makefile
Owners: none

krb5: Move compile_et to /usr/bin as it was with Heimdal
  ObsoleteFiles.inc
  krb5/util/compile_et/Makefile
Owners: none

libutil++: Add package definition
  release/packages/ucl/libutil++-all.ucl
Owners: none

libutil++: Add package definition
  release/packages/ucl/libutil++-all.ucl
Owners: none

bridge: Make 802.1ad (Q-in-Q) configurable
  sbin/ifconfig/ifbridge.c
  sbin/ifconfig/ifconfig.8
  sys/net/if_bridge.c
  sys/net/if_bridgevar.h
  tests/sys/net/if_bridge_test.sh
Owners: @ngie-eign

bridge: Make 802.1ad (Q-in-Q) configurable
  sbin/ifconfig/ifbridge.c
  sbin/ifconfig/ifconfig.8
  sys/net/if_bridge.c
  sys/net/if_bridgevar.h
  tests/sys/net/if_bridge_test.sh
Owners: @ngie-eign

bridge: Allow VLAN protocol to be configured
  sbin/ifconfig/ifbridge.c
  sbin/ifconfig/ifconfig.8
  sys/net/if_bridge.c
  sys/net/if_bridgevar.h
Owners: none

bridge: Make the vlan(4) shunt more robust
  sys/net/if_bridge.c
Owners: none

bridge: Make the vlan(4) shunt more robust
  sys/net/if_bridge.c
Owners: none

bridge: Allow VLAN protocol to be configured
  sbin/ifconfig/ifbridge.c
  sbin/ifconfig/ifconfig.8
  sys/net/if_bridge.c
  sys/net/if_bridgevar.h
Owners: none

ifconfig: Improve bridge vlan filtering syntax
  sbin/ifconfig/ifbridge.c
  sbin/ifconfig/ifconfig.8
  tests/sys/net/if_bridge_test.sh
Owners: @ngie-eign

ifconfig: Improve bridge vlan filtering syntax
  sbin/ifconfig/ifbridge.c
  sbin/ifconfig/ifconfig.8
  tests/sys/net/if_bridge_test.sh
Owners: @ngie-eign

krb5: Remove et directory
  ObsoleteFiles.inc
  etc/mtree/BSD.usr.dist
Owners: none

krb5: Remove et directory
  ObsoleteFiles.inc
  etc/mtree/BSD.usr.dist
Owners: none

sbin/newfs_msdos: add support for exFAT file systems
  sbin/newfs_msdos/Makefile
  sbin/newfs_msdos/mkfs_msdos.c
  sbin/newfs_msdos/mkfs_msdos.h
  sbin/newfs_msdos/newfs_msdos.8
  sbin/newfs_msdos/newfs_msdos.c
Owners: none

sbin/newfs_msdos: add support for exFAT file systems
  sbin/newfs_msdos/Makefile
  sbin/newfs_msdos/mkfs_msdos.c
  sbin/newfs_msdos/mkfs_msdos.h
  sbin/newfs_msdos/newfs_msdos.8
  sbin/newfs_msdos/newfs_msdos.c
Owners: none

freebsd-version.8: Remove freebsd-update paragraph
  bin/freebsd-version/freebsd-version.1
Owners: none

freebsd-version.8: Remove freebsd-update paragraph
  bin/freebsd-version/freebsd-version.1
Owners: none

pf: convert DIOCRADDADDRS to netlink
  contrib/pf/authpf/authpf.c
  lib/libpfctl/libpfctl.c
  lib/libpfctl/libpfctl.h
  sbin/pfctl/pfctl_radix.c
  sys/netpfil/pf/pf_ioctl.c
  sys/netpfil/pf/pf_nl.c
  sys/netpfil/pf/pf_nl.h
  sys/netpfil/pf/pf_table.c
  tests/sys/netpfil/pf/table.sh
Owners: @glebius, @ngie-eign

pf: convert DIOCRDELADDRS to netlink
  contrib/pf/authpf/authpf.c
  lib/libpfctl/libpfctl.c
  lib/libpfctl/libpfctl.h
  sbin/pfctl/pfctl_radix.c
  sys/netpfil/pf/pf_nl.c
  sys/netpfil/pf/pf_nl.h
Owners: @glebius

pf: convert DIOCRADDADDRS to netlink
  contrib/pf/authpf/authpf.c
  lib/libpfctl/libpfctl.c
  lib/libpfctl/libpfctl.h
  sbin/pfctl/pfctl_radix.c
  sys/netpfil/pf/pf_ioctl.c
  sys/netpfil/pf/pf_nl.c
  sys/netpfil/pf/pf_nl.h
  sys/netpfil/pf/pf_table.c
  tests/sys/netpfil/pf/table.sh
Owners: @glebius, @ngie-eign

pf: convert DIOCRDELADDRS to netlink
  contrib/pf/authpf/authpf.c
  lib/libpfctl/libpfctl.c
  lib/libpfctl/libpfctl.h
  sbin/pfctl/pfctl_radix.c
  sys/netpfil/pf/pf_nl.c
  sys/netpfil/pf/pf_nl.h
Owners: @glebius

pf: also allocate ethernet anchors from a UMA zone
  sbin/pfctl/pfctl.c
  sys/net/pfvar.h
  sys/netpfil/pf/pf.c
  sys/netpfil/pf/pf.h
  sys/netpfil/pf/pf_ioctl.c
  sys/netpfil/pf/pf_norm.c
  sys/netpfil/pf/pf_ruleset.c
Owners: @glebius

pf.conf.5: rework the text on mtu and mss
  share/man/man5/pf.conf.5
Owners: none

pf: allocate pf_kanchor from a pool
  sbin/pfctl/pfctl.c
  sys/net/pfvar.h
  sys/netpfil/pf/pf.c
  sys/netpfil/pf/pf.h
  sys/netpfil/pf/pf_ioctl.c
  sys/netpfil/pf/pf_norm.c
  sys/netpfil/pf/pf_ruleset.c
Owners: @glebius

pf.conf.5: rework the text on mtu and mss
  share/man/man5/pf.conf.5
Owners: none

pf.conf.5: document limit-item "anchors"; from martin vahlensieck
  share/man/man5/pf.conf.5
Owners: none

pf.conf.5: document limit-item "anchors"; from martin vahlensieck
  share/man/man5/pf.conf.5
Owners: none

pf: also allocate ethernet anchors from a UMA zone
  sbin/pfctl/pfctl.c
  sys/net/pfvar.h
  sys/netpfil/pf/pf.c
  sys/netpfil/pf/pf.h
  sys/netpfil/pf/pf_ioctl.c
  sys/netpfil/pf/pf_norm.c
  sys/netpfil/pf/pf_ruleset.c
Owners: @glebius

pf: allocate pf_kanchor from a pool
  sbin/pfctl/pfctl.c
  sys/net/pfvar.h
  sys/netpfil/pf/pf.c
  sys/netpfil/pf/pf.h
  sys/netpfil/pf/pf_ioctl.c
  sys/netpfil/pf/pf_norm.c
  sys/netpfil/pf/pf_ruleset.c
Owners: @glebius

pfctl: memset the pfctl struct in pfctl_reset()
  sbin/pfctl/pfctl.c
Owners: none

pf: fix handling unreassembled fragments
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/Makefile
  tests/sys/netpfil/pf/frag4.py
Owners: @glebius, @ngie-eign

pf: fix handling unreassembled fragments
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/Makefile
  tests/sys/netpfil/pf/frag4.py
Owners: @glebius, @ngie-eign
