Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

ddb: use %b when showing flags for a tcpcb
  sys/netinet/tcp_usrreq.c
  sys/netinet/tcp_var.h
Owners: none

ddb: use %b when showing flags for a tcpcb
  sys/netinet/tcp_usrreq.c
  sys/netinet/tcp_var.h
Owners: none

gpiobus: use bus_generic_detach when detaching
  sys/dev/gpio/gpiobus.c
Owners: none

bus_attach_children.9: fix typo
  share/man/man9/bus_attach_children.9
Owners: none

mld6: Properly initialize MLD packet options
  sys/netinet6/mld6.c
Owners: none

mld6: Properly initialize MLD packet options
  sys/netinet6/mld6.c
Owners: none

ddb: improve printing of inpcbs
  sys/netinet/in_pcb.c
Owners: none

ddb: improve printing of inpcbs
  sys/netinet/in_pcb.c
Owners: none

Makefile.incl1: .WAIT before distribute in etc
  Makefile.inc1
Owners: none

Makefile.incl1: .WAIT before distribute in etc
  Makefile.inc1
Owners: none

racct: Simplify skipping idle process in the throttling daemon
  sys/kern/kern_racct.c
Owners: none

racct: Simplify skipping idle process in the throttling daemon
  sys/kern/kern_racct.c
Owners: none

setcred(): Fix RACCT resource accounting on credentials change
  sys/kern/kern_prot.c
Owners: none

setcred(): Fix RACCT resource accounting on credentials change
  sys/kern/kern_prot.c
Owners: none

kern: Fix credentials leaks on RACCT but no RCTL
  sys/kern/kern_jail.c
  sys/kern/kern_loginclass.c
  sys/kern/kern_prot.c
Owners: none

kern: Fix credentials leaks on RACCT but no RCTL
  sys/kern/kern_jail.c
  sys/kern/kern_loginclass.c
  sys/kern/kern_prot.c
Owners: none

d.7: Document strchr, strjoin, strrchr, strstr, strtok, strlen, and substr
  share/man/man7/d.7
Owners: none

d.7: Document strchr, strjoin, strrchr, strstr, strtok, strlen, and substr
  share/man/man7/d.7
Owners: none

nfscommon: Update the nfs_bigreply array
  sys/fs/nfs/nfs_commonsubs.c
  sys/fs/nfs/nfs_var.h
Owners: none

kern/subr_syscalls.c: declare 'traced' local variables boolean
  sys/kern/subr_syscall.c
Owners: none

atomic.9: provide fine details about CAS memory model MD semantic
  share/man/man9/atomic.9
Owners: none

atomic.9: fix description of acquire and release
  share/man/man9/atomic.9
Owners: none

kern/subr_syscalls.c: declare 'traced' local variables boolean
  sys/kern/subr_syscall.c
Owners: none

atomic.9: provide fine details about CAS memory model MD semantic
  share/man/man9/atomic.9
Owners: none

atomic.9: fix description of acquire and release
  share/man/man9/atomic.9
Owners: none

nfs: Add support for the new _PC_CASE_INSENSITIVE name
  sys/fs/nfs/nfs_commonsubs.c
  sys/fs/nfs/nfs_var.h
  sys/fs/nfsclient/nfs_clrpcops.c
  sys/fs/nfsclient/nfs_clstate.c
  sys/fs/nfsclient/nfs_clvnops.c
  sys/fs/nfsserver/nfs_nfsdport.c
  sys/fs/nfsserver/nfs_nfsdserv.c
Owners: none

nfs: Add support for the new _PC_CASE_INSENSITIVE name
  sys/fs/nfs/nfs_commonsubs.c
  sys/fs/nfs/nfs_var.h
  sys/fs/nfsclient/nfs_clrpcops.c
  sys/fs/nfsclient/nfs_clstate.c
  sys/fs/nfsclient/nfs_clvnops.c
  sys/fs/nfsserver/nfs_nfsdport.c
  sys/fs/nfsserver/nfs_nfsdserv.c
Owners: none

param.h: Bump __FreeBSD_version for c192a9e86580
  sys/sys/param.h
Owners: none

param.h: Bump __FreeBSD_version for e5aa60d06958
  sys/sys/param.h
Owners: none

UPDATING: Add an entry for e5aa60d06958
  UPDATING
Owners: none

UPDATING: Add an entry for c192a9e86580
  UPDATING
Owners: none

unionfs: fix NULL deref on closing an fd passed through SCM_RIGHTS
  sys/fs/unionfs/union_subr.c
  sys/fs/unionfs/union_vnops.c
Owners: none

unionfs: avoid vdrop()ing a locked but doomed vnode
  sys/fs/unionfs/union_vnops.c
Owners: none

VOP_OPENCLOSE.9: note that td may be NULL for VOP_CLOSE
  share/man/man9/VOP_OPENCLOSE.9
Owners: none

AMD IOMMU: fix per-device IOMMU bypass when IR is enabled
  sys/dev/iommu/busdma_iommu.c
  sys/x86/iommu/amd_intrmap.c
Owners: none

cron: Use reallocarray() to prevent integer overflow
  usr.sbin/cron/lib/env.c
Owners: none

cron: Use reallocarray() to prevent integer overflow
  usr.sbin/cron/lib/env.c
Owners: none

tests/ipfw: Update regression tests to match new 32-bit size rule numbers
  sbin/ipfw/tests/test_add_rule.py
  tests/atf_python/sys/netpfil/ipfw/insns.py
Owners: @ngie-eign

pf: improve add state validation
  sys/netpfil/pf/if_pfsync.c
  tests/sys/netpfil/pf/ioctl/validation.c
Owners: @glebius, @ngie-eign

pf: improve DIOCRCLRTABLES validation
  sys/netpfil/pf/pf_ioctl.c
  tests/sys/netpfil/pf/ioctl/validation.c
Owners: @glebius, @ngie-eign
