Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

bce(4): Fix a typo in a source code comment
  sys/dev/bce/if_bce.c
Owners: none

ice(4): Fix a typo in a source code comment
  sys/dev/ice/ice_fw_logging.c
Owners: none

ice(4): Fix a typo in a source code comment
  sys/dev/ice/ice_fw_logging.c
Owners: none

hpt27xx(4): Fix a couple of typos in source code comments
  sys/dev/hpt27xx/hptintf.h
Owners: none

hpt27xx(4): Fix a couple of typos in source code comments
  sys/dev/hpt27xx/hptintf.h
Owners: none

LinuxKPI: 802.11: stop using hw_value on a channel
  sys/compat/linuxkpi/common/src/linux_80211.c
Owners: none

LinuxKPI: 802.11: rework multicat filter updates
  sys/compat/linuxkpi/common/include/linux/netdevice.h
  sys/compat/linuxkpi/common/include/net/mac80211.h
  sys/compat/linuxkpi/common/src/linux_80211.c
  sys/compat/linuxkpi/common/src/linux_80211.h
Owners: none

LinuxKPI: 802.11: dtim_period/beacon count
  sys/compat/linuxkpi/common/src/linux_80211.c
  sys/compat/linuxkpi/common/src/linux_80211.h
Owners: none

LinuxKPI: 802.11: stop using hw_value on a channel
  sys/compat/linuxkpi/common/src/linux_80211.c
Owners: none

LinuxKPI: 802.11: dtim_period/beacon count
  sys/compat/linuxkpi/common/src/linux_80211.c
  sys/compat/linuxkpi/common/src/linux_80211.h
Owners: none

LinuxKPI: 802.11: rework multicat filter updates
  sys/compat/linuxkpi/common/include/linux/netdevice.h
  sys/compat/linuxkpi/common/include/net/mac80211.h
  sys/compat/linuxkpi/common/src/linux_80211.c
  sys/compat/linuxkpi/common/src/linux_80211.h
Owners: none

ipfw: Fix segfault in NPTv6 rule parser
  sbin/ipfw/nptv6.c
Owners: none

ipfw: Fix segfault in NPTv6 rule parser
  sbin/ipfw/nptv6.c
Owners: none

ipfw: Add tests for the NPTv6 rule parser
  sbin/ipfw/Makefile
  sbin/ipfw/tests/Makefile
  sbin/ipfw/tests/ipfw_test.sh
Owners: none

ipfw: Add tests for the NPTv6 rule parser
  sbin/ipfw/Makefile
  sbin/ipfw/tests/Makefile
  sbin/ipfw/tests/ipfw_test.sh
Owners: none

tzcode: Add test case for setugid programs
  lib/libc/tests/stdtime/Makefile
  lib/libc/tests/stdtime/detect_tz_changes_test.c
Owners: none

tzcode: Add test case for setugid programs
  lib/libc/tests/stdtime/Makefile
  lib/libc/tests/stdtime/detect_tz_changes_test.c
Owners: none

Revert "man/man7: drop i386 from simd(7)"
  share/man/man7/simd.7
Owners: none

Revert "man/man7: drop i386 from simd(7)"
  share/man/man7/simd.7
Owners: none

TSlogs to track down bottle necks in vfs_mountroot
  sys/contrib/openzfs/lib/libzpool/taskq.c
  sys/contrib/openzfs/module/os/freebsd/zfs/spa_os.c
  sys/contrib/openzfs/module/os/freebsd/zfs/vdev_geom.c
  sys/contrib/openzfs/module/zcommon/zfs_comutil.c
  sys/contrib/openzfs/module/zfs/dmu_objset.c
  sys/contrib/openzfs/module/zfs/dsl_pool.c
  sys/contrib/openzfs/module/zfs/spa.c
  sys/contrib/openzfs/module/zfs/spa_config.c
  sys/contrib/openzfs/module/zfs/spa_misc.c
  sys/contrib/openzfs/module/zfs/zvol.c
  sys/geom/geom_io.c
  sys/kern/vfs_bio.c
Owners: none

Added the parameter from /boot/loader.conf named hw.atkbd.fast_delay
  sys/dev/atkbdc/atkbdc.c
Owners: none

Simplified the tunable delay conditions
  sys/dev/atkbdc/atkbdc.c
Owners: none

vfs: Move DEBUG_VFS_LOCKS checks to INVARIANTS
  sys/kern/vfs_subr.c
  sys/sys/vnode.h
  sys/tools/vnode_if.awk
Owners: none

lib: Fix calls that naively set F_SETFD.
  lib/libc/gen/fdopendir.c
  lib/libc/stdio/fdopen.c
  lib/libc/stdio/freopen.c
  lib/libfetch/common.c
Owners: @dag-erling

tmpfs: Remove uses of DEBUG_VFS_LOCKS
  sys/fs/tmpfs/tmpfs_vnops.c
Owners: none

ufs: Remove uses of DEBUG_VFS_LOCKS
  sys/ufs/ffs/ffs_softdep.c
  sys/ufs/ffs/ffs_vnops.c
  sys/ufs/ufs/ufs_lookup.c
  sys/ufs/ufs/ufs_quota.c
Owners: none

libdtrace: Permit taking the address of an identifier without type info
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/common/profile-n/tst.ticks.d
  cddl/contrib/opensolaris/lib/libdtrace/common/dt_parser.c
  cddl/contrib/opensolaris/lib/libdtrace/common/dt_parser.h
  cddl/usr.sbin/dtrace/tests/common/profile-n/Makefile
Owners: none

makefs/zfs tests: Run in parallel
  usr.sbin/makefs/tests/Makefile
  usr.sbin/makefs/tests/makefs_zfs_tests.sh
Owners: none

mac: Remove uses of DEBUG_VFS_LOCKS
  sys/security/mac/mac_framework.h
  sys/security/mac/mac_vfs.c
Owners: none

vnode_pager: Remove uses of DEBUG_VFS_LOCKS
  sys/vm/vnode_pager.c
Owners: none

makefs/zfs: Make it possible to set a compression property
  usr.sbin/makefs/makefs.8
  usr.sbin/makefs/tests/makefs_zfs_tests.sh
  usr.sbin/makefs/zfs/dsl.c
Owners: none

makefs/zfs: Allow the user to specify the pool GUID
  usr.sbin/makefs/makefs.8
  usr.sbin/makefs/zfs.c
Owners: none

vm_page: Clear VM_ALLOC_NOCREAT in vm_page_grab_pflags()
  sys/vm/vm_page.c
Owners: none

arm64: prevent panic when using syscall mux + large arg call (mmap)
  sys/arm64/arm64/elf32_machdep.c
Owners: @zxombie

arm64: prevent panic when using syscall mux + large arg call (mmap)
  sys/arm64/arm64/elf32_machdep.c
Owners: @zxombie

ichwd: introduce i6300esbwd watch dog driver
  sys/conf/files.x86
  sys/dev/ichwd/i6300esbwd.c
  sys/dev/ichwd/i6300esbwd.h
  sys/dev/ichwd/ichwd.c
  sys/dev/ichwd/ichwd.h
  sys/modules/ichwd/Makefile
Owners: none

ichwd: introduce i6300esbwd watch dog driver
  sys/conf/files.x86
  sys/dev/ichwd/i6300esbwd.c
  sys/dev/ichwd/i6300esbwd.h
  sys/dev/ichwd/ichwd.c
  sys/dev/ichwd/ichwd.h
  sys/modules/ichwd/Makefile
Owners: none

zdb: Fix format strings on 32-bit systems
  cmd/zdb/zdb.c
Owners: none

heimdal: fix wrt OpenSSL 3.5
  kerberos5/lib/libroken/fbsd_ossl_provider_load.c
Owners: none

heimdal: fix wrt OpenSSL 3.5
  kerberos5/lib/libroken/fbsd_ossl_provider_load.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
