Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

sound: Retire OLDPCM_IOCTL
  sys/dev/sound/pcm/dsp.c
Owners: none

sound: Remove dead midi code
  sys/dev/sound/midi/midi.c
Owners: none

sound: Move mixer->modify_counter to more appropriate place
  sys/dev/sound/pcm/mixer.c
Owners: none

sound: Retire unused mixer functions
  sys/dev/sound/pcm/mixer.c
  sys/dev/sound/pcm/mixer.h
Owners: none

sound: Remove unnecessary uio checks in dsp_io_ops()
  sys/dev/sound/pcm/dsp.c
Owners: none

cuse: Fix cdevpriv bugs in cuse_client_open()
  sys/fs/cuse/cuse.c
Owners: none

sound: Do not use double pointer in dsp_io_ops()
  sys/dev/sound/pcm/dsp.c
Owners: none

sound: Retire SND_DIAGNOSTIC PCM locking macros
  sys/dev/sound/pcm/sound.h
Owners: none

ObsoleteFiles.inc: Fix up incorrect merge
  ObsoleteFiles.inc
Owners: none

nvme: Include <sys/systm.h> explicitly for memmove
  sys/dev/nvme/nvme.h
Owners: @bsdimp

nvme: Include <sys/systm.h> explicitly for memmove
  sys/dev/nvme/nvme.h
Owners: @bsdimp

sound: Fix KASSERT panics in chn_read() and chn_write()
  sys/dev/sound/pcm/channel.c
Owners: none

sound: Fix KASSERT panics in chn_read() and chn_write()
  sys/dev/sound/pcm/channel.c
Owners: none

sound: Remove vchan_passthrough() and hw.snd.passthrough_verbose
  sys/dev/sound/pcm/vchan.c
  sys/dev/sound/pcm/vchan.h
Owners: none

sound: Remove vchan_passthrough() and hw.snd.passthrough_verbose
  sys/dev/sound/pcm/vchan.c
  sys/dev/sound/pcm/vchan.h
Owners: none

ipfw: Retire obsolete compat code
  sys/conf/files
  sys/modules/dummynet/Makefile
  sys/netinet/raw_ip.c
  sys/netpfil/ipfw/ip_dn_glue.c
  sys/netpfil/ipfw/ip_dn_private.h
  sys/netpfil/ipfw/ip_dummynet.c
Owners: none

fdisk: Bump removal to FreeBSD 16.0
  sbin/fdisk/fdisk.8
  sbin/fdisk/fdisk.c
Owners: none

max_align_t: apply alignof to 'long double' for long double alignment
  sys/sys/_types.h
Owners: none

max_align_t: apply alignof to 'long double' for long double alignment
  sys/sys/_types.h
Owners: none

mgb.4, muge.4: Use standard HARDWARE introduction
  share/man/man4/mgb.4
  share/man/man4/muge.4
Owners: none

mgb.4, muge.4: Use standard HARDWARE introduction
  share/man/man4/mgb.4
  share/man/man4/muge.4
Owners: none

15.0: Update to RC3
  sys/conf/newvers.sh
Owners: none

ntpd: Fix segfault when same IP on multiple interfaces
  contrib/ntp/ntpd/ntp_io.c
Owners: none

ntpd: Fix segfault when same IP on multiple interfaces
  contrib/ntp/ntpd/ntp_io.c
Owners: none

openssh: Don't attempt to connect to unsupported addresses
  crypto/openssh/FREEBSD-upgrade
  crypto/openssh/sshconnect.c
Owners: @dag-erling

openssh: Don't attempt to connect to unsupported addresses
  crypto/openssh/FREEBSD-upgrade
  crypto/openssh/sshconnect.c
Owners: @dag-erling

e1000: Don't enable ASPM L1 without L0s
  sys/dev/e1000/e1000_82571.c
Owners: none

e1000: Bump 82574/82583 PBA to 32K
  sys/dev/e1000/if_em.c
Owners: none

e1000: Bump 82574/82583 PBA to 32K
  sys/dev/e1000/if_em.c
Owners: none

e1000: Don't enable ASPM L1 without L0s
  sys/dev/e1000/e1000_82571.c
Owners: none

iwx: tag RX frames as A_MPDU RX; tag A-MSDU frames appropriately
  sys/dev/iwx/if_iwx.c
Owners: none

iwx: tag RX frames as A_MPDU RX; tag A-MSDU frames appropriately
  sys/dev/iwx/if_iwx.c
Owners: none

ip: use standard C types for ECN helper functions
  sys/netinet/ip_ecn.c
  sys/netinet/ip_ecn.h
  sys/netinet6/ip6_ecn.h
Owners: none

ip: use standard C types for ECN helper functions
  sys/netinet/ip_ecn.c
  sys/netinet/ip_ecn.h
  sys/netinet6/ip6_ecn.h
Owners: none

exterror.9 man page
  share/man/man9/Makefile
  share/man/man9/exterror.9
Owners: none

stress2: Added more robust test termination
  tools/test/stress2/misc/syzkaller59.sh
Owners: none

stress2: Added more robust test termination
  tools/test/stress2/misc/syzkaller59.sh
Owners: none

stress2: No not rely on unset variables when using 'set -u'
  tools/test/stress2/misc/syzkaller82.sh
  tools/test/stress2/misc/syzkaller84.sh
Owners: none

stress2: No not rely on unset variables when using 'set -u'
  tools/test/stress2/misc/syzkaller82.sh
  tools/test/stress2/misc/syzkaller84.sh
Owners: none

stress2: Update the exclude list
  tools/test/stress2/misc/all.exclude
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
