Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

intr/x86: use softc as PIC list
  sys/x86/include/interrupt.h
  sys/x86/x86/intr_machdep.c
Owners: none

intr/x86: move PIC_EOI to PIC_DISABLE_INTR() calls
  sys/x86/include/interrupt.h
  sys/x86/isa/atpic.c
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/io_apic.c
  sys/x86/x86/msi.c
  sys/x86/x86/pic_if.m
  sys/x86/xen/xen_arch_intr.c
Owners: none

intr/x86: merge disable_source calls into disable_intr, unconditionally EOI
  sys/x86/include/interrupt.h
  sys/x86/isa/atpic.c
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/io_apic.c
  sys/x86/x86/msi.c
  sys/x86/x86/pic_if.m
  sys/x86/xen/xen_arch_intr.c
Owners: none

PLACEHOLDER FOR WIP
  sys/x86/include/interrupt.h
  sys/x86/isa/atpic.c
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/io_apic.c
  sys/x86/x86/msi.c
  sys/x86/x86/pic_if.m
  sys/x86/xen/xen_arch_intr.c
Owners: none

intr/x86: convert interrupt infrastructure to inline intr_event structures
  sys/x86/include/interrupt.h
  sys/x86/include/xen/arch-intr.h
  sys/x86/isa/atpic.c
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/local_apic.c
  sys/x86/x86/nexus.c
  sys/x86/x86/pic_if.m
Owners: none

intr/x86: directly wire intr_event functions to their x86 hooks
  sys/x86/isa/atpic.c
  sys/x86/isa/clock.c
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/io_apic.c
  sys/x86/x86/msi.c
  sys/x86/x86/pic_if.m
  sys/x86/xen/xen_arch_intr.c
Owners: none

intr/x86: remove always false pic_source_pending hooks
  sys/x86/x86/msi.c
  sys/x86/xen/xen_arch_intr.c
Owners: none

x86/io_apic: convert ioapic_register() to calling ioapic_program_intpin()
  sys/x86/x86/io_apic.c
Owners: none

x86/io_apic: remove ->io_pic from ioapic structure
  sys/x86/x86/io_apic.c
Owners: none

x86/io_apic: pass ioapic structure to internal functions
  sys/x86/x86/io_apic.c
Owners: none

x86/msi: remove msi_irq from msi_intsrc structure
  sys/x86/x86/msi.c
Owners: none

intr/x86: move setting of ->is_pic inside intr_register_source()
  sys/x86/include/interrupt.h
  sys/x86/isa/atpic.c
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/io_apic.c
  sys/x86/x86/msi.c
  sys/x86/xen/xen_arch_intr.c
Owners: none

intr/x86: remove architecture copy of PIC device
  sys/x86/include/interrupt.h
  sys/x86/isa/atpic.c
  sys/x86/isa/clock.c
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/io_apic.c
  sys/x86/xen/xen_arch_intr.c
Owners: none

x86/io_apic: stop explicitly passing locked state
  sys/x86/x86/io_apic.c
Owners: none

xen/x86: remove null pic_suspend hook
  sys/x86/xen/xen_arch_intr.c
Owners: none

intr/x86: purge another transition macro
  sys/x86/include/interrupt.h
  sys/x86/isa/atpic.c
  sys/x86/x86/local_apic.c
  sys/x86/x86/msi.c
  sys/x86/xen/xen_arch_intr.c
Owners: none

intr/x86: purge transition compatibility macros/typedefs
  sys/x86/include/interrupt.h
  sys/x86/isa/atpic.c
  sys/x86/isa/clock.c
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/io_apic.c
  sys/x86/x86/local_apic.c
  sys/x86/x86/msi.c
  sys/x86/xen/xen_arch_intr.c
Owners: none

intr/x86: convert io-apic printf()s to device_printf()s
  sys/x86/x86/io_apic.c
Owners: none

intr/x86: stop explicitly storing io-apic device #
  sys/x86/x86/io_apic.c
Owners: none

intr/x86: change intr_next_cpu() to returning cpu# rather than APIC-Id
  sys/x86/include/xen/arch-intr.h
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/io_apic.c
  sys/x86/x86/msi.c
Owners: none

intr/x86: change ->pic_assign_cpu() to taking cpu_id, rather than apic_id
  sys/x86/isa/atpic.c
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/io_apic.c
  sys/x86/x86/msi.c
  sys/x86/x86/pic_if.m
  sys/x86/xen/xen_arch_intr.c
Owners: none

intr/x86: convert apic_alloc_vector*() to taking cpu_id instead of apic_id
  sys/x86/include/apicvar.h
  sys/x86/x86/io_apic.c
  sys/x86/x86/local_apic.c
  sys/x86/x86/msi.c
Owners: none

intr/x86: convert apic_free_vector() to taking cpu_id instead of apic_id
  sys/x86/include/apicvar.h
  sys/x86/x86/io_apic.c
  sys/x86/x86/local_apic.c
  sys/x86/x86/msi.c
Owners: none

intr/x86: convert apic_{dis,en}able_vector() to using cpu_id
  sys/x86/include/apicvar.h
  sys/x86/x86/io_apic.c
  sys/x86/x86/local_apic.c
  sys/x86/x86/msi.c
Owners: none

intr/x86: convert iommu_map_ioapic_intr() to taking cpu_id rather than apic_id
  sys/x86/iommu/iommu_intrmap.h
  sys/x86/iommu/iommu_utils.c
  sys/x86/x86/io_apic.c
  sys/x86/x86/msi.c
Owners: none

intr/x86: convert IO-APIC to using cpu_id internally, rather than apic_id
  sys/x86/x86/io_apic.c
Owners: none

ntr/x86: convert MSI-PIC to using cpu_id internally, rather than apic_id
  sys/x86/x86/msi.c
Owners: none

intrng: introduce PIC base class
  sys/arm/allwinner/a10/a10_intc.c
  sys/arm/allwinner/aw_gpio.c
  sys/arm/allwinner/aw_nmi.c
  sys/arm/allwinner/aw_r_intc.c
  sys/arm/arm/gic.c
  sys/arm/broadcom/bcm2835/bcm2835_gpio.c
  sys/arm/broadcom/bcm2835/bcm2835_intr.c
  sys/arm/broadcom/bcm2835/bcm2836.c
  sys/arm/freescale/imx/imx_gpio.c
  sys/arm/mv/mpic.c
  sys/arm/mv/mv_ap806_gicp.c
  sys/arm/mv/mv_ap806_sei.c
  sys/arm/mv/mv_cp110_icu.c
  sys/arm/mv/mvebu_gpio.c
  sys/arm/nvidia/tegra_gpio.c
  sys/arm/nvidia/tegra_lic.c
  sys/arm/nvidia/tegra_pcie.c
  sys/arm/ti/aintc.c
  sys/arm/ti/ti_gpio.c
  sys/arm64/apple/apple_aic.c
  sys/arm64/arm64/gic_v3.c
  sys/arm64/arm64/gicv3_its.c
  sys/arm64/freescale/imx/imx7gpc.c
  sys/arm64/qoriq/qoriq_gpio_pic.c
  sys/dev/gpio/pl061.c
  sys/dev/xilinx/xlnx_pcib.c
  sys/kern/subr_intr.c
  sys/riscv/riscv/aplic.c
  sys/riscv/riscv/plic.c
  sys/riscv/starfive/jh7110_pcie.c
  sys/sys/intr.h
Owners: @evadot, @zxombie

intrng: split isrc_alloc_irq()
  sys/kern/subr_intr.c
Owners: none

intrng: convert interrupt infrastructure to inline intr_event structures
  sys/arm/allwinner/aw_r_intc.c
  sys/arm/mv/mv_ap806_gicp.c
  sys/arm/mv/mv_cp110_icu.c
  sys/kern/pic_if.m
  sys/kern/subr_intr.c
  sys/sys/intr.h
Owners: @evadot

intrng: switch support to event interrupt interface, remove INTRNG handling
  sys/arm/allwinner/a10/a10_intc.c
  sys/arm/allwinner/aw_gpio.c
  sys/arm/allwinner/aw_nmi.c
  sys/arm/allwinner/aw_r_intc.c
  sys/arm/arm/gic.c
  sys/arm/broadcom/bcm2835/bcm2835_gpio.c
  sys/arm/broadcom/bcm2835/bcm2835_intr.c
  sys/arm/broadcom/bcm2835/bcm2836.c
  sys/arm/freescale/imx/imx_gpio.c
  sys/arm/mv/mpic.c
  sys/arm/mv/mv_ap806_gicp.c
  sys/arm/mv/mv_ap806_sei.c
  sys/arm/mv/mv_cp110_icu.c
  sys/arm/mv/mvebu_gpio.c
  sys/arm/nvidia/tegra_gpio.c
  sys/arm/nvidia/tegra_lic.c
  sys/arm/nvidia/tegra_pcie.c
  sys/arm/ti/aintc.c
  sys/arm/ti/ti_gpio.c
  sys/arm64/apple/apple_aic.c
  sys/arm64/arm64/gic_v3.c
  sys/arm64/arm64/gicv3_its.c
  sys/arm64/freescale/imx/imx7gpc.c
  sys/arm64/qoriq/qoriq_gpio_pic.c
  sys/dev/gpio/pl061.c
  sys/dev/xilinx/xlnx_pcib.c
  sys/kern/pic_if.m
  sys/kern/subr_intr.c
  sys/riscv/riscv/aplic.c
  sys/riscv/riscv/plic.c
  sys/riscv/starfive/jh7110_pcie.c
Owners: @evadot, @zxombie

intrng: remove architecture copy of PIC device
  sys/arm/allwinner/aw_r_intc.c
  sys/arm/mv/mv_ap806_gicp.c
  sys/arm/mv/mv_cp110_icu.c
  sys/kern/subr_intr.c
  sys/sys/intr.h
Owners: @evadot

intrng: purge ->isrc_name value
  sys/kern/subr_intr.c
  sys/sys/intr.h
Owners: none

intrng: purge ->isrc_irq value
  sys/arm/mv/mv_ap806_gicp.c
  sys/arm/mv/mv_ap806_sei.c
  sys/kern/subr_intr.c
  sys/sys/intr.h
Owners: none

intrng: invalidate ->isrc_index and ->isrc_count when releasing counters
  sys/kern/subr_intr.c
Owners: none

intrng: change isrc_free_irq()'s return to void
  sys/kern/subr_intr.c
Owners: none

intr/powerpc: introduce PIC base class
  sys/powerpc/include/interrupt.h
  sys/powerpc/mpc85xx/atpic.c
  sys/powerpc/mpc85xx/pci_mpc85xx.c
  sys/powerpc/powermac/hrowpic.c
  sys/powerpc/powernv/opal_pci.c
  sys/powerpc/powernv/xive.c
  sys/powerpc/powerpc/intr_machdep.c
  sys/powerpc/powerpc/openpic.c
  sys/powerpc/ps3/ps3pic.c
  sys/powerpc/pseries/vdevice.c
  sys/powerpc/pseries/xics.c
Owners: none

intr/powerpc: add IPI PIC device
  sys/powerpc/powerpc/intr_machdep.c
Owners: none

kern/intr: add function for querying presence of event handlers
  sys/kern/kern_intr.c
  sys/sys/interrupt.h
Owners: none

intr/powerpc: convert interrupt infrastructure to inline intr_event structures
  sys/powerpc/powerpc/intr_machdep.c
  sys/powerpc/powerpc/pic_if.m
Owners: none
