Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

cxgbe: Move the STAG and PBL memory pool arenas to the base driver
  sys/conf/files
  sys/dev/cxgbe/adapter.h
  sys/dev/cxgbe/iw_cxgbe/device.c
  sys/dev/cxgbe/iw_cxgbe/iw_cxgbe.h
  sys/dev/cxgbe/iw_cxgbe/mem.c
  sys/dev/cxgbe/iw_cxgbe/resource.c
  sys/dev/cxgbe/iw_cxgbe/t4.h
  sys/dev/cxgbe/t4_main.c
  sys/dev/cxgbe/t4_tpt.c
  sys/dev/cxgbe/tom/t4_tom.h
  sys/modules/cxgbe/if_cxgbe/Makefile
Owners: none

cxgbe: Refactor find_offload_adapter and move to t4_tom from cxgbei
  sys/dev/cxgbe/cxgbei/icl_cxgbei.c
  sys/dev/cxgbe/tom/t4_tom.c
  sys/dev/cxgbe/tom/t4_tom.h
Owners: none

cxgbe: Support for NIC KTLS transmit on T7 adapters.
  sys/conf/files
  sys/dev/cxgbe/adapter.h
  sys/dev/cxgbe/crypto/t7_kern_tls.c
  sys/dev/cxgbe/offload.h
  sys/dev/cxgbe/t4_main.c
  sys/dev/cxgbe/t4_sge.c
  sys/modules/cxgbe/if_cxgbe/Makefile
Owners: none

cxgbe: Move send_iscsi_flowc_wr to t4_tom.ko
  sys/dev/cxgbe/cxgbei/icl_cxgbei.c
  sys/dev/cxgbe/tom/t4_tom.c
  sys/dev/cxgbe/tom/t4_tom.h
Owners: none

cxgbe mp_ring: Add mp_ring_enqueue_only
  sys/dev/cxgbe/t4_mp_ring.c
  sys/dev/cxgbe/t4_mp_ring.h
Owners: none

cxgbe TOE TLS: Support for TLS 1.3 for transmit.
  sys/dev/cxgbe/tom/t4_tls.c
  sys/dev/cxgbe/tom/t4_tls.h
Owners: none

cxgbe: Support for TLS 1.3 in key contexts.
  sys/dev/cxgbe/crypto/t4_crypto.h
  sys/dev/cxgbe/crypto/t4_keyctx.c
Owners: none

cxgbe: Extend NIC TLS to support TLS 1.3.
  sys/dev/cxgbe/crypto/t7_kern_tls.c
Owners: none

cxgbe TOE TLS: Better support for partial records for T7.
  sys/dev/cxgbe/tom/t4_tls.c
Owners: none

cxgbe TOE TLS: Support for TLS 1.3 for receive
  sys/dev/cxgbe/tom/t4_tls.c
Owners: none

cxgbe: Permit multiple handlers for CPL6_FW_PLD
  sys/dev/cxgbe/adapter.h
  sys/dev/cxgbe/crypto/t4_crypto.c
  sys/dev/cxgbe/t4_sge.c
Owners: none

cxgbe: Use partial GCM mode for partial TLS records on T7
  sys/dev/cxgbe/adapter.h
  sys/dev/cxgbe/crypto/t7_kern_tls.c
  sys/dev/cxgbe/offload.h
  sys/dev/cxgbe/t4_main.c
  sys/dev/cxgbe/t4_sge.c
Owners: none

release: Fix NO_ROOT cross-building VM images
  release/Makefile
  release/Makefile.vm
  release/tools/vmimage.subr
Owners: none

release: Fix NO_ROOT cross-building VM images
  release/Makefile
  release/Makefile.vm
  release/tools/vmimage.subr
Owners: none

vmimage.subr: Fix NO_ROOT build in ..._rmcache
  release/tools/vmimage.subr
Owners: none

vmimage.subr: Fix NO_ROOT build in ..._rmcache
  release/tools/vmimage.subr
Owners: none

create-sets.sh: Add missing copyright header
  release/packages/create-sets.sh
Owners: none

create-sets.sh: Add missing copyright header
  release/packages/create-sets.sh
Owners: none

Makefile: Fix ordering for (update-)packages
  Makefile
Owners: none

Makefile: Fix ordering for (update-)packages
  Makefile
Owners: none

ddb show allchains: avoid traps and show pointers for lockmgr and sx
  sys/kern/kern_lock.c
  sys/kern/kern_sx.c
Owners: none

ddb show allchains: avoid traps and show pointers for lockmgr and sx
  sys/kern/kern_lock.c
  sys/kern/kern_sx.c
Owners: none

isa_common: allow multiple device instances
  sys/isa/isa_common.c
Owners: none

isa_common: allow multiple device instances
  sys/isa/isa_common.c
Owners: none

vmimage.subr: Support NO_ROOT pkgbase
  release/tools/vmimage.subr
Owners: none

vmimage.subr: Support NO_ROOT pkgbase
  release/tools/vmimage.subr
Owners: none

carp6: revise the generation of ND6 NA
  sys/netinet/ip_carp.c
  sys/netinet6/in6_src.c
  sys/netinet6/ip6_var.h
  sys/netinet6/nd6.h
  sys/netinet6/nd6_nbr.c
Owners: @glebius

carp6: revise the generation of ND6 NA
  sys/netinet/ip_carp.c
  sys/netinet6/in6_src.c
  sys/netinet6/ip6_var.h
  sys/netinet6/nd6.h
  sys/netinet6/nd6_nbr.c
Owners: @glebius

vtnet: disable hardware TCP LRO by default
  share/man/man4/vtnet.4
  sys/dev/virtio/network/if_vtnet.c
Owners: none

tcp: apply rate limits to challenge ACKs
  sys/netinet/tcp_syncache.c
  sys/netinet/tcp_syncache.h
Owners: none

vtnet: disable hardware TCP LRO by default
  share/man/man4/vtnet.4
  sys/dev/virtio/network/if_vtnet.c
Owners: none

tcp: apply rate limits to challenge ACKs
  sys/netinet/tcp_syncache.c
  sys/netinet/tcp_syncache.h
Owners: none

sys/netinet6: Use atomic(9) for dad_failures counter
  sys/netinet6/in6.c
  sys/netinet6/in6_ifattach.c
  sys/netinet6/in6_proto.c
  sys/netinet6/in6_var.h
  sys/netinet6/ip6_var.h
  sys/netinet6/nd6_nbr.c
  sys/netinet6/nd6_rtr.c
Owners: none

sys/netinet6: Use atomic(9) for dad_failures counter
  sys/netinet6/in6.c
  sys/netinet6/in6_ifattach.c
  sys/netinet6/in6_proto.c
  sys/netinet6/in6_var.h
  sys/netinet6/ip6_var.h
  sys/netinet6/nd6_nbr.c
  sys/netinet6/nd6_rtr.c
Owners: none

tests/ipfw: Update regression tests to match new 32-bit size rule numbers
  sbin/ipfw/tests/test_add_rule.py
  tests/atf_python/sys/netpfil/ipfw/insns.py
Owners: @ngie-eign

tests/ipfw: Update regression tests to match new 32-bit size rule numbers
  sbin/ipfw/tests/test_add_rule.py
  tests/atf_python/sys/netpfil/ipfw/insns.py
Owners: @ngie-eign

vmimage.subr: fix typo in checking NO_ROOT var
  release/tools/vmimage.subr
Owners: none

vmimage.subr: fix typo in checking NO_ROOT var
  release/tools/vmimage.subr
Owners: none

vmimage.subr: fix typo in checking NO_ROOT var
  release/tools/vmimage.subr
Owners: none

release: Consolidate pkgbase-repo dependency
  release/Makefile
Owners: none
