Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

if_ovpn: fill out sin_len/sin6_len
  sys/net/if_ovpn.c
Owners: none

if_ovpn tests: basic float test case
  tests/sys/net/if_ovpn/if_ovpn.sh
Owners: @ngie-eign

if_ovpn: support IPv6 link-local addresses
  sys/net/if_ovpn.c
  tests/sys/net/if_ovpn/if_ovpn.sh
Owners: @ngie-eign

if_ovpn: support floating clients
  sys/net/if_ovpn.c
  sys/net/if_ovpn.h
  sys/sys/mbuf.h
Owners: none

uart: Add ns8250 ACPI entry for SPCR rev 2
  sys/dev/uart/uart_dev_ns8250.c
Owners: none

uart: Add ns8250 ACPI entry for SPCR rev 2
  sys/dev/uart/uart_dev_ns8250.c
Owners: none

Modify nanobsd/defaults.sh to reduce buildsize, buildtime and increase imgsize to fit.
  tools/tools/nanobsd/defaults.sh
Owners: @bsdimp

Modify nanobsd/defaults.sh to reduce buildsize, buildtime and increase imgsize to fit.
  tools/tools/nanobsd/defaults.sh
Owners: @bsdimp

pathconf.2: Add an entry for _PC_CLONE_BLKSIZE
  lib/libsys/pathconf.2
Owners: none

pathconf.2: Add an entry for _PC_CLONE_BLKSIZE
  lib/libsys/pathconf.2
Owners: none

jemalloc: Add FreeBSD's updates to jemalloc_preamble.h.in
  contrib/jemalloc/include/jemalloc/internal/jemalloc_preamble.h.in
Owners: none

Add JEMALLOC_PRIVATE_NAMESPACE for the libc namespace stuff we do
  contrib/jemalloc/include/jemalloc/internal/jemalloc_internal_decls.h
  contrib/jemalloc/include/jemalloc/internal/jemalloc_preamble.h.in
Owners: none

jemalloc: Update jemalloc.xml.in per FreeBSD-diffs
  contrib/jemalloc/doc/jemalloc.xml.in
Owners: none

jemalloc: Only replace _pthread_mutex_init_calloc_cb when doing private namespace
  contrib/jemalloc/src/mutex.c
Owners: none

Add conflict/replacement with older SONAME libzfs and libzpool packages
  contrib/debian/control
Owners: none

tcp: fix sysctl name in the gone_in() printf
  sys/netinet/tcp_timewait.c
Owners: none

tcp: fix sysctl name in the gone_in() printf
  sys/netinet/tcp_timewait.c
Owners: none

tcp: add HTPS ktest stub
  sys/modules/ktest/Makefile
  sys/modules/ktest/ktest_tcphpts/Makefile
  sys/netinet/tcp_hpts_test.c
  sys/tests/ktest.h
  tests/atf_python/ktest.py
  tests/sys/netinet/Makefile
  tests/sys/netinet/tcp_hpts_test.py
Owners: @ngie-eign

systat: improve reporting of UDP statistics
  usr.bin/systat/ip.c
Owners: none

systat: improve reporting of UDP statistics
  usr.bin/systat/ip.c
Owners: none

tcp: extract testable hpts interface
  sys/netinet/tcp_hpts.c
  sys/netinet/tcp_hpts.h
  sys/netinet/tcp_hpts_internal.h
  sys/netinet/tcp_hpts_test.c
  sys/netinet/tcp_lro_hpts.c
  sys/tests/ktest.h
Owners: none

tcp: ensure SACK rxmit never ends up left of its hole
  sys/netinet/tcp_output.c
  sys/netinet/tcp_sack.c
Owners: none

nfsv4: Add support for the NFSv4.2 Clone operation
  sys/fs/nfs/nfs_commonkrpc.c
  sys/fs/nfs/nfs_commonsubs.c
  sys/fs/nfs/nfs_var.h
  sys/fs/nfs/nfsport.h
  sys/fs/nfs/nfsproto.h
  sys/fs/nfsclient/nfs_clcomsubs.c
  sys/fs/nfsclient/nfs_clport.c
  sys/fs/nfsclient/nfs_clrpcops.c
  sys/fs/nfsclient/nfs_clstate.c
  sys/fs/nfsclient/nfs_clvfsops.c
  sys/fs/nfsclient/nfs_clvnops.c
  sys/fs/nfsclient/nfsmount.h
  sys/fs/nfsserver/nfs_nfsdport.c
  sys/fs/nfsserver/nfs_nfsdserv.c
  sys/fs/nfsserver/nfs_nfsdsocket.c
  sys/fs/nfsserver/nfs_nfsdstate.c
Owners: none

nfsv4: Add support for the NFSv4.2 Clone operation
  sys/fs/nfs/nfs_commonkrpc.c
  sys/fs/nfs/nfs_commonsubs.c
  sys/fs/nfs/nfs_var.h
  sys/fs/nfs/nfsport.h
  sys/fs/nfs/nfsproto.h
  sys/fs/nfsclient/nfs_clcomsubs.c
  sys/fs/nfsclient/nfs_clport.c
  sys/fs/nfsclient/nfs_clrpcops.c
  sys/fs/nfsclient/nfs_clstate.c
  sys/fs/nfsclient/nfs_clvfsops.c
  sys/fs/nfsclient/nfs_clvnops.c
  sys/fs/nfsclient/nfsmount.h
  sys/fs/nfsserver/nfs_nfsdport.c
  sys/fs/nfsserver/nfs_nfsdserv.c
  sys/fs/nfsserver/nfs_nfsdsocket.c
  sys/fs/nfsserver/nfs_nfsdstate.c
Owners: none

UPDATING: Make an entry for de110991a63c
  UPDATING
Owners: none

UPDATING: Make an entry for cce64f2e6851
  UPDATING
Owners: none

Fix missed assertion update in physical rewrite patch
  module/zfs/dsl_deadlist.c
Owners: none

RELNOTES: Make an entry for de110991a63c
  RELNOTES
Owners: none

RELNOTES: Make an entry for cce64f2e6851
  RELNOTES
Owners: none

Fix missed assertion update in physical rewrite patch
  sys/contrib/openzfs/module/zfs/dsl_deadlist.c
Owners: none

Fix missed assertion update in physical rewrite patch
  sys/contrib/openzfs/module/zfs/dsl_deadlist.c
Owners: none

tests/ci: Add KYUA_TEST_FILTERS to allow user to select specific tests
  tests/ci/Makefile
  tests/ci/tools/ci.conf
  tests/ci/tools/freebsdci
Owners: @ngie-eign

tests/ci: Add KYUA_TEST_FILTERS to allow user to select specific tests
  tests/ci/Makefile
  tests/ci/tools/ci.conf
  tests/ci/tools/freebsdci
Owners: @ngie-eign

tests/ci: Fix unescaped kld_list var in rc.conf
  tests/ci/tools/ci.conf
Owners: @ngie-eign

tests/ci: Fix unescaped kld_list var in rc.conf
  tests/ci/tools/ci.conf
Owners: @ngie-eign

bhyve: Add CPUID_BHYVE_FEATURES leaf
  sys/amd64/vmm/x86.c
Owners: @bsdjhb, @grehan-freebsd

bhyve: Add CPUID_BHYVE_FEATURES leaf
  sys/amd64/vmm/x86.c
Owners: @bsdjhb, @grehan-freebsd

bhyve: Support and advertise 15-bit MSI Extended Destination ID
  sys/amd64/vmm/io/vioapic.c
  sys/amd64/vmm/vmm_lapic.c
  sys/amd64/vmm/x86.c
  sys/x86/include/apicreg.h
Owners: @bsdjhb, @grehan-freebsd

bhyve: Support and advertise 15-bit MSI Extended Destination ID
  sys/amd64/vmm/io/vioapic.c
  sys/amd64/vmm/vmm_lapic.c
  sys/amd64/vmm/x86.c
  sys/x86/include/apicreg.h
Owners: @bsdjhb, @grehan-freebsd

tests/ci: style: canonicalize, sort, and multiline kmods/pkgs
  tests/ci/tools/ci.conf
Owners: @ngie-eign

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
