Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

nfsuserd: Fix OOB access on membership of too many groups, take 2
  usr.sbin/nfsuserd/nfsuserd.c
Owners: none

initgroups.3: Clarify that ENOMEM is a possible value for 'errno'
  lib/libc/gen/initgroups.3
Owners: none

nfsuserd: Fix OOB access on membership of too many groups
  usr.sbin/nfsuserd/nfsuserd.c
Owners: none

MFC: Merge commit '1fdae2e33fdc751bc2ec74c81fcde14323e4e965'
  contrib/sendmail/src/newaliases.1
Owners: none

MFC: Merge commit '1fdae2e33fdc751bc2ec74c81fcde14323e4e965'
  contrib/sendmail/src/newaliases.1
Owners: none

MFC: Merge commit '1fdae2e33fdc751bc2ec74c81fcde14323e4e965'
  contrib/sendmail/src/newaliases.1
Owners: none

umass.4: Modernize driver loading instructions
  share/man/man4/umass.4
Owners: none

umass.4: Modernize driver loading instructions
  share/man/man4/umass.4
Owners: none

cli.lua.8: Reflow literal comments
  stand/lua/cli.lua.8
Owners: @kevans91

cli.lua.8: Reflow literal comments
  stand/lua/cli.lua.8
Owners: @kevans91

fs/nullfs/null.h: put first definition after headers include
  sys/fs/nullfs/null.h
Owners: none

fs/nullfs/null.h: put first definition after headers include
  sys/fs/nullfs/null.h
Owners: none

nullfs: add a helper for testing if vnode belongs to a nullfs mount
  sys/fs/nullfs/null.h
  sys/fs/nullfs/null_vfsops.c
  sys/fs/nullfs/null_vnops.c
Owners: none

nullfs: add a helper for testing if vnode belongs to a nullfs mount
  sys/fs/nullfs/null.h
  sys/fs/nullfs/null_vfsops.c
  sys/fs/nullfs/null_vnops.c
Owners: none

nullfs_mount: use symbols instead of string literals for cache mount options
  sys/fs/nullfs/null_vfsops.c
Owners: none

nullfs_mount: use symbols instead of string literals for cache mount options
  sys/fs/nullfs/null_vfsops.c
Owners: none

nullfs: add nounixbypass mount option
  sys/fs/nullfs/null.h
  sys/fs/nullfs/null_subr.c
  sys/fs/nullfs/null_vfsops.c
  sys/fs/nullfs/null_vnops.c
Owners: none

nullfs: add nounixbypass mount option
  sys/fs/nullfs/null.h
  sys/fs/nullfs/null_subr.c
  sys/fs/nullfs/null_vfsops.c
  sys/fs/nullfs/null_vnops.c
Owners: none

mount_nullfs.8: document unixbypass and nounixbypass
  sbin/mount_nullfs/mount_nullfs.8
Owners: none

mount_nullfs.8: document unixbypass and nounixbypass
  sbin/mount_nullfs/mount_nullfs.8
Owners: none

15.0: create releng/15.0 branch
  release/pkg_repos/release-dvd.conf
  sys/conf/newvers.sh
  sys/sys/param.h
Owners: none

Post-15.0-branch updates
  sys/conf/newvers.sh
  sys/sys/param.h
Owners: none

modules: Simplify some expressions
  sys/modules/ktest/ktest/Makefile
  sys/modules/ktest/ktest_example/Makefile
  sys/modules/netgraph/Makefile
  sys/modules/opensolaris/Makefile
  sys/modules/rtwn/Makefile
  sys/modules/rtwn_pci/Makefile
  sys/modules/rtwn_usb/Makefile
  sys/modules/sound/driver/Makefile
  sys/modules/sound/sound/Makefile
Owners: none

kern: Don't need bsd.own.mk
  sys/conf/dtb.build.mk
  sys/conf/kern.opts.mk
Owners: none

modules: Simplify some expressions
  sys/modules/ktest/ktest/Makefile
  sys/modules/ktest/ktest_example/Makefile
  sys/modules/netgraph/Makefile
  sys/modules/opensolaris/Makefile
  sys/modules/rtwn/Makefile
  sys/modules/rtwn_pci/Makefile
  sys/modules/rtwn_usb/Makefile
  sys/modules/sound/driver/Makefile
  sys/modules/sound/sound/Makefile
Owners: none

kern: Remove needless kern.opts.mk
  sys/modules/aic7xxx/ahc/Makefile
  sys/modules/cxgb/Makefile
  sys/modules/dpdk_lpm4/Makefile
  sys/modules/dpdk_lpm6/Makefile
  sys/modules/fib_dxr/Makefile
  sys/modules/if_enc/Makefile
  sys/modules/if_gif/Makefile
  sys/modules/if_gre/Makefile
  sys/modules/iser/Makefile
  sys/modules/ktest/Makefile
  sys/modules/ktest/ktest/Makefile
  sys/modules/ktest/ktest_netlink_message_writer/Makefile
  sys/modules/miiproxy/Makefile
  sys/modules/netgraph/checksum/Makefile
  sys/modules/netmap/Makefile
  sys/modules/ow/Makefile
  sys/modules/qlnx/Makefile
  sys/modules/tests/fib_lookup/Makefile
  sys/modules/vnic/Makefile
  sys/modules/vnic/mrmlbus/Makefile
  sys/modules/vnic/thunder_bgx/Makefile
  sys/modules/vnic/thunder_mdio/Makefile
  sys/modules/vnic/vnicpf/Makefile
  sys/modules/vnic/vnicvf/Makefile
Owners: none

kern: Don't need bsd.own.mk
  sys/conf/dtb.build.mk
  sys/conf/kern.opts.mk
Owners: none

kern: Remove needless kern.opts.mk
  sys/modules/aic7xxx/ahc/Makefile
  sys/modules/cxgb/Makefile
  sys/modules/dpdk_lpm4/Makefile
  sys/modules/dpdk_lpm6/Makefile
  sys/modules/fib_dxr/Makefile
  sys/modules/if_enc/Makefile
  sys/modules/if_gif/Makefile
  sys/modules/if_gre/Makefile
  sys/modules/iser/Makefile
  sys/modules/ktest/Makefile
  sys/modules/ktest/ktest/Makefile
  sys/modules/ktest/ktest_netlink_message_writer/Makefile
  sys/modules/miiproxy/Makefile
  sys/modules/netgraph/checksum/Makefile
  sys/modules/netmap/Makefile
  sys/modules/ow/Makefile
  sys/modules/qlnx/Makefile
  sys/modules/tests/fib_lookup/Makefile
  sys/modules/vnic/Makefile
  sys/modules/vnic/mrmlbus/Makefile
  sys/modules/vnic/thunder_bgx/Makefile
  sys/modules/vnic/thunder_mdio/Makefile
  sys/modules/vnic/vnicpf/Makefile
  sys/modules/vnic/vnicvf/Makefile
Owners: none

nvme: There's 64 LBAF descriptors, not 16
  sys/dev/nvme/nvme.h
Owners: @bsdimp

nvme: There's 64 LBAF descriptors, not 16
  sys/dev/nvme/nvme.h
Owners: @bsdimp

ncurses: Move to the minimal set
  release/packages/ucl/ncurses-all.ucl
Owners: none

Makefile: Force DISTDIR=/ for (update-)packages
  Makefile
Owners: none

libpkgecc: Remove -ffreestanding
  secure/lib/libpkgecc/Makefile
Owners: none

packages: Set dependency origin in generate-ucl.lua
  release/packages/generate-set-ucl.lua
  release/packages/generate-ucl.lua
  release/packages/set-template.ucl
  release/packages/sets/base-dbg.ucl
  release/packages/sets/base-jail-dbg.ucl
  release/packages/sets/base-jail.ucl
  release/packages/sets/base.ucl
  release/packages/sets/optional-dbg.ucl
  release/packages/sets/optional-jail-dbg.ucl
  release/packages/sets/optional-jail.ucl
  release/packages/sets/optional.ucl
  release/packages/ucl/at.ucl
  release/packages/ucl/bluetooth.ucl
  release/packages/ucl/bsdconfig.ucl
  release/packages/ucl/bsdinstall.ucl
  release/packages/ucl/caroot.ucl
  release/packages/ucl/certctl.ucl
  release/packages/ucl/clang.ucl
  release/packages/ucl/devd.ucl
  release/packages/ucl/newsyslog.ucl
  release/packages/ucl/periodic.ucl
  release/packages/ucl/rc.ucl
  release/packages/ucl/rcmds.ucl
  release/packages/ucl/sendmail.ucl
  release/packages/ucl/tests-all.ucl
  release/packages/ucl/yp.ucl
Owners: none

generate-ucl.lua: Add missing copyright header
  release/packages/generate-ucl.lua
Owners: none

BSD.root.dist: Add package tag for all directories
  etc/mtree/BSD.root.dist
Owners: none

bsd.confs.mk: Support CONFGROUPS.yes
  share/mk/bsd.confs.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

libexec/rc/rc.d/Makefile: Use CONFGROUPS.yes
  libexec/rc/rc.d/Makefile
Owners: none

generate-set-ucl.lua: Add missing copyright header
  release/packages/generate-set-ucl.lua
Owners: none

bsdinstall.8: Fix '---jail' option in manpage
  usr.sbin/bsdinstall/bsdinstall.8
Owners: none
