Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

bsdinstall: use the canonical name for compression
  usr.sbin/bsdinstall/bsdinstall.8
  usr.sbin/bsdinstall/scripts/zfsboot
Owners: none

ifconfig/ifbridge.c: add get_vlan_id()
  sbin/ifconfig/ifbridge.c
Owners: none

ifconfig: Support variable-argument commands
  sbin/ifconfig/ifconfig.c
  sbin/ifconfig/ifconfig.h
Owners: none

ifconfig: Support VLAN ID in static/deladdr
  sbin/ifconfig/ifbridge.c
  sbin/ifconfig/ifconfig.8
  tests/sys/net/if_bridge_test.sh
Owners: @ngie-eign

UPDATING: Document a pkgbase change
  UPDATING
Owners: none

Remove redundant PACKAGE for INTERNALLIB libraries
  lib/libifconfig/Makefile
  lib/libiscsiutil/Makefile
  lib/libnetbsd/Makefile
  lib/libnvmf/Makefile
  lib/libopenbsd/Makefile
  lib/libpfctl/Makefile
  lib/libpmcstat/Makefile
  lib/libsm/Makefile
  lib/libsmdb/Makefile
  lib/libsmutil/Makefile
  lib/libtelnet/Makefile
Owners: none

libelftc: Move to toolchain package
  lib/libelftc/Makefile
Owners: none

Remove redundant PACKAGE for INTERNALLIB libraries
  lib/libifconfig/Makefile
  lib/libiscsiutil/Makefile
  lib/libnetbsd/Makefile
  lib/libnvmf/Makefile
  lib/libopenbsd/Makefile
  lib/libpfctl/Makefile
  lib/libpmcstat/Makefile
  lib/libsm/Makefile
  lib/libsmdb/Makefile
  lib/libsmutil/Makefile
  lib/libtelnet/Makefile
Owners: none

libelftc: Move to toolchain package
  lib/libelftc/Makefile
Owners: none

packages: Improve handling of -lib packages
  UPDATING
  krb5/Makefile.inc
  krb5/include/Makefile
  krb5/include/Makefile.inc
  krb5/lib/Makefile.inc
  krb5/libexec/Makefile.inc
  krb5/usr.bin/Makefile.inc
  krb5/usr.sbin/gss-server/Makefile
  krb5/usr.sbin/sim_server/Makefile
  krb5/usr.sbin/sserver/Makefile
  krb5/util/Makefile.inc
  krb5/util/build-tools/Makefile
  krb5/util/compile_et/Makefile
  krb5/util/et/Makefile
  krb5/util/profile/Makefile
  krb5/util/ss/Makefile
  krb5/util/support/Makefile
  krb5/util/verto/Makefile
  lib/libcrypt/Makefile
  release/packages/generate-ucl.lua
  release/packages/generate-ucl.sh
  release/packages/ucl/kerberos-lib-all.ucl
  release/packages/ucl/openssl-lib-all.ucl
  secure/lib/libcrypto/Makefile
  secure/lib/libcrypto/Makefile.inc
  secure/lib/libcrypto/engines/Makefile.inc
  secure/lib/libcrypto/modules/Makefile.inc
  secure/lib/libssl/Makefile
  share/mk/bsd.lib.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

packages: Improve handling of -lib packages
  UPDATING
  krb5/Makefile.inc
  krb5/include/Makefile
  krb5/include/Makefile.inc
  krb5/lib/Makefile.inc
  krb5/libexec/Makefile.inc
  krb5/usr.bin/Makefile.inc
  krb5/usr.sbin/gss-server/Makefile
  krb5/usr.sbin/sim_server/Makefile
  krb5/usr.sbin/sserver/Makefile
  krb5/util/Makefile.inc
  krb5/util/build-tools/Makefile
  krb5/util/compile_et/Makefile
  krb5/util/et/Makefile
  krb5/util/profile/Makefile
  krb5/util/ss/Makefile
  krb5/util/support/Makefile
  krb5/util/verto/Makefile
  lib/libcrypt/Makefile
  release/packages/generate-ucl.lua
  release/packages/generate-ucl.sh
  release/packages/ucl/kerberos-lib-all.ucl
  release/packages/ucl/openssl-lib-all.ucl
  secure/lib/libcrypto/Makefile
  secure/lib/libcrypto/Makefile.inc
  secure/lib/libcrypto/engines/Makefile.inc
  secure/lib/libcrypto/modules/Makefile.inc
  secure/lib/libssl/Makefile
  share/mk/bsd.lib.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

hkbd: remove erorr detection in KDSKBSTATE ioctl
  sys/dev/hid/hkbd.c
Owners: none

hkbd: remove erorr detection in KDSKBSTATE ioctl
  sys/dev/hid/hkbd.c
Owners: none

sys/modules: fix standalone build for multiple modules
  sys/modules/e6000sw/Makefile
  sys/modules/etherswitch/Makefile
  sys/modules/evdev/Makefile
  sys/modules/gpio/gpioaei/Makefile
  sys/modules/gve/Makefile
  sys/modules/if_infiniband/Makefile
  sys/modules/if_vlan/Makefile
  sys/modules/linux64/Makefile
  sys/modules/md/Makefile
  sys/modules/miiproxy/Makefile
  sys/modules/mlx5/Makefile
  sys/modules/mlx5en/Makefile
  sys/modules/netgraph/ksocket/Makefile
  sys/modules/nvmf/nvmf/Makefile
  sys/modules/qlnx/qlnxev/Makefile
  sys/modules/uinput/Makefile
  sys/modules/usb/usie/Makefile
  sys/modules/usb/wmt/Makefile
Owners: none

sys/modules: fix standalone build for multiple modules
  sys/modules/e6000sw/Makefile
  sys/modules/etherswitch/Makefile
  sys/modules/evdev/Makefile
  sys/modules/gpio/gpioaei/Makefile
  sys/modules/gve/Makefile
  sys/modules/if_infiniband/Makefile
  sys/modules/if_vlan/Makefile
  sys/modules/linux64/Makefile
  sys/modules/md/Makefile
  sys/modules/miiproxy/Makefile
  sys/modules/mlx5/Makefile
  sys/modules/mlx5en/Makefile
  sys/modules/netgraph/ksocket/Makefile
  sys/modules/nvmf/nvmf/Makefile
  sys/modules/qlnx/qlnxev/Makefile
  sys/modules/uinput/Makefile
  sys/modules/usb/usie/Makefile
  sys/modules/usb/wmt/Makefile
Owners: none

hkbd: fix compliation error for GENERIC
  sys/dev/hid/hkbd.c
Owners: none

hkbd: fix compliation error for GENERIC
  sys/dev/hid/hkbd.c
Owners: none

lua: Import Lua 5.4.8
  Makefile
  README
  doc/contents.html
  doc/manual.html
  doc/readme.html
  src/lapi.c
  src/lcode.c
  src/ldebug.c
  src/ldo.c
  src/ldo.h
  src/lparser.c
  src/lstate.c
  src/lua.c
  src/lua.h
  src/lvm.c
Owners: none

netlink/route: Support modifying IFLA_ADDRESS with RTM_NEWLINK
  sys/netlink/route/iface.c
  sys/netlink/route/iface_drivers.c
  sys/netlink/route/route_var.h
Owners: none

netlink/route: Support modifying IFLA_ADDRESS with RTM_NEWLINK
  sys/netlink/route/iface.c
  sys/netlink/route/iface_drivers.c
  sys/netlink/route/route_var.h
Owners: none

nfsd: Avoid relocking vnode for NFSv4 Readdir
  sys/fs/nfs/nfs_commonsubs.c
  sys/fs/nfs/nfs_var.h
  sys/fs/nfsclient/nfs_clrpcops.c
  sys/fs/nfsclient/nfs_clstate.c
  sys/fs/nfsserver/nfs_nfsdport.c
  sys/fs/nfsserver/nfs_nfsdserv.c
Owners: none

nfscl: Fix GetACL so that it does not want a reply cached
  sys/fs/nfs/nfs_commonsubs.c
Owners: none

vfs_syscalls.c: Fix handling of offset args for copy_file_range
  sys/kern/vfs_syscalls.c
Owners: none

param.h: Bump __FreeBSD_version for 3f61ececacd8
  sys/sys/param.h
Owners: none

UPDATING: Add an entry for commit 3f61ececacd8
  UPDATING
Owners: none

ufs: st_rdev is only meaningful for special nodes
  sys/ufs/ufs/ufs_vnops.c
Owners: none

LinuxKPI: 802.11: announce netdev features under boot -v
  sys/compat/linuxkpi/common/src/linux_80211.c
Owners: none

LinuxKPI: 802.11: improve reg_query_regdb_wmm()
  sys/compat/linuxkpi/common/include/net/cfg80211.h
Owners: none

LinuxKPI: 802.11: add guards to lkpi_ic_ampdu_rx_{start,stop}
  sys/compat/linuxkpi/common/src/linux_80211.c
Owners: none

LinuxKPI: 802.11: improve reg_query_regdb_wmm()
  sys/compat/linuxkpi/common/include/net/cfg80211.h
Owners: none

linuxKPI: 802.11: assert wihpy lock in lkpi_80211_mo_start()
  sys/compat/linuxkpi/common/src/linux_80211.c
  sys/compat/linuxkpi/common/src/linux_80211_macops.c
Owners: none

LinuxKPI: 802.11: announce netdev features under boot -v
  sys/compat/linuxkpi/common/src/linux_80211.c
Owners: none

linuxKPI: 802.11: assert wihpy lock in lkpi_80211_mo_start()
  sys/compat/linuxkpi/common/src/linux_80211.c
  sys/compat/linuxkpi/common/src/linux_80211_macops.c
Owners: none

LinuxKPI: 802.11: add guards to lkpi_ic_ampdu_rx_{start,stop}
  sys/compat/linuxkpi/common/src/linux_80211.c
Owners: none

LinuxKPI: 802.11: assign values to WLAN_HT_CAP_SM_PS_*
  sys/compat/linuxkpi/common/include/linux/ieee80211.h
Owners: none

LinuxKPI: 802.11: assign values to WLAN_HT_CAP_SM_PS_*
  sys/compat/linuxkpi/common/include/linux/ieee80211.h
Owners: none

LinuxKPi: 802.11: adjust linuxkpi_set_ieee80211_dev() to set ic_name
  sys/compat/linuxkpi/common/include/net/mac80211.h
  sys/compat/linuxkpi/common/src/linux_80211.c
Owners: none

LinuxKPi: 802.11: adjust linuxkpi_set_ieee80211_dev() to set ic_name
  sys/compat/linuxkpi/common/include/net/mac80211.h
  sys/compat/linuxkpi/common/src/linux_80211.c
Owners: none

LinuxKPI: 802.11: correct struct linuxkpi_ieee80211_channel
  sys/compat/linuxkpi/common/include/net/cfg80211.h
Owners: none

LinuxKPI: 802.11: correct struct linuxkpi_ieee80211_channel
  sys/compat/linuxkpi/common/include/net/cfg80211.h
Owners: none
