Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

sys_swapon: reject too small devices
  sys/sys/exterr_cat.h
  sys/vm/swap_pager.c
Owners: none

makefs: clean up warnings
  usr.sbin/makefs/zfs/dsl.c
  usr.sbin/makefs/zfs/fs.c
  usr.sbin/makefs/zfs/objset.c
  usr.sbin/makefs/zfs/vdev.c
  usr.sbin/makefs/zfs/zap.c
Owners: none

makefs: clean up warnings
  usr.sbin/makefs/zfs/dsl.c
  usr.sbin/makefs/zfs/fs.c
  usr.sbin/makefs/zfs/objset.c
  usr.sbin/makefs/zfs/vdev.c
  usr.sbin/makefs/zfs/zap.c
Owners: none

makefs: zfs dataset mountpoints are considered non-empty
  usr.sbin/makefs/zfs/fs.c
Owners: none

makefs: zfs dataset mountpoints are considered non-empty
  usr.sbin/makefs/zfs/fs.c
Owners: none

Don't use wrong weight when passivating group
  module/zfs/metaslab.c
Owners: none

zpool/zfs: Add '-a|--all' option to scrub, trim, initialize
  cmd/zpool/zpool_main.c
  include/libzfs.h
  lib/libuutil/libuutil.abi
  lib/libzfs/libzfs.abi
  lib/libzfs/libzfs_pool.c
  lib/libzfs_core/libzfs_core.abi
  man/man8/zpool-initialize.8
  man/man8/zpool-scrub.8
  man/man8/zpool-trim.8
  tests/runfiles/common.run
  tests/zfs-tests/tests/Makefile.am
  tests/zfs-tests/tests/functional/cli_root/zpool_initialize/zpool_initialize_multiple_pools.ksh
  tests/zfs-tests/tests/functional/cli_root/zpool_scrub/zpool_scrub_001_neg.ksh
  tests/zfs-tests/tests/functional/cli_root/zpool_scrub/zpool_scrub_multiple_pools.ksh
  tests/zfs-tests/tests/functional/cli_root/zpool_trim/zpool_trim_multiple_pools.ksh
Owners: @ngie-eign

syslogd: Fix function return test in syslogd
  usr.sbin/syslogd/syslogd.c
Owners: none

rtlbtfw(8): Add support for firmware file format V2
  usr.sbin/bluetooth/rtlbtfw/main.c
  usr.sbin/bluetooth/rtlbtfw/rtlbt_fw.c
  usr.sbin/bluetooth/rtlbtfw/rtlbt_fw.h
  usr.sbin/bluetooth/rtlbtfw/rtlbt_hw.c
  usr.sbin/bluetooth/rtlbtfw/rtlbt_hw.h
Owners: none

rtlbtfw(8): Sync device VID/PID list with Linux 6.15-rc4
  sys/netgraph/bluetooth/drivers/ubt/ng_ubt_rtl.c
  usr.sbin/bluetooth/rtlbtfw/main.c
  usr.sbin/bluetooth/rtlbtfw/rtlbt_fw.c
  usr.sbin/bluetooth/rtlbtfw/rtlbt_fw.h
  usr.sbin/bluetooth/rtlbtfw/rtlbtfw.conf
Owners: none

Added identifiers for additional PS4 DualShock controller variants
  sys/dev/hid/ps4dshock.c
Owners: none

psm(4): Add kqueue support
  sys/dev/atkbdc/psm.c
Owners: none

file: Fix the !CAPABILITIES build
  sys/kern/kern_descrip.c
Owners: none

kern/kern_thread.c: fix typo in comment
  sys/kern/kern_thread.c
Owners: none

kern/kern_thread.c: fix typo in comment
  sys/kern/kern_thread.c
Owners: none

libthr: fix typo in comment
  lib/libthr/thread/thr_getthreadid_np.c
Owners: none

libthr: fix typo in comment
  lib/libthr/thread/thr_getthreadid_np.c
Owners: none

Faster checksum benchmark on system boot
  module/zfs/zfs_chksum.c
Owners: none

find: Put back clearing the NOSTAT bit
  usr.bin/find/function.c
Owners: none

find: Put back clearing the NOSTAT bit
  usr.bin/find/function.c
Owners: none

db/hash.c: Allow O_WRONLY in dbm_open
  lib/libc/db/hash/hash.c
  lib/libc/db/man/dbm.3
  lib/libc/db/man/dbopen.3
  lib/libc/tests/db/Makefile
  lib/libc/tests/db/dbm_open_test.c
  lib/libc/tests/db/dbm_perm_test.c
Owners: none

db/hash.c: Allow O_WRONLY in dbm_open
  lib/libc/db/hash/hash.c
  lib/libc/db/man/dbm.3
  lib/libc/db/man/dbopen.3
  lib/libc/tests/db/Makefile
  lib/libc/tests/db/dbm_open_test.c
  lib/libc/tests/db/dbm_perm_test.c
Owners: none

dtrace.1: Mention providers in SEE ALSO
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
Owners: none

dtrace_fbt.4: Document the DTrace fbt provider
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
  share/man/man4/Makefile
  share/man/man4/dtrace_fbt.4
  share/man/man4/dtrace_kinst.4
Owners: none

dtrace.1: Mention providers in SEE ALSO
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
Owners: none

dtrace_fbt.4: Document the DTrace fbt provider
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
  share/man/man4/Makefile
  share/man/man4/dtrace_fbt.4
Owners: none

rc: Use check_jail to check values of security.jail MIBs
  libexec/rc/rc
  libexec/rc/rc.d/hostname
  libexec/rc/rc.d/routing
  libexec/rc/rc.d/zfs
  libexec/rc/rc.d/zfsbe
  libexec/rc/rc.shutdown
  libexec/rc/rc.subr
Owners: none

rc: Use check_jail to check values of security.jail MIBs
  libexec/rc/rc
  libexec/rc/rc.d/hostname
  libexec/rc/rc.d/routing
  libexec/rc/rc.d/zfs
  libexec/rc/rc.d/zfsbe
  libexec/rc/rc.shutdown
  libexec/rc/rc.subr
Owners: none

lib: Move libopencsd to /usr/lib and make private
  ObsoleteFiles.inc
  lib/libopencsd/Makefile
  release/packages/ucl/libopencsd-all.ucl
Owners: none

lib: Move libopencsd to /usr/lib and make private
  ObsoleteFiles.inc
  lib/libopencsd/Makefile
  release/packages/ucl/libopencsd-all.ucl
Owners: none

arm64: Fix the sign in ID registers
  sys/arm64/arm64/identcpu.c
Owners: @zxombie

arm64: Fix the sign in ID registers
  sys/arm64/arm64/identcpu.c
Owners: @zxombie

arm64: Rename ID_AA64MMFR0_ECV_CNTHCTL
  sys/arm64/arm64/identcpu.c
  sys/arm64/include/armreg.h
Owners: @zxombie

arm64: Rename ID_AA64MMFR0_ECV_CNTHCTL
  sys/arm64/arm64/identcpu.c
  sys/arm64/include/armreg.h
Owners: @zxombie

arm64: Add CNTPOFF_EL2 op/CR values
  sys/arm64/include/hypervisor.h
Owners: @zxombie

arm64: Add CNTPOFF_EL2 op/CR values
  sys/arm64/include/hypervisor.h
Owners: @zxombie

ping: Remove unnecessary compiler flag
  sbin/ping/Makefile
Owners: none

ping: Remove unnecessary compiler flag
  sbin/ping/Makefile
Owners: none

recoverdisk(1): Change time variables to time_t to compile on i386
  sbin/recoverdisk/recoverdisk.c
Owners: none

recoverdisk(1): Change time variables to time_t to compile on i386
  sbin/recoverdisk/recoverdisk.c
Owners: none
