Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

openssl: link enough files for the legacy provider to actually load
  secure/lib/libcrypto/modules/legacy/Makefile
Owners: none

date(1): Improve manpage around '-I'
  bin/date/date.1
Owners: none

date(1): Improve manpage around '-I'
  bin/date/date.1
Owners: none

kern/sbuf: remove skipping of NUL characters from sbuf_putc_func()
  sys/kern/subr_sbuf.c
Owners: none

Merge commit 7a66a26658f4 from llvm git (by Fangrui Song):
  contrib/llvm-project/llvm/lib/ObjCopy/ELF/ELFObjcopy.cpp
Owners: @DimitryAndric

ng_parse: Add upper bound to avoid possible overflow
  sys/netgraph/ng_parse.c
Owners: none

ng_parse: Add upper bound to avoid possible overflow
  sys/netgraph/ng_parse.c
Owners: none

stand: Use calloc instead of malloc for initialization of filesystem devsw
  stand/common/disk.c
  stand/kboot/kboot/hostdisk.c
  stand/libofw/devicename.c
  stand/libsa/dev.c
  stand/libsa/zfs/zfs.c
  stand/uboot/devicename.c
Owners: @bsdimp

stand: Use calloc instead of malloc for initialization of filesystem devsw
  stand/common/disk.c
  stand/kboot/kboot/hostdisk.c
  stand/libofw/devicename.c
  stand/libsa/dev.c
  stand/libsa/zfs/zfs.c
  stand/uboot/devicename.c
Owners: @bsdimp

epair: add support for checksum offloading
  share/man/man4/epair.4
  sys/net/if_epair.c
Owners: none

epair: add support for checksum offloading
  share/man/man4/epair.4
  sys/net/if_epair.c
Owners: none

tcp: micro-optimize SYN-cookie expansion
  sys/netinet/tcp_syncache.c
Owners: none

tcp: micro-optimize SYN-cookie expansion
  sys/netinet/tcp_syncache.c
Owners: none

netstat: improve output for tcp stats
  usr.bin/netstat/inet.c
Owners: none

netstat: improve output for tcp stats
  usr.bin/netstat/inet.c
Owners: none

kern/intr: replace mutex with read-write lock
  sys/kern/kern_intr.c
Owners: none

kern/intr: add intr_event flag for multi-proc interrupts
  sys/kern/kern_intr.c
  sys/kern/subr_intr.c
  sys/sys/interrupt.h
Owners: none

kern/intr: add interrupt counters to intr_isrc
  sys/kern/kern_intr.c
  sys/sys/interrupt.h
Owners: none

kern/intr: add handling of multiprocessor interrupt counters
  sys/kern/kern_intr.c
  sys/sys/interrupt.h
Owners: none

kern/intr: add bus flag for multi-proc interrupts
  sys/dev/acpica/acpi_apei.c
  sys/kern/kern_intr.c
  sys/sys/bus.h
Owners: none

kern/intr: implement intrcnt/intrnames sysctl from event counters
  sys/kern/kern_intr.c
  sys/sys/interrupt.h
Owners: none

sys: move hw.intrnames/hw.intrcnt SYSCTL_PROC()s to architecture
  sys/kern/kern_intr.c
  sys/kern/subr_intr.c
  sys/powerpc/powerpc/intr_machdep.c
  sys/sys/interrupt.h
  sys/x86/x86/intr_machdep.c
Owners: none

intrng: move handling of hw.intrnames/hw.intrcnt to architecture
  sys/kern/subr_intr.c
Owners: none

intrng: switch to index var from table size vars
  sys/kern/subr_intr.c
Owners: none

intrng: remove normal interrupts from intrcnt/intrnames
  sys/kern/subr_intr.c
  sys/sys/intr.h
Owners: none

intrng: implement intrcnt/intrnames sysctl from event counters
  sys/kern/subr_intr.c
Owners: none

intrng: remove intrcnts from non-SMP builds
  sys/kern/subr_intr.c
Owners: none

intr/x86: move handling of hw.intrnames/hw.intrcnt to architecture
  sys/x86/x86/intr_machdep.c
Owners: none

intr/x86: switch to index vars from table size vars
  sys/x86/x86/intr_machdep.c
Owners: none

intr/x86: implement intrcnt/intrnames sysctl from event counters
  sys/x86/x86/intr_machdep.c
Owners: none

intr/x86: remove normal interrupts from intrcnt/intrnames
  sys/x86/include/intr_machdep.h
  sys/x86/isa/atpic.c
  sys/x86/x86/intr_machdep.c
Owners: none

intr/powerpc: move handling of hw.intrnames/hw.intrcnt to architecture
  sys/powerpc/powerpc/intr_machdep.c
Owners: none

intr/powerpc: switch to index var from table size vars
  sys/powerpc/powerpc/intr_machdep.c
Owners: none

intr/powerpc: implement intrcnt/intrnames sysctl from event counters
  sys/powerpc/powerpc/intr_machdep.c
Owners: none

intr/powerpc: remove normal interrupts from intrcnt/intrnames
  sys/powerpc/powerpc/intr_machdep.c
Owners: none

sys: remove old handling of hw.intrnames/hw.intrcnt from common
  sys/kern/kern_intr.c
  sys/kern/subr_intr.c
  sys/powerpc/powerpc/intr_machdep.c
  sys/sys/interrupt.h
  sys/x86/x86/intr_machdep.c
Owners: none

intrng: remove intrcnts from non-SMP builds
  sys/kern/subr_intr.c
Owners: none

kern/intr: enable stray counting for non-acknowledged interrupts
  sys/kern/kern_intr.c
Owners: none

kern/intr: enforce PPI interrupt for PPI requests
  sys/kern/kern_intr.c
Owners: none

sys/intr: remove questionable interrupt report
  sys/powerpc/powerpc/intr_machdep.c
  sys/x86/x86/intr_machdep.c
Owners: none
