Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

zpool: fix special vdev -v -o conflict
  cmd/zpool/zpool_main.c
Owners: none

iichid: The IICHID spec defines the response to the RESET command as two bytes of zeros.
  sys/dev/iicbus/iichid.c
Owners: none

UPDATING: Document FreeBSD-base pkg .conf shuffle
  UPDATING
Owners: none

release: Remove KDE from dvd1.iso
  release/scripts/pkg-stage.sh
Owners: none

release: Remove KDE from dvd1.iso
  release/scripts/pkg-stage.sh
Owners: none

release: Remove KDE from dvd1.iso
  release/scripts/pkg-stage.sh
Owners: none

sh: Fix job pointer invalidation with trapsasync
  bin/sh/jobs.c
  bin/sh/tests/execution/Makefile
  bin/sh/tests/execution/bg14.0
Owners: @jillest

sh: Fix job pointer invalidation with trapsasync
  bin/sh/jobs.c
  bin/sh/tests/execution/Makefile
  bin/sh/tests/execution/bg14.0
Owners: @jillest

nullfs lookup: cn_flags is 64bit
  sys/fs/nullfs/null_vnops.c
Owners: none

namei: Remove a now-unused variable
  sys/kern/vfs_cache.c
Owners: none

namei: Fix cn_flags width in various places
  sys/fs/cd9660/cd9660_lookup.c
  sys/fs/fuse/fuse_vnops.c
  sys/fs/smbfs/smbfs_vnops.c
  sys/fs/unionfs/union_vnops.c
  sys/kern/uipc_mqueue.c
  sys/kern/vfs_cache.c
Owners: @asomers

namei: Make stackable filesystems check harder for jail roots
  sys/fs/nullfs/null_vnops.c
  sys/fs/unionfs/union_vnops.c
  sys/kern/vfs_cache.c
  sys/kern/vfs_lookup.c
  sys/sys/namei.h
Owners: none

vfs: Don't clobber namei flags in vn_open_cred()
  sys/kern/vfs_vnops.c
Owners: none

src.conf: Add a MK_ZFS_TESTS knob
  share/mk/src.opts.mk
  tests/sys/cddl/Makefile
  tools/build/options/WITHOUT_ZFS_TESTS
Owners: @bsdimp, @bapt, @bdrewery, @emaste, @ngie-eign

vfs cache: Add NAMEILOOKUP to the whitelist of fastpath lookup flags
  sys/kern/vfs_cache.c
Owners: none

tests: Add a regression test for commit 7587f6d4840f8
  tests/sys/kern/Makefile
  tests/sys/kern/jail_lookup_root.c
Owners: @ngie-eign

UPDATING: Document FreeBSD-base pkg .conf shuffle
  UPDATING
Owners: none

iichid: The IICHID spec defines the response to the RESET command as two bytes of zeros.
  sys/dev/iicbus/iichid.c
Owners: none

zfs: update zfs_config.h and zfs_gitrev.h to zfs-2.4.0-rc4
  sys/contrib/openzfs/lib/libspl/include/sys/tunables.h
  sys/modules/zfs/zfs_config.h
  sys/modules/zfs/zfs_gitrev.h
Owners: none

zfs: fix aarch64 build after zfs-2.4.0-rc4
  sys/modules/zfs/Makefile
Owners: none

nvme: Fix backwards sense of error condition
  sys/dev/nvme/nvme_ctrlr.c
Owners: @bsdimp

nvme: Notify namespace changes better
  sys/dev/nvme/nvme.h
  sys/dev/nvme/nvme_ctrlr.c
  sys/dev/nvme/nvme_ns.c
Owners: @bsdimp

nvme: Refactor geom setting to function.
  sys/cam/nvme/nvme_da.c
Owners: none

nda: React to namespace change events
  sys/cam/nvme/nvme_da.c
  sys/cam/nvme/nvme_xpt.c
Owners: none

nvd: handle namespace changes
  sys/dev/nvd/nvd.c
Owners: @bsdimp

nvme_sim: signal namespace depature
  sys/dev/nvme/nvme_sim.c
Owners: @bsdimp

release: Remove KDE from dvd1.iso
  release/scripts/pkg-stage.sh
Owners: none

dpaa2: Setup interface caps on attach
  sys/dev/dpaa2/dpaa2_ni.c
Owners: none

dpaa2: Setup interface caps on attach
  sys/dev/dpaa2/dpaa2_ni.c
Owners: none

iflib: fix iflib_simple_transmit() when interface is down
  sys/net/iflib.c
Owners: none

iflib: fix iflib_simple_transmit() when interface is down
  sys/net/iflib.c
Owners: none

freebsd-update: Add some diagnositic information for a failure case
  usr.sbin/freebsd-update/freebsd-update.sh
Owners: none

nvme: include missing <sys/systm.h>
  sys/dev/nvme/nvme.h
Owners: @bsdimp

sys/conf/files: Add iwx driver
  sys/conf/files
Owners: none

Use install instead of cp to copy bootstrap tools
  Makefile.inc1
  tools/build/Makefile
Owners: @bsdimp

iwx.4: Follow the established style
  share/man/man4/iwx.4
Owners: none

iwx.4: Fix SYNOPSIS
  share/man/man4/iwx.4
Owners: none

NOTES: Add iwm and iwx
  sys/x86/conf/NOTES
Owners: none

Use install instead of cp to copy bootstrap tools
  Makefile.inc1
  tools/build/Makefile
Owners: @bsdimp

NOTES: Add iwm
  sys/x86/conf/NOTES
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
