Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

libpfctl: fix memory leak in pfctl_get_status()
  lib/libpfctl/libpfctl.c
Owners: none

diff3: Move to own package
  gnu/usr.bin/diff3/Makefile
  release/packages/ucl/diff3-all.ucl
Owners: none

diff3: Move to own package
  gnu/usr.bin/diff3/Makefile
  release/packages/ucl/diff3-all.ucl
Owners: none

sysctl.9: Fix grammar in *TUN descriptions
  share/man/man9/sysctl.9
Owners: none

sysctl.9: Fix grammar in *TUN descriptions
  share/man/man9/sysctl.9
Owners: none

sysctl.9: Fix grammar in *TUN descriptions
  share/man/man9/sysctl.9
Owners: none

pf: Add pfsync protocol for FreeBSD 15
  contrib/tcpdump/print-pfsync.c
  share/man/man4/pfsync.4
  sys/net/if_pfsync.h
  sys/net/pfvar.h
  sys/netpfil/pf/if_pfsync.c
  sys/netpfil/pf/pf_ioctl.c
  tests/sys/netpfil/pf/pfsync.sh
  usr.bin/netstat/if.c
Owners: @glebius, @ngie-eign

pf: Fix interface binding for af-to with route-to
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/nat64.sh
  tests/sys/netpfil/pf/src_track.sh
Owners: @glebius, @ngie-eign

pf: Always skip outbound filtering for inbound af-to rules
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/nat64.sh
Owners: @glebius, @ngie-eign

pf: Fix rule and state counters
  sys/net/pfvar.h
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/Makefile
  tests/sys/netpfil/pf/counters.sh
  tests/sys/netpfil/pf/nat64.sh
  tests/sys/netpfil/pf/utils.subr
Owners: @glebius, @ngie-eign

pf: Fix interface counters for af-to rules
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/counters.sh
Owners: @glebius, @ngie-eign

Revert "IfAPI: Added missing accessor for if_home_vnet"
  share/man/man9/ifnet.9
  sys/net/if.c
  sys/net/if_var.h
Owners: none

Revert "IfAPI: Added missing accessor for if_home_vnet"
  share/man/man9/ifnet.9
  sys/net/if.c
  sys/net/if_var.h
Owners: none

mktemp.1: Document TMPDIR in ENVIRONMENT
  usr.bin/mktemp/mktemp.1
Owners: none

mktemp.1: Document TMPDIR in ENVIRONMENT
  usr.bin/mktemp/mktemp.1
Owners: none

mktemp.1: Document TMPDIR in ENVIRONMENT
  usr.bin/mktemp/mktemp.1
Owners: none

mrsas.4: Cleaning
  share/man/man4/mrsas.4
Owners: none

docs: fix a few small typos (#17804)
  .github/ISSUE_TEMPLATE/feature_request.md
  contrib/intel_qat/readme.md
  etc/init.d/README.md
Owners: none

Makefile.inc1: Force NO_ROOT for distribute* and package*
  Makefile.inc1
Owners: none

Makefile.inc1: Force NO_ROOT for distribute* and package*
  Makefile.inc1
Owners: none

ddb show lockedvnods: avoid trap for ufs vnode under construction
  sys/ufs/ufs/ufs_vnops.c
Owners: none

ddb show lockedvnods: avoid trap for ufs vnode under construction
  sys/ufs/ufs/ufs_vnops.c
Owners: none

tcp: cleanup syncache_expand()
  sys/netinet/tcp_syncache.c
Owners: none

tcp: cleanup syncache_expand()
  sys/netinet/tcp_syncache.c
Owners: none

Fix display of default xattr to show 'sa'
  module/zcommon/zfs_prop.c
  tests/runfiles/common.run
  tests/runfiles/sanity.run
  tests/zfs-tests/tests/Makefile.am
  tests/zfs-tests/tests/functional/delegate/delegate_common.kshlib
  tests/zfs-tests/tests/functional/xattr/xattr_014_pos.ksh
Owners: @ngie-eign

zinject: Introduce ready delay fault injection
  cmd/zinject/zinject.c
  include/sys/zfs_ioctl.h
  include/sys/zio.h
  man/man8/zinject.8
  module/zfs/zio.c
  module/zfs/zio_inject.c
Owners: none

ip(4): fix description of struct ip_mreqn
  share/man/man4/ip.4
Owners: none

ip(4): fix description of struct ip_mreqn
  share/man/man4/ip.4
Owners: none

tests/netinet: rename and extend sendto-IP_MULTICAST_IF.c
  ObsoleteFiles.inc
  tests/sys/netinet/Makefile
  tests/sys/netinet/multicast-send.c
  tests/sys/netinet/multicast.sh
Owners: @ngie-eign

tests/netinet: rename and extend sendto-IP_MULTICAST_IF.c
  ObsoleteFiles.inc
  tests/sys/netinet/Makefile
  tests/sys/netinet/multicast-send.c
  tests/sys/netinet/multicast.sh
Owners: @ngie-eign

tests/netinet: extend IPv4 multicast testing framework
  tests/sys/netinet/Makefile
  tests/sys/netinet/multicast-receive.c
  tests/sys/netinet/multicast.sh
Owners: @ngie-eign

tests/netinet: extend IPv4 multicast testing framework
  tests/sys/netinet/Makefile
  tests/sys/netinet/multicast-receive.c
  tests/sys/netinet/multicast.sh
Owners: @ngie-eign

release: create pkgbase VM and cloud images
  release/Makefile
  release/Makefile.vm
  release/tools/ec2-builder.conf
  release/tools/ec2-small.conf
  release/tools/vmimage.subr
Owners: none

spa_config: Rename spa_config_enter_mmp() to spa_config_enter_priority()
  include/sys/spa.h
  module/zfs/mmp.c
  module/zfs/spa_misc.c
Owners: none

ddt prune: Add SCL_ZIO deadlock workaround
  module/zfs/zio.c
Owners: none

iflib: Implement tx desc reclaim threshold
  sys/net/iflib.c
  sys/net/iflib.h
Owners: none

iflib: Implement tx desc reclaim threshold
  sys/net/iflib.c
  sys/net/iflib.h
Owners: none

ucode: use wrmsr_early_safe() for early CPU microcode update
  sys/dev/cpuctl/cpuctl.c
  sys/x86/include/ucode.h
  sys/x86/x86/ucode.c
Owners: none

etc, ypserv: Fix symlink creation for pkgbase
  etc/Makefile
  usr.sbin/ypserv/Makefile
Owners: none

packages: Add a sound package
  UPDATING
  lib/libmixer/Makefile
  lib/libsamplerate/Makefile
  libexec/rc/rc.d/Makefile
  release/packages/ucl/sound-all.ucl
  sbin/devd/Makefile
  usr.bin/beep/Makefile
  usr.bin/mididump/Makefile
  usr.sbin/mixer/Makefile
  usr.sbin/sndctl/Makefile
  usr.sbin/virtual_oss/Makefile.inc
Owners: none
