Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

vt: refer to correct man section.
  sys/dev/drm2/drm_fb_helper.c
  sys/dev/vt/hw/vga/vt_vga.c
  sys/dev/vt/vt_core.c
Owners: @bsdimp

krb5: Add version maps
  krb5/lib/crypto/Makefile
  krb5/lib/crypto/version.map
  krb5/lib/gssapi/Makefile
  krb5/lib/gssapi/version.map
  krb5/lib/kadm5clnt/Makefile
  krb5/lib/kadm5clnt/version.map
  krb5/lib/kadm5srv/Makefile
  krb5/lib/kadm5srv/version.map
  krb5/lib/kdb/Makefile
  krb5/lib/kdb/version.map
  krb5/lib/krad/Makefile
  krb5/lib/krad/version.map
  krb5/lib/krb5/Makefile
  krb5/lib/krb5/version.map
  krb5/lib/rpc/Makefile
  krb5/lib/rpc/version.map
  krb5/plugins/audit/Makefile
  krb5/plugins/audit/version.map
  krb5/plugins/k5tls/Makefile
  krb5/plugins/k5tls/version.map
  krb5/plugins/kdb/db2/Makefile
  krb5/plugins/kdb/db2/version.map
  krb5/plugins/preauth/otp/Makefile
  krb5/plugins/preauth/otp/version.map
  krb5/plugins/preauth/pkinit/Makefile
  krb5/plugins/preauth/pkinit/version.map
  krb5/plugins/preauth/spake/Makefile
  krb5/plugins/preauth/spake/version.map
  krb5/plugins/preauth/test/Makefile
  krb5/plugins/preauth/test/version.map
Owners: none

krb5: Add version maps
  krb5/lib/crypto/Makefile
  krb5/lib/crypto/version.map
  krb5/lib/gssapi/Makefile
  krb5/lib/gssapi/version.map
  krb5/lib/kadm5clnt/Makefile
  krb5/lib/kadm5clnt/version.map
  krb5/lib/kadm5srv/Makefile
  krb5/lib/kadm5srv/version.map
  krb5/lib/kdb/Makefile
  krb5/lib/kdb/version.map
  krb5/lib/krad/Makefile
  krb5/lib/krad/version.map
  krb5/lib/krb5/Makefile
  krb5/lib/krb5/version.map
  krb5/lib/rpc/Makefile
  krb5/lib/rpc/version.map
  krb5/plugins/audit/Makefile
  krb5/plugins/audit/version.map
  krb5/plugins/k5tls/Makefile
  krb5/plugins/k5tls/version.map
  krb5/plugins/kdb/db2/Makefile
  krb5/plugins/kdb/db2/version.map
  krb5/plugins/preauth/otp/Makefile
  krb5/plugins/preauth/otp/version.map
  krb5/plugins/preauth/pkinit/Makefile
  krb5/plugins/preauth/pkinit/version.map
  krb5/plugins/preauth/spake/Makefile
  krb5/plugins/preauth/spake/version.map
  krb5/plugins/preauth/test/Makefile
  krb5/plugins/preauth/test/version.map
Owners: none

sys: Correct osreldate descriptions
  sys/kern/kern_mib.c
Owners: none

linuxkpi: Remove incorrect + 1 from HWEIGHT* macros
  sys/compat/linuxkpi/common/include/linux/bitops.h
Owners: none

RELNOTES: Add ufshci(4)
  RELNOTES
Owners: none

RELNOTES: Add ufshci(4)
  RELNOTES
Owners: none

release: Don't install caroot in OCI images.
  release/tools/oci-image-static.conf
Owners: none

release: Don't install caroot in OCI images.
  release/tools/oci-image-static.conf
Owners: none

KRB5: Add util version maps
  krb5/util/et/Makefile
  krb5/util/et/version.map
  krb5/util/profile/Makefile
  krb5/util/profile/version.map
  krb5/util/support/Makefile
  krb5/util/support/version.map
  krb5/util/verto/Makefile
  krb5/util/verto/libverto.exports
  krb5/util/verto/version.map
Owners: none

KRB5: Add util version maps
  krb5/util/et/Makefile
  krb5/util/et/version.map
  krb5/util/profile/Makefile
  krb5/util/profile/version.map
  krb5/util/support/Makefile
  krb5/util/support/version.map
  krb5/util/verto/Makefile
  krb5/util/verto/libverto.exports
  krb5/util/verto/version.map
Owners: none

krb5: Correct version maps
  krb5/lib/gssapi/version.map
  krb5/lib/krb5/version.map
  krb5/lib/rpc/version.map
Owners: none

krb5: Correct version maps
  krb5/lib/gssapi/version.map
  krb5/lib/krb5/version.map
  krb5/lib/rpc/version.map
Owners: none

Synchronize recoverdisk(1) with the datamuseum.dk version.
  sbin/recoverdisk/recoverdisk.1
  sbin/recoverdisk/recoverdisk.c
Owners: none

Synchronize recoverdisk(1) with the datamuseum.dk version.
  sbin/recoverdisk/recoverdisk.1
  sbin/recoverdisk/recoverdisk.c
Owners: none

efitable.8: Nits
  usr.sbin/efitable/efitable.8
Owners: none

efitable.8: Nits
  usr.sbin/efitable/efitable.8
Owners: none

capsicum.4: Add some more detail from the Capsicum paper
  share/man/man4/capsicum.4
Owners: none

capsicum.4: Add capsicum_helpers and libcasper references
  share/man/man4/capsicum.4
Owners: none

add uncompressed_size to arc_summary
  cmd/arc_summary
Owners: none

linux/kmem: remove PF_FSTRANS and PF_MEMALLOC_NOIO compat
  include/os/linux/spl/sys/kmem.h
  include/sys/zfs_context.h
  lib/libzpool/kernel.c
  module/os/linux/zfs/zfs_file_os.c
Owners: none

linux/kmem: remove long-obsolete __GFP compat flags
  include/os/linux/spl/sys/kmem.h
  module/os/linux/zfs/abd_os.c
Owners: none

linux/kmem: remove HAVE_ATOMIC64_T and kmem_alloc_used wrappers
  include/os/linux/spl/sys/kmem.h
  module/os/linux/spl/spl-kmem.c
  module/os/linux/spl/spl-proc.c
Owners: none

spa_activity_check: narrow scope of MMP vars
  module/zfs/spa.c
Owners: none

test/draid: fix error return
  tests/zfs-tests/cmd/draid.c
Owners: @ngie-eign

vdev_raidz: asize/psize: remove unnecessary var initialisation
  module/zfs/vdev_raidz.c
Owners: none

everywhere: misc unnecessary var init/update
  cmd/zdb/zdb.c
  cmd/zed/zed_event.c
  cmd/zfs/zfs_main.c
  cmd/zpool/zpool_iter.c
  cmd/zpool/zpool_main.c
  cmd/zpool/zpool_vdev.c
  cmd/ztest.c
  lib/libspl/include/umem.h
  lib/libzfs/libzfs_crypto.c
  lib/libzfs/libzfs_pool.c
  lib/libzpool/kernel.c
  module/zfs/zap.c
  module/zfs/zio.c
  module/zstd/zfs_zstd.c
  tests/zfs-tests/cmd/idmap_util.c
  tests/zfs-tests/cmd/mktree.c
  tests/zfs-tests/cmd/mmapwrite.c
Owners: @ngie-eign

fusefs: report that all tests require the fusefs kernel module
  tests/sys/fs/fusefs/Makefile
Owners: @asomers

fusefs: report that all tests require the fusefs kernel module
  tests/sys/fs/fusefs/Makefile
Owners: @asomers

ctl: delete dead code in the tests
  tests/sys/cam/ctl/ctl.subr
Owners: @ngie-eign

ctl: delete dead code in the tests
  tests/sys/cam/ctl/ctl.subr
Owners: @ngie-eign

ice.4: Update loader tunables section
  share/man/man4/ice.4
Owners: none

Add some of the DDP section from the OOT driver man page
  share/man/man4/ice.4
Owners: none

Add references to iavf and irdma from OOT man page
  share/man/man4/ice.4
Owners: none

ice.4: Update Additional Utilities section
  share/man/man4/ice.4
Owners: none

Import more DDP troubleshooting information
  share/man/man4/ice.4
Owners: none

ice.4: Add up to the Firmware Logging section from the OOT man page
  share/man/man4/ice.4
Owners: none

ice.4: Add some QoS section documentation from OOT man page
  share/man/man4/ice.4
Owners: none

ice.4: Add RDMA and RDMA mirroring sections from OOT
  share/man/man4/ice.4
Owners: none

ice.4: Copy in iovctl section from ixl.4
  share/man/man4/ice.4
Owners: none
