Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

BSD.root.dist: Add package tag for all directories
  etc/mtree/BSD.root.dist
Owners: none

bsd.confs.mk: Support CONFGROUPS.yes
  share/mk/bsd.confs.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

bsd.confs.mk: Support CONFGROUPS.yes
  share/mk/bsd.confs.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

libexec/rc/rc.d/Makefile: Use CONFGROUPS.yes
  libexec/rc/rc.d/Makefile
Owners: none

libexec/rc/rc.d/Makefile: Use CONFGROUPS.yes
  libexec/rc/rc.d/Makefile
Owners: none

generate-set-ucl.lua: Add missing copyright header
  release/packages/generate-set-ucl.lua
Owners: none

generate-set-ucl.lua: Add missing copyright header
  release/packages/generate-set-ucl.lua
Owners: none

lib/libfetch: Add fetchXReqHTTP(3)
  lib/libfetch/Makefile
  lib/libfetch/common.h
  lib/libfetch/fetch.3
  lib/libfetch/fetch.h
  lib/libfetch/http.c
Owners: @dag-erling

usr.bin/fetch: Add options for HTTP upload data
  usr.bin/fetch/fetch.1
  usr.bin/fetch/fetch.c
Owners: @dag-erling

usr.bin/fetch: Handle custom headers and method for HTTP
  usr.bin/fetch/fetch.1
  usr.bin/fetch/fetch.c
Owners: @dag-erling

zfs: install missing openzfs-2.4 files in /usr/share/zfs/compatibility.d
  cddl/share/zfs/compatibility.d/Makefile
Owners: none

zfs: Use the correct type for raidz_outlier_check_interval_ms
  sys/contrib/openzfs/module/zfs/vdev_raidz.c
Owners: none

bsdinstall.8: Fix '---jail' option in manpage
  usr.sbin/bsdinstall/bsdinstall.8
Owners: none

bsdinstall.8: Fix '---jail' option in manpage
  usr.sbin/bsdinstall/bsdinstall.8
Owners: none

arch.7: deprecate __ILP32__ and __LP64__ macros
  share/man/man7/arch.7
Owners: none

arch.7: deprecate __ILP32__ and __LP64__ macros
  share/man/man7/arch.7
Owners: none

arch.7: decouple long and pointer sizes
  share/man/man7/arch.7
Owners: none

arch.7: decouple long and pointer sizes
  share/man/man7/arch.7
Owners: none

arch.7: Add CHERI architectures
  share/man/man7/arch.7
Owners: none

arch.7: Add CHERI architectures
  share/man/man7/arch.7
Owners: none

rcorder: Fix grammar in warning about loops
  sbin/rcorder/rcorder.c
Owners: none

rcorder: Fix grammar in warning about loops
  sbin/rcorder/rcorder.c
Owners: none

nvme: Tweak completion timeout loop
  sys/dev/nvme/nvme_private.h
Owners: @bsdimp

nvme: Tweak completion timeout loop
  sys/dev/nvme/nvme_private.h
Owners: @bsdimp

tail: Tweak follow_rename test case
  usr.bin/tail/tests/tail_test.sh
Owners: none

ln: Simplify sameness checks
  bin/ln/tests/ln_test.sh
Owners: none

cp: Simplify sameness checks
  bin/cp/tests/cp_test.sh
Owners: none

rcorder: Fix grammar in warning about loops
  sbin/rcorder/rcorder.c
Owners: none

pw: pw_mkdb(3) does not set errno
  usr.sbin/pw/pwupd.c
Owners: none

pw: pw_mkdb(3) does not set errno
  usr.sbin/pw/pwupd.c
Owners: none

tools/build: Bring in stdckdint.h if needed
  tools/build/Makefile
Owners: @bsdimp

tools/build: Bring in stdckdint.h if needed
  tools/build/Makefile
Owners: @bsdimp

cross-build: Define __GNUC_PREREQ__ in cdefs.h
  tools/build/cross-build/include/common/sys/cdefs.h
Owners: @bsdimp

cross-build: Define __GNUC_PREREQ__ in cdefs.h
  tools/build/cross-build/include/common/sys/cdefs.h
Owners: @bsdimp

rc: Update dependencies for zpool scripts
  libexec/rc/rc.d/zpoolreguid
  libexec/rc/rc.d/zpoolupgrade
Owners: none

rc: Update dependencies for zpool scripts
  libexec/rc/rc.d/zpoolreguid
  libexec/rc/rc.d/zpoolupgrade
Owners: none

rc tests: Add a test to check for warnings from rcorder
  libexec/rc/tests/rc_subr_test.sh
Owners: none

rc tests: Add a test to check for warnings from rcorder
  libexec/rc/tests/rc_subr_test.sh
Owners: none

libsamplerate: Define as PRIVATELIB
  etc/mtree/BSD.usr.dist
  lib/libsamplerate/Makefile
  share/mk/src.libnames.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

FreeBSD: Correct _PC_MIN_HOLE_SIZE
  module/os/freebsd/zfs/zfs_ctldir.c
  module/os/freebsd/zfs/zfs_vnops_os.c
Owners: none
