Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

efidev: add support for memory attribute
  sys/dev/efidev/efirt.c
  sys/modules/efirt/Makefile
  sys/sys/efi.h
  usr.sbin/efitable/efitable.8
  usr.sbin/efitable/efitable.c
Owners: none

release: make symlink creation for src.tgz more robust
  release/Makefile
Owners: none

release: make symlink creation for src.tgz more robust
  release/Makefile
Owners: none

bsdinstall: wlanconfig: properly format regdomain dialog input
  usr.sbin/bsdinstall/scripts/wlanconfig
Owners: none

bsdinstall: wlanconfig: ensure the interface is always up for scanning
  usr.sbin/bsdinstall/scripts/wlanconfig
Owners: none

reboot(8): add support for noshutdown
  sbin/reboot/reboot.8
  sbin/reboot/reboot.c
Owners: none

reboot(8): add support for noshutdown
  sbin/reboot/reboot.8
  sbin/reboot/reboot.c
Owners: none

devd(8): correct error logging
  sbin/devd/devd.cc
Owners: none

devd(8): correct error logging
  sbin/devd/devd.cc
Owners: none

devd.conf(5): call hyperv_vfattach in a Hyper-V guest only
  sbin/devd/hyperv.conf
Owners: none

devd.conf(5): call hyperv_vfattach in a Hyper-V guest only
  sbin/devd/hyperv.conf
Owners: none

tests/ci: Fix missing qemu devices
  tests/ci/Makefile
Owners: @ngie-eign

tests/ci: Fix missing qemu devices
  tests/ci/Makefile
Owners: @ngie-eign

tests/ci: Indent Makefile properly
  tests/ci/Makefile
Owners: @ngie-eign

tests/ci: Indent Makefile properly
  tests/ci/Makefile
Owners: @ngie-eign

share/examples/oci: Run 'pkg update' with IGNORE_OSVERSION set
  share/examples/oci/Containerfile.pkg
Owners: none

share/examples/oci: Run 'pkg update' with IGNORE_OSVERSION set
  share/examples/oci/Containerfile.pkg
Owners: none

extend description of net.inet.ip.fw.one_pass
  sys/netpfil/ipfw/ip_fw2.c
Owners: none

extend description of net.inet.ip.fw.one_pass
  sys/netpfil/ipfw/ip_fw2.c
Owners: none

amd64 pmap: only link as many DMAP pml4 page tables as was allocated
  sys/amd64/amd64/pmap.c
Owners: none

amd64 pmap: only link as many DMAP pml4 page tables as was allocated
  sys/amd64/amd64/pmap.c
Owners: none

amd64 K*SAN: add kva_layout members for K*SAN maps
  sys/amd64/amd64/pmap.c
  sys/amd64/include/pmap.h
  sys/amd64/include/vmparam.h
Owners: none

amd64 K*SAN: add kva_layout members for K*SAN maps
  sys/amd64/amd64/pmap.c
  sys/amd64/include/pmap.h
  sys/amd64/include/vmparam.h
Owners: none

amd64 pmap: add kva_layout.kva_max
  sys/amd64/amd64/pmap.c
  sys/amd64/include/pmap.h
Owners: none

amd64 pmap: add kva_layout.kva_max
  sys/amd64/amd64/pmap.c
  sys/amd64/include/pmap.h
Owners: none

amd64 sysctl_kmaps_check(): add pml5e arg
  sys/amd64/amd64/pmap.c
Owners: none

amd64 sysctl_kmaps_check(): add pml5e arg
  sys/amd64/amd64/pmap.c
Owners: none

amd64 vm.pmap.kernel_maps: provide canonical address switch for la57
  sys/amd64/amd64/pmap.c
Owners: none

amd64 vm.pmap.kernel_maps: provide canonical address switch for la57
  sys/amd64/amd64/pmap.c
Owners: none

amd64 sysctl vm.pmap.kernel_maps: rework
  sys/amd64/amd64/pmap.c
Owners: none

amd64 sysctl vm.pmap.kernel_maps: rework
  sys/amd64/amd64/pmap.c
Owners: none

mgb: Fix mac tx disable bug in teardown
  sys/dev/mgb/if_mgb.c
Owners: none

vt: refer to correct man section.
  sys/dev/drm2/drm_fb_helper.c
  sys/dev/vt/hw/vga/vt_vga.c
  sys/dev/vt/vt_core.c
Owners: @bsdimp

aw_mmc: changes for Allwinner D1
  sys/arm/allwinner/aw_mmc.c
Owners: @evadot

aw_mmc: changes for Allwinner D1
  sys/arm/allwinner/aw_mmc.c
Owners: @evadot

riscv: enable aw_mmc driver
  sys/riscv/allwinner/files.allwinner
  sys/riscv/conf/std.allwinner
Owners: none

riscv: enable aw_mmc driver
  sys/riscv/allwinner/files.allwinner
  sys/riscv/conf/std.allwinner
Owners: none

memchr.3: mention the len argument in the functions description
  lib/libc/string/memchr.3
Owners: none

memchr.3: mention the len argument in the functions description
  lib/libc/string/memchr.3
Owners: none

vt: refer to correct man section.
  sys/dev/drm2/drm_fb_helper.c
  sys/dev/vt/hw/vga/vt_vga.c
  sys/dev/vt/vt_core.c
Owners: @bsdimp

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
