Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

sound: Rename midi_cdevsw name to "midi"
  sys/dev/sound/midi/midi.c
Owners: none

sound: Improve snd_midi->{in,out}q allocation
  sys/dev/sound/midi/midi.c
Owners: none

sound: Take device type into account in sndstat
  sys/dev/sound/pcm/sound.c
  sys/dev/sound/sndstat.c
  sys/dev/sound/sndstat.h
Owners: none

sound: Get rid of unused midi/midi.c defines
  sys/dev/sound/midi/midi.c
Owners: none

sound: Retire mpu_callbackp()
  sys/dev/sound/midi/midi.c
  sys/dev/sound/midi/mpu401.c
  sys/dev/sound/midi/mpu_if.m
Owners: none

sound: Move sndstat out of pcm/
  sys/dev/sound/pcm/sound.c
  sys/dev/sound/pcm/sound.h
  sys/dev/sound/sndstat.c
  sys/dev/sound/sndstat.h
  sys/modules/sound/sound/Makefile
Owners: none

sound: Do not check for NULL before free()
  sys/dev/sound/dummy.c
  sys/dev/sound/fdt/audio_soc.c
  sys/dev/sound/midi/midi.c
  sys/dev/sound/pci/cmi.c
  sys/dev/sound/pci/envy24.c
  sys/dev/sound/pci/envy24ht.c
  sys/dev/sound/pci/es137x.c
  sys/dev/sound/pci/hdsp-pcm.c
  sys/dev/sound/pci/hdspe-pcm.c
  sys/dev/sound/pci/via8233.c
  sys/dev/sound/pci/via82c686.c
  sys/dev/sound/pcm/buffer.c
  sys/dev/sound/pcm/dsp.c
  sys/dev/sound/pcm/feeder_eq.c
  sys/dev/sound/pcm/feeder_format.c
  sys/dev/sound/pcm/feeder_matrix.c
  sys/dev/sound/pcm/feeder_mixer.c
  sys/dev/sound/pcm/feeder_rate.c
  sys/dev/sound/pcm/feeder_volume.c
  sys/dev/sound/usb/uaudio.c
Owners: none

sound: Retire MIDIQ_DEBUG
  sys/dev/sound/midi/midiq.h
Owners: none

sound: Make mpu_if definitions static
  sys/dev/sound/midi/mpu401.c
Owners: none

sound: Merge chn_intr() with chn_intr_locked()
  sys/dev/sound/pcm/channel.c
  sys/dev/sound/pcm/channel.h
Owners: none

sound: Get rid of unused MIDIQ macros
  sys/dev/sound/midi/midiq.h
Owners: none

sound: Retire unused snd_midi->name
  sys/dev/sound/midi/midi.c
Owners: none

sound: Allocate mpu401 with M_WAITOK
  sys/dev/sound/midi/mpu401.c
Owners: none

sys/conf/files: Fix sndstat path
  sys/conf/files
Owners: none

snd_uaudio: Do not use pcm_channel->lock to protect uaudio_chan
  sys/dev/sound/usb/uaudio.c
Owners: none

fusefs: support FUSE_IOCTL
  sys/fs/fuse/fuse_internal.c
  sys/fs/fuse/fuse_ipc.c
  sys/fs/fuse/fuse_vnops.c
  tests/sys/fs/fusefs/Makefile
  tests/sys/fs/fusefs/ioctl.cc
  tests/sys/fs/fusefs/mockfs.cc
  tests/sys/fs/fusefs/mockfs.hh
Owners: @asomers

fusefs: support FUSE_IOCTL
  sys/fs/fuse/fuse_internal.c
  sys/fs/fuse/fuse_ipc.c
  sys/fs/fuse/fuse_vnops.c
  tests/sys/fs/fusefs/Makefile
  tests/sys/fs/fusefs/ioctl.cc
  tests/sys/fs/fusefs/mockfs.cc
  tests/sys/fs/fusefs/mockfs.hh
Owners: @asomers

pcpu: fix padding on amd64 and aarch64
  sys/amd64/include/pcpu.h
  sys/arm64/include/pcpu.h
Owners: @zxombie

pcpu_aux: refine error message and add more checks
  sys/amd64/include/pcpu_aux.h
  sys/arm/include/pcpu_aux.h
  sys/arm64/include/pcpu_aux.h
  sys/powerpc/include/pcpu_aux.h
  sys/riscv/include/pcpu_aux.h
Owners: @zxombie

vm_object.h: tweak OBJ_ONEMAPPING comment even more
  sys/vm/vm_object.h
Owners: none

Comments: FreeBSD.conf should not be overwritten
  usr.sbin/pkg/FreeBSD.conf.latest
  usr.sbin/pkg/FreeBSD.conf.quarterly
  usr.sbin/pkg/FreeBSD.conf.quarterly-release
Owners: none

Comments: FreeBSD.conf should not be overwritten
  usr.sbin/pkg/FreeBSD.conf.latest
  usr.sbin/pkg/FreeBSD.conf.quarterly
  usr.sbin/pkg/FreeBSD.conf.quarterly-release
Owners: none

vm/vm_object.h: clarify the OBJ_ONEMAPPING semantic
  sys/vm/vm_object.h
Owners: none

vm_object.h: tweak OBJ_ONEMAPPING comment even more
  sys/vm/vm_object.h
Owners: none

rge: Add to amd64 GENERIC and to sys/conf/NOTES
  sys/amd64/conf/GENERIC
  sys/conf/NOTES
Owners: none

rge: Add to amd64 GENERIC and to sys/conf/NOTES
  sys/amd64/conf/GENERIC
  sys/conf/NOTES
Owners: none

release: remove i386
  release/i386/i386.conf
  release/i386/make-memstick.sh
  release/i386/mkisoimages.sh
Owners: none

Makefile*: remove i386
  Makefile
  Makefile.inc1
  sbin/Makefile.i386
  sys/conf/Makefile.i386
  usr.bin/Makefile.i386
  usr.sbin/Makefile.i386
Owners: none

nvmecontrol: apply libxo to logpage command
  sbin/nvmecontrol/Makefile
  sbin/nvmecontrol/logpage.c
Owners: @bsdimp

nvmecontrol: apply libxo to wdc.c module
  sbin/nvmecontrol/modules/wdc/wdc.c
Owners: @bsdimp

nvmecontrol: apply libxo passthru.c module
  sbin/nvmecontrol/passthru.c
Owners: @bsdimp

nvmecontrol: apply libxo to devlist command
  sbin/nvmecontrol/devlist.c
Owners: @bsdimp

ophgo: import new .dts
  sys/contrib/device-tree/include/dt-bindings/clock/cv181x-clock.h
  sys/contrib/device-tree/include/dt-bindings/dma/cv181x-dmamap.h
  sys/contrib/device-tree/include/dt-bindings/reset/cv181x-resets.h
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_asic_bga.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_asic_emmc.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_asic_qfn.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_asic_sd.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_asic_spinand.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_asic_spinor.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_base.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_base_arm.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_base_riscv.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_default_memmap.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/sg2000_milkv_duos_glibc_arm64_emmc.dts
  sys/contrib/device-tree/src/riscv/sophgo/sg2000_milkv_duos_glibc_arm64_sd.dts
  sys/contrib/device-tree/src/riscv/sophgo/sg2000_milkv_duos_musl_riscv64_emmc.dts
  sys/contrib/device-tree/src/riscv/sophgo/sg2000_milkv_duos_musl_riscv64_sd.dts
  sys/contrib/device-tree/src/riscv/sophgo/sg2000_wevb_arm64_sd.dts
  sys/contrib/device-tree/src/riscv/sophgo/sg2000_wevb_riscv64_sd.dts
  sys/modules/dtb/sophgo/Makefile
  sys/riscv/conf/GENERIC
  sys/riscv/conf/std.sophgo
  sys/riscv/sophgo/files.sophgo
Owners: none

Remove all code under __SPE__
  lib/msun/powerpc/fenv.c
  lib/msun/powerpc/fenv.h
  libexec/rtld-elf/powerpc/rtld_start.S
  sys/powerpc/booke/booke_machdep.c
  sys/powerpc/booke/trap_subr.S
  sys/powerpc/include/ieeefp.h
  sys/powerpc/powerpc/exec_machdep.c
  sys/powerpc/powerpc/fpu.c
  sys/powerpc/powerpc/ptrace_machdep.c
  sys/powerpc/powerpc/swtch32.S
  sys/powerpc/powerpc/trap.c
  usr.bin/gcore/elfcore.c
Owners: none

truss: add support for decoding Netlink messages
  lib/libsysdecode/Makefile
  lib/libsysdecode/netlink.c
  lib/libsysdecode/sysdecode.h
  usr.bin/truss/syscalls.c
Owners: none

bsdinstall: Create separate datasets for directories in /usr/ports
  usr.sbin/bsdinstall/scripts/zfsboot
Owners: none

cddl: remove sparc and mips code
  sys/cddl/compat/opensolaris/sys/cpuvar_defs.h
  sys/cddl/contrib/opensolaris/uts/common/dtrace/fasttrap.c
  sys/cddl/contrib/opensolaris/uts/common/sys/dtrace.h
  sys/cddl/contrib/opensolaris/uts/common/sys/dtrace_impl.h
  sys/cddl/contrib/opensolaris/uts/common/sys/isa_defs.h
Owners: none

bsdinstall: Create separate datasets for directories in /usr/ports
  usr.sbin/bsdinstall/scripts/zfsboot
Owners: none

cddl: remove sparc and mips code
  sys/cddl/compat/opensolaris/sys/cpuvar_defs.h
  sys/cddl/contrib/opensolaris/uts/common/dtrace/fasttrap.c
  sys/cddl/contrib/opensolaris/uts/common/sys/dtrace.h
  sys/cddl/contrib/opensolaris/uts/common/sys/dtrace_impl.h
  sys/cddl/contrib/opensolaris/uts/common/sys/isa_defs.h
Owners: none

ophgo: import new .dts
  sys/contrib/device-tree/include/dt-bindings/clock/cv181x-clock.h
  sys/contrib/device-tree/include/dt-bindings/dma/cv181x-dmamap.h
  sys/contrib/device-tree/include/dt-bindings/reset/cv181x-resets.h
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_asic_bga.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_asic_emmc.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_asic_qfn.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_asic_sd.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_asic_spinand.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_asic_spinor.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_base.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_base_arm.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_base_riscv.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/cv181x_default_memmap.dtsi
  sys/contrib/device-tree/src/riscv/sophgo/sg2000_milkv_duos_glibc_arm64_emmc.dts
  sys/contrib/device-tree/src/riscv/sophgo/sg2000_milkv_duos_glibc_arm64_sd.dts
  sys/contrib/device-tree/src/riscv/sophgo/sg2000_milkv_duos_musl_riscv64_emmc.dts
  sys/contrib/device-tree/src/riscv/sophgo/sg2000_milkv_duos_musl_riscv64_sd.dts
  sys/contrib/device-tree/src/riscv/sophgo/sg2000_wevb_arm64_sd.dts
  sys/contrib/device-tree/src/riscv/sophgo/sg2000_wevb_riscv64_sd.dts
  sys/modules/dtb/sophgo/Makefile
  sys/riscv/conf/GENERIC
  sys/riscv/conf/std.sophgo
  sys/riscv/sophgo/files.sophgo
Owners: none
