Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

LinuxKPI: pci: implementation of [lkpi_]pci_get_slot()
  sys/compat/linuxkpi/common/include/linux/pci.h
  sys/compat/linuxkpi/common/src/linux_pci.c
  sys/dev/bnxt/bnxt_en/if_bnxt.c
Owners: none

vtnet: improve control of transmit offloading
  sys/dev/virtio/network/if_vtnet.c
Owners: none

UPDATING: bump __FreeBSD_version for drm-kmod/nvidia-drm vs. LinuxKPI
  UPDATING
  sys/sys/param.h
Owners: none

rc.d: Fix ftpd flags
  libexec/rc/rc.d/ftpd
Owners: none

ftpd: blocklist: Add an extra probe
  libexec/ftpd/ftpd.c
Owners: none

ftpd: blocklist: Add a permission denied probe
  libexec/ftpd/ftpd.c
Owners: none

openssh: blocklist: Use NetBSD probes
  crypto/openssh/auth-pam.c
  crypto/openssh/auth.c
  crypto/openssh/auth2.c
  crypto/openssh/monitor.c
  crypto/openssh/packet.c
  crypto/openssh/sshd-session.c
Owners: @dag-erling

ftpd: blocklist: Add an extra probe
  libexec/ftpd/ftpd.c
Owners: none

ftpd: blocklist: Add a permission denied probe
  libexec/ftpd/ftpd.c
Owners: none

ftpd: blocklist: Add an extra probe
  libexec/ftpd/ftpd.c
Owners: none

ftpd: blocklist: Add a permission denied probe
  libexec/ftpd/ftpd.c
Owners: none

rpc_generic.c: Fix a rpcbind core dump when rpcinfo is done
  lib/libc/rpc/rpc_generic.c
Owners: none

witness: Record the first acquired file and line for recursable locks
  sys/kern/subr_witness.c
Owners: none

witness: Record the first acquired file and line for recursable locks
  sys/kern/subr_witness.c
Owners: none

ath: fix ath_buf leak if ath_tx_tag_crypto() returns an error
  sys/dev/ath/if_ath_tx.c
Owners: none

ath: fix ath_buf leak if ath_tx_tag_crypto() returns an error
  sys/dev/ath/if_ath_tx.c
Owners: none

mlx5 ipsec: Add VLAN tag to IPSec rules to prevent duplicates
  sys/dev/mlx5/mlx5_accel/mlx5_ipsec_fs.c
Owners: none

libc: properly forward the compat syscall references to libsys
  lib/libc/gen/gen-compat.h
Owners: none

libsys: drop private exports no longer needed
  lib/libsys/Symbol.map
Owners: none

libc: un-namespace gen-compat.h
  lib/libc/gen/fts-compat.c
  lib/libc/gen/fts-compat11.c
Owners: none

amd64: add wrmsr_early_safe(9)
  sys/amd64/amd64/machdep.c
  sys/amd64/amd64/support.S
  sys/amd64/include/md_var.h
Owners: none

amd64: add wrmsr_early_safe(9)
  sys/amd64/amd64/machdep.c
  sys/amd64/amd64/support.S
  sys/amd64/include/md_var.h
Owners: none

lib/libfetch: Add fetchXReqHTTP(3)
  lib/libfetch/Makefile
  lib/libfetch/common.h
  lib/libfetch/fetch.3
  lib/libfetch/fetch.h
  lib/libfetch/http.c
Owners: @dag-erling

usr.bin/fetch: Handle custom headers and method for HTTP
  usr.bin/fetch/fetch.1
  usr.bin/fetch/fetch.c
Owners: @dag-erling

usr.bin/fetch: Add options for HTTP upload data
  usr.bin/fetch/fetch.1
  usr.bin/fetch/fetch.c
Owners: @dag-erling

trim.8: update the manual with references to zpool-trim and fsck_ffs -E
  usr.sbin/trim/trim.8
Owners: none

trim.8: update the manual with references to zpool-trim and fsck_ffs -E
  usr.sbin/trim/trim.8
Owners: none

zfs: retire zfs_zstd_compress_wrap
  sys/contrib/openzfs/module/zstd/zfs_zstd.c
Owners: none

zfs: retire zfs_zstd_compress_wrap
  sys/contrib/openzfs/module/zstd/zfs_zstd.c
Owners: none

vtnet: improve control of transmit offloading
  sys/dev/virtio/network/if_vtnet.c
Owners: none

watchdog: ifdef wd_ioctl_patpat on COMPAT_FREEBSD14
  sys/dev/watchdog/watchdog.c
Owners: none

watchdog: ifdef wd_ioctl_patpat on COMPAT_FREEBSD14
  sys/dev/watchdog/watchdog.c
Owners: none

devd: Remove SND package
  sbin/devd/Makefile
Owners: none

devd: Remove SND package
  sbin/devd/Makefile
Owners: none

ng_tty: don't increment m_data
  sys/netgraph/ng_tty.c
Owners: none

ng_tty: copy to the correct mbuf
  sys/netgraph/ng_tty.c
Owners: none

rk_gpio: Fix register read/write on rk3568
  sys/arm64/rockchip/rk_gpio.c
Owners: @evadot

ng_tty: don't increment m_data
  sys/netgraph/ng_tty.c
Owners: none

ng_tty: copy to the correct mbuf
  sys/netgraph/ng_tty.c
Owners: none

gpioc: allocate priv->events with the correct size
  sys/dev/gpio/gpioc.c
Owners: none
