Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

tools: remove comment for powerpc and powerpcspe
  tools/boot/full-test.sh
Owners: none

sys: remove powerpc and powerpcspe macros
  sys/powerpc/include/param.h
Owners: none

sys: remove obsolete files
  sys/cddl/compat/opensolaris/kern/opensolaris_atomic.c
  sys/dev/hwpmc/hwpmc_e500.c
  sys/dev/hwpmc/hwpmc_mpc7xxx.c
  sys/dev/ofw/ofw_standard.c
  sys/dev/quicc/quicc_bfe_fdt.c
  sys/dev/sec/sec.c
  sys/dev/sec/sec.h
  sys/dev/usb/controller/ehci_fsl.c
  sys/kern/subr_atomic64.c
  sys/libkern/cmpdi2.c
  sys/powerpc/aim/mmu_oea.c
  sys/powerpc/amigaone/cpld_a1222.c
  sys/powerpc/booke/machdep_e500.c
  sys/powerpc/booke/spe.c
  sys/powerpc/cpufreq/mpc85xx_jog.c
  sys/powerpc/mikrotik/platform_rb.c
  sys/powerpc/mikrotik/rb_led.c
  sys/powerpc/mpc85xx/atpic.c
  sys/powerpc/mpc85xx/ds1553_bus_fdt.c
  sys/powerpc/mpc85xx/ds1553_core.c
  sys/powerpc/mpc85xx/ds1553_reg.h
  sys/powerpc/mpc85xx/fsl_diu.c
  sys/powerpc/mpc85xx/fsl_espi.c
  sys/powerpc/mpc85xx/fsl_sata.c
  sys/powerpc/mpc85xx/fsl_sata.h
  sys/powerpc/mpc85xx/i2c.c
  sys/powerpc/mpc85xx/isa.c
  sys/powerpc/mpc85xx/lbc.c
  sys/powerpc/mpc85xx/lbc.h
  sys/powerpc/mpc85xx/mpc85xx.c
  sys/powerpc/mpc85xx/mpc85xx.h
  sys/powerpc/mpc85xx/mpc85xx_cache.c
  sys/powerpc/mpc85xx/mpc85xx_gpio.c
  sys/powerpc/mpc85xx/pci_mpc85xx.c
  sys/powerpc/mpc85xx/pci_mpc85xx_pcib.c
  sys/powerpc/mpc85xx/platform_mpc85xx.c
  sys/powerpc/ofw/ofwcall32.S
Owners: none

dtrace: remove sparc tests
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/arrays/tst.uregsarray.d
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/pid/err.D_PROC_ALIGN.misaligned.d
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/pid/err.D_PROC_ALIGN.misaligned.exe
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/pid/tst.br.d
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/pid/tst.br.d.out
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/pid/tst.br.s
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/pid/tst.branch.d
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/pid/tst.branch.s
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/pid/tst.embedded.d
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/pid/tst.embedded.s
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/usdt/tst.tailcall.ksh
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/ustack/annotated_helper.d
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/ustack/helper_helper.d
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/ustack/tst.annotated.c
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/ustack/tst.annotated.d
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/ustack/tst.annotated.d.out
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/ustack/tst.circstack.d
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/ustack/tst.circstack.s
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/ustack/tst.helper.c
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/ustack/tst.helper.d
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/ustack/tst.helper.d.out
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/sparc/ustack/tst.trapstat.ksh
Owners: none

libdtrace: remove sparc code
  cddl/contrib/opensolaris/lib/libdtrace/sparc/dt_isadep.c
  cddl/contrib/opensolaris/lib/libdtrace/sparc/regs.d
Owners: none

pf: handle divert packets
  sys/netpfil/pf/pf.c
Owners: @glebius

simd.7: add scalar strrchr() for RISC-V to manpage
  lib/libc/riscv/string/strrchr.S
  share/man/man7/simd.7
Owners: none

libc: scalar memset() in RISC-V assembly
  lib/libc/riscv/string/Makefile.inc
  lib/libc/riscv/string/memset.S
Owners: none

libc: scalar memchr() in RISC-V assembly
  lib/libc/riscv/string/Makefile.inc
  lib/libc/riscv/string/memchr.S
Owners: none

simd.7: add scalar memset() for RISC-V to manpage
  share/man/man7/simd.7
Owners: none

libc: scalar strlen() in RISC-V assembly
  lib/libc/riscv/string/Makefile.inc
  lib/libc/riscv/string/strlen.S
Owners: none

simd.7: add scalar strlen() for RISC-V to manpage
  share/man/man7/simd.7
Owners: none

libc: scalar strrchr() in RISC-V assembly
  lib/libc/riscv/string/Makefile.inc
  lib/libc/riscv/string/strrchr.S
Owners: none

simd.7: add scalar memchr() for RISC-V to manpage
  share/man/man7/simd.7
Owners: none

libc: scalar memcpy() in RISC-V assembly
  lib/libc/riscv/string/Makefile.inc
  lib/libc/riscv/string/memcpy.S
Owners: none

depend-cleanup.sh: clean up after riscv64 enhanced string function patch set
  tools/build/depend-cleanup.sh
Owners: @bsdimp

libc: scalar strnlen() in RISC-V assembly
  lib/libc/riscv/string/Makefile.inc
  lib/libc/riscv/string/strnlen.S
Owners: none

simd.7: add scalar strchrnul() for RISC-V to manpage
  share/man/man7/simd.7
Owners: none

simd.7: document bcopy() and bzero() as accelerated on riscv64
  share/man/man7/simd.7
Owners: none

simd.7: add scalar strnlen() for RISC-V to manpage
  share/man/man7/simd.7
Owners: none

simd.7: add scalar memcpy() for RISC-V to manpage
  share/man/man7/simd.7
Owners: none

libc/riscv64: implement bcopy() and bzero() through memcpy() and memset()
  lib/libc/riscv/string/Makefile.inc
  lib/libc/riscv/string/bcopy.c
  lib/libc/riscv/string/bzero.c
Owners: none

libc: scalar strchrnul() in RISC-V assembly
  lib/libc/riscv/string/Makefile.inc
  lib/libc/riscv/string/strchrnul.S
Owners: none

pf: handle divert packets
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/divert-to.sh
Owners: @glebius, @ngie-eign

pf: handle divert packets
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/divert-to.sh
Owners: @glebius, @ngie-eign

sys/_types.h: Actually unbreak gcc build
  sys/sys/_types.h
Owners: none

sys/_types.h: Actually unbreak gcc build
  sys/sys/_types.h
Owners: none

aq(4): Port to IfAPI
  sys/dev/aq/aq_main.c
  sys/dev/aq/aq_media.c
  sys/dev/aq/aq_ring.c
Owners: none

aq(4): Remove unused DRIVER_MODULE devclass
  sys/dev/aq/aq_main.c
Owners: none

aq(4): Remove #include of user header <unistd.h>
  sys/dev/aq/aq_hw.c
Owners: none

aq(4): Remove unused DRIVER_MODULE devclass
  sys/dev/aq/aq_main.c
Owners: none

aq(4): Remove #include of user header <unistd.h>
  sys/dev/aq/aq_hw.c
Owners: none

aq(4): Port to IfAPI
  sys/dev/aq/aq_main.c
  sys/dev/aq/aq_media.c
  sys/dev/aq/aq_ring.c
Owners: none

sys: Import snapshot of Aquantia ACQ107 vendor driver
  sys/dev/aq/aq_common.h
  sys/dev/aq/aq_dbg.c
  sys/dev/aq/aq_dbg.h
  sys/dev/aq/aq_device.h
  sys/dev/aq/aq_fw.c
  sys/dev/aq/aq_fw.h
  sys/dev/aq/aq_fw1x.c
  sys/dev/aq/aq_fw2x.c
  sys/dev/aq/aq_hw.c
  sys/dev/aq/aq_hw.h
  sys/dev/aq/aq_hw_llh.c
  sys/dev/aq/aq_hw_llh.h
  sys/dev/aq/aq_hw_llh_internal.h
  sys/dev/aq/aq_irq.c
  sys/dev/aq/aq_main.c
  sys/dev/aq/aq_media.c
  sys/dev/aq/aq_ring.c
  sys/dev/aq/aq_ring.h
Owners: none

sys: Import snapshot of Aquantia ACQ107 vendor driver
  sys/dev/aq/aq_common.h
  sys/dev/aq/aq_dbg.c
  sys/dev/aq/aq_dbg.h
  sys/dev/aq/aq_device.h
  sys/dev/aq/aq_fw.c
  sys/dev/aq/aq_fw.h
  sys/dev/aq/aq_fw1x.c
  sys/dev/aq/aq_fw2x.c
  sys/dev/aq/aq_hw.c
  sys/dev/aq/aq_hw.h
  sys/dev/aq/aq_hw_llh.c
  sys/dev/aq/aq_hw_llh.h
  sys/dev/aq/aq_hw_llh_internal.h
  sys/dev/aq/aq_irq.c
  sys/dev/aq/aq_main.c
  sys/dev/aq/aq_media.c
  sys/dev/aq/aq_ring.c
  sys/dev/aq/aq_ring.h
Owners: none

aq(4): Remove unimplemented functions
  sys/dev/aq/aq_main.c
Owners: none

aq(4): Remove unimplemented functions
  sys/dev/aq/aq_main.c
Owners: none

aq(4): Fix VLAN tag test
  sys/dev/aq/aq_ring.c
Owners: none

aq(4): Fix VLAN tag test
  sys/dev/aq/aq_ring.c
Owners: none

opensolaris: remove references to sparc
  cddl/contrib/opensolaris/cmd/dtrace/test/cmd/jdtrace/exception.lst
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/common/safety/tst.vahole.d
  cddl/contrib/opensolaris/cmd/dtrace/test/tst/common/usdt/prov.h
  cddl/contrib/opensolaris/lib/libdtrace/common/dt_open.c
  cddl/contrib/opensolaris/lib/libdtrace/common/dt_program.c
  cddl/contrib/opensolaris/tools/ctf/cvt/dwarf.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
