Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

LinuxKPI: pci: fix argument type to linuxkpi_pci_iomap[_range]
  sys/compat/linuxkpi/common/include/linux/pci.h
  sys/compat/linuxkpi/common/src/linux_pci.c
Owners: none

LinuxKPI: pci: use unsigned int for vendor/device arguments
  sys/compat/linuxkpi/common/include/linux/pci.h
  sys/compat/linuxkpi/common/src/linux_pci.c
Owners: none

LinuxKPI: pci: use unsigned int for vendor/device arguments
  sys/compat/linuxkpi/common/include/linux/pci.h
  sys/compat/linuxkpi/common/src/linux_pci.c
Owners: none

release: No newaliases when cross-building VMs
  release/tools/vmimage.subr
Owners: none

release: No newaliases when cross-building VMs
  release/tools/vmimage.subr
Owners: none

bsd.man.mk: Support manual pages with colons in the filename
  share/mk/bsd.man.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

libutil++: New library containing C++ utility classes for use in base
  contrib/mandoc/lib.in
  lib/Makefile
  lib/libutil++/Makefile
  lib/libutil++/freebsd::FILE_up.3
  lib/libutil++/freebsd::malloc_up.3
  lib/libutil++/freebsd::stringf.3
  lib/libutil++/libutil++.hh
  lib/libutil++/stringf.cc
  lib/libutil++/tests/Makefile
  lib/libutil++/tests/stringf_test.cc
  lib/libutil++/tests/up_test.cc
  share/mk/src.libnames.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

ctld: Switch to the C++ bindings for libucl
  usr.sbin/ctld/Makefile
  usr.sbin/ctld/uclparse.cc
Owners: none

ctld: Convert struct auth_portal to a C++ class
  usr.sbin/ctld/ctld.cc
  usr.sbin/ctld/ctld.hh
Owners: none

ctld: Convert struct auth to a C++ class
  usr.sbin/ctld/ctld.cc
  usr.sbin/ctld/ctld.hh
  usr.sbin/ctld/discovery.cc
  usr.sbin/ctld/login.cc
Owners: none

ctld: Replace the auth_name linked list with an unordered_set<>
  usr.sbin/ctld/ctld.cc
  usr.sbin/ctld/ctld.hh
Owners: none

libucl: Add a ucl::Ucl::forced_string_value method
  contrib/libucl/include/ucl++.h
Owners: none

ctld: Factor out a function for adding a private auth_group for a target
  usr.sbin/ctld/conf.cc
Owners: none

ctld: Rename {ctld,isns}.h to {ctld,isns}.hh
  usr.sbin/ctld/conf.cc
  usr.sbin/ctld/ctld.cc
  usr.sbin/ctld/ctld.hh
  usr.sbin/ctld/discovery.cc
  usr.sbin/ctld/isns.cc
  usr.sbin/ctld/isns.hh
  usr.sbin/ctld/kernel.cc
  usr.sbin/ctld/login.cc
  usr.sbin/ctld/uclparse.cc
Owners: none

ctld: Use scoped guards to finish configuration scopes in the UCL parser
  usr.sbin/ctld/uclparse.cc
Owners: none

ctld: Make config file parsing exception safe
  usr.sbin/ctld/Makefile
  usr.sbin/ctld/conf.cc
  usr.sbin/ctld/conf.h
  usr.sbin/ctld/ctld.hh
  usr.sbin/ctld/parse.y
  usr.sbin/ctld/uclparse.cc
Owners: none

ctld: Convert struct port to a hierarchy of C++ classes
  usr.sbin/ctld/conf.cc
  usr.sbin/ctld/ctld.cc
  usr.sbin/ctld/ctld.hh
  usr.sbin/ctld/discovery.cc
  usr.sbin/ctld/kernel.cc
  usr.sbin/ctld/login.cc
Owners: none

libutil++: Add freebsd::nvlist_up wrapper class for std::unique_ptr<>
  lib/libutil++/Makefile
  lib/libutil++/freebsd::nvlist_up.3
  lib/libutil++/libutil++.hh
Owners: none

ctld: Convert struct isns_req to a C++ class
  usr.sbin/ctld/ctld.cc
  usr.sbin/ctld/isns.cc
  usr.sbin/ctld/isns.hh
Owners: none

ctld: Cleanups to parse_addr_port
  usr.sbin/ctld/ctld.cc
Owners: none

libutil++: Add freebsd::addrinfo_up wrapper class for std::unique_ptr<>
  lib/libutil++/Makefile
  lib/libutil++/freebsd::addrinfo_up.3
  lib/libutil++/libutil++.hh
Owners: none

libutil++: Add freebsd::fd_up class to manage file descriptors
  lib/libutil++/Makefile
  lib/libutil++/freebsd::fd_up.3
  lib/libutil++/libutil++.hh
Owners: none

ctld: Convert struct portal to a C++ class
  usr.sbin/ctld/ctld.cc
  usr.sbin/ctld/ctld.hh
  usr.sbin/ctld/discovery.cc
  usr.sbin/ctld/kernel.cc
  usr.sbin/ctld/login.cc
Owners: none

ctld: Use a bool to track if a target uses a private auth_group
  usr.sbin/ctld/conf.cc
  usr.sbin/ctld/ctld.hh
  usr.sbin/ctld/login.cc
Owners: none

ctld: Convert struct pport and struct kports to C++ classes
  usr.sbin/ctld/ctld.cc
  usr.sbin/ctld/ctld.hh
  usr.sbin/ctld/kernel.cc
Owners: none

ctld: Convert struct auth_group to a C++ class
  usr.sbin/ctld/conf.cc
  usr.sbin/ctld/ctld.cc
  usr.sbin/ctld/ctld.hh
  usr.sbin/ctld/discovery.cc
  usr.sbin/ctld/login.cc
Owners: none

ctld: Convert struct conf to a C++ class
  usr.sbin/ctld/conf.cc
  usr.sbin/ctld/ctld.cc
  usr.sbin/ctld/ctld.hh
  usr.sbin/ctld/kernel.cc
Owners: none

ctld: Convert struct portal_group to a C++ class
  usr.sbin/ctld/conf.cc
  usr.sbin/ctld/ctld.cc
  usr.sbin/ctld/ctld.hh
  usr.sbin/ctld/discovery.cc
  usr.sbin/ctld/kernel.cc
  usr.sbin/ctld/login.cc
Owners: none

ctld: Convert struct target to a C++ class
  usr.sbin/ctld/conf.cc
  usr.sbin/ctld/ctld.cc
  usr.sbin/ctld/ctld.hh
  usr.sbin/ctld/discovery.cc
  usr.sbin/ctld/kernel.cc
  usr.sbin/ctld/login.cc
Owners: none

ctld: Convert struct lun to a C++ class
  usr.sbin/ctld/conf.cc
  usr.sbin/ctld/ctld.cc
  usr.sbin/ctld/ctld.hh
  usr.sbin/ctld/kernel.cc
Owners: none

ctld: Simplify XML parsing memory management
  usr.sbin/ctld/ctld.cc
  usr.sbin/ctld/ctld.hh
  usr.sbin/ctld/kernel.cc
Owners: none

ctld: Convert struct ctld_connection to a C++ class
  usr.sbin/ctld/ctld.cc
  usr.sbin/ctld/ctld.hh
  usr.sbin/ctld/discovery.cc
  usr.sbin/ctld/kernel.cc
  usr.sbin/ctld/login.cc
Owners: none

libutil++: Add freebsd::pidfile wrapper class around struct pidfh
  lib/libutil++/Makefile
  lib/libutil++/freebsd::pidfile.3
  lib/libutil++/libutil++.hh
  lib/libutil++/tests/Makefile
  lib/libutil++/tests/pidfile_test.cc
Owners: none

ctld: Convert struct isns to a C++ class
  usr.sbin/ctld/ctld.cc
  usr.sbin/ctld/ctld.hh
  usr.sbin/ctld/isns.cc
  usr.sbin/ctld/isns.hh
Owners: none

libsa: errors with pointer conversion
  stand/libsa/ip.c
Owners: @bsdimp

libsa: errors with pointer conversion
  stand/libsa/ip.c
Owners: @bsdimp

linux/atomic: fill out API for atomic pointer ops
  include/os/linux/spl/sys/atomic.h
Owners: none

kern/kern_thread.c: fix typo in comment
  sys/kern/kern_thread.c
Owners: none

libthr: fix typo in comment
  lib/libthr/thread/thr_getthreadid_np.c
Owners: none

kern: add a new ucred flag for groups having been set
  sys/compat/linux/linux_misc.c
  sys/compat/linux/linux_uid16.c
  sys/kern/kern_prot.c
  sys/sys/ucred.h
Owners: none
