Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

libgeom: Fix 32-bit gcc build
  lib/libgeom/geom_xml2tree.c
Owners: none

newfs: Add an option to disable soft updates
  sbin/newfs/newfs.8
  sbin/newfs/newfs.c
Owners: none

newfs: Add an option to disable soft updates
  sbin/newfs/newfs.8
  sbin/newfs/newfs.c
Owners: none

bsd.man.mk fix staging
  share/mk/bsd.man.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

bsd.man.mk fix staging
  share/mk/bsd.man.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

bsd.man.mk simplify staging
  share/mk/bsd.man.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

bsd.man.mk simplify staging
  share/mk/bsd.man.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

Spike before submission
  .github/workflows/cross-bootstrap-tools.yml
Owners: none

github: Add more context to pull requests
  .github/path-rules.txt
  .github/workflows/checklist.yml
Owners: none

junk
  sys/dev/nvd/nvd.c
Owners: @bsdimp

The rules don't apply to me
  sys/contrib/device-tree/README
Owners: none

powerpc: fix release image building for Apple partitions
  release/powerpc/mkisoimages.sh
Owners: none

powerpc: fix release image building for Apple partitions
  release/powerpc/mkisoimages.sh
Owners: none

kyua: Add "debug -x|--execute cmd" option
  contrib/kyua/cli/cmd_debug.cpp
  contrib/kyua/engine/debugger.hpp
  contrib/kyua/engine/scheduler.cpp
  contrib/kyua/utils/cmdline/options.cpp
  contrib/kyua/utils/cmdline/options.hpp
  contrib/kyua/utils/cmdline/parser.cpp
  contrib/kyua/utils/process/child.cpp
  contrib/kyua/utils/process/child.hpp
  contrib/kyua/utils/process/child.ipp
Owners: none

kyua: Add "debug -x|--execute cmd" option
  contrib/kyua/cli/cmd_debug.cpp
  contrib/kyua/engine/debugger.hpp
  contrib/kyua/engine/scheduler.cpp
  contrib/kyua/utils/cmdline/options.cpp
  contrib/kyua/utils/cmdline/options.hpp
  contrib/kyua/utils/cmdline/parser.cpp
  contrib/kyua/utils/process/child.cpp
  contrib/kyua/utils/process/child.hpp
  contrib/kyua/utils/process/child.ipp
Owners: none

newfs: Add -u to getopt string
  sbin/newfs/newfs.c
Owners: none

newfs: Add -u to getopt string
  sbin/newfs/newfs.c
Owners: none

Vendor import of NetBSD's mtree at 2026-01-11
  create.c
  mtree.8
Owners: none

Vendor import of NetBSD's mtree at 2026-01-11
  create.c
  mtree.8
Owners: none

Remove obsolete BUGS section from zgrep(1) man page, add test
  usr.bin/grep/tests/grep_freebsd_test.sh
  usr.bin/grep/zgrep.1
Owners: none

Remove obsolete BUGS section from zgrep(1) man page, add test
  usr.bin/grep/tests/grep_freebsd_test.sh
  usr.bin/grep/zgrep.1
Owners: none

rc: Improve os-release URLs and add rc.conf overrides
  libexec/rc/rc.d/os-release
Owners: none

Merge commit faa5141b9be4 from file git (by Christos Zoulas):
  contrib/file/src/apprentice.c
Owners: none

powerpc: put the isync inside the TD_LOCK() checking loop
  sys/powerpc/powerpc/swtch32.S
  sys/powerpc/powerpc/swtch64.S
Owners: none
