Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

ipsec_offload: do not leak drv_spi unr
  sys/netipsec/ipsec_offload.c
Owners: none

ipsec_offload: do not leak drv_spi unr
  sys/netipsec/ipsec_offload.c
Owners: none

kexec: Add basic kexec_load man page
  lib/libsys/Makefile.sys
  lib/libsys/kexec_load.2
  lib/libsys/reboot.2
Owners: none

kexec: Add basic kexec_load man page
  lib/libsys/Makefile.sys
  lib/libsys/kexec_load.2
  lib/libsys/reboot.2
Owners: none

Revert "openssh: Don't try to bind to unsupported addresses"
  crypto/openssh/sshconnect.c
Owners: @dag-erling

Revert "openssh: Don't try to bind to unsupported addresses"
  crypto/openssh/sshconnect.c
Owners: @dag-erling

Update dnode_next_offset_level to accept blkid instead of offset
  module/zfs/dnode.c
Owners: none

get_key_material_https: label 'kfdok' defined but not used
  lib/libzfs/libzfs_crypto.c
Owners: none

libutil: Improve kinfo_getproc(3) manual page
  lib/libutil/kinfo_getproc.3
Owners: none

libutil: Improve kinfo_getproc(3) example and cross-references
  lib/libprocstat/libprocstat.3
  lib/libutil/kinfo_getproc.3
Owners: none

exterr: print exterr for struct buf and bio in ddb show commands
  sys/geom/geom_subr.c
  sys/kern/vfs_bio.c
  sys/sys/exterr_cat.h
Owners: none

exterr: print exterr for struct buf and bio in ddb show commands
  sys/geom/geom_subr.c
  sys/kern/vfs_bio.c
  sys/sys/exterr_cat.h
Owners: none

exterr: add exterr_db_print(), to be used by several ddb dumpers
  sys/kern/sys_generic.c
  sys/sys/exterrvar.h
Owners: none

exterr: add exterr_db_print(), to be used by several ddb dumpers
  sys/kern/sys_generic.c
  sys/sys/exterrvar.h
Owners: none

if_tuntap: defer transient destroy_dev() to a taskqueue
  sys/net/if_tuntap.c
Owners: none

makedev(9): drop an additional note about cdevpriv dtors
  share/man/man9/make_dev.9
Owners: none

if_tuntap: defer transient destroy_dev() to a taskqueue
  sys/net/if_tuntap.c
Owners: none

makedev(9): drop an additional note about cdevpriv dtors
  share/man/man9/make_dev.9
Owners: none

nfs_clvnops: standardize on EOPNOTSUPP for posix_fallocate(2)
  sys/fs/nfsclient/nfs_clvnops.c
Owners: none

fusefs: standardize on OPNOTSUPP for posix_fallocate(2)
  sys/fs/fuse/fuse_vnops.c
  tests/sys/fs/fusefs/fallocate.cc
Owners: @asomers

nfs_clvnops: standardize on EOPNOTSUPP for posix_fallocate(2)
  sys/fs/nfsclient/nfs_clvnops.c
Owners: none

fusefs: standardize on OPNOTSUPP for posix_fallocate(2)
  sys/fs/fuse/fuse_vnops.c
  tests/sys/fs/fusefs/fallocate.cc
Owners: @asomers

posix_fallocate(2): move unsupported case to EOPNOTSUPP
  lib/libsys/posix_fallocate.2
Owners: none

posix_fallocate(2): move unsupported case to EOPNOTSUPP
  lib/libsys/posix_fallocate.2
Owners: none

packages: Make set-base-dbg depend on set-optional-dbg
  release/packages/sets/base-dbg.ucl
Owners: none

etc/mtree: Add package tags for /usr/include
  etc/mtree/BSD.include.dist
  etc/mtree/BSD.usr.dist
Owners: none

libkadm5clnt: Fix library symlink install
  krb5/lib/kadm5clnt/Makefile
Owners: none

packages: Make set-base-dbg depend on set-optional-dbg
  release/packages/sets/base-dbg.ucl
Owners: none

libkadm5clnt: Fix library symlink install
  krb5/lib/kadm5clnt/Makefile
Owners: none

etc/mtree: Add package tags for /usr/include
  etc/mtree/BSD.include.dist
  etc/mtree/BSD.usr.dist
Owners: none

libcasper: Move everything to the libcasper package
  lib/libcasper/Makefile.inc
  lib/libcasper/libcasper/Makefile
  lib/libcasper/services/cap_dns/Makefile
  lib/libcasper/services/cap_fileargs/Makefile
  lib/libcasper/services/cap_grp/Makefile
  lib/libcasper/services/cap_net/Makefile
  lib/libcasper/services/cap_netdb/Makefile
  lib/libcasper/services/cap_pwd/Makefile
  lib/libcasper/services/cap_sysctl/Makefile
  lib/libcasper/services/cap_syslog/Makefile
  lib/libcasper/services/tests/Makefile
  lib/libcasper/tests/Makefile
Owners: none

libcasper: Move everything to the libcasper package
  lib/libcasper/Makefile.inc
  lib/libcasper/libcasper/Makefile
  lib/libcasper/services/cap_dns/Makefile
  lib/libcasper/services/cap_fileargs/Makefile
  lib/libcasper/services/cap_grp/Makefile
  lib/libcasper/services/cap_net/Makefile
  lib/libcasper/services/cap_netdb/Makefile
  lib/libcasper/services/cap_pwd/Makefile
  lib/libcasper/services/cap_sysctl/Makefile
  lib/libcasper/services/cap_syslog/Makefile
  lib/libcasper/services/tests/Makefile
  lib/libcasper/tests/Makefile
Owners: none

kern/subr_syscalls.c: declare 'traced' local variables boolean
  sys/kern/subr_syscall.c
Owners: none

nfs: Add support for the NFSv4 archive attribute
  sys/fs/nfs/nfs_commonsubs.c
  sys/fs/nfs/nfsproto.h
  sys/fs/nfsclient/nfs_clrpcops.c
  sys/fs/nfsclient/nfs_clvnops.c
  sys/fs/nfsserver/nfs_nfsdport.c
  sys/fs/nfsserver/nfs_nfsdserv.c
Owners: none

mksnap_ffs: fix running unded chroot
  sbin/mksnap_ffs/mksnap_ffs.c
Owners: none

ng_nat: fix potential crash when attaching to L2 directly
  sys/netgraph/ng_nat.c
Owners: none

netinet: provide "at offset" variant of the in_delayed_cksum() API
  sys/netinet/ip_output.c
  sys/netinet/ip_var.h
Owners: none

date.1: Lint with mandoc
  bin/date/date.1
Owners: none

date.1: Lint with mandoc
  bin/date/date.1
Owners: none

truss: Properly display first argument to nmount
  usr.bin/truss/syscalls.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
