Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

bce.4: Fix a typo in the manual page
  share/man/man4/bce.4
Owners: none

acpi_battery.4: Fix a typo in the manual page
  share/man/man4/acpi_battery.4
Owners: none

p9fs.4: Fix a typo in the manual page
  share/man/man4/p9fs.4
Owners: none

mac_do.4: Fix a typo in the manual page
  share/man/man4/mac_do.4
Owners: none

iwlwifi.4: Fix a typo in the manual page
  share/man/man4/iwlwifi.4
Owners: none

p9fs.4: Fix a typo in the manual page
  share/man/man4/p9fs.4
Owners: none

mac_do.4: Fix a typo in the manual page
  share/man/man4/mac_do.4
Owners: none

iwlwifi.4: Fix a typo in the manual page
  share/man/man4/iwlwifi.4
Owners: none

tcp: fix typo in comment
  sys/netinet/tcp_syncache.c
Owners: none

tcp over udp: don't copy more bytes than avaiable
  sys/netinet/tcp_subr.c
Owners: none

UDP-Lite: export pcblist via sysctl interface
  sys/netinet/in_proto.c
  sys/netinet/udp_usrreq.c
  sys/netinet/udp_var.h
Owners: none

netstat: add support for UDP-Lite endpoints
  usr.bin/netstat/inet.c
  usr.bin/netstat/main.c
Owners: none

sockstat: add support for UDP-Lite endpoints
  usr.bin/sockstat/main.c
Owners: none

sound: Improve dsp_cdevsw style
  sys/dev/sound/pcm/dsp.c
Owners: none

snd_dummy: Create device alias
  share/man/man4/snd_dummy.4
  sys/dev/sound/dummy.c
Owners: none

snd_dummy.4: Use sound(4) instead of PCM
  share/man/man4/snd_dummy.4
Owners: none

sndctl(8): Modify vchans only on supported directions
  usr.sbin/sndctl/sndctl.c
Owners: none

nvmecontrol(8): Fix a typo in an error message
  sbin/nvmecontrol/perftest.c
Owners: @bsdimp

nvmecontrol(8): Fix a typo in an error message
  sbin/nvmecontrol/perftest.c
Owners: @bsdimp

pfctl(8): Fix a typo in an error message
  sbin/pfctl/parse.y
Owners: none

pfctl(8): Fix a typo in an error message
  sbin/pfctl/parse.y
Owners: none

libc: fix description issues in mac_text(3)/mac_free(3)
  lib/libc/posix1e/mac_free.3
  lib/libc/posix1e/mac_text.3
Owners: none

libc: fix description issues in mac_text(3)/mac_free(3)
  lib/libc/posix1e/mac_free.3
  lib/libc/posix1e/mac_text.3
Owners: none

fwcontrol(8): Fix a typo in a message
  usr.sbin/fwcontrol/fwcontrol.c
Owners: none

rtlbtfw(8): Fix a typo in an error message
  usr.sbin/bluetooth/rtlbtfw/main.c
Owners: none

fwcontrol(8): Fix a typo in a message
  usr.sbin/fwcontrol/fwcontrol.c
Owners: none

rtlbtfw(8): Fix a typo in an error message
  usr.sbin/bluetooth/rtlbtfw/main.c
Owners: none

pmcstat(8): Fix a typo in an error message
  usr.sbin/pmcstat/pmcstat.c
Owners: none

cxgbetool(8): Fix a typo in an error message
  usr.sbin/cxgbetool/tcbshowt7.c
Owners: none

cxgbetool(8): Fix a typo in an error message
  usr.sbin/cxgbetool/tcbshowt7.c
Owners: none

pmcstat(8): Fix a typo in an error message
  usr.sbin/pmcstat/pmcstat.c
Owners: none

g_bio.9: Reference dtrace_io(4)
  share/man/man9/g_bio.9
Owners: none

g_bio.9: Reference dtrace_io(4)
  share/man/man9/g_bio.9
Owners: none

fusefs: fix page fault triggered by async notification when unmounted
  sys/fs/fuse/fuse_device.c
  tests/sys/fs/fusefs/mockfs.cc
  tests/sys/fs/fusefs/mockfs.hh
  tests/sys/fs/fusefs/notify.cc
Owners: @asomers

fusefs: fix page fault triggered by async notification when unmounted
  sys/fs/fuse/fuse_device.c
  tests/sys/fs/fusefs/mockfs.cc
  tests/sys/fs/fusefs/mockfs.hh
  tests/sys/fs/fusefs/notify.cc
Owners: @asomers

write.2: explain the atomicity guarantees of the writes
  lib/libsys/write.2
Owners: none

write.2: explain the atomicity guarantees of the writes
  lib/libsys/write.2
Owners: none

amd64: print 'EFI RT fault' line before fault CPU state
  sys/amd64/amd64/trap.c
Owners: none

udp: honor IPV6_TCLASS socket option for UDP/IPv4 packets
  sys/netinet/udp_usrreq.c
Owners: none

udp: honor IPV6_TCLASS socket option for UDP/IPv4 packets
  sys/netinet/udp_usrreq.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
