Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

clang-scan-deps: Pass ${TDFILE} to tblgen, not ${.ALLSRC}
  usr.bin/clang/clang-scan-deps/Makefile
Owners: none

pom.6: add a more complete bibliography
  usr.bin/pom/pom.6
Owners: none

crash.8: update a little
  share/man/man8/crash.8
Owners: none

clang-scan-deps: Pass ${TDFILE} to tblgen, not ${.ALLSRC}
  usr.bin/clang/clang-scan-deps/Makefile
Owners: none

netlink: Fully clear parser state between messages
  sys/netlink/netlink_io.c
Owners: none

netlink: Fully clear parser state between messages
  sys/netlink/netlink_io.c
Owners: none

style.9: Fix "parantheses" typos in the new C++ section
  share/man/man9/style.9
Owners: none

style.9: Fix "parantheses" typos in the new C++ section
  share/man/man9/style.9
Owners: none

if_genet: Consistently use the boolean form
  sys/arm64/broadcom/genet/if_genet.c
Owners: none

if_genet: Plug memory leaks
  sys/arm64/broadcom/genet/if_genet.c
Owners: none

tcp: improve function names
  sys/netinet/tcp_hpts.c
  sys/netinet/tcp_hpts.h
  sys/netinet/tcp_lro_hpts.c
  sys/netinet/tcp_stacks/bbr.c
  sys/netinet/tcp_stacks/rack.c
  sys/netinet/tcp_stacks/rack_pcm.c
Owners: none

tcp: improve function names
  sys/netinet/tcp_hpts.c
  sys/netinet/tcp_hpts.h
  sys/netinet/tcp_lro_hpts.c
  sys/netinet/tcp_stacks/bbr.c
  sys/netinet/tcp_stacks/rack.c
  sys/netinet/tcp_stacks/rack_pcm.c
Owners: none

tcp: improve variable and constant names
  sys/netinet/tcp_hpts.c
  sys/netinet/tcp_hpts.h
  sys/netinet/tcp_stacks/bbr.c
  sys/netinet/tcp_stacks/rack.c
Owners: none

tcp: improve variable and constant names
  sys/netinet/tcp_hpts.c
  sys/netinet/tcp_hpts.h
  sys/netinet/tcp_stacks/bbr.c
  sys/netinet/tcp_stacks/rack.c
Owners: none

tcp hpts: cleanup header file
  sys/netinet/tcp_hpts.c
  sys/netinet/tcp_hpts.h
Owners: none

tcp hpts: cleanup header file
  sys/netinet/tcp_hpts.c
  sys/netinet/tcp_hpts.h
Owners: none

organization.dot: update list of current portmgr members
  share/misc/organization.dot
Owners: none

organization.dot: update list of current portmgr members
  share/misc/organization.dot
Owners: none

arm64: Add ADDR_IS_USER
  sys/arm64/arm64/pmap.c
  sys/arm64/include/vmparam.h
Owners: @zxombie

arm64: tidy up Top-Byte-Ignore (TBI) in the kernel
  sys/arm64/arm64/copyinout.S
  sys/arm64/arm64/support.S
  sys/arm64/include/vmparam.h
Owners: @zxombie

arm64: Use a fixed value for sctlr_el1
  sys/arm64/arm64/locore.S
  sys/arm64/include/armreg.h
Owners: @zxombie

arm64: tidy up Top-Byte-Ignore (TBI) in the kernel
  sys/arm64/arm64/copyinout.S
  sys/arm64/arm64/support.S
  sys/arm64/include/vmparam.h
Owners: @zxombie

arm64: Use a fixed value for sctlr_el1
  sys/arm64/arm64/locore.S
  sys/arm64/include/armreg.h
Owners: @zxombie

arm64: Add ADDR_IS_USER
  sys/arm64/arm64/pmap.c
  sys/arm64/include/vmparam.h
Owners: @zxombie

range_tree: Provide more debug details upon unexpected add/remove
  cmd/zdb/zdb.c
  include/sys/metaslab_impl.h
  include/sys/range_tree.h
  include/sys/vdev_impl.h
  module/zfs/dnode.c
  module/zfs/metaslab.c
  module/zfs/range_tree.c
  module/zfs/vdev.c
  module/zfs/vdev_initialize.c
  module/zfs/vdev_raidz.c
  module/zfs/vdev_rebuild.c
  module/zfs/vdev_removal.c
  module/zfs/vdev_trim.c
Owners: none

ZVOL: Implement zvol_alloc() function on FreeBSD side
  module/os/freebsd/zfs/zvol_os.c
Owners: none

dbm_nextkey: Always return an error if we've reached the end of the database
  lib/libc/db/hash/hash.c
  lib/libc/tests/db/Makefile
  lib/libc/tests/db/dbm_nextkey_test.c
Owners: none

dbm_nextkey: Always return an error if we've reached the end of the database
  lib/libc/db/hash/hash.c
  lib/libc/tests/db/Makefile
  lib/libc/tests/db/dbm_nextkey_test.c
Owners: none

release/vmimage.subr: don't run newaliases in default setup
  release/tools/vmimage.subr
Owners: none

aio: Fix a race in sys_aio_cancel()
  sys/kern/vfs_aio.c
Owners: @asomers

aio: Fix a race in sys_aio_cancel()
  sys/kern/vfs_aio.c
Owners: @asomers

LinuxKPI: acpi: fix guid_t argument type
  sys/compat/linuxkpi/common/include/acpi/acpi_bus.h
  sys/compat/linuxkpi/common/src/linux_acpi.c
Owners: none

LinuxKPI: acpi: fix guid_t argument type
  sys/compat/linuxkpi/common/include/acpi/acpi_bus.h
  sys/compat/linuxkpi/common/src/linux_acpi.c
Owners: none

LinuxKPI: pci: harmonize #defines
  sys/compat/linuxkpi/common/include/linux/pci.h
Owners: none

LinuxKPI: pci: harmonize #defines
  sys/compat/linuxkpi/common/include/linux/pci.h
Owners: none

dwmmc: cleanup cmd and locking, consistency between mmc and mmccam
  sys/dev/mmc/host/dwmmc.c
Owners: none

bsnmp: wlan: use correct value for rssi
  usr.sbin/bsnmpd/modules/snmp_wlan/wlan_sys.c
Owners: none

LinuxKPI: pci: fix argument type to linuxkpi_pci_iomap[_range]
  sys/compat/linuxkpi/common/include/linux/pci.h
  sys/compat/linuxkpi/common/src/linux_pci.c
Owners: none

dwmmc: cleanup cmd and locking, consistency between mmc and mmccam
  sys/dev/mmc/host/dwmmc.c
Owners: none

bsnmp: wlan: use correct value for rssi
  usr.sbin/bsnmpd/modules/snmp_wlan/wlan_sys.c
Owners: none
