Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

remove sys/dts/arm/socfpga_*_sdmmc.dts
  sys/dts/arm/socfpga_arria10_socdk_sdmmc.dts
  sys/dts/arm/socfpga_cyclone5_sockit_sdmmc.dts
Owners: none

DDT: Switch to using ZAP _by_dnode() interfaces
  include/sys/ddt.h
  include/sys/ddt_impl.h
  include/sys/zap.h
  module/zfs/ddt.c
  module/zfs/ddt_zap.c
  module/zfs/zap_micro.c
Owners: none

bsdinstall: Drop Error from title in netconfig no interfaces dialog
  usr.sbin/bsdinstall/scripts/netconfig
Owners: none

riscv: Remove the unused riscv64_cpu driver
  sys/riscv/riscv/mp_machdep.c
Owners: none

ee: Fix use of uninitialised pointer in ispell_op
  contrib/ee/ee.c
Owners: none

bsdinstall: Fix netconfig script when no interfaces are present
  usr.sbin/bsdinstall/scripts/netconfig
Owners: none

efibootmgr: Simplify make_next_boot_var_name and fix cnt == 0 case
  usr.sbin/efibootmgr/efibootmgr.c
Owners: none

bsd.subdir.mk: Drop broken optimisation for realinstall parallelisation
  share/mk/bsd.subdir.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

riscv: Add machine/ifunc.h corresponding to rtld-elf's resolver interface
  sys/riscv/include/ifunc.h
Owners: none

gpart: Add u-boot-env alias for U-Boot's environment GPT partition UUID
  lib/geom/part/gpart.8
  sys/geom/part/g_part.c
  sys/geom/part/g_part.h
  sys/geom/part/g_part_gpt.c
  sys/sys/disk/gpt.h
Owners: none

tools/build/cross-build: Don't include sys/uio.h from linux limits.h
  tools/build/cross-build/include/linux/limits.h
Owners: @bsdimp

depend-cleanup.sh: Clean up after riscv static binary IFUNC addition
  tools/build/depend-cleanup.sh
Owners: @bsdimp

libc/csu: Support IFUNCs on riscv
  lib/libc/csu/riscv/Makefile.inc
  lib/libc/csu/riscv/reloc.c
Owners: none

libc/csu: Unify INIT_RELOCS across architectures
  lib/libc/csu/aarch64/Makefile.inc
  lib/libc/csu/aarch64/reloc.c
  lib/libc/csu/amd64/Makefile.inc
  lib/libc/csu/amd64/reloc.c
  lib/libc/csu/arm/Makefile.inc
  lib/libc/csu/i386/Makefile.inc
  lib/libc/csu/i386/reloc.c
  lib/libc/csu/libc_start1.c
  lib/libc/csu/mips/Makefile.inc
  lib/libc/csu/powerpc/Makefile.inc
  lib/libc/csu/powerpc64/Makefile.inc
  lib/libc/csu/powerpc64/reloc.c
  lib/libc/csu/powerpcspe/Makefile.inc
  lib/libc/csu/riscv/Makefile.inc
  lib/libc/csu/riscv/reloc.c
Owners: none

rtld-elf: Support IFUNCs on riscv
  libexec/rtld-elf/riscv/reloc.c
  libexec/rtld-elf/riscv/rtld_machdep.h
Owners: none

rtld-elf: Pass parsed aux_info to ifunc_init
  libexec/rtld-elf/aarch64/reloc.c
  libexec/rtld-elf/amd64/reloc.c
  libexec/rtld-elf/arm/reloc.c
  libexec/rtld-elf/i386/reloc.c
  libexec/rtld-elf/mips/reloc.c
  libexec/rtld-elf/powerpc/reloc.c
  libexec/rtld-elf/powerpc64/reloc.c
  libexec/rtld-elf/riscv/reloc.c
  libexec/rtld-elf/rtld.c
  libexec/rtld-elf/rtld.h
Owners: none

kldxref: Don't warn and skip file if no relocations are found
  usr.sbin/kldxref/ef.c
Owners: none

riscv: Recognise B extension for AT_HWCAP
  sys/riscv/include/elf.h
  sys/riscv/riscv/identcpu.c
Owners: none

sys/cdefs.h: Add comments to make #if/#else/#endif triple more obvious
  sys/sys/cdefs.h
Owners: none

mx25l.4: Document the correct disk device path
  share/man/man4/mx25l.4
Owners: none

Merge commit 88433e640ddb from upstream OpenZFS (by Jessica Clarke)
  sys/contrib/openzfs/lib/libspl/include/sys/types32.h
Owners: none

Fix off-by-one bug in btpand
  usr.sbin/bluetooth/btpand/btpand.c
Owners: none

lib/clang: Commit cleaned-up workaround for building on RISC-V
  lib/clang/llvm.build.mk
Owners: none

ofw: Fix inverted bcmp in ofw_bus_node_status_okay
  sys/dev/ofw/ofw_bus_subr.c
Owners: none

libc: Fix dl_iterate_phdr's dlpi_tls_data for PowerPC and RISC-V
  lib/libc/gen/dlfcn.c
Owners: none

sys: Delete stale comments in sys/elf_common.h
  sys/sys/elf_common.h
Owners: none

rtld-elf: Fix executable's TLS module index for direct exec
  libexec/rtld-elf/map_object.c
  libexec/rtld-elf/rtld.c
  libexec/rtld-elf/rtld.h
Owners: none

Revert "rtld: fix allocate_module_tls() variant I fallback to static allocation"
  libexec/rtld-elf/rtld.c
Owners: none

riscv: Fix and generalise saving TP (PCPU pointer) whilst in userspace
  sys/riscv/include/frame.h
  sys/riscv/riscv/exception.S
  sys/riscv/riscv/genassym.c
  sys/riscv/riscv/swtch.S
  sys/riscv/riscv/vm_machdep.c
Owners: none

hexdump.3: Add missing LIBRARY section
  lib/libutil/hexdump.3
Owners: none

libc: Don't bias DTV entries by TLS_DTV_OFFSET
  lib/libc/gen/tls.c
Owners: none

rtld-elf/riscv: Don't allocate static TLS for dynamic TLS relocations
  libexec/rtld-elf/riscv/reloc.c
Owners: none

libc/riscv: Fix initial exec TLS mode for dynamically loaded shared objects
  lib/libc/riscv/static_tls.h
Owners: none

rtld-elf: Fix dl_iterate_phdr's dlpi_tls_data for PowerPC and RISC-V
  libexec/rtld-elf/rtld.c
Owners: none

rtld-elf: Fix UB for direct exec with no extra rtld arguments
  libexec/rtld-elf/rtld.c
Owners: none

gic_v3: Correctly handle GICC GIGR Base Address case
  sys/arm64/arm64/gic_v3.c
  sys/arm64/arm64/gic_v3_acpi.c
  sys/arm64/arm64/gic_v3_var.h
Owners: @zxombie

rtld-elf: Fix dlsym(3) for TLS symbols on PowerPC and RISC-V
  libexec/rtld-elf/rtld.c
Owners: none

share: Delete bitrotted make_*_driver.sh scripts
  ObsoleteFiles.inc
  share/examples/Makefile
  share/examples/drivers/README
  share/examples/drivers/make_pseudo_driver.sh
  tools/build/mk/OptionalObsoleteFiles.inc
Owners: @bsdimp

cross-build: fix after the recent sqlite3 import
  usr.bin/kyua/Makefile
Owners: none

elf: Remove R_RISCV_[GT]PREL_[IS] relocation defines
  sys/sys/elf_common.h
Owners: none
