Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

linux: fix reporting NL_RTM_DELLINK to Netlink sockets
  sys/compat/linux/linux_netlink.c
Owners: none

netlink: do not pass writer to the Linux translation layer
  sys/compat/linux/linux_netlink.c
  sys/netlink/netlink_io.c
  sys/netlink/netlink_linux.h
Owners: none

netlink: do not pass writer to the Linux translation layer
  sys/compat/linux/linux_netlink.c
  sys/netlink/netlink_io.c
  sys/netlink/netlink_linux.h
Owners: none

Tag 2.4.0-rc1
  META
Owners: none

nuageinit: Improvements for nuageinit
  libexec/nuageinit/nuage.lua
  libexec/nuageinit/nuageinit
  libexec/nuageinit/nuageinit.7
  libexec/nuageinit/tests/Makefile
  libexec/nuageinit/tests/nuage.sh
  libexec/nuageinit/tests/nuageinit.sh
  libexec/nuageinit/tests/settimezone.lua
Owners: @bapt

nuageinit: Improvements for nuageinit
  libexec/nuageinit/nuage.lua
  libexec/nuageinit/nuageinit
  libexec/nuageinit/nuageinit.7
  libexec/nuageinit/tests/Makefile
  libexec/nuageinit/tests/nuage.sh
  libexec/nuageinit/tests/nuageinit.sh
  libexec/nuageinit/tests/settimezone.lua
Owners: @bapt

nuageinit.7: grammar fixes
  libexec/nuageinit/nuageinit.7
Owners: @bapt

nuageinit.7: grammar fixes
  libexec/nuageinit/nuageinit.7
Owners: @bapt

Update META
  META
Owners: none

nuageinit.7: put each sentence on a new line
  libexec/nuageinit/nuageinit.7
Owners: @bapt

nuageinit.7: put each sentence on a new line
  libexec/nuageinit/nuageinit.7
Owners: @bapt

Prompt user to unlock when login from dropbear
  contrib/initramfs/hooks/zfsunlock.in
Owners: none

watch.8: Align option list
  usr.sbin/watch/watch.8
Owners: none

watch.8: Align option list
  usr.sbin/watch/watch.8
Owners: none

vfs_vnops.c: Change the error return from ENOSYS to EOPNOTSUPP
  sys/kern/vfs_vnops.c
Owners: none

vfs_vnops.c: Change the error return from ENOSYS to EOPNOTSUPP
  sys/kern/vfs_vnops.c
Owners: none

Revert "netlink: Fix IFF_UP flag handling in RTM_NEWLINK's modify_link handler"
  sys/netlink/route/iface_drivers.c
Owners: none

Revert "netlink: Fix IFF_UP flag handling in RTM_NEWLINK's modify_link handler"
  sys/netlink/route/iface_drivers.c
Owners: none

Makefile.libcompat: Use same PATH for _lc_build-tools as _build-tools
  Makefile.libcompat
Owners: none

Makefile.libcompat: Use same PATH for _lc_build-tools as _build-tools
  Makefile.libcompat
Owners: none

bsd.compat.mk: Honour XSTRIPBIN for lib32
  share/mk/bsd.compat.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

bsd.compat.mk: Honour XSTRIPBIN for lib32
  share/mk/bsd.compat.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

vdso: Build without debug info
  sys/conf/files.amd64
  sys/tools/amd64_ia32_vdso.sh
  sys/tools/amd64_vdso.sh
Owners: none

vdso: Build without debug info
  sys/conf/files.amd64
  sys/tools/amd64_ia32_vdso.sh
  sys/tools/amd64_vdso.sh
Owners: none

look(1): Capsicumise
  usr.bin/look/look.c
Owners: none

syslogd.8: Remove incorrect .Aq
  usr.sbin/syslogd/syslogd.8
Owners: none

lsvfs(1): Capsicumise
  usr.bin/lsvfs/lsvfs.c
Owners: none

tests/sys/net: if_bridge_test does not require python
  tests/sys/net/Makefile
Owners: @ngie-eign

rc.conf: Use user.localbase to determine _localbase
  libexec/rc/rc.conf
Owners: none

copy_file_range.2: Document the COPY_FILE_RANGE_CLONE flag
  lib/libsys/copy_file_range.2
Owners: none

copy_file_range.2: Document the COPY_FILE_RANGE_CLONE flag
  lib/libsys/copy_file_range.2
Owners: none

share/misc: Move init.ee to the correct package
  share/misc/Makefile
  tools/build/mk/OptionalObsoleteFiles.inc
Owners: @bsdimp

share/mk: Use :ts,:[*] to stringify TAG_ARGS
  share/mk/bsd.confs.mk
  share/mk/bsd.dirs.mk
  share/mk/bsd.doc.mk
  share/mk/bsd.incs.mk
  share/mk/bsd.lib.mk
  share/mk/bsd.links.mk
  share/mk/bsd.prog.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

Synchronize the update of feature refcount
  cmd/zhack.c
  module/zfs/zfeature.c
Owners: none

bridge: Restore ABI compatibility with 14.x
  UPDATING
  sys/net/if_bridgevar.h
Owners: none

bridge: Restore ABI compatibility with 14.x
  UPDATING
  sys/net/if_bridgevar.h
Owners: none

package: Update description for sendmail and dma
  release/packages/ucl/dma-all.ucl
  release/packages/ucl/libmilter-all.ucl
  release/packages/ucl/sendmail-all.ucl
Owners: none

package: Update description for sendmail and dma
  release/packages/ucl/dma-all.ucl
  release/packages/ucl/libmilter-all.ucl
  release/packages/ucl/sendmail-all.ucl
Owners: none

bsd.files.mk: Fix FILESPACKAGE
  release/packages/Makefile.package
  share/mk/bsd.files.mk
  share/syscons/Makefile.inc
  share/syscons/fonts/Makefile
  share/syscons/keymaps/Makefile
  share/syscons/scrnmaps/Makefile
Owners: @bsdimp, @bapt, @bdrewery, @emaste

packages: fix ownership of /tmp and /dev
  etc/mtree/BSD.root.dist
  release/packages/runtime.ucl
Owners: none
