Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

Add files via upload
  sys/dev/sound/midi/midi.c
Owners: none

sound/midi: adjust midi_poll return value
  sys/dev/sound/midi/midi.c
Owners: none

nvmf_che: Fix amd64 LINT-NOVIMAGE build
  sys/dev/cxgbe/nvmf/nvmf_che.c
Owners: none

nvmf_che: Fix amd64 LINT-NOVIMAGE build
  sys/dev/cxgbe/nvmf/nvmf_che.c
Owners: none

sound examples: Extend and clean up
  share/examples/Makefile
  share/examples/sound/kqueue.c
  share/examples/sound/oss.h
  share/examples/sound/oss/README
  share/examples/sound/oss/audio.c
  share/examples/sound/poll.c
  share/examples/sound/select.c
  share/examples/sound/simple.c
Owners: none

sound examples: Extend and clean up
  share/examples/Makefile
  share/examples/sound/kqueue.c
  share/examples/sound/oss.h
  share/examples/sound/oss/README
  share/examples/sound/oss/audio.c
  share/examples/sound/poll.c
  share/examples/sound/select.c
  share/examples/sound/simple.c
Owners: none

sound: Remove KOBJMETHOD_END re-definitions
  sys/dev/sound/midi/midi.c
  sys/dev/sound/midi/mpu401.c
  sys/dev/sound/pcm/sound.h
Owners: none

sound: Remove KOBJMETHOD_END re-definitions
  sys/dev/sound/midi/midi.c
  sys/dev/sound/midi/mpu401.c
  sys/dev/sound/pcm/sound.h
Owners: none

tarfs: Fix support for large files
  sys/fs/tarfs/tarfs_io.c
  sys/fs/tarfs/tarfs_vfsops.c
  tests/sys/fs/tarfs/tarfs_test.sh
Owners: @ngie-eign

tarfs: Fix support for large files
  sys/fs/tarfs/tarfs_io.c
  sys/fs/tarfs/tarfs_vfsops.c
  tests/sys/fs/tarfs/tarfs_test.sh
Owners: @ngie-eign

intrng: allocate event during isrc setup
  sys/kern/subr_intr.c
Owners: none

intrng: destroy event when deregistering source
  sys/kern/subr_intr.c
Owners: none

intrng: have isrc_free_irq() return success if already free
  sys/kern/subr_intr.c
Owners: none

intrng: invalidate ->isrc_index and ->isrc_count when releasing counters
  sys/kern/subr_intr.c
Owners: none

kern/intr: have intr_event_destroy() return success on NULL event
  sys/kern/kern_intr.c
Owners: none

kern/intr: declare intr_event_destroy() __result_use_check
  sys/netpfil/pf/if_pfsync.c
  sys/netpfil/pf/pf_ioctl.c
  sys/netpfil/pf/pflow.c
  sys/sys/interrupt.h
  sys/x86/x86/intr_machdep.c
Owners: @glebius

intrng: split intr_describe_irq()
  sys/kern/subr_intr.c
Owners: none

intrng: expose lower-level device interface for INTRNG
  sys/kern/subr_intr.c
  sys/sys/intr.h
Owners: none

intrng: handle intr_describe() being passed NULL cookies
  sys/kern/subr_intr.c
Owners: none

intrng: adjust intr_teardown_irq() to use intr_describe()
  sys/kern/subr_intr.c
Owners: none

intrng: split intr_isrc_assign_cpu()
  sys/kern/subr_intr.c
  sys/sys/intr.h
Owners: none

intrng: switch PIC interface to use pic_list_lock
  sys/kern/subr_intr.c
Owners: none

intrng: break PIC functionality off of main INTRNG file
  sys/conf/files.arm
  sys/conf/files.arm64
  sys/conf/files.riscv
  sys/kern/subr_intr.c
  sys/kern/subr_intrpic.c
Owners: none

kern/intr: remove ->td_intr_nesting_level++ from core interrupt handler
  sys/dev/xen/bus/xen_intr.c
  sys/kern/kern_clock.c
  sys/kern/kern_intr.c
  sys/kern/subr_intr.c
  sys/powerpc/powerpc/interrupt.c
  sys/powerpc/powerpc/intr_machdep.c
  sys/x86/isa/atpic.c
  sys/x86/x86/local_apic.c
  sys/x86/x86/mp_x86.c
Owners: none

kern/intr: remove passing of trapframe from core interrupt handler
  sys/kern/kern_clock.c
  sys/kern/kern_intr.c
  sys/kern/subr_intr.c
  sys/powerpc/powerpc/interrupt.c
  sys/powerpc/powerpc/intr_machdep.c
  sys/sys/interrupt.h
  sys/x86/isa/atpic.c
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/local_apic.c
  sys/x86/x86/mp_x86.c
Owners: none

intr/powerpc: remove pass-along of trapframe
  sys/powerpc/include/intr_machdep.h
  sys/powerpc/mpc85xx/atpic.c
  sys/powerpc/mpc85xx/pci_mpc85xx.c
  sys/powerpc/powermac/hrowpic.c
  sys/powerpc/powernv/xive.c
  sys/powerpc/powerpc/interrupt.c
  sys/powerpc/powerpc/intr_machdep.c
  sys/powerpc/powerpc/openpic.c
  sys/powerpc/powerpc/pic_if.m
  sys/powerpc/ps3/ps3pic.c
  sys/powerpc/pseries/xics.c
Owners: none

intrng: remove pass-along of trapframe
  sys/arm/allwinner/a10/a10_intc.c
  sys/arm/allwinner/aw_gpio.c
  sys/arm/allwinner/aw_nmi.c
  sys/arm/arm/gic.c
  sys/arm/broadcom/bcm2835/bcm2835_gpio.c
  sys/arm/broadcom/bcm2835/bcm2835_intr.c
  sys/arm/broadcom/bcm2835/bcm2836.c
  sys/arm/broadcom/bcm2835/bcm2838_pci.c
  sys/arm/freescale/imx/imx_gpio.c
  sys/arm/mv/gpio.c
  sys/arm/mv/mpic.c
  sys/arm/mv/mv_ap806_sei.c
  sys/arm/mv/mvebu_gpio.c
  sys/arm/nvidia/tegra_gpio.c
  sys/arm/nvidia/tegra_pcie.c
  sys/arm/ti/aintc.c
  sys/arm/ti/ti_gpio.c
  sys/arm64/apple/apple_aic.c
  sys/arm64/arm64/gic_v3.c
  sys/arm64/arm64/gicv3_its.c
  sys/arm64/qoriq/qoriq_gpio_pic.c
  sys/arm64/rockchip/rk_gpio.c
  sys/dev/gpio/pl061.c
  sys/dev/xilinx/xlnx_pcib.c
  sys/kern/subr_intr.c
  sys/riscv/riscv/aplic.c
  sys/riscv/riscv/intc.c
  sys/riscv/riscv/plic.c
  sys/sys/intr.h
Owners: @evadot, @zxombie

intr/x86: remove pass-along of trapframe
  sys/x86/include/intr_machdep.h
  sys/x86/include/xen/arch-intr.h
  sys/x86/isa/atpic.c
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/local_apic.c
Owners: none

xen: remove pass-along of trapframe
  sys/dev/xen/bus/intr-internal.h
  sys/dev/xen/bus/xen_intr.c
  sys/x86/include/xen/arch-intr.h
Owners: none

kern/intr: stop passing trap frame to `intr_event_schedule_thread()`
  sys/kern/kern_intr.c
Owners: none

intrng: allocate event during isrc setup
  sys/kern/subr_intr.c
Owners: none

intrng: destroy event when deregistering source
  sys/kern/subr_intr.c
Owners: none

intrng: split intr_describe_irq()
  sys/kern/subr_intr.c
Owners: none

intrng: expose lower-level device interface for INTRNG
  sys/kern/subr_intr.c
  sys/sys/intr.h
Owners: none

xen/arm64: implement aarch64 Xen hypercall header
  sys/arm64/include/xen/hypercall.h
Owners: @zxombie

xen: move Xen hypercall wrapper functions to sys/xen
  sys/amd64/include/xen/hypercall.h
  sys/i386/include/xen/hypercall.h
  sys/xen/hypercall.h
Owners: none

xen/console: add hook for early Xen probing
  sys/dev/xen/console/xen_console.c
  sys/x86/include/xen/xen-os.h
Owners: none

xen/intrng: add Xen INTRNG files and copyright notice
  sys/arm64/include/xen/arch-intr.h
  sys/arm64/include/xen/xen-os.h
  sys/dev/xen/intrng/arch-intr.h
  sys/dev/xen/intrng/xen-os.h
  sys/dev/xen/intrng/xen_arch_intr.c
Owners: @zxombie

xen/arm64: add aarch64 main Xen configuration header
  sys/dev/xen/intrng/xen-os.h
Owners: none

xen/intrng: add handling of Xen device-tree
  sys/conf/files
  sys/dev/xen/intrng/xen-os.h
  sys/dev/xen/intrng/xen_arch_intr.c
Owners: none
