Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

bananapi-r64: support for mediatek mt7622-pinctrl
  sys/arm64/conf/GENERIC
  sys/arm64/conf/std.mediatek
  sys/arm64/mediatek/mt7622_pinctrl.c
Owners: none

Add simple factor/primes regression tests
  etc/mtree/BSD.tests.dist
  usr.bin/factor/Makefile
  usr.bin/factor/tests/Makefile
  usr.bin/factor/tests/factor_tests.sh
  usr.bin/factor/tests/primes_tests.sh
Owners: none

Fix the build post-dcf5d5603b3af8
  usr.bin/factor/factor.c
Owners: none

Reduce ifdef soup by adding pre-3.0 compat support
  usr.bin/factor/factor.c
Owners: none

factor: support OpenSSL 3
  usr.bin/factor/factor.c
Owners: none

rc.d/moused: Fix misplaced `basename`
  libexec/rc/rc.d/moused
Owners: none

d.7: Fix synopsis
  share/man/man7/d.7
Owners: none

d.7: Fix synopsis
  share/man/man7/d.7
Owners: none

vnet.9: Remove references to non-existant macros and update how to virtualize sysctls
  share/man/man9/VNET.9
Owners: none

vnet.9: Remove references to non-existant macros and update how to virtualize sysctls
  share/man/man9/VNET.9
Owners: none

vfs: reduce indentation in vput_final
  sys/kern/vfs_subr.c
Owners: none

vfs: reduce indentation in vput_final
  sys/kern/vfs_subr.c
Owners: none

vfs: let the compiler catch unhandled vgetstate values in vget_abort
  sys/kern/vfs_subr.c
Owners: none

vfs: let the compiler catch unhandled vgetstate values in vget_abort
  sys/kern/vfs_subr.c
Owners: none

Makefile.inc1: Fix package-pkg with a non-default LOCALBASE
  Makefile.inc1
  release/scripts/make-pkg-package.sh
Owners: none

Makefile.inc1: Fix package-pkg with a non-default LOCALBASE
  Makefile.inc1
  release/scripts/make-pkg-package.sh
Owners: none

release: Install pkg from the pkgbase repo
  release/Makefile
Owners: none

release: Improve kernel package handling
  release/scripts/pkgbase-stage.lua
  usr.sbin/bsdinstall/scripts/pkgbase.in
Owners: none

bsdinstall: Install pkg if it's available
  usr.sbin/bsdinstall/scripts/pkgbase.in
Owners: none

pkgbase-stage.lua: Add pkg package to the offline repo
  release/scripts/pkgbase-stage.lua
Owners: none

pkgbase-stage.lua: Add pkg package to the offline repo
  release/scripts/pkgbase-stage.lua
Owners: none

release: Fail the build if pkg can't be installed
  release/Makefile
Owners: none

release: Fail the build if pkg can't be installed
  release/Makefile
Owners: none

release: Install pkg from the pkgbase repo
  release/Makefile
Owners: none

release: Improve kernel package handling
  release/scripts/pkgbase-stage.lua
  usr.sbin/bsdinstall/scripts/pkgbase.in
Owners: none

bsdinstall: Install pkg if it's available
  usr.sbin/bsdinstall/scripts/pkgbase.in
Owners: none

pf: pass pre-NAT addresses to dummynet
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/nat.sh
Owners: @glebius, @ngie-eign

pf: pass pre-NAT addresses to dummynet
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/nat.sh
Owners: @glebius, @ngie-eign

pf: check if a group has a kif before dereferencing it
  sys/netpfil/pf/pf_if.c
Owners: @glebius

pf: check if a group has a kif before dereferencing it
  sys/netpfil/pf/pf_if.c
Owners: @glebius

blackhole.4: Describe even better
  share/man/man4/blackhole.4
Owners: none

blackhole.4: Describe even better
  share/man/man4/blackhole.4
Owners: none

blackhole.4: Describe even better, take two
  share/man/man4/blackhole.4
Owners: none

blackhole.4: Describe even better, take two
  share/man/man4/blackhole.4
Owners: none

recoverdisk.1: Fix typo
  sbin/recoverdisk/recoverdisk.1
Owners: none

recoverdisk.1: Fix typo
  sbin/recoverdisk/recoverdisk.1
Owners: none

release: Build all cloudware regardless of noroot
  release/Makefile.vm
Owners: none

release: Build all cloudware regardless of noroot
  release/Makefile.vm
Owners: none

amd64: add wrmsr_early_safe(9)
  sys/amd64/amd64/machdep.c
  sys/amd64/amd64/support.S
  sys/amd64/include/md_var.h
Owners: none

amd64 cpufunc.h: add rcs(), to read code selector
  sys/amd64/include/cpufunc.h
Owners: none
