Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

safe(4): add gone_in 16.0
  share/man/man4/safe.4
  sys/dev/safe/safe.c
Owners: none

Revert "Merge commit e24f90190c77 from llvm git (by Brad Smith):"
  contrib/llvm-project/clang/lib/Driver/ToolChains/FreeBSD.h
Owners: @DimitryAndric

sh: Implement simple parameter expansion in PS1 and PS2
  bin/sh/parser.c
  bin/sh/tests/parser/Makefile
  bin/sh/tests/parser/ps1-expand1.0
  bin/sh/tests/parser/ps1-expand2.0
  bin/sh/tests/parser/ps1-expand3.0
  bin/sh/tests/parser/ps1-expand4.0
  bin/sh/tests/parser/ps1-expand5.0
  bin/sh/tests/parser/ps2-expand1.0
Owners: @jillest

sh: Implement simple parameter expansion in PS1 and PS2
  bin/sh/parser.c
  bin/sh/tests/parser/Makefile
  bin/sh/tests/parser/ps1-expand1.0
  bin/sh/tests/parser/ps1-expand2.0
  bin/sh/tests/parser/ps1-expand3.0
  bin/sh/tests/parser/ps1-expand4.0
  bin/sh/tests/parser/ps1-expand5.0
  bin/sh/tests/parser/ps2-expand1.0
Owners: @jillest

release: Add WITHOUT_QEMU to IMAKE
  release/Makefile
Owners: none

release: Add WITHOUT_QEMU to IMAKE
  release/Makefile
Owners: none

virtio: Fix polling in virtqueue_dequeue()
  sys/dev/virtio/virtqueue.c
Owners: none

Add support for Sierra Wireless EM7590 modem.
  sys/dev/usb/serial/u3g.c
  sys/dev/usb/usbdevs
Owners: none

usb/u3g: add Quectel EM060K
  sys/dev/usb/serial/u3g.c
  sys/dev/usb/usbdevs
Owners: none

safe(4): fix api used
  sys/dev/safe/safe.c
Owners: none

safe(4): fix api used
  sys/dev/safe/safe.c
Owners: none

random: Have RANDOM_PURE_START be a cross-platform source
  sys/dev/random/fenestrasX/fx_pool.c
  sys/dev/random/random_harvestq.c
  sys/sys/random.h
Owners: none

random: Have RANDOM_PURE_START be a cross-platform source
  sys/dev/random/fenestrasX/fx_pool.c
  sys/dev/random/random_harvestq.c
  sys/sys/random.h
Owners: none

usb/u3g: add Quectel EM060K
  sys/dev/usb/serial/u3g.c
  sys/dev/usb/usbdevs
Owners: none

Add support for Sierra Wireless EM7590 modem.
  sys/dev/usb/serial/u3g.c
  sys/dev/usb/usbdevs
Owners: none

pathconf: Define a new name called _PC_CASE_INSENSITIVE
  sys/fs/msdosfs/msdosfs_vnops.c
  sys/kern/vfs_default.c
  sys/sys/unistd.h
Owners: none

random: Have RANDOM_PURE_START be a cross-platform source
  sys/dev/random/fenestrasX/fx_pool.c
  sys/dev/random/random_harvestq.c
  sys/sys/random.h
Owners: none

safe(4): add gone_in 16.0
  share/man/man4/safe.4
  sys/dev/safe/safe.c
Owners: none

hifn(4): add gone_in 16.0
  share/man/man4/hifn.4
  sys/dev/hifn/hifn7751.c
Owners: none

utx.8: protect first name "Ed"
  usr.sbin/utx/utx.8
Owners: none

utx.8: protect first name "Ed"
  usr.sbin/utx/utx.8
Owners: none

UPDATING: mention pf's nat64 support
  UPDATING
Owners: none

dtrace.1: Document DTRACE_DEBUG
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
Owners: none

dtrace.1: Document DTRACE_DEBUG
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
Owners: none

buf.9: Sprinkle with mdoc macros
  share/man/man9/buf.9
Owners: none

buf.9: Sprinkle with mdoc macros
  share/man/man9/buf.9
Owners: none

buf.9: Sprinkle with mdoc macros
  share/man/man9/buf.9
Owners: none

deadfs.9: Document
  share/man/man9/Makefile
  share/man/man9/deadfs.9
Owners: none

deadfs.9: Document
  share/man/man9/Makefile
  share/man/man9/deadfs.9
Owners: none

deadfs.9: Document
  share/man/man9/Makefile
  share/man/man9/deadfs.9
Owners: none

gpart.8: Document one of gpart destroy diagnostic message
  lib/geom/part/gpart.8
Owners: none

gpart.8: Document one of gpart destroy diagnostic message
  lib/geom/part/gpart.8
Owners: none

md(4): Stop symlinking vn.4 to md.4
  ObsoleteFiles.inc
  share/man/man4/Makefile
  share/man/man4/md.4
  sys/dev/md/md.c
Owners: none

vnode.9: Fix a typo in sys/tools/vnode_if.awk path name
  share/man/man9/vnode.9
Owners: none

vnode.9: Fix a typo in sys/tools/vnode_if.awk path name
  share/man/man9/vnode.9
Owners: none

dtrace.1: Document evaltime
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
Owners: none

dtrace.1: Document evaltime
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
Owners: none

truss.1: Reference sysdecode(3)
  usr.bin/truss/truss.1
Owners: none

bsdinstall: Fix newfs bsddialog menu
  usr.sbin/bsdinstall/partedit/gpart_ops.c
Owners: none

bsdinstall: Fix newfs bsddialog menu
  usr.sbin/bsdinstall/partedit/gpart_ops.c
Owners: none
