Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

inetd.8: Remove the enumeration of examples
  usr.sbin/inetd/inetd.8
Owners: none

libpam: Don't put man8 in the dev package
  lib/libpam/modules/pam_chroot/Makefile
  lib/libpam/modules/pam_deny/Makefile
  lib/libpam/modules/pam_echo/Makefile
  lib/libpam/modules/pam_exec/Makefile
  lib/libpam/modules/pam_ftpusers/Makefile
  lib/libpam/modules/pam_group/Makefile
  lib/libpam/modules/pam_guest/Makefile
  lib/libpam/modules/pam_krb5/Makefile
  lib/libpam/modules/pam_ksu/Makefile
  lib/libpam/modules/pam_lastlog/Makefile
  lib/libpam/modules/pam_login_access/Makefile
  lib/libpam/modules/pam_nologin/Makefile
  lib/libpam/modules/pam_passwdqc/Makefile
  lib/libpam/modules/pam_permit/Makefile
  lib/libpam/modules/pam_radius/Makefile
  lib/libpam/modules/pam_rhosts/Makefile
  lib/libpam/modules/pam_rootok/Makefile
  lib/libpam/modules/pam_securetty/Makefile
  lib/libpam/modules/pam_self/Makefile
  lib/libpam/modules/pam_ssh/Makefile
  lib/libpam/modules/pam_tacplus/Makefile
  lib/libpam/modules/pam_unix/Makefile
  lib/libpam/modules/pam_xdg/Makefile
Owners: @dag-erling

setcred(): Fix 32-bit compatibility copy-in
  sys/kern/kern_prot.c
Owners: none

setcred(): Fix 32-bit compatibility copy-in
  sys/kern/kern_prot.c
Owners: none

Retire pccard(4)
  share/man/man4/Makefile
  share/man/man4/cardbus.4
  share/man/man4/pccard.4
  share/man/man4/pccbb.4
  share/man/man4/xl.4
  share/man/man9/DEVICE_DETACH.9
  share/man/man9/bus_alloc_resource.9
  usr.sbin/dumpcis/dumpcis.8
Owners: none

lam: fix using stdin more than once
  etc/mtree/BSD.tests.dist
  usr.bin/lam/Makefile
  usr.bin/lam/lam.c
  usr.bin/lam/tests/Makefile
  usr.bin/lam/tests/lam_test.sh
Owners: none

libpam: Don't put man8 in the dev package
  lib/libpam/modules/pam_chroot/Makefile
  lib/libpam/modules/pam_deny/Makefile
  lib/libpam/modules/pam_echo/Makefile
  lib/libpam/modules/pam_exec/Makefile
  lib/libpam/modules/pam_ftpusers/Makefile
  lib/libpam/modules/pam_group/Makefile
  lib/libpam/modules/pam_guest/Makefile
  lib/libpam/modules/pam_krb5/Makefile
  lib/libpam/modules/pam_ksu/Makefile
  lib/libpam/modules/pam_lastlog/Makefile
  lib/libpam/modules/pam_login_access/Makefile
  lib/libpam/modules/pam_nologin/Makefile
  lib/libpam/modules/pam_passwdqc/Makefile
  lib/libpam/modules/pam_permit/Makefile
  lib/libpam/modules/pam_radius/Makefile
  lib/libpam/modules/pam_rhosts/Makefile
  lib/libpam/modules/pam_rootok/Makefile
  lib/libpam/modules/pam_securetty/Makefile
  lib/libpam/modules/pam_self/Makefile
  lib/libpam/modules/pam_ssh/Makefile
  lib/libpam/modules/pam_tacplus/Makefile
  lib/libpam/modules/pam_unix/Makefile
  lib/libpam/modules/pam_xdg/Makefile
Owners: @dag-erling

GCE: Specify the architecture of images
  release/Makefile.gce
Owners: none

GCE: Specify the architecture of images
  release/Makefile.gce
Owners: none

GCE: Add TARGET and FS to image family
  release/Makefile.gce
Owners: none

GCE: Add TARGET and FS to image family
  release/Makefile.gce
Owners: none

setcred(): Fix 32-bit compatibility copy-in
  sys/kern/kern_prot.c
Owners: none

GCE: Don't .error on unsupported targets
  release/Makefile.gce
Owners: none

GCE: Don't .error on unsupported targets
  release/Makefile.gce
Owners: none

setcred(): Fix 32-bit compatibility copy-in
  sys/kern/kern_prot.c
Owners: none

arm64/vmm: Don't set MDSCR_EL1.KDE when enabling single-stepping
  sys/arm64/vmm/vmm_arm64.c
Owners: none

arm64/vmm: Fix handling of MDCR_EL2.TDE
  sys/arm64/vmm/vmm_arm64.c
Owners: none

pf: handle divert packets
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/divert-to.sh
Owners: @glebius, @ngie-eign

pf: handle divert packets
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/divert-to.sh
Owners: @glebius, @ngie-eign

vmimage.subr: Log pkg/local.sqlite if pkgbase
  release/tools/vmimage.subr
Owners: none

vmimage.subr: Log pkg/local.sqlite if pkgbase
  release/tools/vmimage.subr
Owners: none

bsdinstall: Enable FreeBSD-base repo when pkgbase
  usr.sbin/bsdinstall/scripts/pkgbase.in
Owners: none

bsdinstall: Enable FreeBSD-base repo when pkgbase
  usr.sbin/bsdinstall/scripts/pkgbase.in
Owners: none

vmimage.subr: Enable FreeBSD-base repo if pkgbase
  release/tools/vmimage.subr
Owners: none

vmimage.subr: Enable FreeBSD-base repo if pkgbase
  release/tools/vmimage.subr
Owners: none

vmimage.subr: autoremove -y
  release/tools/vmimage.subr
Owners: none

vmimage.subr: autoremove -y
  release/tools/vmimage.subr
Owners: none

vmimage.subr: Don't log missing files from pkgs
  release/tools/vmimage.subr
Owners: none

vmimage.subr: Don't log missing files from pkgs
  release/tools/vmimage.subr
Owners: none

arm64/vmm: Don't set MDSCR_EL1.KDE when enabling single-stepping
  sys/arm64/vmm/vmm_arm64.c
Owners: none

arm64/vmm: Fix handling of MDCR_EL2.TDE
  sys/arm64/vmm/vmm_arm64.c
Owners: none

Add pkgbase signing keys for FreeBSD 15
  etc/mtree/BSD.usr.dist
  share/keys/pkgbase-15/Makefile
  share/keys/pkgbase-15/trusted/Makefile
  share/keys/pkgbase-15/trusted/awskms-15
Owners: none

bsdinstall: Use pkgbase.f.o for BETA/RC/RELEASE
  usr.sbin/bsdinstall/FreeBSD-base.conf.in
  usr.sbin/bsdinstall/Makefile
Owners: none

bsdinstall: Copy in all keys
  usr.sbin/bsdinstall/scripts/pkgbase.in
Owners: none

pkg: Add FreeBSD-base to /etc/pkg/FreeBSD.conf
  usr.sbin/pkg/FreeBSD.conf.latest
  usr.sbin/pkg/FreeBSD.conf.quarterly
  usr.sbin/pkg/FreeBSD.conf.quarterly-release
Owners: none

bsdinstall: Don't install FreeBSD-base.conf
  usr.sbin/bsdinstall/scripts/pkgbase.in
Owners: none

GCE: Add TARGET and FS to image family
  release/Makefile.gce
Owners: none

GCE: Don't .error on unsupported targets
  release/Makefile.gce
Owners: none

bsdinstall: Enable FreeBSD-base repo when pkgbase
  usr.sbin/bsdinstall/scripts/pkgbase.in
Owners: none

vmimage.subr: Log pkg/local.sqlite if pkgbase
  release/tools/vmimage.subr
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
