Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

ftpd: blocklist: Add a permission denied probe
  libexec/ftpd/ftpd.c
Owners: none

openssh: blocklist: Use NetBSD probes
  crypto/openssh/auth-pam.c
  crypto/openssh/auth.c
  crypto/openssh/auth2.c
  crypto/openssh/monitor.c
  crypto/openssh/packet.c
  crypto/openssh/sshd-session.c
Owners: @dag-erling

openssh: blocklist: Use NetBSD probes
  crypto/openssh/auth-pam.c
  crypto/openssh/auth.c
  crypto/openssh/auth2.c
  crypto/openssh/monitor.c
  crypto/openssh/packet.c
  crypto/openssh/sshd-session.c
Owners: @dag-erling

committers-ports.dot: add tiga and mentors
  share/misc/committers-ports.dot
Owners: none

committers-ports.dot: add tiga and mentors
  share/misc/committers-ports.dot
Owners: none

vfs cache: Add vn_fullpath_jail(), factor out common code
  share/man/man9/Makefile
  share/man/man9/vn_fullpath.9
  sys/kern/vfs_cache.c
  sys/sys/vnode.h
Owners: none

vfs cache: Add vn_fullpath_jail(), factor out common code
  share/man/man9/Makefile
  share/man/man9/vn_fullpath.9
  sys/kern/vfs_cache.c
  sys/sys/vnode.h
Owners: none

MAC/do: Check executable path from the current jail's root
  sys/security/mac_do/mac_do.c
Owners: none

MAC/do: Check executable path from the current jail's root
  sys/security/mac_do/mac_do.c
Owners: none

vn_fullpath.9: Add missing links for described functions
  share/man/man9/Makefile
Owners: none

vn_fullpath.9: Add missing links for described functions
  share/man/man9/Makefile
Owners: none

mdo(1): Add support and shortcuts for fully specifying users and groups
  usr.bin/mdo/mdo.c
Owners: none

mdo(1): Add support and shortcuts for fully specifying users and groups
  usr.bin/mdo/mdo.c
Owners: none

share/man/man9: Fix compilation
  share/man/man9/Makefile
Owners: none

share/man/man9: Fix compilation
  share/man/man9/Makefile
Owners: none

vtnet: improve interface capability handling
  share/man/man4/vtnet.4
  sys/dev/virtio/network/if_vtnet.c
Owners: none

epair: add support for checksum offloading
  share/man/man4/epair.4
  sys/net/if_epair.c
Owners: none

vtnet: improve interface capability handling
  share/man/man4/vtnet.4
  sys/dev/virtio/network/if_vtnet.c
Owners: none

aac.4: Improve HARDWARE introductory sentance
  share/man/man4/aac.4
Owners: none

aac.4: Improve HARDWARE introductory sentance
  share/man/man4/aac.4
Owners: none

IfAPI: Added missing accessor for if_home_vnet
  share/man/man9/ifnet.9
  sys/net/if.c
  sys/net/if_var.h
Owners: none

IfAPI: Added missing accessor for if_home_vnet
  share/man/man9/ifnet.9
  sys/net/if.c
  sys/net/if_var.h
Owners: none

iichid(4): Always use wMaxInputLength bytes as input report length
  sys/dev/iicbus/iichid.c
Owners: none

iichid(4): Do not add 2 leading "length" bytes to input report length
  sys/dev/iicbus/iichid.c
Owners: none

ietp(4): Always overload HID report descriptor
  sys/dev/hid/ietp.c
Owners: none

Remove ftpd(8)
  ObsoleteFiles.inc
  UPDATING
  contrib/tnftp/src/ftp.1
  lib/libutil/login.conf.5
  libexec/Makefile
  libexec/ftpd/Makefile
  libexec/ftpd/Makefile.depend
  libexec/ftpd/Makefile.depend.options
  libexec/ftpd/blacklist.c
  libexec/ftpd/blacklist_client.h
  libexec/ftpd/config.h
  libexec/ftpd/extern.h
  libexec/ftpd/ftpchroot.5
  libexec/ftpd/ftpcmd.y
  libexec/ftpd/ftpd.8
  libexec/ftpd/ftpd.c
  libexec/ftpd/ftpusers
  libexec/ftpd/logwtmp.c
  libexec/ftpd/pathnames.h
  libexec/ftpd/popen.c
  libexec/rc/rc.conf
  libexec/rc/rc.d/Makefile
  libexec/rc/rc.d/ftpd
  release/tools/oci-image-notoolchain.conf
  share/examples/etc/README.examples
  share/man/man5/rc.conf.5
  share/man/man5/src.conf.5
  share/man/man7/hier.7
  share/man/man7/security.7
  share/man/man8/intro.8
  tools/build/mk/OptionalObsoleteFiles.inc
  tools/build/options/WITHOUT_BLACKLIST_SUPPORT
  tools/build/options/WITHOUT_FTP
  tools/build/options/WITHOUT_PAM_SUPPORT
  usr.sbin/inetd/inetd.8
  usr.sbin/inetd/inetd.conf
  usr.sbin/newsyslog/newsyslog.conf.d/Makefile
  usr.sbin/syslogd/Makefile
Owners: @bsdimp

Remove ftpd(8)
  ObsoleteFiles.inc
  UPDATING
  contrib/tnftp/src/ftp.1
  lib/libutil/login.conf.5
  libexec/Makefile
  libexec/ftpd/Makefile
  libexec/ftpd/Makefile.depend
  libexec/ftpd/Makefile.depend.options
  libexec/ftpd/blacklist.c
  libexec/ftpd/blacklist_client.h
  libexec/ftpd/config.h
  libexec/ftpd/extern.h
  libexec/ftpd/ftpchroot.5
  libexec/ftpd/ftpcmd.y
  libexec/ftpd/ftpd.8
  libexec/ftpd/ftpd.c
  libexec/ftpd/ftpusers
  libexec/ftpd/logwtmp.c
  libexec/ftpd/pathnames.h
  libexec/ftpd/popen.c
  libexec/rc/rc.conf
  libexec/rc/rc.d/Makefile
  libexec/rc/rc.d/ftpd
  release/tools/oci-image-notoolchain.conf
  share/examples/etc/README.examples
  share/man/man5/rc.conf.5
  share/man/man5/src.conf.5
  share/man/man7/hier.7
  share/man/man7/security.7
  share/man/man8/intro.8
  tools/build/mk/OptionalObsoleteFiles.inc
  tools/build/options/WITHOUT_BLACKLIST_SUPPORT
  tools/build/options/WITHOUT_FTP
  tools/build/options/WITHOUT_PAM_SUPPORT
  usr.sbin/inetd/inetd.8
  usr.sbin/inetd/inetd.conf
  usr.sbin/newsyslog/newsyslog.conf.d/Makefile
  usr.sbin/syslogd/Makefile
Owners: @bsdimp

ahc.4,ahd.4: Improve HARDWARE + tag SPDX
  share/man/man4/ahc.4
  share/man/man4/ahd.4
Owners: none

ahc.4,ahd.4: Improve HARDWARE + tag SPDX
  share/man/man4/ahc.4
  share/man/man4/ahd.4
Owners: none

Reapply "LinuxKPI: pci: allocate entire pci_dev hiereachy up to root port on attach"
  sys/compat/linuxkpi/common/src/linux_pci.c
Owners: none

LinuxKPI: pci: implementation of [lkpi_]pci_get_slot()
  sys/compat/linuxkpi/common/include/linux/pci.h
  sys/compat/linuxkpi/common/src/linux_pci.c
  sys/dev/bnxt/bnxt_en/if_bnxt.c
Owners: none

LinuxKPI: pci: implementation of [lkpi_]pci_get_slot()
  sys/compat/linuxkpi/common/include/linux/pci.h
  sys/compat/linuxkpi/common/src/linux_pci.c
  sys/dev/bnxt/bnxt_en/if_bnxt.c
Owners: none

Reapply "LinuxKPI: pci: allocate entire pci_dev hiereachy up to root port on attach"
  sys/compat/linuxkpi/common/src/linux_pci.c
Owners: none

UPDATING: bump __FreeBSD_version for drm-kmod/nvidia-drm vs. LinuxLPI
  UPDATING
  sys/sys/param.h
Owners: none

UPDATING: bump __FreeBSD_version for drm-kmod/nvidia-drm vs. LinuxLPI
  UPDATING
  sys/sys/param.h
Owners: none

Apply suggestions from code review
  share/man/man5/rc.conf.5
Owners: none

zvol: Fix blk-mq sync
  include/os/linux/kernel/linux/blkdev_compat.h
  module/os/linux/zfs/zvol_os.c
  tests/zfs-tests/tests/functional/zvol/zvol_misc/zvol_misc_fua.ksh
Owners: @ngie-eign

CI: Add ZTS -O option, log Setup Testing Machines step
  .github/workflows/scripts/qemu-3-deps-vm.sh
  .github/workflows/scripts/qemu-5-setup.sh
  .github/workflows/scripts/qemu-6-tests.sh
  scripts/zfs-tests.sh
  tests/test-runner/bin/test-runner.py.in
Owners: @ngie-eign

zpool iostat: refresh pool list every interval
  cmd/zpool/zpool_iter.c
  cmd/zpool/zpool_main.c
  cmd/zpool/zpool_util.h
  tests/runfiles/common.run
  tests/zfs-tests/tests/Makefile.am
  tests/zfs-tests/tests/functional/cli_root/zpool_iostat/cleanup.ksh
  tests/zfs-tests/tests/functional/cli_root/zpool_iostat/setup.ksh
  tests/zfs-tests/tests/functional/cli_root/zpool_iostat/zpool_iostat.kshlib
  tests/zfs-tests/tests/functional/cli_root/zpool_iostat/zpool_iostat_interval_all.ksh
  tests/zfs-tests/tests/functional/cli_root/zpool_iostat/zpool_iostat_interval_some.ksh
Owners: @ngie-eign

range_tree: drop duplicate zfs_ prefix from rs_set_fill_raw
  include/sys/range_tree.h
  module/zfs/range_tree.c
Owners: none
