Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

release: Remove a duplicate package listing in oracle.conf
  release/tools/oracle.conf
Owners: none

release: Remove a duplicate package listing in oracle.conf
  release/tools/oracle.conf
Owners: none

freebsd-update: sort options alphabetically
  usr.sbin/freebsd-update/freebsd-update.sh
Owners: none

freebsd-update: sort options alphabetically
  usr.sbin/freebsd-update/freebsd-update.sh
Owners: none

ZTS: Fix fault_limits timeouts
  tests/zfs-tests/tests/functional/fault/fault_limits.ksh
Owners: @ngie-eign

config: restore ZFS_AC_KERNEL_DENTRY tests
  config/kernel-dentry-operations.m4
  config/kernel.m4
Owners: none

Linux 6.17: d_set_d_op() is no longer available
  config/kernel-dentry-operations.m4
  include/os/linux/kernel/linux/dcache_compat.h
  module/os/linux/zfs/zpl_ctldir.c
Owners: none

cpucontrol: fix -DDEBUG build
  usr.sbin/cpucontrol/cpucontrol.h
Owners: none

cpucontrol: fix -DDEBUG build
  usr.sbin/cpucontrol/cpucontrol.h
Owners: none

nanobsd: Alphebetize -I
  tools/tools/nanobsd/nanobsd.sh
Owners: @bsdimp

nanobsd: Alphebetize -I
  tools/tools/nanobsd/nanobsd.sh
Owners: @bsdimp

nanobsd: Expose do_image_prep on command line
  share/man/man8/nanobsd.8
  tools/tools/nanobsd/nanobsd.sh
Owners: @bsdimp

nanobsd: Expose do_image_prep on command line
  share/man/man8/nanobsd.8
  tools/tools/nanobsd/nanobsd.sh
Owners: @bsdimp

ngctl: Fix build without JAIL
  usr.sbin/ngctl/main.c
Owners: none

ngctl: Fix build without JAIL
  usr.sbin/ngctl/main.c
Owners: none

ixgbe: Remove unused function ixgbe_is_media_cage_present
  sys/dev/ixgbe/ixgbe_e610.c
Owners: none

ixgbe: Remove unused function ixgbe_is_media_cage_present
  sys/dev/ixgbe/ixgbe_e610.c
Owners: none

loader/efi: fix non-x86 build
  stand/efi/loader/bootinfo.c
  stand/efi/loader/copy.c
Owners: @bsdimp

loader/efi: fix non-x86 build
  stand/efi/loader/bootinfo.c
  stand/efi/loader/copy.c
Owners: @bsdimp

ports.7: Fix example of passing variables on the command line
  share/man/man7/ports.7
Owners: none

ports.7: Fix example of passing variables on the command line
  share/man/man7/ports.7
Owners: none

iflib: report output drops and handle ENOBUFS properly
  sys/dev/axgbe/if_axgbe_pci.c
  sys/dev/e1000/if_em.c
  sys/dev/enetc/if_enetc.c
  sys/dev/ice/ice_lib.c
  sys/dev/igc/if_igc.c
  sys/dev/ixgbe/if_ix.c
  sys/dev/ixl/if_ixl.c
  sys/net/iflib.c
Owners: none

iflib: report output drops and handle ENOBUFS properly
  sys/dev/axgbe/if_axgbe_pci.c
  sys/dev/e1000/if_em.c
  sys/dev/enetc/if_enetc.c
  sys/dev/ice/ice_lib.c
  sys/dev/igc/if_igc.c
  sys/dev/ixgbe/if_ix.c
  sys/dev/ixl/if_ixl.c
  sys/net/iflib.c
Owners: none

Fix possible out of bounds read in armv8_crc32c
  sys/libkern/arm64/crc32c_armv8.S
Owners: none

Fix possible out of bounds read in armv8_crc32c
  sys/libkern/arm64/crc32c_armv8.S
Owners: none

fcntl(F_SETFL): Don't unconditionally invoke FIONBIO and FIOASYNC
  sys/kern/kern_descrip.c
Owners: none

fcntl(F_SETFL): Don't unconditionally invoke FIONBIO and FIOASYNC
  sys/kern/kern_descrip.c
Owners: none

tslog: Move sysinit_tslog_shim() into kern_tslog.c
  sys/kern/kern_tslog.c
  sys/sys/kernel.h
Owners: none

tslog: Move sysinit_tslog_shim() into kern_tslog.c
  sys/kern/kern_tslog.c
  sys/sys/kernel.h
Owners: none

pw: Skip root check with alternate root
  usr.sbin/pw/pw.8
  usr.sbin/pw/pw.c
  usr.sbin/pw/pw_user.c
  usr.sbin/pw/pwupd.h
Owners: none

pw: Clarify groupadd/groupmod memberlist formats
  usr.sbin/pw/pw.8
Owners: none

dhclient: improve UDP checksum handling
  sbin/dhclient/packet.c
Owners: none

dhclient: improve UDP checksum handling
  sbin/dhclient/packet.c
Owners: none

linux/rw_destroy: assert no holders before destroying
  include/os/linux/spl/sys/rwlock.h
Owners: none

libnv: Fix handling of nvlist_dump() and nvlist_send() for child nvlists
  sys/contrib/libnv/nvlist.c
Owners: none

dtrace: Use a size_t to represent a buffer size in the printm action
  cddl/contrib/opensolaris/lib/libdtrace/common/dt_consume.c
  sys/cddl/contrib/opensolaris/uts/common/dtrace/dtrace.c
Owners: none

re: Make sure re_rxeof() is called in net epoch context
  sys/dev/re/if_re.c
Owners: none

re: Make sure re_rxeof() is called in net epoch context
  sys/dev/re/if_re.c
Owners: none

libnv: Fix handling of nvlist_dump() and nvlist_send() for child nvlists
  sys/contrib/libnv/nvlist.c
Owners: none

dtrace: Use a size_t to represent a buffer size in the printm action
  cddl/contrib/opensolaris/lib/libdtrace/common/dt_consume.c
  sys/cddl/contrib/opensolaris/uts/common/dtrace/dtrace.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
