Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

ifconfig.8: Mention max name length
  sbin/ifconfig/ifconfig.8
Owners: none

gshsec.8: Fix list alignment, tag spdx
  lib/geom/shsec/gshsec.8
Owners: none

bhyve.8: Correct description for -c flag, tag spdx
  usr.sbin/bhyve/bhyve.8
Owners: @bsdjhb, @grehan-freebsd

ice.4: Avoid first person language
  share/man/man4/ice.4
Owners: none

ice.4: Add ToC and E835 and editorial pass
  share/man/man4/ice.4
Owners: none

dumpon(8): Add a SYSCTL VARIABLES section
  sbin/dumpon/dumpon.8
Owners: none

ciss.4: Add p440ar to HARDWARE
  share/man/man4/ciss.4
Owners: none

sysrc.8: Rewrite examples for mdoc conformance
  usr.sbin/sysrc/sysrc.8
Owners: none

release: Comply with Azure Marketplace requirements for aarch64
  release/tools/vmimage.subr
Owners: none

release: Comply with Azure Marketplace requirements for aarch64
  release/tools/vmimage.subr
Owners: none

release: Comply with Azure Marketplace requirements for aarch64
  release/tools/vmimage.subr
Owners: none

atf: Move the tests back to the tests package
  lib/atf/Makefile.inc
  lib/atf/libatf-c++/tests/Makefile
  lib/atf/libatf-c++/tests/detail/Makefile
  lib/atf/libatf-c/tests/Makefile
  lib/atf/libatf-c/tests/detail/Makefile
  lib/atf/tests/Makefile
  libexec/atf/Makefile.inc
  libexec/atf/atf-check/tests/Makefile
  libexec/atf/tests/Makefile
Owners: none

release: Comply with Azure Marketplace requirements for aarch64
  release/tools/vmimage.subr
Owners: none

libcrypto: Install tests in the tests package
  secure/lib/libcrypto/Makefile.inc
Owners: none

15.0: Update to BETA5
  sys/conf/newvers.sh
Owners: none

BSD family tree: reduce OpenBSD-NetBSD crowding
  share/misc/bsd-family-tree
Owners: none

BSD family tree: reduce OpenBSD-NetBSD crowding
  share/misc/bsd-family-tree
Owners: none

libcrypto: Install tests in the tests package
  secure/lib/libcrypto/Makefile.inc
Owners: none

atf: Move the tests back to the tests package
  lib/atf/Makefile.inc
  lib/atf/libatf-c++/tests/Makefile
  lib/atf/libatf-c++/tests/detail/Makefile
  lib/atf/libatf-c/tests/Makefile
  lib/atf/libatf-c/tests/detail/Makefile
  lib/atf/tests/Makefile
  libexec/atf/Makefile.inc
  libexec/atf/atf-check/tests/Makefile
  libexec/atf/tests/Makefile
Owners: none

if_vxlan: fix byteorder of source port
  sys/net/if_vxlan.c
Owners: none

if_vxlan: fix byteorder of source port
  sys/net/if_vxlan.c
Owners: none

man: describe zfs-rewrite method and properties
  man/man8/zfs-rewrite.8
Owners: none

virtio: Fix polling in virtqueue_dequeue()
  sys/dev/virtio/virtqueue.c
Owners: none

riscv/vmm: Remove a redundant maxcpu check in vm_alloc_vcpu()
  sys/riscv/vmm/vmm.c
  sys/riscv/vmm/vmm_aplic.c
  sys/riscv/vmm/vmm_aplic.h
Owners: none

vmm: Fix a deadlock between vm_smp_rendezvous() and vcpu_lock_all()
  sys/amd64/include/vmm.h
  sys/amd64/vmm/vmm.c
  sys/arm64/include/vmm.h
  sys/arm64/vmm/vmm.c
  sys/dev/vmm/vmm_dev.c
  sys/riscv/include/vmm.h
  sys/riscv/vmm/vmm.c
Owners: @bsdjhb, @grehan-freebsd, @zxombie

libzfs: ignoring unreachable code
  lib/libzfs/libzfs_sendrecv.c
Owners: none

tcp: improve comments in the syncache code
  sys/netinet/tcp_syncache.c
Owners: none

tcp: improve comments in the syncache code
  sys/netinet/tcp_syncache.c
Owners: none

sh tests: Fix racy test11.0
  bin/sh/tests/builtins/read11.0
Owners: @jillest

sh tests: Fix racy test11.0
  bin/sh/tests/builtins/read11.0
Owners: @jillest

Fix typo in vdev_raidz.c
  module/zfs/vdev_raidz.c
Owners: none

zstd: disable intrinsics
  module/Kbuild.in
  module/Makefile.bsd
  module/zstd/include/aarch64_compat.h
  module/zstd/lib/common/compiler.h
  module/zstd/lib/common/zstd_internal.h
Owners: none

jail.8: Add creating a jail from distribution set
  usr.sbin/jail/jail.8
Owners: none

jail.8: Add creating a jail from distribution set
  usr.sbin/jail/jail.8
Owners: none

mpr.4: Remove Broadcom LSI 3908 from support list
  share/man/man4/mpr.4
Owners: none

mpr.4: Remove Broadcom LSI 3908 from support list
  share/man/man4/mpr.4
Owners: none

if_vxlan: fix byteorder of source port
  sys/net/if_vxlan.c
Owners: none

bsd-family-tree: Re-center OpenBSD line
  share/misc/bsd-family-tree
Owners: none

bsd-family-tree: Re-center OpenBSD line
  share/misc/bsd-family-tree
Owners: none

safe(4): add gone_in 16.0
  share/man/man4/safe.4
  sys/dev/safe/safe.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
