Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

loader: Move ACPI RSDP detection
  stand/efi/acpica/acpi_detect.c
  stand/efi/acpica/include/acpi_detect.h
  stand/efi/loader/Makefile
  stand/efi/loader/main.c
Owners: @bsdimp

BSD.usr.dist: remove obsolete usr/share/examples/drivers entry
  etc/mtree/BSD.usr.dist
Owners: none

BSD.usr.dist: remove obsolete usr/share/examples/drivers entry
  etc/mtree/BSD.usr.dist
Owners: none

share/mk: Fix a heuristic in bsd.cpu.mk
  share/mk/bsd.cpu.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

share/mk: Fix a heuristic in bsd.cpu.mk
  share/mk/bsd.cpu.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

newsyslog.conf(5): Don't suppress space after <compress> directive
  usr.sbin/newsyslog/newsyslog.conf.5
Owners: none

newsyslog.conf(5): Don't suppress space after <compress> directive
  usr.sbin/newsyslog/newsyslog.conf.5
Owners: none

contrib/libxo: fix API header files inclusions in C++ source files
  contrib/libxo/libxo/xo.h
  contrib/libxo/libxo/xo_encoder.h
Owners: none

contrib/libxo: fix API header files inclusions in C++ source files
  contrib/libxo/libxo/xo.h
  contrib/libxo/libxo/xo_encoder.h
Owners: none

Vendor import of Unbound 1.23.1
  config.guess
  config.sub
  configure
  configure.ac
  configure~
  doc/README
  doc/example.conf.in
  doc/libunbound.3.in
  doc/unbound-anchor.8.in
  doc/unbound-checkconf.8.in
  doc/unbound-control.8.in
  doc/unbound-host.1.in
  doc/unbound.8.in
  doc/unbound.conf.5.in
  edns-subnet/subnetmod.c
  edns-subnet/subnetmod.h
Owners: none

unbound: Update to 1.23.1
  contrib/unbound/config.guess
  contrib/unbound/config.h.in
  contrib/unbound/config.sub
  contrib/unbound/configure
  contrib/unbound/configure.ac
  contrib/unbound/doc/README
  contrib/unbound/doc/example.conf
  contrib/unbound/doc/example.conf.in
  contrib/unbound/doc/libunbound.3
  contrib/unbound/doc/libunbound.3.in
  contrib/unbound/doc/unbound-anchor.8
  contrib/unbound/doc/unbound-anchor.8.in
  contrib/unbound/doc/unbound-checkconf.8
  contrib/unbound/doc/unbound-checkconf.8.in
  contrib/unbound/doc/unbound-control.8
  contrib/unbound/doc/unbound-control.8.in
  contrib/unbound/doc/unbound-host.1
  contrib/unbound/doc/unbound-host.1.in
  contrib/unbound/doc/unbound.8
  contrib/unbound/doc/unbound.8.in
  contrib/unbound/doc/unbound.conf.5
  contrib/unbound/doc/unbound.conf.5.in
  contrib/unbound/edns-subnet/subnetmod.c
  contrib/unbound/edns-subnet/subnetmod.h
  contrib/unbound/ltmain.sh
  contrib/unbound/smallapp/unbound-control-setup.sh
  lib/libunbound/Makefile
  lib/libunbound/config.h
Owners: none

unbound: Update to 1.23.1
  contrib/unbound/config.guess
  contrib/unbound/config.h.in
  contrib/unbound/config.sub
  contrib/unbound/configure
  contrib/unbound/configure.ac
  contrib/unbound/doc/README
  contrib/unbound/doc/example.conf
  contrib/unbound/doc/example.conf.in
  contrib/unbound/doc/libunbound.3
  contrib/unbound/doc/libunbound.3.in
  contrib/unbound/doc/unbound-anchor.8
  contrib/unbound/doc/unbound-anchor.8.in
  contrib/unbound/doc/unbound-checkconf.8
  contrib/unbound/doc/unbound-checkconf.8.in
  contrib/unbound/doc/unbound-control.8
  contrib/unbound/doc/unbound-control.8.in
  contrib/unbound/doc/unbound-host.1
  contrib/unbound/doc/unbound-host.1.in
  contrib/unbound/doc/unbound.8
  contrib/unbound/doc/unbound.8.in
  contrib/unbound/doc/unbound.conf.5
  contrib/unbound/doc/unbound.conf.5.in
  contrib/unbound/edns-subnet/subnetmod.c
  contrib/unbound/edns-subnet/subnetmod.h
  contrib/unbound/ltmain.sh
  contrib/unbound/smallapp/unbound-control-setup.sh
  lib/libunbound/Makefile
  lib/libunbound/config.h
Owners: none

man: Add -l option
  usr.bin/man/man.1
  usr.bin/man/man.sh
Owners: none

man: Add -l option
  usr.bin/man/man.1
  usr.bin/man/man.sh
Owners: none

[net80211] Quieten the logging from ieee80211_vht_get_vhtflags()
  sys/net80211/ieee80211_ht.c
Owners: none

[net80211] Quieten the logging from ieee80211_vht_get_vhtflags()
  sys/net80211/ieee80211_ht.c
Owners: none

Update the installed manpages to match OpenSSL 3.5.1
  secure/lib/libcrypto/man/man3/Makefile
  secure/lib/libcrypto/man/man7/Makefile
Owners: none

Update the installed manpages to match OpenSSL 3.5.1
  secure/lib/libcrypto/man/man3/Makefile
  secure/lib/libcrypto/man/man7/Makefile
Owners: none

kern: replace several EBADF with EINVAL
  sys/kern/kern_event.c
  sys/kern/sys_procdesc.c
Owners: none

kern: replace several EBADF with EINVAL
  sys/kern/kern_event.c
  sys/kern/sys_procdesc.c
Owners: none

Update vmimage.subr to create fstab with noatime reduced the OPNsense constant 50kb - 80kb disk writes that wear down the SSD / NVME
  release/tools/vmimage.subr
Owners: none

libc/amd64: rewrite memrchr() scalar impl. to read the string from the back
  lib/libc/amd64/string/memrchr.S
Owners: none

libc/amd64: rewrite memrchr() baseline impl. to read the string from the back
  lib/libc/amd64/string/memrchr.S
Owners: none

call g_new_provider instead for callers that pass a regular string to g_new_providerf
  sys/geom/gate/g_gate.c
  sys/geom/geom_ccd.c
  sys/geom/geom_disk.c
  sys/geom/geom_slice.c
  sys/geom/geom_subr.c
  sys/geom/mountver/g_mountver.c
  sys/geom/nop/g_nop.c
  sys/geom/part/g_part_if.m
  sys/geom/raid/g_raid.c
  sys/geom/union/g_union.c
  sys/geom/uzip/g_uzip.c
  sys/geom/zero/g_zero.c
Owners: none

call g_new_geom instead for callers that pass regular string to g_new_geomf
  sys/geom/cache/g_cache.c
  sys/geom/concat/g_concat.c
  sys/geom/eli/g_eli.c
  sys/geom/gate/g_gate.c
  sys/geom/geom_dev.c
  sys/geom/geom_slice.c
  sys/geom/geom_subr.c
  sys/geom/journal/g_journal.c
  sys/geom/label/g_label.c
  sys/geom/linux_lvm/g_linux_lvm.c
  sys/geom/mirror/g_mirror.c
  sys/geom/mirror/g_mirror_ctl.c
  sys/geom/mountver/g_mountver.c
  sys/geom/multipath/g_multipath.c
  sys/geom/nop/g_nop.c
  sys/geom/part/g_part.c
  sys/geom/raid/g_raid.c
  sys/geom/raid3/g_raid3.c
  sys/geom/raid3/g_raid3_ctl.c
  sys/geom/shsec/g_shsec.c
  sys/geom/stripe/g_stripe.c
  sys/geom/union/g_union.c
  sys/geom/virstor/g_virstor.c
  sys/geom/zero/g_zero.c
Owners: none

ng_device: enable setting the device to non-blocking mode
  sys/netgraph/ng_device.c
Owners: none

freebsd-update: Fix the pkgbase check
  usr.sbin/freebsd-update/freebsd-update.sh
Owners: none

man: Fix usage message
  usr.bin/man/man.sh
Owners: none

man: Fix usage message
  usr.bin/man/man.sh
Owners: none

ng_device.c: improve compliance with style(9)
  sys/netgraph/ng_device.c
Owners: none

Revert "LinuxKPI: pci: allocate entire pci_dev hiereachy up to root port on attach"
  sys/compat/linuxkpi/common/src/linux_pci.c
Owners: none

Revert "LinuxKPI: pci: allocate entire pci_dev hiereachy up to root port on attach"
  sys/compat/linuxkpi/common/src/linux_pci.c
Owners: none

random: Make the min-entropy estimate configurable
  sys/dev/random/random_harvestq.c
Owners: none

random.4: Document the kern.random.nist_healthtest_enabled tunable
  share/man/man4/random.4
Owners: none

random: Allow pure entropy sources to provide a min-entropy estimate
  sys/dev/random/random_harvestq.c
  sys/dev/random/randomdev.h
Owners: none

random: Exclude the timestamp from healthtest for pure sources
  sys/dev/random/random_harvestq.c
Owners: none

random: Exclude the timestamp from healthtest for pure sources
  sys/dev/random/random_harvestq.c
Owners: none

random.4: Document the kern.random.nist_healthtest_enabled tunable
  share/man/man4/random.4
Owners: none

random: Make the entropy source registration interface more uniform
  sys/dev/random/random_harvestq.c
  sys/dev/random/randomdev.h
  sys/dev/tpm/tpm20.c
  sys/dev/vmgenc/vmgenc_acpi.c
  sys/sys/random.h
Owners: none

random: Fix synchronization of hc_source_mask
  sys/dev/random/random_harvestq.c
Owners: none
