Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

release: Pass ABI to running pkgbase-stage on dvd
  release/Makefile
Owners: none

pkgbootstrap: Build pkg if PORTSDIR exists
  Makefile.inc1
Owners: none

pkgbase: Don't include pkg by default
  Makefile.inc1
  release/Makefile
Owners: none

release: Always dist sets on dvd1
  release/Makefile
Owners: none

release: More fixes for building pkg package
  release/scripts/make-pkg-package.sh
Owners: none

pkgbootstrap: Gate building from ports
  Makefile.inc1
  release/Makefile
Owners: none

release: Allow pkg build on "wrong" major
  release/scripts/make-pkg-package.sh
Owners: none

release.sh: Use mkdir -p
  release/release.sh
Owners: none

release.sh: Bootstrap pkg from the ports tree
  release/release.sh
Owners: none

15.0: Update to ALPHA3
  sys/conf/newvers.sh
Owners: none

uart: patch for ns8250 on arm
  sys/dev/uart/uart_dev_ns8250.c
Owners: none

uart: patch for ns8250 on arm/aarch64
  sys/conf/options.arm64
  sys/dev/uart/uart_bus_fdt.c
  sys/dev/uart/uart_dev_ns8250.c
Owners: none

arm, powerpc, riscv: implement atomic_set/clear_16
  sys/arm/include/atomic.h
  sys/powerpc/include/atomic.h
  sys/riscv/include/atomic.h
  sys/sys/_atomic_subword.h
Owners: none

arm, powerpc, riscv: implement atomic_set/clear_16
  sys/arm/include/atomic.h
  sys/powerpc/include/atomic.h
  sys/riscv/include/atomic.h
  sys/sys/_atomic_subword.h
Owners: none

arm/atomic.h: remove misleading comment
  sys/arm/include/atomic.h
Owners: none

arm/atomic.h: remove misleading comment
  sys/arm/include/atomic.h
Owners: none

kern/vfs_vnops.c: generalize the lock primitive for file foffset
  sys/kern/vfs_vnops.c
  sys/sys/file.h
Owners: none

fcntl(F_SETFL): only allow one thread to perform F_SETFL
  sys/kern/kern_descrip.c
  sys/kern/vfs_vnops.c
  sys/sys/file.h
Owners: none

fcntl(F_SETFL): only allow one thread to perform F_SETFL
  sys/kern/kern_descrip.c
  sys/kern/vfs_vnops.c
  sys/sys/file.h
Owners: none

kern/vfs_vnops.c: generalize the lock primitive for file foffset
  sys/kern/vfs_vnops.c
  sys/sys/file.h
Owners: none

x86: directly use clflushopt mnemonic in cpufunc.h
  sys/amd64/include/cpufunc.h
  sys/i386/include/cpufunc.h
Owners: none

x86: directly use clflushopt mnemonic in cpufunc.h
  sys/amd64/include/cpufunc.h
  sys/i386/include/cpufunc.h
Owners: none

stress2: Do not follow symbolic links
  tools/test/stress2/misc/rsync.sh
  tools/test/stress2/misc/rsync3.sh
Owners: none

stress2: Do not follow symbolic links
  tools/test/stress2/misc/rsync.sh
  tools/test/stress2/misc/rsync3.sh
Owners: none

stress2: Limit disk usage to avoid a disk full message
  tools/test/stress2/misc/unionfs7.sh
Owners: none

stress2: Limit disk usage to avoid a disk full message
  tools/test/stress2/misc/unionfs7.sh
Owners: none

gpioled: use hw pin inversion if available
  sys/dev/gpio/gpioled.c
Owners: none

gpioled: remove redundant -1 check
  sys/dev/gpio/gpioled.c
Owners: none

moused(8): Add command line option to restrict interface type
  libexec/rc/rc.conf
  libexec/rc/rc.d/moused
  usr.sbin/moused/moused/moused.8
  usr.sbin/moused/moused/moused.c
Owners: none

moused(8): Add command line option to restrict interface type
  libexec/rc/rc.conf
  libexec/rc/rc.d/moused
  usr.sbin/moused/moused/moused.8
  usr.sbin/moused/moused/moused.c
Owners: none

moused(8): Start moused with devd
  libexec/rc/rc.conf
  libexec/rc/rc.d/moused
  sbin/devd/moused.conf
Owners: none

moused(8): Start moused with devd
  libexec/rc/rc.conf
  libexec/rc/rc.d/moused
  sbin/devd/moused.conf
Owners: none

Revert ".cirrus.yml: Reenable CI with pre-commit CI scripts"
  .cirrus.yml
Owners: none

Revert ".cirrus.yml: Reenable CI with pre-commit CI scripts"
  .cirrus.yml
Owners: none

share/sendmail: Use consistent ordering when processing files
  share/sendmail/Makefile
Owners: none

bnxt: Fix the request length in bnxt_hwrm_func_backing_store_cfg()
  sys/dev/bnxt/bnxt_en/bnxt_hwrm.c
Owners: none

tests: Add some regression tests for copy_file_range()
  tests/sys/kern/Makefile
  tests/sys/kern/copy_file_range.c
Owners: @ngie-eign

vnode: Assert that VOP_LOCK succeeds in freevnode()
  sys/kern/vfs_subr.c
Owners: none

vm_pageout: Scan inactive dirty pages less aggressively
  sys/vm/swap_pager.c
  sys/vm/swap_pager.h
  sys/vm/vm_pageout.c
Owners: none

bhyve: insert VM name to the VNC screen title
  usr.sbin/bhyve/rfb.c
Owners: @bsdjhb, @grehan-freebsd
