Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

release: Make PKGBASE the default
  release/Makefile
  release/release.sh
Owners: none

release: Always dist sets on dvd1
  release/Makefile
Owners: none

release: Always dist sets on dvd1
  release/Makefile
Owners: none

ddb ps: Print again the effective GID, separately
  sys/ddb/db_ps.c
Owners: none

hwpmc: On attach, ensure owner is a target effective GID's member
  sys/dev/hwpmc/hwpmc_mod.c
Owners: none

hwpmc: On attach, fix allowing a PMC's owner to attach it to itself
  sys/dev/hwpmc/hwpmc_mod.c
Owners: none

nfscl: Restore sending the effective GID to the server
  sys/fs/nfsclient/nfs_clport.c
Owners: none

procfs: Restore printing the effective GID in 'status'
  sys/fs/procfs/procfs_status.c
Owners: @dag-erling

hwt: On attach, ensure owner is a target effective GID's member
  sys/dev/hwt/hwt_ioctl.c
Owners: none

nfs: newnfs_setroot(): Remove an obsolete comment
  sys/fs/nfs/nfs_commonport.c
Owners: none

kvm_proclist(): Restore outputting the effective GID
  lib/libkvm/kvm_proc.c
Owners: none

kinfo_proc: Restore outputting the effective GID
  sys/kern/kern_proc.c
Owners: none

imgact_elf: procstat groups: Restore sending the effective GID
  sys/kern/imgact_elf.c
Owners: none

libc: fix the _FORTIFY_SOURCE build of getgrouplist(3)
  lib/libc/gen/getgrouplist.c
Owners: none

'kern.proc.groups' sysctl knob: Restore outputting the effective GID
  sys/kern/kern_proc.c
Owners: none

jail.2: Mention EPERM is returned on open directories
  lib/libsys/jail.2
Owners: none

getgrouplist(3): Remove superfluous headers, bogus comment and whitespace
  lib/libc/gen/getgrouplist.c
Owners: none

packages: Remove the tests-dev package
  UPDATING
  lib/atf/Makefile.inc
  lib/atf/libatf-c++/Makefile
  lib/atf/libatf-c++/tests/Makefile
  lib/atf/libatf-c/Makefile
  lib/atf/libatf-c/tests/Makefile
  lib/libc/tests/tls/dso/Makefile
  lib/libc/tests/tls_dso/Makefile
  lib/libxo/tests/encoder/Makefile
  libexec/atf/Makefile.inc
  libexec/atf/atf-check/Makefile
  libexec/atf/atf-pytest-wrapper/Makefile
  libexec/atf/atf-sh/Makefile
  libexec/rtld-elf/tests/Makefile.inc
  release/packages/ucl/atf-all.ucl
  release/packages/ucl/kyua-all.ucl
  release/packages/ucl/tests-all.ucl
  share/mk/bsd.lib.mk
  share/mk/bsd.test.mk
  usr.bin/kyua/Makefile
Owners: @bsdimp, @bapt, @bdrewery, @emaste

packages: Add a mandoc package
  UPDATING
  release/packages/ucl/mandoc-all.ucl
  usr.bin/man/Makefile
  usr.bin/mandoc/Makefile
  usr.bin/mandoc/mandoc.ucl
Owners: none

packages: Remove the tests-dev package
  UPDATING
  lib/atf/Makefile.inc
  lib/atf/libatf-c++/Makefile
  lib/atf/libatf-c++/tests/Makefile
  lib/atf/libatf-c/Makefile
  lib/atf/libatf-c/tests/Makefile
  lib/libc/tests/tls/dso/Makefile
  lib/libc/tests/tls_dso/Makefile
  lib/libxo/tests/encoder/Makefile
  libexec/atf/Makefile.inc
  libexec/atf/atf-check/Makefile
  libexec/atf/atf-pytest-wrapper/Makefile
  libexec/atf/atf-sh/Makefile
  libexec/rtld-elf/tests/Makefile.inc
  release/packages/ucl/atf-all.ucl
  release/packages/ucl/kyua-all.ucl
  release/packages/ucl/tests-all.ucl
  share/mk/bsd.lib.mk
  share/mk/bsd.test.mk
  usr.bin/kyua/Makefile
Owners: @bsdimp, @bapt, @bdrewery, @emaste

packages: Add a mandoc package
  UPDATING
  release/packages/ucl/mandoc-all.ucl
  usr.bin/man/Makefile
  usr.bin/mandoc/Makefile
  usr.bin/mandoc/mandoc.ucl
Owners: none

Revert "acpi: Fix build when `ACPI_DEBUG_OUTPUT` defined"
  sys/dev/acpica/acpi.c
Owners: none

Revert "acpi: Fix build when `ACPI_DEBUG_OUTPUT` defined"
  sys/dev/acpica/acpi.c
Owners: none

Revert "sys/power: Sleep type reporting by PM backends"
  sys/dev/acpica/acpi.c
  sys/kern/subr_power.c
  sys/sys/power.h
Owners: none

Revert "sys/power: Sleep type reporting by PM backends"
  sys/dev/acpica/acpi.c
  sys/kern/subr_power.c
  sys/sys/power.h
Owners: none

Revert "acpi: Use sleep types defined in sys/power.h"
  sys/dev/acpica/acpi.c
  sys/dev/acpica/acpi_lid.c
  sys/dev/acpica/acpivar.h
  sys/x86/acpica/acpi_apm.c
Owners: none

Revert "acpi: Use sleep types defined in sys/power.h"
  sys/dev/acpica/acpi.c
  sys/dev/acpica/acpi_lid.c
  sys/dev/acpica/acpivar.h
  sys/x86/acpica/acpi_apm.c
Owners: none

ng_btsocket_rfcomm: Mark a couple buffers as const in a helper function
  sys/netgraph/bluetooth/socket/ng_btsocket_rfcomm.c
Owners: none

ng_hci: Cast NG_HCI_BDADDR_ANY to const bdaddr_t *
  sys/netgraph/bluetooth/include/ng_hci.h
Owners: none

sdp(3): Change bdaddr parameter type in sdp_register_service()
  lib/libsdp/sdp.3
  lib/libsdp/sdp.h
  lib/libsdp/service.c
Owners: none

ng_hci: Cast NG_HCI_BDADDR_ANY to const bdaddr_t *
  sys/netgraph/bluetooth/include/ng_hci.h
Owners: none

ng_btsocket_rfcomm: Mark a couple buffers as const in a helper function
  sys/netgraph/bluetooth/socket/ng_btsocket_rfcomm.c
Owners: none

sdp(3): Change bdaddr parameter type in sdp_register_service()
  lib/libsdp/sdp.3
  lib/libsdp/sdp.h
  lib/libsdp/service.c
Owners: none

hwpmc: On attach, ensure owner is a target effective GID's member
  sys/dev/hwpmc/hwpmc_mod.c
Owners: none

hwpmc: On attach, fix allowing a PMC's owner to attach it to itself
  sys/dev/hwpmc/hwpmc_mod.c
Owners: none

getgrouplist(3): Remove superfluous headers, bogus comment and whitespace
  lib/libc/gen/getgrouplist.c
Owners: none

libc: fix the _FORTIFY_SOURCE build of getgrouplist(3)
  lib/libc/gen/getgrouplist.c
Owners: none

udbc: Add usb debug host mode driver
  share/man/man4/udbc.4
  sys/dev/usb/serial/udbc.c
  sys/modules/usb/Makefile
  sys/modules/usb/udbc/Makefile
Owners: none

udbc(4): connect to build
  share/man/man4/Makefile
Owners: none

atf_pytest: fix xfail detection from pytest report
  tests/atf_python/atf_pytest.py
Owners: @ngie-eign
