Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

socket: Fix the name of a parameter in a comment
  sys/kern/uipc_socket.c
Owners: none

socket: Fix the name of a parameter in a comment
  sys/kern/uipc_socket.c
Owners: none

netmap: Let memory allocator parameters be settable via loader.conf
  sys/dev/netmap/netmap_mem2.c
Owners: none

netmap: Let memory allocator parameters be settable via loader.conf
  sys/dev/netmap/netmap_mem2.c
Owners: none

pfsync: Avoid zeroing the state export union
  sys/net/pfvar.h
  sys/netpfil/pf/if_pfsync.c
  sys/netpfil/pf/pf_ioctl.c
Owners: @glebius

pfsync: Avoid zeroing the state export union
  sys/net/pfvar.h
  sys/netpfil/pf/if_pfsync.c
  sys/netpfil/pf/pf_ioctl.c
Owners: @glebius

libc/tests/string: improve stpncpy() "bounds" unit test
  lib/libc/tests/string/stpncpy_test.c
Owners: none

libc/tests/string: improve stpncpy() "bounds" unit test
  lib/libc/tests/string/stpncpy_test.c
Owners: none

libc/amd64: fix overread conditions in stpncpy()
  lib/libc/amd64/string/stpncpy.S
Owners: none

libc/amd64: fix overread conditions in stpncpy()
  lib/libc/amd64/string/stpncpy.S
Owners: none

login.1: Remove mention of login copyright display
  usr.bin/login/login.1
Owners: none

login.1: Remove mention of login copyright display
  usr.bin/login/login.1
Owners: none

libc/test: fix typo
  lib/libc/tests/string/stpncpy_test.c
Owners: none

libc/test: fix typo
  lib/libc/tests/string/stpncpy_test.c
Owners: none

zfs: Merge commit 86b064469dc9c2 from OpenZFS
  sys/contrib/openzfs/module/os/freebsd/zfs/zfs_vnops_os.c
Owners: none

zfs: Merge commit 86b064469dc9c2 from OpenZFS
  sys/contrib/openzfs/module/os/freebsd/zfs/zfs_vnops_os.c
Owners: none

LinuxKPI: 802.11: rework MC/configure_filter
  sys/compat/linuxkpi/common/src/linux_80211.c
  sys/compat/linuxkpi/common/src/linux_80211_macops.c
Owners: none

LinuxKPI: 802.11: rework MC/configure_filter
  sys/compat/linuxkpi/common/src/linux_80211.c
  sys/compat/linuxkpi/common/src/linux_80211_macops.c
Owners: none

Fix zgrep(1) wrapper regression, add test
  usr.bin/grep/tests/grep_freebsd_test.sh
  usr.bin/grep/zgrep.sh
Owners: none

Fix zgrep(1) wrapper regression, add test
  usr.bin/grep/tests/grep_freebsd_test.sh
  usr.bin/grep/zgrep.sh
Owners: none

Cross-reference all of uart(4), tty(4) and termios(4)
  share/man/man4/Makefile
  share/man/man4/termios.4
  share/man/man4/tty.4
  share/man/man4/uart.4
Owners: none

Cross-reference all of uart(4), tty(4) and termios(4)
  share/man/man4/Makefile
  share/man/man4/termios.4
  share/man/man4/tty.4
  share/man/man4/uart.4
Owners: none

if_rge: initial import of if_rge driver from OpenBSD.
  share/man/man4/Makefile
  share/man/man4/rge.4
  sys/conf/files
  sys/dev/rge/if_rge.c
  sys/dev/rge/if_rge_debug.h
  sys/dev/rge/if_rge_hw.c
  sys/dev/rge/if_rge_hw.h
  sys/dev/rge/if_rge_microcode.h
  sys/dev/rge/if_rge_stats.c
  sys/dev/rge/if_rge_stats.h
  sys/dev/rge/if_rge_sysctl.c
  sys/dev/rge/if_rge_sysctl.h
  sys/dev/rge/if_rge_vendor.h
  sys/dev/rge/if_rgereg.h
  sys/dev/rge/if_rgevar.h
  sys/modules/Makefile
  sys/modules/rge/Makefile
Owners: none

if_rge: initial import of if_rge driver from OpenBSD.
  share/man/man4/Makefile
  share/man/man4/rge.4
  sys/conf/files
  sys/dev/rge/if_rge.c
  sys/dev/rge/if_rge_debug.h
  sys/dev/rge/if_rge_hw.c
  sys/dev/rge/if_rge_hw.h
  sys/dev/rge/if_rge_microcode.h
  sys/dev/rge/if_rge_stats.c
  sys/dev/rge/if_rge_stats.h
  sys/dev/rge/if_rge_sysctl.c
  sys/dev/rge/if_rge_sysctl.h
  sys/dev/rge/if_rge_vendor.h
  sys/dev/rge/if_rgereg.h
  sys/dev/rge/if_rgevar.h
  sys/modules/Makefile
  sys/modules/rge/Makefile
Owners: none

vm_fault: only rely on PG_ZERO when the page was newly allocated
  sys/vm/vm_fault.c
Owners: none

vm_page.h: remove no longer defined (P) locking annotation
  sys/vm/vm_page.h
Owners: none

vm_page.h: remove no longer defined (P) locking annotation
  sys/vm/vm_page.h
Owners: none

vm_fault: only rely on PG_ZERO when the page was newly allocated
  sys/vm/vm_fault.c
Owners: none

sndctl(8): Do not free and re-open device
  usr.sbin/sndctl/sndctl.c
Owners: none

sound examples: Check if setting property was successful
  share/examples/sound/oss.h
  share/examples/sound/simple.c
Owners: none

options: describe WITH_IPFILTER_IPFS
  tools/build/options/WITH_IPFILTER_IPFS
Owners: @bsdimp

options: describe WITH_IPFILTER_IPFS
  tools/build/options/WITH_IPFILTER_IPFS
Owners: @bsdimp

src.conf.5: regen documenting WITH_IPFILTER_IPFS
  share/man/man5/src.conf.5
Owners: none

src.conf.5: regen documenting WITH_IPFILTER_IPFS
  share/man/man5/src.conf.5
Owners: none

zfs: Merge commit 86b064469dc9c2 from OpenZFS
  sys/contrib/openzfs/module/os/freebsd/zfs/zfs_vnops_os.c
Owners: none

libkern: Avoid a one-byte OOB access in strndup()
  sys/libkern/strndup.c
Owners: none

pf: Fix an off-by-one in pf_handle_getcreators()
  sys/netpfil/pf/pf_nl.c
Owners: @glebius

linker: Avoid invoking eventhandlers on incompletely loaded files
  sys/kern/kern_linker.c
Owners: none

pf: Fix error handling in pf_handle_get_tstats()
  sys/netpfil/pf/pf_nl.c
Owners: @glebius

rtsold: Fix a buffer leak if we fail to read the default router sysctl
  usr.sbin/rtsold/cap_sendmsg.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
