Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

rtsold: Fix a buffer leak if we fail to read the default router sysctl
  usr.sbin/rtsold/cap_sendmsg.c
Owners: none

libkern: Avoid a one-byte OOB access in strndup()
  sys/libkern/strndup.c
Owners: none

libpam: Add newline at EOF in modules.inc
  lib/libpam/modules/modules.inc
Owners: @dag-erling

ministat: Clean up usage message, manual page, and chameleon
  usr.bin/ministat/chameleon
  usr.bin/ministat/ministat.1
  usr.bin/ministat/ministat.c
Owners: none

ministat: Clean up usage message, manual page, and chameleon
  usr.bin/ministat/chameleon
  usr.bin/ministat/ministat.1
  usr.bin/ministat/ministat.c
Owners: none

sys: Bump 32-bit kernel removal to 16.0
  sys/kern/init_main.c
Owners: none

freebsd-update: Mention upgrading packages, not just ports
  usr.sbin/freebsd-update/freebsd-update.sh
Owners: none

imgact_elf: Fix off-by-one in note size check
  sys/kern/imgact_elf.c
Owners: none

libc++: avoid use of deprecated builtin
  contrib/llvm-project/libcxx/include/__type_traits/is_trivially_relocatable.h
Owners: @DimitryAndric

libc++: Fix deprecation warnings with latest clang
  contrib/llvm-project/libcxx/include/__functional/binary_function.h
  contrib/llvm-project/libcxx/include/__functional/unary_function.h
  contrib/llvm-project/libcxx/include/__functional/weak_result_type.h
  contrib/llvm-project/libcxx/include/__memory/allocator_traits.h
Owners: @DimitryAndric

linuxkpi: Add dummy <linux/percpu{,-defs}.h>
  sys/compat/linuxkpi/dummy/include/linux/percpu-defs.h
  sys/compat/linuxkpi/dummy/include/linux/percpu.h
Owners: none

linuxkpi: Take const root in read-only radix tree functions
  sys/compat/linuxkpi/common/include/linux/radix-tree.h
  sys/compat/linuxkpi/common/src/linux_radix.c
Owners: none

libc++: silence -Wnontrivial-memaccess warning with newer clang
  contrib/llvm-project/libcxx/include/__memory/uninitialized_algorithms.h
Owners: @DimitryAndric

libc++: avoid use of deprecated __reference_binds_to_temporary
  contrib/llvm-project/libcxx/include/tuple
Owners: @DimitryAndric

dtrace_pid.4: Document the DTrace PID provider
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
  share/man/man4/Makefile
  share/man/man4/dtrace_pid.4
Owners: none

dtrace_pid.4: Document the DTrace PID provider
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
  share/man/man4/Makefile
  share/man/man4/dtrace_pid.4
Owners: none

aw_rtc: bump settime() delays
  sys/arm/allwinner/aw_rtc.c
Owners: @evadot

aw_rtc: bump settime() delays
  sys/arm/allwinner/aw_rtc.c
Owners: @evadot

Revert "devinfo: Add support for libxo"
  usr.sbin/devinfo/Makefile
  usr.sbin/devinfo/devinfo.8
  usr.sbin/devinfo/devinfo.c
Owners: none

Revert "devinfo: Add support for libxo"
  usr.sbin/devinfo/Makefile
  usr.sbin/devinfo/devinfo.8
  usr.sbin/devinfo/devinfo.c
Owners: none

amd64/vmm.c: Fix an incorrect memory segment check in vm_iommu_{un}map
  sys/amd64/vmm/vmm.c
Owners: @bsdjhb, @grehan-freebsd

amd64/vmm.c: Fix an incorrect memory segment check in vm_iommu_{un}map
  sys/amd64/vmm/vmm.c
Owners: @bsdjhb, @grehan-freebsd

amd64/vmm.c: Fix an incorrect memory segment check in vm_iommu_{un}map
  sys/amd64/vmm/vmm.c
Owners: @bsdjhb, @grehan-freebsd

netmap: Fix error handling in nm_os_extmem_create()
  sys/dev/netmap/netmap_freebsd.c
Owners: none

netmap: Fix error handling in nm_os_extmem_create()
  sys/dev/netmap/netmap_freebsd.c
Owners: none

uio.h: Indent struct uio according to style(9)
  sys/sys/uio.h
Owners: none

uio.h: Indent struct uio according to style(9)
  sys/sys/uio.h
Owners: none

pf: fix min-ttl and set-tos for nat64
  sys/netpfil/pf/pf_norm.c
  tests/sys/netpfil/pf/nat64.sh
Owners: @glebius, @ngie-eign

pf: fix min-ttl and set-tos for nat64
  sys/netpfil/pf/pf_norm.c
  tests/sys/netpfil/pf/nat64.sh
Owners: @glebius, @ngie-eign

login.conf.5: Remove mention of login copyright setting
  lib/libutil/login.conf.5
  usr.bin/login/login.conf
  usr.sbin/etcupdate/tests/conflicts_test.sh
  usr.sbin/etcupdate/tests/tests_test.sh
Owners: none

agp: Export intel_gtt_read_pte, required by i915kms
  sys/modules/agp/Makefile
Owners: none

if_clone: don't overwrite dump_nl of an attaching cloner with default
  sys/net/if_clone.c
Owners: none

if_clone: don't overwrite dump_nl of an attaching cloner with default
  sys/net/if_clone.c
Owners: none

kldxref: Don't warn and skip file if no relocations are found
  usr.sbin/kldxref/ef.c
Owners: none

lib/clang: Commit cleaned-up workaround for building on RISC-V
  lib/clang/llvm.build.mk
Owners: none

gpart: Add u-boot-env alias for U-Boot's environment GPT partition UUID
  lib/geom/part/gpart.8
  sys/geom/part/g_part.c
  sys/geom/part/g_part.h
  sys/geom/part/g_part_gpt.c
  sys/sys/disk/gpt.h
Owners: none

riscv: Add machine/ifunc.h corresponding to rtld-elf's resolver interface
  sys/riscv/include/ifunc.h
Owners: none

rtld-elf: Pass parsed aux_info to ifunc_init
  libexec/rtld-elf/aarch64/reloc.c
  libexec/rtld-elf/amd64/reloc.c
  libexec/rtld-elf/arm/reloc.c
  libexec/rtld-elf/i386/reloc.c
  libexec/rtld-elf/powerpc/reloc.c
  libexec/rtld-elf/powerpc64/reloc.c
  libexec/rtld-elf/riscv/reloc.c
  libexec/rtld-elf/rtld.c
  libexec/rtld-elf/rtld.h
Owners: none

rtld-elf: Support IFUNCs on riscv
  libexec/rtld-elf/riscv/reloc.c
  libexec/rtld-elf/riscv/rtld_machdep.h
Owners: none

Merge commit 88433e640ddb from upstream OpenZFS (by Jessica Clarke)
  sys/contrib/openzfs/lib/libspl/include/sys/types32.h
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
