Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

vnode_pager: clean up undirty_pages()
  sys/vm/vnode_pager.c
Owners: none

vnode_pager: clean up undirty_pages()
  sys/vm/vnode_pager.c
Owners: none

tools.build: also add sys/_visible.h to SYSINCS
  tools/build/Makefile
Owners: @bsdimp

tools.build: also add sys/_visible.h to SYSINCS
  tools/build/Makefile
Owners: @bsdimp

adding MAILCC and MAILBCC to man pages
  usr.sbin/cron/crontab/crontab.5
Owners: none

Signed-off-by: Lakshmikanth Ayyadevara <lakshmikanth.a.ayyadevara@oracle.com>
  usr.sbin/cron/crontab/crontab.5
Owners: none

Import latest mtree from NetBSD
  contrib/mtree/compare.c
  contrib/mtree/create.c
  contrib/mtree/mtree.c
  contrib/mtree/spec.c
Owners: none

Import latest mtree from NetBSD
  contrib/mtree/compare.c
  contrib/mtree/create.c
  contrib/mtree/mtree.c
  contrib/mtree/spec.c
Owners: none

Import latest mtree from NetBSD
  contrib/mtree/compare.c
  contrib/mtree/create.c
  contrib/mtree/mtree.c
  contrib/mtree/spec.c
Owners: none

sh: avoid warnings about too-long initializer strings
  bin/sh/options.h
  bin/test/test.c
Owners: @jillest

sh: avoid warnings about too-long initializer strings
  bin/sh/options.h
  bin/test/test.c
Owners: @jillest

vt.4: Remove Xr to nonexistent vidcontrol(8)
  share/man/man4/vt.4
Owners: none

vt.4: Remove Xr to nonexistent vidcontrol(8)
  share/man/man4/vt.4
Owners: none

loader: Fix powerpc64le by working around slof bug in qemu/slof
  stand/powerpc/ofw/ppc-common.ldscript
Owners: @bsdimp

loader: Fix powerpc64le by working around slof bug in qemu/slof
  stand/powerpc/ofw/ppc-common.ldscript
Owners: @bsdimp

loader: Use C99 initializations for file_format
  stand/efi/loader/arch/amd64/multiboot2.c
  stand/efi/loader/arch/arm/exec.c
  stand/efi/loader/arch/arm64/exec.c
  stand/efi/loader/arch/riscv/exec.c
  stand/i386/libi386/elf32_freebsd.c
  stand/i386/libi386/elf64_freebsd.c
  stand/i386/libi386/multiboot.c
  stand/kboot/kboot/arch/aarch64/exec.c
  stand/kboot/kboot/arch/powerpc64/ppc64_elf_freebsd.c
  stand/powerpc/ofw/elf_freebsd.c
  stand/powerpc/ofw/ppc64_elf_freebsd.c
  stand/uboot/arch/powerpc/ppc64_elf_freebsd.c
  stand/uboot/elf_freebsd.c
  stand/userboot/userboot/elf32_freebsd.c
  stand/userboot/userboot/elf64_freebsd.c
Owners: @bsdimp

loader: Use C99 initializations for file_format
  stand/efi/loader/arch/amd64/multiboot2.c
  stand/efi/loader/arch/arm/exec.c
  stand/efi/loader/arch/arm64/exec.c
  stand/efi/loader/arch/riscv/exec.c
  stand/i386/libi386/elf32_freebsd.c
  stand/i386/libi386/elf64_freebsd.c
  stand/i386/libi386/multiboot.c
  stand/kboot/kboot/arch/aarch64/exec.c
  stand/kboot/kboot/arch/powerpc64/ppc64_elf_freebsd.c
  stand/powerpc/ofw/elf_freebsd.c
  stand/powerpc/ofw/ppc64_elf_freebsd.c
  stand/uboot/arch/powerpc/ppc64_elf_freebsd.c
  stand/uboot/elf_freebsd.c
  stand/userboot/userboot/elf32_freebsd.c
  stand/userboot/userboot/elf64_freebsd.c
Owners: @bsdimp

kernel: MK_REPRODUCIBLE_PATHS for full paths vs /usr/src
  share/man/man5/src.conf.5
  share/mk/bsd.debug.mk
  share/mk/src.opts.mk
  sys/conf/kern.opts.mk
  sys/conf/kern.post.mk
  sys/conf/kmod.mk
  tools/build/options/WITH_REPRODUCIBLE_PATHS
Owners: @bsdimp, @bapt, @bdrewery, @emaste

kernel: MK_REPRODUCIBLE_PATHS for full paths vs /usr/src
  share/man/man5/src.conf.5
  share/mk/bsd.debug.mk
  share/mk/src.opts.mk
  sys/conf/kern.opts.mk
  sys/conf/kern.post.mk
  sys/conf/kmod.mk
  tools/build/options/WITH_REPRODUCIBLE_PATHS
Owners: @bsdimp, @bapt, @bdrewery, @emaste

vt: Remove .fnt.uu from Makefile SUFFIXES
  share/vt/fonts/Makefile
Owners: none

vt: Remove .fnt.uu from Makefile SUFFIXES
  share/vt/fonts/Makefile
Owners: none

locking.9: Tweak the table column width to fit 80 characters
  share/man/man9/locking.9
Owners: none

locking.9: Tweak the table column width to fit 80 characters
  share/man/man9/locking.9
Owners: none

ipfw.8: fix documentation bug for setmark
  sbin/ipfw/ipfw.8
Owners: none

ipfw.8: fix documentation bug for setmark
  sbin/ipfw/ipfw.8
Owners: none

ipfw.8: fix misprint after previous change
  sbin/ipfw/ipfw.8
Owners: none

ipfw.8: fix misprint after previous change
  sbin/ipfw/ipfw.8
Owners: none

scsi: Make all da error messages greppable
  sys/cam/scsi/scsi_da.c
Owners: none

scsi: Make all da error messages greppable
  sys/cam/scsi/scsi_da.c
Owners: none

ipfw.8: document how to delete nat configuration instance
  sbin/ipfw/ipfw.8
Owners: none

ipfw.8: document how to delete nat configuration instance
  sbin/ipfw/ipfw.8
Owners: none

bsd.sys.mk: suppress some new clang 21 warnings for C++
  share/mk/bsd.sys.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

bsd.sys.mk: suppress some new clang 21 warnings for C++
  share/mk/bsd.sys.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

bsd.sys.mk: add NO_WCHARACTER_CONVERSION and use it for googletest
  lib/googletest/Makefile.inc
  share/mk/bsd.sys.mk
  share/mk/googletest.test.inc.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

bsd.sys.mk: add NO_WCHARACTER_CONVERSION and use it for googletest
  lib/googletest/Makefile.inc
  share/mk/bsd.sys.mk
  share/mk/googletest.test.inc.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

ocs_fc: Use __printflike() instead of format(printf)
  sys/dev/ocs_fc/ocs_ddump.h
  sys/dev/ocs_fc/ocs_mgmt.h
  sys/dev/ocs_fc/ocs_os.h
  sys/dev/ocs_fc/ocs_utils.h
Owners: none

ocs_fc: Use __printflike() instead of format(printf)
  sys/dev/ocs_fc/ocs_ddump.h
  sys/dev/ocs_fc/ocs_mgmt.h
  sys/dev/ocs_fc/ocs_os.h
  sys/dev/ocs_fc/ocs_utils.h
Owners: none

sys/xen: Use __printflike() instead of format(printf)
  sys/dev/xen/blkback/blkback.c
  sys/xen/xen_intr.h
  sys/xen/xenbus/xenbusvar.h
  sys/xen/xenstore/xenstorevar.h
Owners: none

sys/xen: Use __printflike() instead of format(printf)
  sys/dev/xen/blkback/blkback.c
  sys/xen/xen_intr.h
  sys/xen/xenbus/xenbusvar.h
  sys/xen/xenstore/xenstorevar.h
Owners: none

compat: linux: use appropriate variables for copying out old timers
  sys/compat/linux/linux_timer.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
