Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

amd64 cpufunc.h: add rcs(), to read code selector
  sys/amd64/include/cpufunc.h
Owners: none

amd64: add wrmsr_early_safe(9)
  sys/amd64/amd64/machdep.c
  sys/amd64/amd64/support.S
  sys/amd64/include/md_var.h
Owners: none

ifconfig: Fix the display of the IFCAP_MEXTPG capability without netlink
  sbin/ifconfig/ifconfig.c
Owners: none

ifconfig: Display the IFCAP_HWSTATS capability without netlink
  sbin/ifconfig/ifconfig.c
Owners: none

pf: fix rules_counter:keepcounters test
  sys/netpfil/pf/pf_ioctl.c
  sys/netpfil/pf/pf_ruleset.c
Owners: @glebius

recoverdisk.1: Break lines at sentence stops
  sbin/recoverdisk/recoverdisk.1
Owners: none

recoverdisk.1: Break lines at sentence stops
  sbin/recoverdisk/recoverdisk.1
Owners: none

ng_tty: don't increment m_data
  sys/netgraph/ng_tty.c
Owners: none

ng_tty: don't increment m_data
  sys/netgraph/ng_tty.c
Owners: none

nanobsd: Fix regressions from last cleanup
  tools/tools/nanobsd/defaults.sh
Owners: @bsdimp

nanobsd: Fix regressions from last cleanup
  tools/tools/nanobsd/defaults.sh
Owners: @bsdimp

packages: Add some missing dependencies
  release/packages/ucl/README
  release/packages/ucl/at.ucl
  release/packages/ucl/bluetooth.ucl
  release/packages/ucl/bsdconfig.ucl
  release/packages/ucl/bsdinstall.ucl
  release/packages/ucl/devd.ucl
Owners: none

packages: Add some missing dependencies
  release/packages/ucl/README
  release/packages/ucl/at.ucl
  release/packages/ucl/bluetooth.ucl
  release/packages/ucl/bsdconfig.ucl
  release/packages/ucl/bsdinstall.ucl
  release/packages/ucl/devd.ucl
Owners: none

make packages: Fix edge case of no kernel
  Makefile.inc1
Owners: none

make packages: Fix edge case of no kernel
  Makefile.inc1
Owners: none

build/development.7: System building examples
  share/man/man7/build.7
  share/man/man7/development.7
Owners: none

build/development.7: System building examples
  share/man/man7/build.7
  share/man/man7/development.7
Owners: none

release: Make toolchain OCI container use pkg set
  release/tools/oci-image-toolchain.conf
Owners: none

release: Make toolchain OCI container use pkg set
  release/tools/oci-image-toolchain.conf
Owners: none

liblua: Create lacpi
  stand/liblua/Makefile
  stand/liblua/acpi/include/lacpi.h
  stand/liblua/acpi/include/lacpi_data.h
  stand/liblua/acpi/include/lacpi_object.h
  stand/liblua/acpi/include/lacpi_utils.h
  stand/liblua/acpi/include/lacpi_walk.h
  stand/liblua/acpi/lacpi.c
  stand/liblua/acpi/lacpi_data.c
  stand/liblua/acpi/lacpi_object.c
  stand/liblua/acpi/lacpi_utils.c
  stand/liblua/acpi/lacpi_walk.c
  stand/liblua/lutils.c
  stand/liblua/lutils.h
Owners: @bsdimp

lacpi: Test files
  stand/lua/Makefile
  stand/lua/object.lua
  stand/lua/walk.lua
Owners: @kevans91

packages: Add devd to the minimal-jail set
  release/packages/ucl/devd-all.ucl
Owners: none

libpmc: Move libpmc and utils to a new pmc package
  UPDATING
  lib/libpmc/Makefile
  release/packages/ucl/pmc-all.ucl
  usr.sbin/pmc/Makefile
  usr.sbin/pmcannotate/Makefile
  usr.sbin/pmccontrol/Makefile
  usr.sbin/pmcstat/Makefile
  usr.sbin/pmcstudy/Makefile
Owners: none

packages: Move powerd to its own package
  UPDATING
  libexec/rc/rc.d/Makefile
  release/packages/ucl/powerd-all.ucl
  usr.sbin/powerd/Makefile
Owners: none

Makefile.inc1: Handle pkg development versions
  Makefile.inc1
Owners: none

packages: Replace libbz2 package with a bzip2 package
  UPDATING
  lib/libbz2/Makefile
  release/packages/ucl/bzip2-all.ucl
  release/packages/ucl/libbz2-all.ucl
  release/packages/ucl/newsyslog.ucl
  usr.bin/bzip2/Makefile
  usr.bin/bzip2recover/Makefile
Owners: none

man7: Move atf.7 and tests.7 to the right package
  share/man/man7/Makefile
Owners: none

who: Move back to the utilities package
  usr.bin/who/Makefile
Owners: none

packages: Add some missing dependencies
  release/packages/ucl/README
  release/packages/ucl/at.ucl
  release/packages/ucl/bluetooth.ucl
  release/packages/ucl/bsdconfig.ucl
  release/packages/ucl/bsdinstall.ucl
  release/packages/ucl/devd.ucl
Owners: none

pkgbase-stage.lua: Add pkg package to the offline repo
  release/scripts/pkgbase-stage.lua
Owners: none

Makefile.inc1: Fix package-pkg with a non-default LOCALBASE
  Makefile.inc1
  release/scripts/make-pkg-package.sh
Owners: none

bsdinstall: Install pkg if it's available
  usr.sbin/bsdinstall/scripts/pkgbase.in
Owners: none

packages: Add a dependency from -rc to -runtime
  release/packages/ucl/rc.ucl
Owners: none

release: Fail the build if pkg can't be installed
  release/Makefile
Owners: none

release: Improve kernel package handling
  release/scripts/pkgbase-stage.lua
  usr.sbin/bsdinstall/scripts/pkgbase.in
Owners: none

release: Install pkg from the pkgbase repo
  release/Makefile
Owners: none

tcp: whitespace cleanup
  sys/netinet/tcp_syncache.h
Owners: none

tcp: whitespace cleanup
  sys/netinet/tcp_syncache.h
Owners: none

tcp: refactor tcp_send_challenge_ack()
  sys/netinet/tcp_subr.c
  sys/netinet/tcp_var.h
Owners: none

tcp: refactor tcp_send_challenge_ack()
  sys/netinet/tcp_subr.c
  sys/netinet/tcp_var.h
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
