Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

kern: factor out the 'writing' bits of user process coredumping
  sys/kern/imgact_elf.c
  sys/kern/kern_exec.c
  sys/kern/kern_sig.c
  sys/sys/exec.h
  sys/sys/imgact_elf.h
  sys/sys/sysent.h
Owners: none

kern: move the vnode user coredumper out into its own file
  share/man/man5/core.5
  sys/conf/files
  sys/kern/coredump_vnode.c
  sys/kern/imgact_elf.c
  sys/kern/kern_exec.c
  sys/kern/kern_sig.c
  sys/kern/kern_ucoredump.c
  sys/sys/exec.h
  sys/sys/signalvar.h
  sys/sys/ucoredump.h
Owners: none

kern: abstract away the vnode coredumper to allow pluggable dumpers
  share/man/man5/core.5
  share/man/man9/Makefile
  share/man/man9/coredumper_register.9
  sys/kern/coredump_vnode.c
  sys/kern/kern_exec.c
  sys/kern/kern_ucoredump.c
  sys/sys/ucoredump.h
Owners: none

kern: move the vnode user coredumper out into its own file
  share/man/man5/core.5
  sys/conf/files
  sys/kern/coredump_vnode.c
  sys/kern/imgact_elf.c
  sys/kern/kern_exec.c
  sys/kern/kern_sig.c
  sys/kern/kern_ucoredump.c
  sys/sys/exec.h
  sys/sys/signalvar.h
  sys/sys/ucoredump.h
Owners: none

kern: factor out the 'writing' bits of user process coredumping
  sys/kern/imgact_elf.c
  sys/kern/kern_exec.c
  sys/kern/kern_sig.c
  sys/sys/exec.h
  sys/sys/imgact_elf.h
  sys/sys/sysent.h
Owners: none

kern: abstract away the vnode coredumper to allow pluggable dumpers
  share/man/man5/core.5
  share/man/man9/Makefile
  share/man/man9/coredumper_register.9
  sys/kern/coredump_vnode.c
  sys/kern/kern_exec.c
  sys/kern/kern_ucoredump.c
  sys/sys/ucoredump.h
Owners: none

kern: add a compressor_format() accessor to the compresssor API
  sys/kern/subr_compressor.c
  sys/sys/compressor.h
Owners: none

kern: add a compressor_format() accessor to the compresssor API
  sys/kern/subr_compressor.c
  sys/sys/compressor.h
Owners: none

kern: add some better error messages for coredump() failures
  sys/kern/kern_ucoredump.c
Owners: none

kern: add some better error messages for coredump() failures
  sys/kern/kern_ucoredump.c
Owners: none

share: man: fix coredumper_register(9)'s init_fn
  share/man/man9/coredumper_register.9
Owners: none

share: man: fix coredumper_register(9)'s init_fn
  share/man/man9/coredumper_register.9
Owners: none

UPDATING: Belatedly document commit fa02551dc8a0
  UPDATING
Owners: none

UPDATING: Belatedly document commit 4a9a522f02db
  UPDATING
Owners: none

amdsmu: Expose sysctls for metrics about last sleep
  sys/dev/amdsmu/amdsmu.c
  sys/dev/amdsmu/amdsmu.h
  sys/dev/amdsmu/amdsmu_reg.h
Owners: none

amdsmu: Expose sysctls for metrics about last sleep
  sys/dev/amdsmu/amdsmu.c
  sys/dev/amdsmu/amdsmu.h
  sys/dev/amdsmu/amdsmu_reg.h
Owners: none

vm_page: Fix loading bad memory addresses from file
  sys/vm/vm_page.c
Owners: none

vm_page: Fix loading bad memory addresses from file
  sys/vm/vm_page.c
Owners: none

vmm: Clean up legacy create/destroy interface
  sys/dev/vmm/vmm_dev.c
Owners: none

vmm: Clean up legacy create/destroy interface
  sys/dev/vmm/vmm_dev.c
Owners: none

bhyve: Report SVM as disabled on AMD
  usr.sbin/bhyve/amd64/xmsr.c
Owners: @bsdjhb, @grehan-freebsd

bhyve: Report SVM as disabled on AMD
  usr.sbin/bhyve/amd64/xmsr.c
Owners: @bsdjhb, @grehan-freebsd

src.opts.mk: Default LLVM_ASSERTIONS off
  UPDATING
  share/man/man5/src.conf.5
  share/mk/src.opts.mk
  tools/build/options/WITH_LLVM_ASSERTIONS
Owners: @bsdimp, @bapt, @bdrewery, @emaste

src.opts.mk: Default LLVM_ASSERTIONS off
  UPDATING
  share/man/man5/src.conf.5
  share/mk/src.opts.mk
  tools/build/options/WITH_LLVM_ASSERTIONS
Owners: @bsdimp, @bapt, @bdrewery, @emaste

sctp: whitespace cleanup
  sys/netinet/sctp_timer.c
Owners: none

sctp: whitespace cleanup
  sys/netinet/sctp_timer.c
Owners: none

krb5: Bump DSO version for version map creation
  ObsoleteFiles.inc
  krb5/lib/Makefile.inc
  krb5/plugins/Makefile.inc
  krb5/util/Makefile.inc
  sys/sys/param.h
  tools/build/mk/OptionalObsoleteFiles.inc
Owners: @bsdimp

krb5: Bump DSO version for version map creation
  ObsoleteFiles.inc
  krb5/lib/Makefile.inc
  krb5/plugins/Makefile.inc
  krb5/util/Makefile.inc
  sys/sys/param.h
  tools/build/mk/OptionalObsoleteFiles.inc
Owners: @bsdimp

amdsmu: Read and dump idlemask
  sys/dev/amdsmu/amdsmu.c
  sys/dev/amdsmu/amdsmu.h
  sys/dev/amdsmu/amdsmu_reg.h
Owners: none

amdsmu: Read and dump idlemask
  sys/dev/amdsmu/amdsmu.c
  sys/dev/amdsmu/amdsmu.h
  sys/dev/amdsmu/amdsmu_reg.h
Owners: none

GEOM: remove the redundant if statement
  sys/geom/concat/g_concat.c
  sys/geom/multipath/g_multipath.c
  sys/geom/part/g_part.c
  sys/geom/raid/g_raid.c
Owners: none

pom: Cache tzdata before entering capability mode
  usr.bin/pom/pom.c
Owners: none

pom: Cache tzdata before entering capability mode
  usr.bin/pom/pom.c
Owners: none

libvmmapi: Add support for setting up and configuring guest NUMA domains
  lib/libvmmapi/internal.h
  lib/libvmmapi/vmmapi.c
  lib/libvmmapi/vmmapi.h
Owners: @bsdjhb, @grehan-freebsd

vmm: Add support for guest NUMA emulation
  lib/libvmmapi/Makefile
  lib/libvmmapi/vmmapi.h
  sys/amd64/include/vmm_dev.h
  sys/arm64/include/vmm_dev.h
  sys/dev/vmm/vmm_dev.c
  sys/dev/vmm/vmm_mem.c
  sys/dev/vmm/vmm_mem.h
  sys/riscv/include/vmm_dev.h
Owners: @bsdjhb, @grehan-freebsd, @zxombie

libutil: Move cpuset(1) domain policy parsing code into libutil
  bin/cpuset/Makefile
  bin/cpuset/cpuset.c
  lib/libutil/Makefile
  lib/libutil/cpuset.3
  lib/libutil/cpuset.c
  lib/libutil/libutil.h
Owners: none

libvmmapi: Add support for setting up and configuring guest NUMA domains
  lib/libvmmapi/internal.h
  lib/libvmmapi/vmmapi.c
  lib/libvmmapi/vmmapi.h
Owners: @bsdjhb, @grehan-freebsd

domainset(9): Split domainset validation logic into a separate function
  share/man/man9/domainset.9
  sys/kern/kern_cpuset.c
  sys/sys/domainset.h
Owners: none

vmm: Add support for guest NUMA emulation
  lib/libvmmapi/Makefile
  lib/libvmmapi/vmmapi.h
  sys/amd64/include/vmm_dev.h
  sys/arm64/include/vmm_dev.h
  sys/dev/vmm/vmm_dev.c
  sys/dev/vmm/vmm_mem.c
  sys/dev/vmm/vmm_mem.h
  sys/riscv/include/vmm_dev.h
Owners: @bsdjhb, @grehan-freebsd, @zxombie

libutil: Move cpuset(1) domain policy parsing code into libutil
  bin/cpuset/Makefile
  bin/cpuset/cpuset.c
  lib/libutil/Makefile
  lib/libutil/cpuset.3
  lib/libutil/cpuset.c
  lib/libutil/libutil.h
Owners: none
