Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

efi: Move edk2 compat defines to sys/efi-edk2.h
  lib/libefivar/ProcessorBind.h
  lib/libefivar/efivar-dp-format.c
  lib/libefivar/efivar-dp-parse.c
  lib/libefivar/efivar-dp-xlate.c
  lib/libefivar/uefi-dplib.h
  lib/libefivar/uefi-dputil.c
  sys/sys/efi-edk2.h
  sys/sys/efi-freebsd.h
  sys/sys/efi.h
  tools/build/test-includes/badfiles.inc
Owners: @bsdimp

efi: Move edk2 compat defines to sys/efi-edk2.h
  lib/libefivar/ProcessorBind.h
  lib/libefivar/efivar-dp-format.c
  lib/libefivar/efivar-dp-parse.c
  lib/libefivar/efivar-dp-xlate.c
  lib/libefivar/uefi-dplib.h
  lib/libefivar/uefi-dputil.c
  sys/sys/efi-edk2.h
  sys/sys/efi-freebsd.h
  sys/sys/efi.h
  tools/build/test-includes/badfiles.inc
Owners: @bsdimp

stand: switch the loader over to using efi-edk2.h
  stand/efi/include/amd64/efibind.h
  stand/efi/include/arm/efibind.h
  stand/efi/include/arm64/efibind.h
  stand/efi/include/efi.h
  stand/efi/include/i386/efibind.h
  stand/efi/include/riscv/efibind.h
Owners: @bsdimp

edk2: Tweak the tests for UEFI Specification Data Type requirements
  sys/contrib/edk2/Include/Base.h
Owners: none

edk2: Move ProcessorBind.h to contrib/edk2
  lib/libefivar/ProcessorBind.h
  sys/contrib/edk2/Include/ProcessorBind.h
Owners: @bsdimp

stand: switch the loader over to using efi-edk2.h
  stand/efi/include/amd64/efibind.h
  stand/efi/include/arm/efibind.h
  stand/efi/include/arm64/efibind.h
  stand/efi/include/efi.h
  stand/efi/include/i386/efibind.h
  stand/efi/include/riscv/efibind.h
Owners: @bsdimp

edk2: Move ProcessorBind.h to contrib/edk2
  lib/libefivar/ProcessorBind.h
  sys/contrib/edk2/Include/ProcessorBind.h
Owners: @bsdimp

edk2: Tweak the tests for UEFI Specification Data Type requirements
  sys/contrib/edk2/Include/Base.h
Owners: none

tpm20: Bring in the edk2 includes for TPM 2.0 support
  sys/contrib/edk2/Include/IndustryStandard/Tpm12.h
  sys/contrib/edk2/Include/IndustryStandard/Tpm20.h
  sys/contrib/edk2/Include/IndustryStandard/UefiTcgPlatform.h
  sys/contrib/edk2/Include/Protocol/Tcg2Protocol.h
Owners: none

tpm20: Bring in the edk2 includes for TPM 2.0 support
  sys/contrib/edk2/Include/IndustryStandard/Tpm12.h
  sys/contrib/edk2/Include/IndustryStandard/Tpm20.h
  sys/contrib/edk2/Include/IndustryStandard/UefiTcgPlatform.h
  sys/contrib/edk2/Include/Protocol/Tcg2Protocol.h
Owners: none

iwx.4: Follow the established style
  share/man/man4/iwx.4
Owners: none

iwx.4: Follow the established style
  share/man/man4/iwx.4
Owners: none

Update pci_video_intel
  usr.sbin/fwget/pci/pci_video_intel
Owners: none

atf-python(2): add atf-python introduction for atf test library.
  tests/atf_python/Makefile
  tests/atf_python/atf-python.3
Owners: @ngie-eign

atf(5): add reference to atf-python(3)
  contrib/atf/doc/atf.7.in
  tests/atf_python/atf-python.3
Owners: @ngie-eign

fdc.4: Correct igor-reported warnings
  share/man/man4/fdc.4
Owners: none

fdc.4: Correct igor-reported warnings
  share/man/man4/fdc.4
Owners: none

Deprecate fdc(4) and floppy utilities
  share/man/man4/fdc.4
  usr.sbin/fdcontrol/fdcontrol.8
  usr.sbin/fdformat/fdformat.8
  usr.sbin/fdread/fdread.1
  usr.sbin/fdwrite/fdwrite.1
Owners: none

Deprecate fdc(4) and floppy utilities
  share/man/man4/fdc.4
  usr.sbin/fdcontrol/fdcontrol.8
  usr.sbin/fdformat/fdformat.8
  usr.sbin/fdread/fdread.1
  usr.sbin/fdwrite/fdwrite.1
Owners: none

edk2: Bring in Guid/Fdt.h
  sys/contrib/edk2/Include/Guid/Fdt.h
Owners: none

edk2: Bring in Guid/Fdt.h
  sys/contrib/edk2/Include/Guid/Fdt.h
Owners: none

edk2: Fix fdt build
  stand/efi/fdt/Makefile
  stand/efi/fdt/efi_fdt.c
Owners: @bsdimp

edk2: Fix fdt build
  stand/efi/fdt/Makefile
  stand/efi/fdt/efi_fdt.c
Owners: @bsdimp

sys/efi_map.h: This is a kernel-only file
  sys/sys/efi_map.h
Owners: none

sys/efi_map.h: This is a kernel-only file
  sys/sys/efi_map.h
Owners: none

efi.h: Bring in sys/types.h explicitly now
  sys/sys/efi.h
Owners: none

efi.h: Bring in sys/types.h explicitly now
  sys/sys/efi.h
Owners: none

Base.h: Ifdef out always char purity test.
  sys/contrib/edk2/Include/Base.h
Owners: none

Base.h: Ifdef out always char purity test.
  sys/contrib/edk2/Include/Base.h
Owners: none

edk2: Import UefiCpuPkg/Include/Protocol/RiscVBootProtocol.h
  sys/contrib/edk2/Include/Protocol/RiscVBootProtocol.h
Owners: none

edk2: Import UefiCpuPkg/Include/Protocol/RiscVBootProtocol.h
  sys/contrib/edk2/Include/Protocol/RiscVBootProtocol.h
Owners: none

stand: Update riscv efi booting to edk2 includes
  stand/efi/loader/arch/riscv/exec.c
Owners: @bsdimp

stand: Update riscv efi booting to edk2 includes
  stand/efi/loader/arch/riscv/exec.c
Owners: @bsdimp

stand: Fix secureboot build
  lib/libsecureboot/Makefile.libsa.inc
  lib/libsecureboot/efi/efi_variables.c
  lib/libsecureboot/efi/include/Guid/GlobalVariable.h
  lib/libsecureboot/efi/include/Guid/ImageAuthentication.h
  lib/libsecureboot/efi/include/Protocol/Hash.h
  lib/libsecureboot/h/libsecureboot.h
  sys/contrib/edk2/Include/Guid/ImageAuthentication.h
  sys/contrib/edk2/Include/Protocol/Hash.h
  sys/contrib/edk2/Include/Protocol/Hash2.h
Owners: @stephane-rochoy-stormshield

stand: Fix secureboot build
  lib/libsecureboot/Makefile.libsa.inc
  lib/libsecureboot/efi/efi_variables.c
  lib/libsecureboot/efi/include/Guid/GlobalVariable.h
  lib/libsecureboot/efi/include/Guid/ImageAuthentication.h
  lib/libsecureboot/efi/include/Protocol/Hash.h
  lib/libsecureboot/h/libsecureboot.h
  sys/contrib/edk2/Include/Guid/ImageAuthentication.h
  sys/contrib/edk2/Include/Protocol/Hash.h
  sys/contrib/edk2/Include/Protocol/Hash2.h
Owners: @stephane-rochoy-stormshield

tests/ktest_netlink_message_writer: remove INVARIANTS requirement
  sys/netlink/ktest_netlink_message_writer.c
  sys/netlink/ktest_netlink_message_writer.h
Owners: none

zfs: replace uu_avl with sys/avl
  cmd/zfs/zfs_iter.c
  cmd/zfs/zfs_main.c
  cmd/zpool/zpool_iter.c
  lib/libuutil/Makefile.am
  lib/libzfs/libzfs_changelist.c
  lib/libzfs/libzfs_config.c
  lib/libzfs/libzfs_impl.h
Owners: none

zfs: replace uu_list with sys/list
  cmd/zed/agents/zfs_diagnosis.c
  cmd/zfs/zfs_main.c
Owners: none

libuutil: remove the whole thing
  cmd/zed/Makefile.am
  cmd/zfs/Makefile.am
  cmd/zpool/Makefile.am
  cmd/zpool/zpool_main.c
  contrib/pam_zfs_key/Makefile.am
  include/Makefile.am
  include/libuutil.h
  include/libuutil_common.h
  include/libuutil_impl.h
  lib/Makefile.am
  lib/libuutil/Makefile.am
  lib/libuutil/libuutil.abi
  lib/libuutil/libuutil.suppr
  lib/libuutil/uu_alloc.c
  lib/libuutil/uu_avl.c
  lib/libuutil/uu_ident.c
  lib/libuutil/uu_list.c
  lib/libuutil/uu_misc.c
  lib/libuutil/uu_string.c
  lib/libzfs/Makefile.am
Owners: none

libuutil: remove packaging
  config/deb.am
  contrib/debian/Makefile.am
  contrib/debian/clean
  contrib/debian/control
  contrib/debian/openzfs-libuutil3.docs
  contrib/debian/openzfs-libuutil3.install.in
  rpm/generic/zfs.spec.in
Owners: none
