Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

lib{c,openbsd}: use ckd_mul() for overflow checking in re(c)allocarray
  lib/libc/stdlib/reallocarray.c
  lib/libopenbsd/recallocarray.c
Owners: none

lib/libc: add FBSD-1.9 to Versions.def
  lib/libc/Versions.def
Owners: none

lib/libc: add FBSD-1.9 to Versions.def
  lib/libc/Versions.def
Owners: none

lib/libc: add recallocarray()
  include/stdlib.h
  lib/libc/stdlib/Makefile.inc
  lib/libc/stdlib/Symbol.map
  lib/libc/stdlib/reallocarray.3
  lib/libc/stdlib/recallocarray.c
  lib/libopenbsd/Makefile
Owners: none

lib/libc: add recallocarray()
  include/stdlib.h
  lib/libc/stdlib/Makefile.inc
  lib/libc/stdlib/Symbol.map
  lib/libc/stdlib/reallocarray.3
  lib/libc/stdlib/recallocarray.c
  lib/libopenbsd/Makefile
Owners: none

nda.4: Add a HARDWARE section, tag SPDX
  share/man/man4/nda.4
Owners: none

*/*: remove recallocarray() compat shims following import into libc
  lib/libdiff/Makefile
  lib/libfido2/Makefile
  tests/oclo/Makefile
  usr.bin/mandoc/Makefile
Owners: @ngie-eign

*/*: remove recallocarray() compat shims following import into libc
  lib/libdiff/Makefile
  lib/libfido2/Makefile
  tests/oclo/Makefile
  usr.bin/mandoc/Makefile
Owners: @ngie-eign

sdhci.4: Improve HARDWARE for HW Relnotes + SPDX
  share/man/man4/sdhci.4
Owners: none

flua: support our flua modules in the bootstrap flua
  contrib/libucl/lua/lua_ucl.c
  contrib/lyaml/ext/yaml/yaml.c
  libexec/flua/Makefile
  libexec/flua/Makefile.inc
  libexec/flua/bootstrap.h
  libexec/flua/libfreebsd/kenv/Makefile
  libexec/flua/libfreebsd/kenv/Makefile.inc
  libexec/flua/libfreebsd/kenv/kenv.c
  libexec/flua/libfreebsd/sys/linker/Makefile
  libexec/flua/libfreebsd/sys/linker/Makefile.inc
  libexec/flua/libfreebsd/sys/linker/linker.c
  libexec/flua/libhash/Makefile
  libexec/flua/libhash/Makefile.inc
  libexec/flua/libhash/lhash.c
  libexec/flua/libjail/Makefile
  libexec/flua/libjail/Makefile.inc
  libexec/flua/libjail/lua_jail.c
  libexec/flua/liblyaml/Makefile
  libexec/flua/liblyaml/Makefile.inc
  libexec/flua/libucl/Makefile
  libexec/flua/libucl/Makefile.inc
  libexec/flua/linit_flua.c
  tools/build/Makefile
Owners: @bsdimp

flua: support our flua modules in the bootstrap flua
  contrib/libucl/lua/lua_ucl.c
  contrib/lyaml/ext/yaml/yaml.c
  libexec/flua/Makefile
  libexec/flua/Makefile.inc
  libexec/flua/bootstrap.h
  libexec/flua/libfreebsd/kenv/Makefile
  libexec/flua/libfreebsd/kenv/Makefile.inc
  libexec/flua/libfreebsd/kenv/kenv.c
  libexec/flua/libfreebsd/sys/linker/Makefile
  libexec/flua/libfreebsd/sys/linker/Makefile.inc
  libexec/flua/libfreebsd/sys/linker/linker.c
  libexec/flua/libhash/Makefile
  libexec/flua/libhash/Makefile.inc
  libexec/flua/libhash/lhash.c
  libexec/flua/libjail/Makefile
  libexec/flua/libjail/Makefile.inc
  libexec/flua/libjail/lua_jail.c
  libexec/flua/liblyaml/Makefile
  libexec/flua/liblyaml/Makefile.inc
  libexec/flua/libucl/Makefile
  libexec/flua/libucl/Makefile.inc
  libexec/flua/linit_flua.c
  tools/build/Makefile
Owners: @bsdimp

flua: kick out the remaining builtin modules
  libexec/flua/Makefile
  libexec/flua/lfbsd/Makefile
  libexec/flua/lfbsd/Makefile.inc
  libexec/flua/lfbsd/lfbsd.c
  libexec/flua/lfbsd/lfbsd.h
  libexec/flua/lfs/Makefile
  libexec/flua/lfs/Makefile.inc
  libexec/flua/lfs/lfs.c
  libexec/flua/lfs/lfs.h
  libexec/flua/libhash/lhash.c
  libexec/flua/linit_flua.c
  libexec/flua/lposix/Makefile
  libexec/flua/lposix/Makefile.inc
  libexec/flua/lposix/lposix.c
  libexec/flua/lposix/lposix.h
  stand/liblua/Makefile
  stand/loader.mk
Owners: @bsdimp

flua: kick out the remaining builtin modules
  libexec/flua/Makefile
  libexec/flua/lfbsd/Makefile
  libexec/flua/lfbsd/Makefile.inc
  libexec/flua/lfbsd/lfbsd.c
  libexec/flua/lfbsd/lfbsd.h
  libexec/flua/lfs/Makefile
  libexec/flua/lfs/Makefile.inc
  libexec/flua/lfs/lfs.c
  libexec/flua/lfs/lfs.h
  libexec/flua/libhash/lhash.c
  libexec/flua/linit_flua.c
  libexec/flua/lposix/Makefile
  libexec/flua/lposix/Makefile.inc
  libexec/flua/lposix/lposix.c
  libexec/flua/lposix/lposix.h
  stand/liblua/Makefile
  stand/loader.mk
Owners: @bsdimp

nullfs: remove the vhold/vdrop cycle around unlock
  sys/fs/nullfs/null_vnops.c
Owners: none

nullfs: remove the vhold/vdrop cycle around unlock
  sys/fs/nullfs/null_vnops.c
Owners: none

nullfs: assert the vnode is not doomed in null_hashget_locked
  sys/fs/nullfs/null_subr.c
Owners: none

nullfs: assert the vnode is not doomed in null_hashget_locked
  sys/fs/nullfs/null_subr.c
Owners: none

nullfs: smr-protected hash lookup
  sys/fs/nullfs/null.h
  sys/fs/nullfs/null_subr.c
  sys/fs/nullfs/null_vnops.c
Owners: none

nullfs: smr-protected hash lookup
  sys/fs/nullfs/null.h
  sys/fs/nullfs/null_subr.c
  sys/fs/nullfs/null_vnops.c
Owners: none

nullfs: avoid the interlock in null_lock with smr
  sys/fs/nullfs/null.h
  sys/fs/nullfs/null_vnops.c
Owners: none

nullfs: avoid the interlock in null_lock with smr
  sys/fs/nullfs/null.h
  sys/fs/nullfs/null_vnops.c
Owners: none

etc, ypserv: Fix symlink creation for pkgbase
  etc/Makefile
  usr.sbin/ypserv/Makefile
Owners: none

libexec: Move blacklistd-helper to the blocklist package
  libexec/blacklistd-helper/Makefile
Owners: none

bsdinstall/pkgbase: Restore the kernel-dbg component
  usr.sbin/bsdinstall/scripts/pkgbase.in
Owners: none

flua: don't build libjail into the bootstrap flua
  libexec/flua/Makefile
Owners: none

flua: don't build libjail into the bootstrap flua
  libexec/flua/Makefile
Owners: none

getconf: Report value of _SC_PHYS_PAGES
  usr.bin/getconf/sysconf.gperf
Owners: none

getconf: Report value of _SC_PHYS_PAGES
  usr.bin/getconf/sysconf.gperf
Owners: none

zpool iostat: update pool counter when skipping boot row
  cmd/zpool/zpool_main.c
Owners: none

pool_iter_refresh: don't flag existing pools as refreshed
  cmd/zpool/zpool_iter.c
Owners: none

pool_iter_refresh: don't refresh pools twice
  cmd/zpool/zpool_iter.c
  include/libzfs.h
  lib/libuutil/libuutil.abi
  lib/libzfs/libzfs.abi
  lib/libzfs/libzfs_config.c
  lib/libzfs_core/libzfs_core.abi
Owners: none

bsdinstall: Improve pkgbase handling for jails
  usr.sbin/bsdinstall/bsdinstall.8
  usr.sbin/bsdinstall/scripts/jail
  usr.sbin/bsdinstall/scripts/pkgbase.in
Owners: none

bsdinstall: Improve pkgbase handling for jails
  usr.sbin/bsdinstall/bsdinstall.8
  usr.sbin/bsdinstall/scripts/jail
  usr.sbin/bsdinstall/scripts/pkgbase.in
Owners: none

bsdinstall: Improve pkgbase handling for jails
  usr.sbin/bsdinstall/bsdinstall.8
  usr.sbin/bsdinstall/scripts/jail
  usr.sbin/bsdinstall/scripts/pkgbase.in
Owners: none

acpidump: quiet GCC -Wmaybe-uninitialized
  usr.sbin/acpi/acpidump/acpi.c
Owners: none

acpidump: quiet GCC -Wmaybe-uninitialized
  usr.sbin/acpi/acpidump/acpi.c
Owners: none

release: Check for empty NODISTSETS
  release/Makefile
Owners: none

release: Check for empty NODISTSETS
  release/Makefile
Owners: none

release: Respect NODISTSETS
  release/Makefile
Owners: none

release: Respect NODISTSETS
  release/Makefile
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
