Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

blocklist: Revert upstream commit ddf6d71
  contrib/blocklist/bin/blocklistd.c
  contrib/blocklist/lib/libblocklist.3
Owners: none

blocklist: Revert upstream commit ddf6d71
  contrib/blocklist/bin/blocklistd.c
  contrib/blocklist/lib/libblocklist.3
Owners: none

blocklist-helper: Silence a bogus pf warning
  contrib/blocklist/libexec/blocklistd-helper
  libexec/blocklistd-helper/blacklistd-helper
Owners: none

blocklist-helper: Silence a bogus pf warning
  contrib/blocklist/libexec/blocklistd-helper
  libexec/blocklistd-helper/blacklistd-helper
Owners: none

vmimage.subr: Sort METALOG before running makefs
  release/tools/vmimage.subr
Owners: none

vmimage.subr: Sort METALOG before running makefs
  release/tools/vmimage.subr
Owners: none

kern_exit.c: do not leak reaper bitmap busy bits
  sys/kern/kern_exit.c
Owners: none

kern: replace several EBADF with EINVAL
  sys/kern/kern_event.c
  sys/kern/sys_procdesc.c
Owners: none

vm/vm_fault.c: cleanup includes
  sys/vm/vm_fault.c
Owners: none

pdgetpid(2): switch back returning EBADF for non-procdesc fd
  sys/kern/sys_procdesc.c
Owners: none

vm_fault: drop never-true busy_sleep test
  sys/vm/vm_fault.c
Owners: none

vm_fault_busy_sleep(): pass explicit allocflags for vm_page_busy_sleep()
  sys/vm/vm_fault.c
Owners: none

vm_fault: try to only share-busy page for soft faults
  sys/vm/vm_fault.c
Owners: none

vm_fault: add vm_fault_might_be_cow() helper
  sys/vm/vm_fault.c
Owners: none

vm_fault: add helper vm_fault_can_cow_rename()
  sys/vm/vm_fault.c
Owners: none

vm_fault_busy_sleep(): update comment after addition of allocflags arg
  sys/vm/vm_fault.c
Owners: none

vm_fault: assert that first_m is xbusy
  sys/vm/vm_fault.c
Owners: none

rpc.tlsservd.c: Pin max threads at 1 for now
  usr.sbin/rpc.tlsservd/rpc.tlsservd.c
Owners: none

blacklist: Avoid duplicate manual pages in METALOG
  contrib/blocklist/bin/blacklistctl.8
  contrib/blocklist/bin/blacklistd.8
  contrib/blocklist/bin/blacklistd.conf.5
  contrib/blocklist/lib/libblacklist.3
  lib/libblacklist/Makefile
  usr.sbin/blacklistctl/Makefile
  usr.sbin/blacklistd/Makefile
Owners: none

blacklist: Avoid duplicate manual pages in METALOG
  contrib/blocklist/bin/blacklistctl.8
  contrib/blocklist/bin/blacklistd.8
  contrib/blocklist/bin/blacklistd.conf.5
  contrib/blocklist/lib/libblacklist.3
  lib/libblacklist/Makefile
  usr.sbin/blacklistctl/Makefile
  usr.sbin/blacklistd/Makefile
Owners: none

rpc.tlsservd.c: Pin max threads at 1 for now
  usr.sbin/rpc.tlsservd/rpc.tlsservd.c
Owners: none

nvme: use nitems() rather than hard coded value
  sys/dev/nvme/nvme.h
Owners: @bsdimp

nvme: use nitems() rather than hard coded value
  sys/dev/nvme/nvme.h
Owners: @bsdimp

pam_xdg.8: Remove bogus note
  lib/libpam/modules/pam_xdg/pam_xdg.8
Owners: @dag-erling

pam_xdg.8: Remove bogus note
  lib/libpam/modules/pam_xdg/pam_xdg.8
Owners: @dag-erling

bridge.4: Fix the synopsis for -ifuntagged
  sbin/ifconfig/ifconfig.8
Owners: none

bridge.4: Fix the synopsis for -ifuntagged
  sbin/ifconfig/ifconfig.8
Owners: none

MFC: libbz2: add pkg-config file (bzip2.pc)
  lib/libbz2/Makefile
  lib/libbz2/bzip2.pc.in
Owners: none

MFC: libbz2: add pkg-config file (bzip2.pc)
  lib/libbz2/Makefile
  lib/libbz2/bzip2.pc.in
Owners: none

nvme: Use unsigned
  sys/dev/nvme/nvme.h
Owners: @bsdimp

nvme: Use unsigned
  sys/dev/nvme/nvme.h
Owners: @bsdimp

libbluetooth: Move to the bluetooth-lib package
  lib/libbluetooth/Makefile
Owners: none

virtual_oss: Move plugins to the sound package
  lib/virtual_oss/Makefile.inc
Owners: none

release/packages/ucl: Fix typos
  release/packages/ucl/acpi-all.ucl
  release/packages/ucl/audit-all.ucl
  release/packages/ucl/libbegemot-all.ucl
  release/packages/ucl/libbsdstat-all.ucl
  release/packages/ucl/mandoc-all.ucl
  release/packages/ucl/yp-all.ucl
Owners: none

bridge.4: Fix the synopsis for -ifuntagged
  sbin/ifconfig/ifconfig.8
Owners: none

bridge.4: Fix the synopsis for -ifuntagged
  sbin/ifconfig/ifconfig.8
Owners: none

release/packages/ucl: Fix typos
  release/packages/ucl/acpi-all.ucl
  release/packages/ucl/audit-all.ucl
  release/packages/ucl/libbegemot-all.ucl
  release/packages/ucl/libbsdstat-all.ucl
  release/packages/ucl/mandoc-all.ucl
  release/packages/ucl/yp-all.ucl
Owners: none

virtual_oss: Move plugins to the sound package
  lib/virtual_oss/Makefile.inc
Owners: none

libbluetooth: Move to the bluetooth-lib package
  lib/libbluetooth/Makefile
Owners: none

dev/fdt: Use proper prototype for SYSINIT functions
  sys/dev/fdt/fdt_slicer.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
