Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

x86/io_apic: remove ->io_pic from ioapic structure
  sys/x86/x86/io_apic.c
Owners: none

x86/io_apic: pass ioapic structure to internal functions
  sys/x86/x86/io_apic.c
Owners: none

x86/msi: remove msi_irq from msi_intsrc structure
  sys/x86/x86/msi.c
Owners: none

intr/x86: move setting of ->is_pic inside intr_register_source()
  sys/x86/include/interrupt.h
  sys/x86/isa/atpic.c
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/io_apic.c
  sys/x86/x86/msi.c
  sys/x86/xen/xen_arch_intr.c
Owners: none

intr/x86: remove architecture copy of PIC device
  sys/x86/include/interrupt.h
  sys/x86/isa/atpic.c
  sys/x86/isa/clock.c
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/io_apic.c
  sys/x86/xen/xen_arch_intr.c
Owners: none

x86/atpic: inline atpic_vector() function
  sys/x86/isa/atpic.c
Owners: none

x86/io_apic: stop explicitly passing locked state
  sys/x86/x86/io_apic.c
Owners: none

xen/x86: remove null pic_suspend hook
  sys/x86/xen/xen_arch_intr.c
Owners: none

intr/x86: purge another transition macro
  sys/x86/include/interrupt.h
  sys/x86/isa/atpic.c
  sys/x86/x86/local_apic.c
  sys/x86/x86/msi.c
  sys/x86/xen/xen_arch_intr.c
Owners: none

intr/x86: purge transition compatibility macros/typedefs
  sys/x86/include/interrupt.h
  sys/x86/isa/atpic.c
  sys/x86/isa/clock.c
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/io_apic.c
  sys/x86/x86/local_apic.c
  sys/x86/x86/msi.c
  sys/x86/xen/xen_arch_intr.c
Owners: none

intr/x86: convert io-apic printf()s to device_printf()s
  sys/x86/x86/io_apic.c
Owners: none

intr/x86: stop explicitly storing io-apic device #
  sys/x86/x86/io_apic.c
Owners: none

kern/intr: add non-NULL event interface variant
  sys/kern/kern_intr.c
  sys/kern/subr_intr.c
  sys/sys/interrupt.h
  sys/x86/x86/intr_machdep.c
Owners: none

kern/intr: remove intr_handler_source() function
  sys/kern/kern_intr.c
  sys/kern/subr_intr.c
  sys/powerpc/include/intr_machdep.h
  sys/powerpc/powerpc/intr_machdep.c
  sys/powerpc/powerpc/nexus.c
  sys/sys/interrupt.h
  sys/x86/include/intr_machdep.h
  sys/x86/include/xen/arch-intr.h
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/nexus.c
Owners: none

kobj: allow #include of sys/kobj.h without other headers
  sys/sys/kobj.h
  tools/build/test-includes/badfiles.inc
Owners: @bsdimp

newbus: split portion shared with interrupts into separate header
  sys/sys/_types_interrupt.h
  sys/sys/bus.h
  sys/sys/interrupt.h
  tools/build/test-includes/badfiles.inc
Owners: @bsdimp

intr/x86: make #include <machine/intr_machdep.h> standalone
  sys/x86/include/intr_machdep.h
Owners: none

intr/powerpc: make #include <machine/intr_machdep.h> standalone
  sys/powerpc/include/intr_machdep.h
Owners: none

Partially Revert "Revert "intrng: change multi-interrupt root support type to enum""
  sys/arm/arm/exception.S
  sys/arm64/arm64/exception.S
Owners: @zxombie

Revert "sys/intr.h: formally depend on machine/intr.h"
  sys/arm/arm/mp_machdep.c
  sys/arm/include/intr.h
  sys/arm64/include/intr.h
  sys/kern/subr_intr.c
  sys/riscv/include/intr.h
  sys/riscv/riscv/mp_machdep.c
  sys/riscv/riscv/timer.c
  sys/riscv/riscv/trap.c
  sys/sys/intr.h
Owners: @zxombie

intrng: cleanup #include situation
  sys/arm/annapurna/alpine/alpine_pci.c
  sys/arm/broadcom/bcm2835/bcm2838_pci.c
  sys/arm64/rockchip/rk3568_pcie.c
  sys/dev/acpica/acpivar.h
  sys/dev/gpio/gpiobus.c
  sys/dev/gpio/gpiobusvar.h
  sys/dev/ofw/ofw_bus_subr.h
  sys/kern/pic_if.m
  sys/kern/subr_bus.c
  sys/sys/intr.h
Owners: @evadot

intrng: ensure INTRNG #include of machine/intr.h is standalone
  sys/arm/include/intr.h
  sys/arm64/include/intr.h
  sys/dev/fdt/fdt_pinctrl_if.m
  sys/sys/intr.h
Owners: @zxombie

intrcompat: add "interrupt_t" typedef for all architectures
  sys/powerpc/include/interrupt.h
  sys/sys/intr.h
  sys/x86/include/interrupt.h
Owners: none

kern/bus: initialize root bus at SI_SUB_INTR for x86
  sys/kern/subr_bus.c
Owners: none

kern/intr: split intr_event_create() apart
  sys/kern/kern_intr.c
  sys/sys/interrupt.h
Owners: none

kern/intr: add event handling via kobj methods
  sys/conf/files
  sys/kern/intr_event_if.m
  sys/kern/kern_intr.c
  sys/sys/interrupt.h
Owners: none

kern/intr: remove ->td_intr_nesting_level++ from core interrupt handler
  sys/dev/xen/bus/xen_intr.c
  sys/kern/kern_clock.c
  sys/kern/kern_intr.c
  sys/kern/subr_intr.c
  sys/powerpc/powerpc/interrupt.c
  sys/powerpc/powerpc/intr_machdep.c
  sys/x86/isa/atpic.c
  sys/x86/x86/local_apic.c
  sys/x86/x86/mp_x86.c
Owners: none

kern/intr: remove passing of trapframe from core interrupt handler
  sys/kern/kern_clock.c
  sys/kern/kern_intr.c
  sys/kern/subr_intr.c
  sys/powerpc/powerpc/interrupt.c
  sys/powerpc/powerpc/intr_machdep.c
  sys/sys/interrupt.h
  sys/x86/isa/atpic.c
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/local_apic.c
  sys/x86/x86/mp_x86.c
Owners: none

intr/powerpc: remove pass-along of trapframe
  sys/powerpc/include/intr_machdep.h
  sys/powerpc/include/openpicvar.h
  sys/powerpc/mpc85xx/atpic.c
  sys/powerpc/mpc85xx/pci_mpc85xx.c
  sys/powerpc/powermac/hrowpic.c
  sys/powerpc/powernv/xive.c
  sys/powerpc/powerpc/interrupt.c
  sys/powerpc/powerpc/intr_machdep.c
  sys/powerpc/powerpc/openpic.c
  sys/powerpc/powerpc/pic_if.m
  sys/powerpc/ps3/ps3pic.c
  sys/powerpc/pseries/xics.c
Owners: none

intrng: remove pass-along of trapframe
  sys/arm/allwinner/a10/a10_intc.c
  sys/arm/allwinner/aw_gpio.c
  sys/arm/allwinner/aw_nmi.c
  sys/arm/arm/gic.c
  sys/arm/broadcom/bcm2835/bcm2835_gpio.c
  sys/arm/broadcom/bcm2835/bcm2835_intr.c
  sys/arm/broadcom/bcm2835/bcm2836.c
  sys/arm/broadcom/bcm2835/bcm2838_pci.c
  sys/arm/freescale/imx/imx_gpio.c
  sys/arm/mv/gpio.c
  sys/arm/mv/mpic.c
  sys/arm/mv/mv_ap806_sei.c
  sys/arm/mv/mvebu_gpio.c
  sys/arm/nvidia/tegra_gpio.c
  sys/arm/nvidia/tegra_pcie.c
  sys/arm/ti/aintc.c
  sys/arm/ti/ti_gpio.c
  sys/arm64/apple/apple_aic.c
  sys/arm64/arm64/gic_v3.c
  sys/arm64/arm64/gicv3_its.c
  sys/arm64/qoriq/qoriq_gpio_pic.c
  sys/arm64/rockchip/rk_gpio.c
  sys/dev/gpio/pl061.c
  sys/dev/xilinx/xlnx_pcib.c
  sys/kern/subr_intr.c
  sys/riscv/riscv/aplic.c
  sys/riscv/riscv/intc.c
  sys/riscv/riscv/plic.c
  sys/sys/intr.h
Owners: @evadot, @zxombie

intr/x86: remove pass-along of trapframe
  sys/x86/include/intr_machdep.h
  sys/x86/include/xen/arch-intr.h
  sys/x86/isa/atpic.c
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/local_apic.c
Owners: none

xen: remove pass-along of trapframe
  sys/dev/xen/bus/intr-internal.h
  sys/dev/xen/bus/xen_intr.c
  sys/x86/include/xen/arch-intr.h
Owners: none

kern/intr: stop passing trap frame to `intr_event_schedule_thread()`
  sys/kern/kern_intr.c
Owners: none

intr/x86: remove ->pic_vector(), switch to ->ie_irq
  sys/x86/include/interrupt.h
  sys/x86/include/xen/arch-intr.h
  sys/x86/isa/atpic.c
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/io_apic.c
  sys/x86/x86/msi.c
  sys/x86/xen/xen_arch_intr.c
Owners: none

intr/x86: change intr_register_pic()'s return to void
  sys/x86/include/interrupt.h
  sys/x86/isa/atpic.c
  sys/x86/x86/intr_machdep.c
  sys/x86/xen/xen_arch_intr.c
Owners: none

kobj: convert KOBJOPLOOKUP() to returning pointer to function
  sys/sys/kobj.h
  sys/tools/makeobjops.awk
Owners: none

x86/atpic: merge atpic_eoi*() functions together
  sys/x86/isa/atpic.c
Owners: none

x86/atpic: move PNP newbus device declaration earlier in file, cleanup
  sys/x86/isa/atpic.c
Owners: none

x86/atpic: split initializer for .at_pic into constant structure
  sys/x86/isa/atpic.c
Owners: none

intr/x86: introduce macros and typedefs for handling of x86 PICs
  sys/x86/include/interrupt.h
  sys/x86/isa/atpic.c
  sys/x86/x86/intr_machdep.c
  sys/x86/x86/io_apic.c
  sys/x86/x86/local_apic.c
  sys/x86/x86/msi.c
  sys/x86/xen/xen_arch_intr.c
Owners: none
