Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

NOTES: fix typos and unify terminology in comments
  sys/conf/NOTES
Owners: none

Reapply "Merge commit e24f90190c77 from llvm git (by Brad Smith):"
  contrib/llvm-project/clang/lib/Driver/ToolChains/FreeBSD.h
  lib/clang/freebsd_cc_version.h
  lib/libgcc_s/Makefile
Owners: @DimitryAndric

Reapply "Merge commit e24f90190c77 from llvm git (by Brad Smith):"
  contrib/llvm-project/clang/lib/Driver/ToolChains/FreeBSD.h
  lib/clang/freebsd_cc_version.h
  lib/libgcc_s/Makefile
Owners: @DimitryAndric

Reapply "Merge commit e24f90190c77 from llvm git (by Brad Smith):"
  contrib/llvm-project/clang/lib/Driver/ToolChains/FreeBSD.h
  lib/clang/freebsd_cc_version.h
  lib/libgcc_s/Makefile
Owners: @DimitryAndric

NOTES: fix typos and unify terminology in comments
  share/man/man4/miibus.4
Owners: none

NOTES: fix typos and unify terminology in comments
  share/man/man4/re.4
Owners: none

NOTES: fix typos and unify terminology in comments
  share/man/man4/rgephy.4
Owners: none

NOTES: fix typos and unify terminology in comments
  share/man/man4/rl.4
Owners: none

NOTES: fix typos and unify terminology in comments
  share/man/man4/rue.4
Owners: none

NOTES: fix typos and unify terminology in comments
  share/misc/pci_vendors
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/amd64/conf/GENERIC
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/arm/conf/GENERIC
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/arm/conf/TEGRA124
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/arm64/conf/std.nvidia
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/arm64/iommu/smmu_quirks.c
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/dev/ale/if_ale.c
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/dev/mii/miidevs
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/dev/mii/rgephy.c
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/dev/mii/rgephyreg.h
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/dev/mii/rlphy.c
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/dev/mii/rlswitch.c
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/dev/re/if_re.c
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/dev/rl/if_rl.c
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/dev/rl/if_rlreg.h
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/dev/usb/net/if_axe.c
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/dev/usb/net/if_rue.c
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/dev/usb/net/ruephy.c
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/i386/conf/GENERIC
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/powerpc/conf/GENERIC64
Owners: none

NOTES: fix typos and unify terminology in comments
  sys/powerpc/conf/GENERIC64LE
Owners: none

NOTES: fix typos and unify terminology in comments
  usr.sbin/bsdconfig/share/device.subr
Owners: none

tests: detect built-in modules
  tests/sys/common/vnet.subr
Owners: @ngie-eign

tests: detect built-in modules
  tests/sys/common/vnet.subr
Owners: @ngie-eign

mqueue: Export kern_kmq_* symbols from kernel module
  sys/modules/mqueue/Makefile
Owners: none

mqueue: Export kern_kmq_* symbols from kernel module
  sys/modules/mqueue/Makefile
Owners: none

ipfilter: Add ipf_check_names_string()
  sys/netpfil/ipfilter/netinet/fil.c
  sys/netpfil/ipfilter/netinet/ip_fil.h
Owners: @cschuber

ipfilter: Add ipf_check_names_string()
  sys/netpfil/ipfilter/netinet/fil.c
  sys/netpfil/ipfilter/netinet/ip_fil.h
Owners: @cschuber

ipfilter: Verify frentry on entry into kernel
  sbin/ipf/libipf/interror.c
  sys/netpfil/ipfilter/netinet/fil.c
  sys/netpfil/ipfilter/netinet/ip_fil.h
  sys/netpfil/ipfilter/netinet/mlfk_ipl.c
Owners: @cschuber

ipfilter: Verify frentry on entry into kernel
  sbin/ipf/libipf/interror.c
  sys/netpfil/ipfilter/netinet/fil.c
  sys/netpfil/ipfilter/netinet/ip_fil.h
  sys/netpfil/ipfilter/netinet/mlfk_ipl.c
Owners: @cschuber

ipfilter: Verify ipnat on entry into kernel
  sbin/ipf/libipf/interror.c
  sys/netpfil/ipfilter/netinet/ip_nat.c
Owners: @cschuber

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
