Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

pmc: add alderlake model
  sys/dev/hwpmc/hwpmc_intel.c
Owners: none

pmc: add emerald rapids model
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/cache.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/floating-point.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/frontend.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/memory.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/other.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/pipeline.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/uncore-cache.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/uncore-cxl.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/uncore-interconnect.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/uncore-io.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/uncore-memory.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/uncore-power.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/virtual-memory.json
  lib/libpmc/pmu-events/arch/x86/mapfile.csv
  sys/dev/hwpmc/hwpmc_intel.c
  sys/sys/pmc.h
Owners: none

pmc: add emerald rapids model
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/cache.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/floating-point.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/frontend.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/memory.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/other.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/pipeline.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/uncore-cache.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/uncore-cxl.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/uncore-interconnect.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/uncore-io.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/uncore-memory.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/uncore-power.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/virtual-memory.json
  lib/libpmc/pmu-events/arch/x86/mapfile.csv
  sys/dev/hwpmc/hwpmc_intel.c
  sys/sys/pmc.h
Owners: none

pmc: add alderlaken model
  lib/libpmc/pmu-events/arch/x86/alderlaken/adln-metrics.json
  lib/libpmc/pmu-events/arch/x86/alderlaken/cache.json
  lib/libpmc/pmu-events/arch/x86/alderlaken/floating-point.json
  lib/libpmc/pmu-events/arch/x86/alderlaken/frontend.json
  lib/libpmc/pmu-events/arch/x86/alderlaken/memory.json
  lib/libpmc/pmu-events/arch/x86/alderlaken/other.json
  lib/libpmc/pmu-events/arch/x86/alderlaken/pipeline.json
  lib/libpmc/pmu-events/arch/x86/alderlaken/uncore-memory.json
  lib/libpmc/pmu-events/arch/x86/alderlaken/uncore-other.json
  lib/libpmc/pmu-events/arch/x86/alderlaken/virtual-memory.json
  lib/libpmc/pmu-events/arch/x86/mapfile.csv
  sys/dev/hwpmc/hwpmc_intel.c
  sys/sys/pmc.h
Owners: none

pmc: add alderlaken model
  lib/libpmc/pmu-events/arch/x86/alderlaken/adln-metrics.json
  lib/libpmc/pmu-events/arch/x86/alderlaken/cache.json
  lib/libpmc/pmu-events/arch/x86/alderlaken/floating-point.json
  lib/libpmc/pmu-events/arch/x86/alderlaken/frontend.json
  lib/libpmc/pmu-events/arch/x86/alderlaken/memory.json
  lib/libpmc/pmu-events/arch/x86/alderlaken/other.json
  lib/libpmc/pmu-events/arch/x86/alderlaken/pipeline.json
  lib/libpmc/pmu-events/arch/x86/alderlaken/uncore-memory.json
  lib/libpmc/pmu-events/arch/x86/alderlaken/uncore-other.json
  lib/libpmc/pmu-events/arch/x86/alderlaken/virtual-memory.json
  lib/libpmc/pmu-events/arch/x86/mapfile.csv
  sys/dev/hwpmc/hwpmc_intel.c
  sys/sys/pmc.h
Owners: none

pfind(9): follow-up fixes and improvements
  ObsoleteFiles.inc
  share/man/man9/Makefile
  share/man/man9/pfind.9
Owners: none

pfind(9): follow-up fixes and improvements
  ObsoleteFiles.inc
  share/man/man9/Makefile
  share/man/man9/pfind.9
Owners: none

tests/carp: make a 0.2 second pause before configuring second jail
  tests/sys/netinet/carp.sh
Owners: @ngie-eign

tests/carp: make a 0.2 second pause before configuring second jail
  tests/sys/netinet/carp.sh
Owners: @ngie-eign

tests/carp: make sleep interval in the wait loop smaller
  tests/sys/netinet/carp.sh
Owners: @ngie-eign

tests/carp: make sleep interval in the wait loop smaller
  tests/sys/netinet/carp.sh
Owners: @ngie-eign

net: routing table attach never fails
  sys/net/route/route_tables.c
  sys/netinet/in_rmx.c
  sys/netinet6/in6_rmx.c
Owners: none

net: routing table attach never fails
  sys/net/route/route_tables.c
  sys/netinet/in_rmx.c
  sys/netinet6/in6_rmx.c
Owners: none

net: remove dom_ifmtu
  sys/net/if.c
  sys/net/if_var.h
  sys/net/route.c
  sys/netinet6/in6.c
  sys/netinet6/in6_proto.c
  sys/netinet6/in6_var.h
  sys/sys/domain.h
Owners: none

net: remove dom_ifmtu
  sys/net/if.c
  sys/net/if_var.h
  sys/net/route.c
  sys/netinet6/in6.c
  sys/netinet6/in6_proto.c
  sys/netinet6/in6_var.h
  sys/sys/domain.h
Owners: none

git-arc: Add patch -b option
  tools/tools/git/git-arc.sh
Owners: none

git-arc: Add patch -b option
  tools/tools/git/git-arc.sh
Owners: none

thread0: Stop calling thread0 "swapper"
  sys/kern/init_main.c
Owners: none

MAC: Rename mac_cred_create_swapper to mac_cred_create_kproc0
  sys/kern/init_main.c
  sys/security/mac/mac_cred.c
  sys/security/mac/mac_framework.h
  sys/security/mac/mac_policy.h
  sys/security/mac_biba/mac_biba.c
  sys/security/mac_lomac/mac_lomac.c
  sys/security/mac_mls/mac_mls.c
  sys/security/mac_partition/mac_partition.c
  sys/security/mac_stub/mac_stub.c
  sys/security/mac_test/mac_test.c
Owners: none

thread0: Stop calling thread0 "swapper"
  sys/kern/init_main.c
Owners: none

MAC: Rename mac_cred_create_swapper to mac_cred_create_kproc0
  sys/kern/init_main.c
  sys/security/mac/mac_cred.c
  sys/security/mac/mac_framework.h
  sys/security/mac/mac_policy.h
  sys/security/mac_biba/mac_biba.c
  sys/security/mac_lomac/mac_lomac.c
  sys/security/mac_mls/mac_mls.c
  sys/security/mac_partition/mac_partition.c
  sys/security/mac_stub/mac_stub.c
  sys/security/mac_test/mac_test.c
Owners: none

sys: Remove/update references to the swapper process in various comments
  sys/arm/arm/pmap-v6.c
  sys/i386/i386/pmap.c
  sys/sys/proc.h
  sys/sys/sleepqueue.h
  sys/vm/vnode_pager.c
Owners: none

sys: Remove/update references to the swapper process in various comments
  sys/arm/arm/pmap-v6.c
  sys/i386/i386/pmap.c
  sys/sys/proc.h
  sys/sys/sleepqueue.h
  sys/vm/vnode_pager.c
Owners: none

libc/limits_test: add no-op testcase to satisfy kyua
  lib/libc/tests/gen/limits_test.c
Owners: none

misc: retire tcberner from portmgr
  share/misc/organization.dot
Owners: none

misc: retire tcberner from portmgr
  share/misc/organization.dot
Owners: none

radxa cubie a5e: aded support for radxa cubie a5e
  sys/modules/dtb/allwinner/Makefile
Owners: none

Revert "stddef.h: add unreachable() for C23 compliance"
  include/stddef.h
  share/man/man3/Makefile
  share/man/man3/assert.3
  share/man/man3/unreachable.3
Owners: none

Revert "stddef.h: add unreachable() for C23 compliance"
  include/stddef.h
  share/man/man3/Makefile
  share/man/man3/assert.3
  share/man/man3/unreachable.3
Owners: none

During CI, use `nproc` instead of `sysctl -n hw.ncpu`
  .github/workflows/scripts/qemu-4-build-vm.sh
Owners: none

freebsd-base.7: Document the optional set
  share/man/man7/freebsd-base.7
Owners: none

freebsd-base.7: Document the optional set
  share/man/man7/freebsd-base.7
Owners: none

UPDATING: correct the incorrect date
  UPDATING
Owners: none

cam: set reladr in scsi_read_capacity_16
  sys/cam/scsi/scsi_all.c
Owners: none

cam: set reladr in scsi_read_capacity_16
  sys/cam/scsi/scsi_all.c
Owners: none

xhci: Add some Alder lake device ids
  sys/dev/usb/controller/xhci_pci.c
Owners: none

xhci: Add some Alder lake device ids
  sys/dev/usb/controller/xhci_pci.c
Owners: none

xhci: Correct name of HCCPARAMS Register
  sys/dev/pci/pci.c
  sys/dev/usb/controller/xhci.c
  sys/dev/usb/controller/xhci_pci.c
  sys/dev/usb/controller/xhcireg.h
  usr.sbin/bhyve/pci_xhci.c
Owners: @bsdimp, @bsdjhb, @grehan-freebsd

xhci: Correct name of HCCPARAMS Register
  sys/dev/pci/pci.c
  sys/dev/usb/controller/xhci.c
  sys/dev/usb/controller/xhci_pci.c
  sys/dev/usb/controller/xhcireg.h
  usr.sbin/bhyve/pci_xhci.c
Owners: @bsdimp, @bsdjhb, @grehan-freebsd

xhci: Add header values for Debug Capability (DbC)
  sys/dev/usb/controller/xhcireg.h
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
