Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

vn_fullpath.9: Fix two typos in the manual page
  share/man/man9/vn_fullpath.9
Owners: none

style.9: Fix two typos in the manual page
  share/man/man9/style.9
Owners: none

seqc.9: Fix a typo in the manual page
  share/man/man9/seqc.9
Owners: none

seqc.9: Fix a typo in the manual page
  share/man/man9/seqc.9
Owners: none

snd_dummy: Round channel pointer after each write
  sys/dev/sound/dummy.c
Owners: none

snd_dummy: Round channel pointer after each write
  sys/dev/sound/dummy.c
Owners: none

arm64: Include armreg.h in db_disasm.c
  sys/arm64/arm64/db_disasm.c
Owners: @zxombie

arm64/vmm: Remove armreg.h when not needed
  sys/arm64/vmm/io/vgic_v3.c
  sys/arm64/vmm/io/vtimer.c
  sys/arm64/vmm/vmm.c
  sys/arm64/vmm/vmm_arm64.c
  sys/arm64/vmm/vmm_hyp.c
  sys/arm64/vmm/vmm_reset.c
Owners: none

arm64: Use _armreg.h in cpu.h
  sys/arm64/include/_armreg.h
  sys/arm64/include/cpu.h
Owners: @zxombie

arm64: Include armreg.h in db_disasm.c
  sys/arm64/arm64/db_disasm.c
Owners: @zxombie

arm64: Split out accessing special registers
  sys/arm64/include/_armreg.h
  sys/arm64/include/armreg.h
  sys/arm64/include/hypervisor.h
Owners: @zxombie

arm64: Split out accessing special registers
  sys/arm64/include/_armreg.h
  sys/arm64/include/armreg.h
  sys/arm64/include/hypervisor.h
Owners: @zxombie

arm64: Use _armreg.h in cpu.h
  sys/arm64/include/_armreg.h
  sys/arm64/include/cpu.h
Owners: @zxombie

arm64: Remove armreg.h from db_machdep.h
  sys/arm64/include/db_machdep.h
Owners: @zxombie

arm64: Remove armreg.h from db_machdep.h
  sys/arm64/include/db_machdep.h
Owners: @zxombie

arm64/vmm: Remove armreg.h when not needed
  sys/arm64/vmm/io/vgic_v3.c
  sys/arm64/vmm/io/vtimer.c
  sys/arm64/vmm/vmm.c
  sys/arm64/vmm/vmm_arm64.c
  sys/arm64/vmm/vmm_hyp.c
  sys/arm64/vmm/vmm_reset.c
Owners: none

dev/ofw: Register the ofw_cpu xref
  sys/dev/ofw/ofw_cpu.c
Owners: none

dev/ofw: Move ofw_cpu earlier
  sys/dev/ofw/ofw_cpu.c
Owners: none

dev/ofw: Move ofw_cpu earlier
  sys/dev/ofw/ofw_cpu.c
Owners: none

dev/ofw: Register the ofw_cpu xref
  sys/dev/ofw/ofw_cpu.c
Owners: none

Vendor import of blocklist 2025-10-26 (ff13526)
  bin/blocklistctl.8
  bin/blocklistd.c
  bin/state.c
Owners: none

Vendor import of blocklist 2025-10-26 (ff13526)
  bin/blocklistctl.8
  bin/blocklistd.c
  bin/state.c
Owners: none

ng_device: add kqueue support
  sys/netgraph/ng_device.c
Owners: none

ng_device: add kqueue support
  sys/netgraph/ng_device.c
Owners: none

bhyve: add support for ng_device network backend
  usr.sbin/bhyve/bhyve.8
  usr.sbin/bhyve/net_backends.c
Owners: @bsdjhb, @grehan-freebsd

bhyve: add support for ng_device network backend
  usr.sbin/bhyve/bhyve.8
  usr.sbin/bhyve/net_backends.c
Owners: @bsdjhb, @grehan-freebsd

isa: Use gone_in_dev(9) for deprecation message
  sys/isa/isa_common.c
Owners: none

isa: Use gone_in_dev(9) for deprecation message
  sys/isa/isa_common.c
Owners: none

ipfw: Correct error message
  sbin/ipfw/ipfw2.c
Owners: none

ipfw: Correct error message
  sbin/ipfw/ipfw2.c
Owners: none

mtree: Remove stray atm directory
  etc/mtree/BSD.include.dist
Owners: none

mtree: Remove stray wi directory
  etc/mtree/BSD.include.dist
Owners: none

mtree: Remove stray wi directory
  etc/mtree/BSD.include.dist
Owners: none

mtree: Remove stray an (Aironet) directory
  etc/mtree/BSD.include.dist
Owners: none

bsdinstall: jail: Fix DISTMENU items
  usr.sbin/bsdinstall/scripts/jail
Owners: none

mtree: Remove stray atm directory
  etc/mtree/BSD.include.dist
Owners: none

mtree: Remove stray wi directory
  etc/mtree/BSD.include.dist
Owners: none

mtree: Remove stray an (Aironet) directory
  etc/mtree/BSD.include.dist
Owners: none

ice(4): Add support for E835-XXV-4 adapter
  sys/dev/ice/ice_drv_info.h
Owners: none

ice(4): Add support for E835-XXV-4 adapter
  sys/dev/ice/ice_drv_info.h
Owners: none
