Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

libifconfig: Add netlink based helper to bring the interface up/down
  lib/libifconfig/Makefile
  lib/libifconfig/libifconfig.h
  lib/libifconfig/libifconfig_nl.c
Owners: none

libifconfig: Add netlink based helper to bring the interface up/down
  lib/libifconfig/Makefile
  lib/libifconfig/libifconfig.h
  lib/libifconfig/libifconfig_nl.c
Owners: none

fix mispelling in panic msg
  sys/arm64/arm64/elf32_machdep.c
Owners: @zxombie

fix mispelling in panic msg
  sys/arm64/arm64/elf32_machdep.c
Owners: @zxombie

TPM: Add hint check to skip TPM IRQ configuration
  sys/dev/tpm/tpm_tis_core.c
Owners: none

TPM: Add hint check to skip TPM IRQ configuration
  sys/dev/tpm/tpm_tis_core.c
Owners: none

LinuxKPI: skbuff: checksum offloading flags
  sys/compat/linuxkpi/common/include/linux/skbuff.h
Owners: none

LinuxKPI: skbuff: checksum offloading flags
  sys/compat/linuxkpi/common/include/linux/skbuff.h
Owners: none

patch: fix pch_context() for unified diffs with no leading context
  usr.bin/patch/pch.c
  usr.bin/patch/tests/unified_patch_test.sh
Owners: none

patch: test for unified diffs with spaces in filenames
  usr.bin/patch/tests/unified_patch_test.sh
Owners: none

patch: test for unified diffs with spaces in filenames
  usr.bin/patch/tests/unified_patch_test.sh
Owners: none

patch: fix pch_context() for unified diffs with no leading context
  usr.bin/patch/pch.c
  usr.bin/patch/tests/unified_patch_test.sh
Owners: none

Supercharge the most beautiful console font ever with +4300 glyphs.
  share/vt/fonts/gallant.hex
Owners: none

Supercharge the most beautiful console font ever with +4300 glyphs.
  share/vt/fonts/gallant.hex
Owners: none

rc: bluetooth: startup improvements
  libexec/rc/rc.d/bluetooth
Owners: none

rc: bluetooth: startup improvements
  libexec/rc/rc.d/bluetooth
Owners: none

tarfs: add missing set of eofflag in early return, discovered on aarch64
  sys/fs/tarfs/tarfs_vnops.c
Owners: none

tarfs: add missing set of eofflag in early return, discovered on aarch64
  sys/fs/tarfs/tarfs_vnops.c
Owners: none

netgraph: teach ngctl to attach and run itself in a jail
  usr.sbin/ngctl/Makefile
  usr.sbin/ngctl/main.c
  usr.sbin/ngctl/ngctl.8
Owners: none

netgraph: teach ngctl to attach and run itself in a jail
  usr.sbin/ngctl/Makefile
  usr.sbin/ngctl/main.c
  usr.sbin/ngctl/ngctl.8
Owners: none

cxgbe(4): Fix inverted test in sysctl_loadavg
  sys/dev/cxgbe/t4_main.c
Owners: none

cxgbe(4): Fix inverted test in sysctl_loadavg
  sys/dev/cxgbe/t4_main.c
Owners: none

veriexec.8: Fix a typo in the manual page
  sbin/veriexec/veriexec.8
Owners: @stephane-rochoy-stormshield

veriexec.8: Fix a typo in the manual page
  sbin/veriexec/veriexec.8
Owners: @stephane-rochoy-stormshield

net80211 / LinuxKPI: 802.11: revert / redo enum ieee80211_sta_rx_bw
  sys/compat/linuxkpi/common/include/linux/ieee80211.h
  sys/compat/linuxkpi/common/include/net/mac80211.h
  sys/compat/linuxkpi/common/src/linux_80211.c
  sys/dev/ath/ath_rate/sample/sample.c
  sys/dev/ath/if_ath_tx_ht.c
  sys/dev/mwl/if_mwl.c
  sys/dev/rtwn/rtl8812a/r12a_tx.c
  sys/net80211/ieee80211_ddb.c
  sys/net80211/ieee80211_ht.c
  sys/net80211/ieee80211_node.c
  sys/net80211/ieee80211_node.h
  sys/net80211/ieee80211_phy.c
  sys/net80211/ieee80211_phy.h
  sys/net80211/ieee80211_sta.c
  sys/net80211/ieee80211_vht.c
  sys/net80211/ieee80211_vht.h
Owners: none

net80211 / LinuxKPI: 802.11: revert / redo enum ieee80211_sta_rx_bw
  sys/compat/linuxkpi/common/include/linux/ieee80211.h
  sys/compat/linuxkpi/common/include/net/mac80211.h
  sys/compat/linuxkpi/common/src/linux_80211.c
  sys/dev/ath/ath_rate/sample/sample.c
  sys/dev/ath/if_ath_tx_ht.c
  sys/dev/mwl/if_mwl.c
  sys/dev/rtwn/rtl8812a/r12a_tx.c
  sys/net80211/ieee80211_ddb.c
  sys/net80211/ieee80211_ht.c
  sys/net80211/ieee80211_node.c
  sys/net80211/ieee80211_node.h
  sys/net80211/ieee80211_phy.c
  sys/net80211/ieee80211_phy.h
  sys/net80211/ieee80211_sta.c
  sys/net80211/ieee80211_vht.c
  sys/net80211/ieee80211_vht.h
Owners: none

lsvfs(1): Capsicumise
  usr.bin/lsvfs/lsvfs.c
Owners: none

Merge commit cf721e29c6a3 from llvm git (by Amy Kwan):
  contrib/llvm-project/llvm/lib/Target/PowerPC/PPCMergeStringPool.cpp
Owners: @DimitryAndric

Merge commit cf721e29c6a3 from llvm git (by Amy Kwan):
  contrib/llvm-project/llvm/lib/Target/PowerPC/PPCMergeStringPool.cpp
Owners: @DimitryAndric

Update gsoc-ppt with latest RAPL profiling tool code
  gsoc-ppt/librapl/librapl.h
  gsoc-ppt/librapl/librapl.so.0
  gsoc-ppt/librapl/librapl.so.0.debug
  gsoc-ppt/librapl/librapl.so.0.full
  gsoc-ppt/librapl/rapl-read.c
  gsoc-ppt/librapl/rapl-read.pico
Owners: none

Update gsoc-ppt with latest RAPL profiling tool code
  gsoc-ppt/memory.c
  gsoc-ppt/process.c
Owners: none

tcp: improve sending of SYN-cookies
  sys/netinet/tcp_syncache.c
Owners: none

tcp: improve sending of SYN-cookies
  sys/netinet/tcp_syncache.c
Owners: none

syncache.4: add missing information
  share/man/man4/syncache.4
Owners: none

syncache.4: add missing information
  share/man/man4/syncache.4
Owners: none

vnode: Assert that VOP_LOCK succeeds in freevnode()
  sys/kern/vfs_subr.c
Owners: none

vnode: Assert that VOP_LOCK succeeds in freevnode()
  sys/kern/vfs_subr.c
Owners: none

kern/kern_thread.c: improve assert in thread_single_end()
  sys/kern/kern_thread.c
Owners: none

kern/kern_thread.c: improve assert in thread_single_end()
  sys/kern/kern_thread.c
Owners: none

iflib: Set the get counter routine prior to attaching the interface
  sys/net/iflib.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
