Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

random: Fix synchronization of hc_source_mask
  sys/dev/random/random_harvestq.c
Owners: none

random: Make the entropy source registration interface more uniform
  sys/dev/random/random_harvestq.c
  sys/dev/random/randomdev.h
  sys/dev/tpm/tpm20.c
  sys/dev/vmgenc/vmgenc_acpi.c
  sys/sys/random.h
Owners: none

random: Make the min-entropy estimate configurable
  sys/dev/random/random_harvestq.c
Owners: none

random: Allow pure entropy sources to provide a min-entropy estimate
  sys/dev/random/random_harvestq.c
  sys/dev/random/randomdev.h
Owners: none

makeobjops.awk: Style nits in generated files
  sys/tools/makeobjops.awk
Owners: none

makeobjops.awk: Style nits in generated files
  sys/tools/makeobjops.awk
Owners: none

Add random Intel Elkhart Lake device IDs.
  sys/dev/ahci/ahci_pci.c
  sys/dev/ichsmb/ichsmb_pci.c
  sys/dev/sound/pci/hda/hdac.c
  sys/dev/sound/pci/hda/hdac.h
  sys/dev/usb/controller/xhci_pci.c
Owners: none

Add random Intel Elkhart Lake device IDs.
  sys/dev/ahci/ahci_pci.c
  sys/dev/ichsmb/ichsmb_pci.c
  sys/dev/sound/pci/hda/hdac.c
  sys/dev/sound/pci/hda/hdac.h
  sys/dev/usb/controller/xhci_pci.c
Owners: none

tunables: remove legacy FreeBSD aliases
  module/os/freebsd/zfs/sysctl_os.c
  module/zfs/arc.c
  module/zfs/dmu_zfetch.c
  module/zfs/vdev.c
  module/zfs/vdev_queue.c
  module/zfs/vdev_removal.c
  tests/zfs-tests/include/tunables.cfg
Owners: @ngie-eign

src.opts.mk: Remove REPRODUCIBLE_BUILD from the default list
  share/mk/src.opts.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

src.opts.mk: Remove REPRODUCIBLE_BUILD from the default list
  share/mk/src.opts.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

Revert "vtnet: fix compilation for NOIP configs"
  sys/dev/virtio/network/if_vtnet.c
Owners: none

Revert "vtnet: fix compilation for NOIP configs"
  sys/dev/virtio/network/if_vtnet.c
Owners: none

Revert "vtnet: improve checksum offloading"
  share/man/man4/vtnet.4
  sys/dev/virtio/network/if_vtnet.c
  sys/dev/virtio/network/if_vtnetvar.h
Owners: none

Revert "vtnet: improve checksum offloading"
  share/man/man4/vtnet.4
  sys/dev/virtio/network/if_vtnet.c
  sys/dev/virtio/network/if_vtnetvar.h
Owners: none

Revert "vtnet: improve checksum offloading"
  share/man/man4/vtnet.4
  sys/dev/virtio/network/if_vtnet.c
  sys/dev/virtio/network/if_vtnetvar.h
Owners: none

vtnet: improve checksum offloading
  share/man/man4/vtnet.4
  sys/dev/virtio/network/if_vtnet.c
  sys/dev/virtio/network/if_vtnetvar.h
Owners: none

vtnet: improve checksum offloading
  share/man/man4/vtnet.4
  sys/dev/virtio/network/if_vtnet.c
  sys/dev/virtio/network/if_vtnetvar.h
Owners: none

vtnet: fix compilation for NOIP configs
  sys/dev/virtio/network/if_vtnet.c
Owners: none

vtnet: fix compilation for NOIP configs
  sys/dev/virtio/network/if_vtnet.c
Owners: none

src.opts.mk: Remove REPRODUCIBLE_BUILD from the default list
  share/mk/bsd.opts.mk
  share/mk/src.opts.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

Fix wrong dedup_table_size for legacy dedup
  module/zfs/ddt.c
  module/zfs/ddt_log.c
Owners: none

nvme: Linux compat: don't filter & 0x3.
  sys/dev/nvme/nvme_ctrlr.c
Owners: @bsdimp

nvme: Linux compat: don't filter & 0x3.
  sys/dev/nvme/nvme_ctrlr.c
Owners: @bsdimp

cmd: force zarcstat/zarc_summary recreation at install
  cmd/Makefile.am
Owners: none

tcp: micro-optimize SYN-cookie expansion
  sys/netinet/tcp_syncache.c
Owners: none

leap-seconds: Update to leap-seconds.3960835200 from IERS
  usr.sbin/ntp/ntpd/leap-seconds
Owners: none

leap-seconds: Update to leap-seconds.3960835200 from IERS
  usr.sbin/ntp/ntpd/leap-seconds
Owners: none

freebsd-update.sh: improve the pkgbase statement
  usr.sbin/freebsd-update/freebsd-update.sh
Owners: none

exports.5: Add a paragraph clarifying the use of "V4:"
  usr.sbin/mountd/exports.5
Owners: none

exports.5: Add a paragraph clarifying the use of "V4:"
  usr.sbin/mountd/exports.5
Owners: none

run: enable seqno offload
  sys/dev/usb/wlan/if_run.c
Owners: none

run: enable seqno offload
  sys/dev/usb/wlan/if_run.c
Owners: none

rsu: enable seqno offload
  sys/dev/usb/wlan/if_rsu.c
Owners: none

rsu: enable seqno offload
  sys/dev/usb/wlan/if_rsu.c
Owners: none

rsu: implement A-MPDU TX; add TODO items for further work
  sys/dev/usb/wlan/if_rsu.c
  sys/dev/usb/wlan/if_rsureg.h
Owners: none

rsu: implement A-MPDU TX; add TODO items for further work
  sys/dev/usb/wlan/if_rsu.c
  sys/dev/usb/wlan/if_rsureg.h
Owners: none

net80211: add support for drivers to disable sending NULL data frames
  sys/net80211/ieee80211_output.c
  sys/net80211/ieee80211_var.h
Owners: none

net80211: add support for drivers to disable sending NULL data frames
  sys/net80211/ieee80211_output.c
  sys/net80211/ieee80211_var.h
Owners: none

iommu_get_requester(): make it more resilient against arbitrary dev arg
  sys/dev/iommu/busdma_iommu.c
  sys/dev/iommu/iommu.h
  sys/kern/subr_bus.c
  sys/x86/iommu/amd_intrmap.c
  sys/x86/iommu/intel_intrmap.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
