Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

thunderbolt: Remove PNP info
  sys/dev/thunderbolt/nhi_pci.c
  sys/dev/thunderbolt/tb_pcib.c
Owners: none

thunderbolt: Remove PNP info
  sys/dev/thunderbolt/nhi_pci.c
  sys/dev/thunderbolt/tb_pcib.c
Owners: none

acpidump.8: formatting fix
  usr.sbin/acpi/acpidump/acpidump.8
Owners: none

acpidump.8: formatting fix
  usr.sbin/acpi/acpidump/acpidump.8
Owners: none

blocklist: Add vendor import instructions
  contrib/blocklist/FreeBSD-upgrade
  contrib/blocklist/freebsd-changes.sh
Owners: none

blocklist: Add vendor import instructions
  contrib/blocklist/FreeBSD-upgrade
  contrib/blocklist/freebsd-changes.sh
Owners: none

Vendor import of blocklist 2025-12-15 (8a4b011)
  bin/blocklistd.c
Owners: none

Vendor import of blocklist 2025-12-15 (8a4b011)
  bin/blocklistd.c
Owners: none

ipfw: pmod: avoid further rule processing after tcp-mod failures
  sys/netpfil/ipfw/pmod/tcpmod.c
Owners: none

shutdown(8): Document additional formats supported by the code.
  sbin/shutdown/shutdown.8
Owners: none

jail: Fix escaping in jail.conf.5
  usr.sbin/jail/jail.conf.5
Owners: none

lio: Avoid out-of-bounds read or write MAC address
  sys/dev/liquidio/lio_ioctl.c
  sys/dev/liquidio/lio_main.c
Owners: none

lio: Avoid out-of-bounds read or write MAC address
  sys/dev/liquidio/lio_ioctl.c
  sys/dev/liquidio/lio_main.c
Owners: none

proc_dtor(): style improvements
  sys/kern/kern_proc.c
Owners: none

proc_dtor(): style improvements
  sys/kern/kern_proc.c
Owners: none

libc/string: put source files list one item per line
  lib/libc/string/Makefile.inc
Owners: none

libc/string: add strdupa(3) and strndupa(3)
  include/string.h
  lib/libc/string/Makefile.inc
  lib/libc/string/strdup.3
Owners: none

ofed/libibverbs: remove strdupa() hack from config.h
  contrib/ofed/libibverbs/config.h
Owners: none

ofed/libibverbs: remove no longer needed local alloca.h
  contrib/ofed/libibverbs/alloca.h
  contrib/ofed/libibverbs/cmd.c
  contrib/ofed/libibverbs/compat-1_0.c
  contrib/ofed/libibverbs/device.c
Owners: none

libc/string: add strdupa(3) and strndupa(3)
  include/string.h
  lib/libc/string/Makefile.inc
  lib/libc/string/strdup.3
Owners: none

ofed/libibverbs: remove strdupa() hack from config.h
  contrib/ofed/libibverbs/config.h
Owners: none

ofed/libibverbs: remove no longer needed local alloca.h
  contrib/ofed/libibverbs/alloca.h
  contrib/ofed/libibverbs/cmd.c
  contrib/ofed/libibverbs/compat-1_0.c
  contrib/ofed/libibverbs/device.c
Owners: none

khelp: make the module compile again
  share/examples/kld/khelp/h_example.c
Owners: none

khelp: make the module compile again
  share/examples/kld/khelp/h_example.c
Owners: none

blocklist: blacklist: Chase recent upstream changes
  contrib/blocklist/bin/blacklistd.c
Owners: none

blocklist: blacklist: Chase recent upstream changes
  contrib/blocklist/bin/blacklistd.c
Owners: none

etc/mtree/BSD.include.dist: Remove bsnmp tags
  etc/mtree/BSD.include.dist
Owners: none

etc/mtree/BSD.include.dist: Remove bsnmp tags
  etc/mtree/BSD.include.dist
Owners: none

etc/mtree/BSD.include.dist: Remove atf tags
  etc/mtree/BSD.include.dist
Owners: none

etc/mtree/BSD.include.dist: Remove atf tags
  etc/mtree/BSD.include.dist
Owners: none

axidma(4): switch interrupt type.
  sys/dev/xilinx/axidma.c
Owners: none

axidma(4): switch interrupt type.
  sys/dev/xilinx/axidma.c
Owners: none

tests/fibs_test: unskip udp_dontroute6 testcase
  tests/sys/netinet/fibs_test.sh
Owners: @ngie-eign

tests/fibs_test: unskip udp_dontroute6 testcase
  tests/sys/netinet/fibs_test.sh
Owners: @ngie-eign

tests/if_lagg_test: unskip 'witness' testcase
  tests/sys/net/if_lagg_test.sh
Owners: @ngie-eign

tests/if_lagg_test: unskip 'witness' testcase
  tests/sys/net/if_lagg_test.sh
Owners: @ngie-eign

mk: fix machine ABI detection on x86-64 macOS
  share/mk/bsd.cpu.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

repo: ignore generated files
  .gitignore
Owners: none

lib/msun/tests: replace remaining printf() with debug()
  lib/msun/tests/ctrig_test.c
  lib/msun/tests/fma_test.c
Owners: none

ipfw: pmod: avoid further rule processing after tcp-mod failures
  sys/netpfil/ipfw/pmod/tcpmod.c
Owners: none
