Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

vmm: Fix routines which create maps of the guest physical address space
  sys/amd64/vmm/vmm.c
  sys/amd64/vmm/vmm_mem.h
  sys/amd64/vmm/vmm_mem_machdep.c
  sys/dev/vmm/vmm_mem.c
Owners: @bsdjhb, @grehan-freebsd

d.7: Order user-defined variable types by scope
  share/man/man7/d.7
Owners: none

d.7: Order user-defined variable types by scope
  share/man/man7/d.7
Owners: none

getvfsbyname.3 mount.8: Reference lsvfs(1)
  lib/libc/gen/getvfsbyname.3
  sbin/mount/mount.8
Owners: none

getvfsbyname.3 mount.8: Reference lsvfs(1)
  lib/libc/gen/getvfsbyname.3
  sbin/mount/mount.8
Owners: none

sndctl(8): Modify vchans only on supported directions
  usr.sbin/sndctl/sndctl.c
Owners: none

zfs: update zfs_config.h and zfs_gitrev.h after ce7e1f86a (zfs-2.4.0-rc3)
  sys/modules/zfs/zfs_config.h
  sys/modules/zfs/zfs_gitrev.h
Owners: none

tcp rack: cleanup
  sys/netinet/tcp_stacks/rack.c
  sys/netinet/tcp_stacks/tcp_rack.h
Owners: none

tcp: save progress timeout cause in connection end status
  sys/netinet/tcp_timer.c
Owners: none

x86: Reduce amount of time the MCA lock is held while emitting records
  sys/x86/x86/mca.c
Owners: none

local-unbound-setup: Set so-sndbuf to 0
  usr.sbin/unbound/setup/local-unbound-setup.sh
Owners: none

nfs_clrpcops.c: NFSM_DISSECT() reply for each dir separately
  sys/fs/nfsclient/nfs_clrpcops.c
Owners: none

nfs_clrpcops.c: NFSM_DISSECT() reply for each dir separately
  sys/fs/nfsclient/nfs_clrpcops.c
Owners: none

rtld, libthr: Use `nonstring` attribute to silence compiler warning
  lib/libthr/thread/thr_printf.c
  libexec/rtld-elf/rtld.c
Owners: none

bus: Take the topolock in driver_module_handler()
  sys/kern/subr_bus.c
Owners: none

bus: Take the topolock in driver_module_handler()
  sys/kern/subr_bus.c
Owners: none

nvme: Remove a todo comment
  sys/dev/nvme/nvme_ns.c
Owners: @bsdimp

nvme: Remove a todo comment
  sys/dev/nvme/nvme_ns.c
Owners: @bsdimp

bus: Revert "bus: Take the topolock in driver_module_handler()"
  sys/kern/subr_bus.c
Owners: none

bus: Revert "bus: Take the topolock in driver_module_handler()"
  sys/kern/subr_bus.c
Owners: none

random: remove hifn(4)
  ObsoleteFiles.inc
  share/man/man4/hifn.4
  share/man/man4/rndtest.4
  sys/conf/NOTES
  sys/conf/files
  sys/conf/options
  sys/dev/hifn/hifn7751.c
  sys/dev/hifn/hifn7751reg.h
  sys/dev/hifn/hifn7751var.h
  sys/dev/random/fenestrasX/fx_pool.c
  sys/dev/random/random_harvestq.c
  sys/modules/Makefile
  sys/modules/hifn/Makefile
  sys/sys/random.h
  tools/kerneldoc/subsys/Doxyfile-dev_hifn
  tools/tools/crypto/Makefile
  tools/tools/crypto/hifnstats.c
Owners: none

random: remove hifn(4)
  ObsoleteFiles.inc
  share/man/man4/hifn.4
  share/man/man4/rndtest.4
  sys/conf/NOTES
  sys/conf/files
  sys/conf/options
  sys/dev/hifn/hifn7751.c
  sys/dev/hifn/hifn7751reg.h
  sys/dev/hifn/hifn7751var.h
  sys/dev/random/fenestrasX/fx_pool.c
  sys/dev/random/random_harvestq.c
  sys/modules/Makefile
  sys/modules/hifn/Makefile
  sys/sys/random.h
  tools/kerneldoc/subsys/Doxyfile-dev_hifn
  tools/tools/crypto/Makefile
  tools/tools/crypto/hifnstats.c
Owners: none

random: remove hifn(4)
  share/man/man4/Makefile
Owners: none

random: remove hifn(4)
  share/man/man4/Makefile
Owners: none

padlock.4: only install on i386
  share/man/man4/Makefile
Owners: none

padlock.4: only install on i386
  share/man/man4/Makefile
Owners: none

nfs_commonsubs.c: Get rid of variable used as a constant
  sys/fs/nfs/nfs_commonsubs.c
Owners: none

nfs_commonsubs.c: Get rid of variable used as a constant
  sys/fs/nfs/nfs_commonsubs.c
Owners: none

random: garbage collect the RANDOM_PURE_OCTEON entropy source
  sys/dev/random/fenestrasX/fx_pool.c
  sys/dev/random/random_harvestq.c
  sys/sys/random.h
Owners: none

libutil: defer setting the MAC label until after the login class
  lib/libutil/login_class.c
Owners: none

libutil: defer setting the MAC label until after the login class
  lib/libutil/login_class.c
Owners: none

random: add RDSEED as a provably unique entropy source
  sys/conf/files.x86
  sys/dev/random/fenestrasX/fx_pool.c
  sys/dev/random/ivy.c
  sys/dev/random/random_harvestq.c
  sys/dev/random/rdseed.c
  sys/modules/Makefile
  sys/modules/rdseed_rng/Makefile
  sys/sys/random.h
Owners: none

Add FENESTRASX to LINT to avoid breakage
  sys/conf/NOTES
Owners: none

Document the DEPRECATION NOTICE section for kernel interfaces
  share/examples/mdoc/example.4
Owners: none

Document the DEPRECATION NOTICE section for kernel interfaces
  share/examples/mdoc/example.4
Owners: none

padlock(4)/nehemiah: move i386-only entropy source to MD files
  share/man/man4/Makefile
  sys/amd64/conf/GENERIC
  sys/amd64/conf/MINIMAL
  sys/conf/files.i386
  sys/conf/files.x86
  sys/i386/conf/NOTES
  sys/modules/Makefile
  sys/x86/conf/NOTES
Owners: none

cam: Fix three typos in kernel messages
  sys/cam/ctl/ctl.c
  sys/cam/scsi/scsi_enc.c
  sys/cam/scsi/scsi_enc_ses.c
Owners: none

cam: Fix three typos in kernel messages
  sys/cam/ctl/ctl.c
  sys/cam/scsi/scsi_enc.c
  sys/cam/scsi/scsi_enc_ses.c
Owners: none

nfsclient: Fix a typo in a panic message
  sys/fs/nfsclient/nfs_clrpcops.c
Owners: none

nfsclient: Fix a typo in a panic message
  sys/fs/nfsclient/nfs_clrpcops.c
Owners: none
