Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

intr/powerpc: remove architecture copy of PIC device
  sys/powerpc/powerpc/intr_machdep.c
Owners: none

intr/powerpc: fully use kobj for PowerMAC CPC HT device driver
  sys/powerpc/include/openpicvar.h
  sys/powerpc/powermac/cpcht.c
  sys/powerpc/powerpc/openpic.c
Owners: none

intr/powerpc: switch OpenPIC_classes to newer macros
  sys/powerpc/ofw/openpic_ofw.c
  sys/powerpc/powermac/cpcht.c
  sys/powerpc/psim/openpic_iobus.c
Owners: none

intr/powerpc: move powerpc_intr structure to machine/interrupt.h
  sys/powerpc/include/interrupt.h
  sys/powerpc/powerpc/intr_machdep.c
Owners: none

intr/powerpc: implement skeleton interrupt event interface
  sys/powerpc/mpc85xx/atpic.c
  sys/powerpc/powermac/hrowpic.c
  sys/powerpc/powernv/opal_pci.c
  sys/powerpc/powernv/xive.c
  sys/powerpc/powerpc/openpic.c
  sys/powerpc/ps3/ps3pic.c
  sys/powerpc/pseries/xics.c
Owners: none

kern/intr: implement specialized SWI class
  sys/kern/kern_intr.c
Owners: none

dpaa2: Setup interface caps on attach
  sys/dev/dpaa2/dpaa2_ni.c
Owners: none

intrcompat: move pic_base_class declaration to sys/interrupt.h
  sys/powerpc/include/interrupt.h
  sys/sys/interrupt.h
  sys/sys/intr.h
  sys/x86/include/interrupt.h
Owners: none

ntp.conf: Remove stale driftfile comment
  usr.sbin/ntp/ntpd/ntp.conf
Owners: none

dpaa2: Setup interface caps on attach
  sys/dev/dpaa2/dpaa2_ni.c
Owners: none

ntp.conf: Modernize leapfile comment
  usr.sbin/ntp/ntpd/ntp.conf
Owners: none

ntp.conf: Wordsmith and wrap for standard console
  usr.sbin/ntp/ntpd/ntp.conf
Owners: none

bhyve_config.5: Fix consistency and terms in manpage
  usr.sbin/bhyve/bhyve_config.5
Owners: @bsdjhb, @grehan-freebsd

bhyve: Document that MAC address has to be unicast
  usr.sbin/bhyve/bhyve.8
  usr.sbin/bhyve/bhyve_config.5
Owners: @bsdjhb, @grehan-freebsd

linprocfs.4: Improve docs around pid/self entries
  share/man/man4/linprocfs.4
Owners: none

bhyve_config.5: Fix consistency and terms in manpage
  usr.sbin/bhyve/bhyve_config.5
Owners: @bsdjhb, @grehan-freebsd

bhyve: Document that MAC address has to be unicast
  usr.sbin/bhyve/bhyve.8
  usr.sbin/bhyve/bhyve_config.5
Owners: @bsdjhb, @grehan-freebsd

bio: Fix KASAN invalid access report in biodone
  sys/kern/vfs_bio.c
Owners: none

bhyve: Document that MAC address has to be unicast
  usr.sbin/bhyve/bhyve.8
  usr.sbin/bhyve/bhyve_config.5
Owners: @bsdjhb, @grehan-freebsd

cmd/ztest: avoid `PATH_MAX` stack allocation in `ztest_get_zdb_bin()` (#18085)
  cmd/ztest.c
Owners: none

bhyve_config.5: Fix consistency and terms in manpage
  usr.sbin/bhyve/bhyve_config.5
Owners: @bsdjhb, @grehan-freebsd

ioctl.2: Mention EACCES
  lib/libsys/ioctl.2
Owners: none

ioctl.2: Mention EACCES
  lib/libsys/ioctl.2
Owners: none

kyua manuals: Correct --results-file short form
  contrib/kyua/doc/kyua-db-exec.1.in
  contrib/kyua/doc/kyua-db-migrate.1.in
  contrib/kyua/doc/kyua-report-html.1.in
  contrib/kyua/doc/kyua-report-junit.1.in
  contrib/kyua/doc/kyua-report.1.in
  contrib/kyua/doc/kyua-test.1.in
Owners: none

kyua manuals: Correct --results-file short form
  contrib/kyua/doc/kyua-db-exec.1.in
  contrib/kyua/doc/kyua-db-migrate.1.in
  contrib/kyua/doc/kyua-report-html.1.in
  contrib/kyua/doc/kyua-report-junit.1.in
  contrib/kyua/doc/kyua-report.1.in
  contrib/kyua/doc/kyua-test.1.in
Owners: none

Move MK_REPRODUCIBLE_PATHS to bsd.opts.mk
  share/mk/bsd.opts.mk
  share/mk/src.opts.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

Move MK_REPRODUCIBLE_PATHS to bsd.opts.mk
  share/mk/bsd.opts.mk
  share/mk/src.opts.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

Fix typo in tools/build/options/WITH_REPRODUCIBLE_PATHS
  share/man/man5/src.conf.5
  tools/build/options/WITH_REPRODUCIBLE_PATHS
Owners: @bsdimp

Fix typo in tools/build/options/WITH_REPRODUCIBLE_PATHS
  share/man/man5/src.conf.5
  tools/build/options/WITH_REPRODUCIBLE_PATHS
Owners: @bsdimp

sys/cdefs.h: add __noexcept and __noexcept_if
  sys/sys/cdefs.h
Owners: none

cdefs: Add __deprecated
  sys/compat/linuxkpi/common/include/linux/compiler.h
  sys/sys/cdefs.h
Owners: none

cdefs: Add __deprecated1 which accepts a message as an argument
  sys/sys/cdefs.h
Owners: none

sys/cdefs.h: add __noexcept and __noexcept_if
  sys/sys/cdefs.h
Owners: none

cdefs: Add __deprecated
  sys/compat/linuxkpi/common/include/linux/compiler.h
  sys/sys/cdefs.h
Owners: none

cdefs: Add __deprecated1 which accepts a message as an argument
  sys/sys/cdefs.h
Owners: none

Remove __deprecated definition from OpenZFS compiler.h
  sys/contrib/openzfs/include/os/freebsd/linux/compiler.h
Owners: none

MFV 762f11d98d5cd57ebbe85c36e9e86a557a91fe4e: xz 5.8.2.
  contrib/xz/ChangeLog
  contrib/xz/THANKS
  contrib/xz/doxygen/Doxyfile
  contrib/xz/src/common/my_landlock.h
  contrib/xz/src/common/mythread.h
  contrib/xz/src/liblzma/api/lzma/base.h
  contrib/xz/src/liblzma/api/lzma/container.h
  contrib/xz/src/liblzma/api/lzma/version.h
  contrib/xz/src/liblzma/check/crc32_arm64.h
  contrib/xz/src/liblzma/check/crc32_fast.c
  contrib/xz/src/liblzma/check/crc64_fast.c
  contrib/xz/src/liblzma/check/crc_common.h
  contrib/xz/src/liblzma/common/alone_decoder.c
  contrib/xz/src/liblzma/common/filter_common.c
  contrib/xz/src/liblzma/common/lzip_decoder.c
  contrib/xz/src/liblzma/common/outqueue.h
  contrib/xz/src/liblzma/common/stream_decoder_mt.c
  contrib/xz/src/liblzma/common/vli_decoder.c
  contrib/xz/src/liblzma/lzma/lzma_common.h
  contrib/xz/src/liblzma/lzma/lzma_decoder.h
  contrib/xz/src/liblzma/rangecoder/range_decoder.h
  contrib/xz/src/liblzma/validate_map.sh
  contrib/xz/src/xz/args.c
  contrib/xz/src/xz/file_io.c
  contrib/xz/src/xz/hardware.c
  contrib/xz/src/xz/list.c
  contrib/xz/src/xz/message.h
  contrib/xz/src/xz/sandbox.c
  contrib/xz/src/xz/signals.c
  contrib/xz/src/xz/util.c
  contrib/xz/src/xz/xz.1
  contrib/xz/src/xzdec/xzdec.c
  lib/liblzma/config.h
Owners: none

MFV 762f11d98d5cd57ebbe85c36e9e86a557a91fe4e: xz 5.8.2.
  contrib/xz/ChangeLog
  contrib/xz/THANKS
  contrib/xz/doxygen/Doxyfile
  contrib/xz/src/common/my_landlock.h
  contrib/xz/src/common/mythread.h
  contrib/xz/src/liblzma/api/lzma/base.h
  contrib/xz/src/liblzma/api/lzma/container.h
  contrib/xz/src/liblzma/api/lzma/version.h
  contrib/xz/src/liblzma/check/crc32_arm64.h
  contrib/xz/src/liblzma/check/crc32_fast.c
  contrib/xz/src/liblzma/check/crc64_fast.c
  contrib/xz/src/liblzma/check/crc_common.h
  contrib/xz/src/liblzma/common/alone_decoder.c
  contrib/xz/src/liblzma/common/filter_common.c
  contrib/xz/src/liblzma/common/lzip_decoder.c
  contrib/xz/src/liblzma/common/outqueue.h
  contrib/xz/src/liblzma/common/stream_decoder_mt.c
  contrib/xz/src/liblzma/common/vli_decoder.c
  contrib/xz/src/liblzma/lzma/lzma_common.h
  contrib/xz/src/liblzma/lzma/lzma_decoder.h
  contrib/xz/src/liblzma/rangecoder/range_decoder.h
  contrib/xz/src/liblzma/validate_map.sh
  contrib/xz/src/xz/args.c
  contrib/xz/src/xz/file_io.c
  contrib/xz/src/xz/hardware.c
  contrib/xz/src/xz/list.c
  contrib/xz/src/xz/message.h
  contrib/xz/src/xz/sandbox.c
  contrib/xz/src/xz/signals.c
  contrib/xz/src/xz/util.c
  contrib/xz/src/xz/xz.1
  contrib/xz/src/xzdec/xzdec.c
  lib/liblzma/config.h
Owners: none

MFV 762f11d98d5cd57ebbe85c36e9e86a557a91fe4e: xz 5.8.2.
  contrib/xz/ChangeLog
  contrib/xz/THANKS
  contrib/xz/doxygen/Doxyfile
  contrib/xz/src/common/my_landlock.h
  contrib/xz/src/common/mythread.h
  contrib/xz/src/liblzma/api/lzma/base.h
  contrib/xz/src/liblzma/api/lzma/container.h
  contrib/xz/src/liblzma/api/lzma/version.h
  contrib/xz/src/liblzma/check/crc32_arm64.h
  contrib/xz/src/liblzma/check/crc32_fast.c
  contrib/xz/src/liblzma/check/crc64_fast.c
  contrib/xz/src/liblzma/check/crc_common.h
  contrib/xz/src/liblzma/common/alone_decoder.c
  contrib/xz/src/liblzma/common/filter_common.c
  contrib/xz/src/liblzma/common/lzip_decoder.c
  contrib/xz/src/liblzma/common/outqueue.h
  contrib/xz/src/liblzma/common/stream_decoder_mt.c
  contrib/xz/src/liblzma/common/vli_decoder.c
  contrib/xz/src/liblzma/lzma/lzma_common.h
  contrib/xz/src/liblzma/lzma/lzma_decoder.h
  contrib/xz/src/liblzma/rangecoder/range_decoder.h
  contrib/xz/src/liblzma/validate_map.sh
  contrib/xz/src/xz/args.c
  contrib/xz/src/xz/file_io.c
  contrib/xz/src/xz/hardware.c
  contrib/xz/src/xz/list.c
  contrib/xz/src/xz/message.h
  contrib/xz/src/xz/sandbox.c
  contrib/xz/src/xz/signals.c
  contrib/xz/src/xz/util.c
  contrib/xz/src/xz/xz.1
  contrib/xz/src/xzdec/xzdec.c
  lib/liblzma/config.h
Owners: none

vm_object_coalesce(): remove commented out code
  sys/vm/vm_object.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
