Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

LinuxKPI: 802.11: lock down the "txq_scheduled" tailq
  sys/compat/linuxkpi/common/src/linux_80211.c
  sys/compat/linuxkpi/common/src/linux_80211.h
Owners: none

LinuxKPI: 802.11: lock down the "txq_scheduled" tailq
  sys/compat/linuxkpi/common/src/linux_80211.c
  sys/compat/linuxkpi/common/src/linux_80211.h
Owners: none

ZIO: ZIO_STAGE_DDT_WRITE is a blocking stage
  include/sys/zio_impl.h
Owners: none

sockets: remove compat shim for divert(4)
  sys/kern/uipc_socket.c
Owners: none

sockets: remove compat shim for divert(4)
  sys/kern/uipc_socket.c
Owners: none

bnxt.4: Adjust for recent HARDWARE
  share/man/man4/bnxt.4
Owners: none

bnxt.4: Adjust for recent HARDWARE
  share/man/man4/bnxt.4
Owners: none

aq(4): Use sys, not userland, headers
  sys/dev/aq/aq_common.h
  sys/dev/aq/aq_dbg.h
  sys/dev/aq/aq_fw.c
  sys/dev/aq/aq_fw1x.c
  sys/dev/aq/aq_fw2x.c
  sys/dev/aq/aq_hw.h
Owners: none

aq(4): Use sys, not userland, headers
  sys/dev/aq/aq_common.h
  sys/dev/aq/aq_dbg.h
  sys/dev/aq/aq_fw.c
  sys/dev/aq/aq_fw1x.c
  sys/dev/aq/aq_fw2x.c
  sys/dev/aq/aq_hw.h
Owners: none

Import tzdata 2025c
  CONTRIBUTING
  Makefile
  NEWS
  README
  SECURITY
  africa
  antarctica
  asia
  australasia
  backzone
  calendars
  checknow.awk
  europe
  iso3166.tab
  leap-seconds.list
  leapseconds
  leapseconds.awk
  northamerica
  southamerica
  theory.html
  version
  zone1970.tab
  zonenow.tab
Owners: none

linux: Add support for kcmp(2) system call
  sys/compat/linux/linux_dummy.c
  sys/compat/linux/linux_misc.c
  sys/compat/linux/linux_misc.h
Owners: none

bhyve: pci-uart needs to also set subclass and function
  usr.sbin/bhyve/pci_uart.c
Owners: @bsdjhb, @grehan-freebsd

bhyve: pci-uart needs to also set subclass and function
  usr.sbin/bhyve/pci_uart.c
Owners: @bsdjhb, @grehan-freebsd

linux: Implement F_DUPFD_QUERY fcntl with kcmp(2) KCMP_FILE
  sys/compat/linux/linux_file.c
  sys/compat/linux/linux_file.h
Owners: none

vm: Fix kstack alignment assertion
  sys/vm/vm_glue.c
Owners: none

vm: Fix kstack alignment assertion
  sys/vm/vm_glue.c
Owners: none

pf: relax sctp v_tag verification
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/sctp.py
Owners: @glebius, @ngie-eign

pf: relax sctp v_tag verification
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/sctp.py
Owners: @glebius, @ngie-eign

libpfctl: improve error handling
  lib/libpfctl/libpfctl.c
Owners: none

pf: relax sctp v_tag verification
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/sctp.py
Owners: @glebius, @ngie-eign

pf: handle TTL expired during nat64
  sys/net/pfvar.h
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/nat64.py
Owners: @glebius, @ngie-eign

pf: handle TTL expired during nat64
  sys/net/pfvar.h
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/nat64.py
Owners: @glebius, @ngie-eign

krb5: Add missing symbol
  krb5/lib/gssapi/version.map
Owners: none

krb5: Add missing symbol
  krb5/lib/gssapi/version.map
Owners: none

Move mpu401_setup call from mpu401_init into mpu401_minit.
  sys/dev/sound/midi/mpu401.c
Owners: none

make_dtb.sh: add include path
  sys/tools/fdt/make_dtb.sh
Owners: none

make_dtb.sh: add include path
  sys/tools/fdt/make_dtb.sh
Owners: none

linux: Add support for kcmp(2) system call
  sys/compat/linux/linux_dummy.c
  sys/compat/linux/linux_misc.c
  sys/compat/linux/linux_misc.h
Owners: none

linux: Add support for kcmp(2) system call
  sys/compat/linux/linux_dummy.c
  sys/compat/linux/linux_misc.c
  sys/compat/linux/linux_misc.h
Owners: none

linux: Implement F_DUPFD_QUERY fcntl with kcmp(2) KCMP_FILE
  sys/compat/linux/linux_file.c
  sys/compat/linux/linux_file.h
Owners: none

linux: Implement F_DUPFD_QUERY fcntl with kcmp(2) KCMP_FILE
  sys/compat/linux/linux_file.c
  sys/compat/linux/linux_file.h
Owners: none

divert: Use CK_SLISTs for the divcb hash table
  sys/netinet/ip_divert.c
Owners: none

riscv/pmap: Handle superpages in pmap_extract_and_hold()
  sys/riscv/riscv/pmap.c
Owners: none

sys/dts: Remove i.MX5 device tree
  sys/dts/arm/digi-ccwmx53.dts
  sys/dts/arm/efikamx.dts
  sys/dts/arm/imx51x.dtsi
  sys/dts/arm/imx53x.dtsi
  sys/modules/dtb/imx5/Makefile
Owners: none

sys/dts: Remove i.MX5 device tree
  sys/dts/arm/digi-ccwmx53.dts
  sys/dts/arm/efikamx.dts
  sys/dts/arm/imx51x.dtsi
  sys/dts/arm/imx53x.dtsi
  sys/modules/dtb/imx5/Makefile
Owners: none

libdtrace: Update io.d to chase changes to struct bio layout
  cddl/lib/libdtrace/io.d
Owners: none

uart: patch for ns8250 on arm/aarch64
  sys/conf/options.arm64
  sys/dev/uart/uart_dev_ns8250.c
Owners: none

cam: Reduce overly long timeout values for initial device probing
  UPDATING
  share/man/man4/scsi.4
  sys/cam/scsi/scsi_xpt.c
Owners: none

cam: Reduce overly long timeout values for initial device probing
  UPDATING
  share/man/man4/scsi.4
  sys/cam/scsi/scsi_xpt.c
Owners: none

pmc: add emerald rapids model
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/cache.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/floating-point.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/frontend.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/memory.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/other.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/pipeline.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/uncore-cache.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/uncore-cxl.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/uncore-interconnect.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/uncore-io.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/uncore-memory.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/uncore-power.json
  lib/libpmc/pmu-events/arch/x86/emeraldrapids/virtual-memory.json
  lib/libpmc/pmu-events/arch/x86/mapfile.csv
  sys/dev/hwpmc/hwpmc_intel.c
  sys/sys/pmc.h
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
