Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

mps(4): Fix a typo in a device message
  sys/dev/mps/mps.c
Owners: none

mps(4): Fix a typo in a device message
  sys/dev/mps/mps.c
Owners: none

mmc(4): Fix a typo in a device debug message
  sys/cam/mmc/mmc_xpt.c
Owners: none

mmc(4): Fix a typo in a device debug message
  sys/cam/mmc/mmc_xpt.c
Owners: none

oce(4): Fix a typo in a device debug message
  sys/dev/oce/oce_mbox.c
Owners: none

oce(4): Fix a typo in a device debug message
  sys/dev/oce/oce_mbox.c
Owners: none

altq(4): Fix a typo in a source code comment
  sys/net/altq/altq.h
Owners: none

altq(4): Fix a typo in a source code comment
  sys/net/altq/altq.h
Owners: none

ng_hci(4): Fix a typo in a source code comment
  sys/netgraph/bluetooth/include/ng_hci.h
Owners: none

ng_hci(4): Fix a typo in a source code comment
  sys/netgraph/bluetooth/include/ng_hci.h
Owners: none

bhyvectl: fix build without BHYVE_SNAPSHOT
  usr.sbin/bhyvectl/bhyvectl.c
Owners: @bsdjhb, @grehan-freebsd

bhyvectl: fix build without BHYVE_SNAPSHOT
  usr.sbin/bhyvectl/bhyvectl.c
Owners: @bsdjhb, @grehan-freebsd

Vendor import of NetBSD's mtree at 2025-12-13
  compare.c
  crc.c
  create.c
  extern.h
  misc.c
  mtree.8
  mtree.c
  only.c
  spec.c
  specspec.c
  verify.c
Owners: none

Vendor import of NetBSD's mtree at 2025-12-13
  compare.c
  crc.c
  create.c
  extern.h
  misc.c
  mtree.8
  mtree.c
  only.c
  spec.c
  specspec.c
  verify.c
Owners: none

mtree: Fix typos
  contrib/mtree/compare.c
  contrib/mtree/spec.c
Owners: none

mtree: Fix typos
  contrib/mtree/compare.c
  contrib/mtree/spec.c
Owners: none

mtree: tests: Import NetBSD's mtree test suite
  contrib/netbsd-tests/usr.sbin/mtree/t_mtree.sh
Owners: @ngie-eign

mtree: tests: Import NetBSD's mtree test suite
  contrib/netbsd-tests/usr.sbin/mtree/t_mtree.sh
Owners: @ngie-eign

Update camcontrol.8
  sbin/camcontrol/camcontrol.8
Owners: none

pfctl: report ICMP states consistently for IPv4/IPv6
  sbin/pfctl/pf_print_state.c
Owners: none

pfctl: report ICMP states consistently for IPv4/IPv6
  sbin/pfctl/pf_print_state.c
Owners: none

bus: Return 0 if reading an ivar fails
  sys/sys/bus.h
Owners: none

fsync: Open files in non-blocking mode
  usr.bin/fsync/fsync.c
Owners: none

libsysdecode: Use consistent include path
  lib/libsysdecode/Makefile
Owners: none

nextboot: Reimplement missing -a option
  sbin/reboot/nextboot.8
  sbin/reboot/reboot.c
Owners: none

noshutdown: Fix startup order
  libexec/rc/rc.d/noshutdown
Owners: none

cleanvar: Fix startup order
  libexec/rc/rc.d/FILESYSTEMS
  libexec/rc/rc.d/cleanvar
Owners: none

nextboot: Reimplement missing -a option
  sbin/reboot/nextboot.sh
Owners: none

getopt(3): be more explicit about :: extension
  lib/libc/stdlib/getopt.3
Owners: none

contrib/tzdata: import tzdata 2025c
  contrib/tzdata/CONTRIBUTING
  contrib/tzdata/Makefile
  contrib/tzdata/NEWS
  contrib/tzdata/README
  contrib/tzdata/SECURITY
  contrib/tzdata/africa
  contrib/tzdata/antarctica
  contrib/tzdata/asia
  contrib/tzdata/australasia
  contrib/tzdata/backzone
  contrib/tzdata/calendars
  contrib/tzdata/checknow.awk
  contrib/tzdata/europe
  contrib/tzdata/leap-seconds.list
  contrib/tzdata/leapseconds
  contrib/tzdata/leapseconds.awk
  contrib/tzdata/northamerica
  contrib/tzdata/southamerica
  contrib/tzdata/theory.html
  contrib/tzdata/version
  contrib/tzdata/zone1970.tab
  contrib/tzdata/zonenow.tab
Owners: none

contrib/tzdata: import tzdata 2025c
  contrib/tzdata/CONTRIBUTING
  contrib/tzdata/Makefile
  contrib/tzdata/NEWS
  contrib/tzdata/README
  contrib/tzdata/SECURITY
  contrib/tzdata/africa
  contrib/tzdata/antarctica
  contrib/tzdata/asia
  contrib/tzdata/australasia
  contrib/tzdata/backzone
  contrib/tzdata/calendars
  contrib/tzdata/checknow.awk
  contrib/tzdata/europe
  contrib/tzdata/leap-seconds.list
  contrib/tzdata/leapseconds
  contrib/tzdata/leapseconds.awk
  contrib/tzdata/northamerica
  contrib/tzdata/southamerica
  contrib/tzdata/theory.html
  contrib/tzdata/version
  contrib/tzdata/zone1970.tab
  contrib/tzdata/zonenow.tab
Owners: none

contrib/tzdata: import tzdata 2025c
  contrib/tzdata/CONTRIBUTING
  contrib/tzdata/Makefile
  contrib/tzdata/NEWS
  contrib/tzdata/README
  contrib/tzdata/SECURITY
  contrib/tzdata/africa
  contrib/tzdata/antarctica
  contrib/tzdata/asia
  contrib/tzdata/australasia
  contrib/tzdata/backzone
  contrib/tzdata/calendars
  contrib/tzdata/checknow.awk
  contrib/tzdata/europe
  contrib/tzdata/leap-seconds.list
  contrib/tzdata/leapseconds
  contrib/tzdata/leapseconds.awk
  contrib/tzdata/northamerica
  contrib/tzdata/southamerica
  contrib/tzdata/theory.html
  contrib/tzdata/version
  contrib/tzdata/zone1970.tab
  contrib/tzdata/zonenow.tab
Owners: none

proc: Fix proc_init / proc_dtor ordering issues
  sys/kern/kern_fork.c
  sys/kern/kern_proc.c
Owners: none

proc: Fix proc_init / proc_dtor ordering issues
  sys/kern/kern_fork.c
  sys/kern/kern_proc.c
Owners: none

vfs: Let prison_enforce_statfs zero the fsid
  sys/kern/kern_jail.c
  sys/kern/vfs_syscalls.c
Owners: none

vfs: Let prison_enforce_statfs zero the fsid
  sys/kern/kern_jail.c
  sys/kern/vfs_syscalls.c
Owners: none

RELNOTES: Add entries from this week's scan of the commit logs
  RELNOTES
Owners: none

RELNOTES: Add entries from this week's scan of the commit logs
  RELNOTES
Owners: none

rc.subr: Use the variable we defined to invoke setaudit(8)
  libexec/rc/rc.subr
Owners: none

rc.subr: Use the variable we defined to invoke setaudit(8)
  libexec/rc/rc.subr
Owners: none
