Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

kern.post.mk: Support flavors in PORTS_MODULES
  share/man/man7/build.7
  sys/conf/kern.post.mk
Owners: none

stdio: Fix bug in integer-parsing FSM
  lib/libc/stdio/vfscanf.c
  lib/libc/stdio/vfwscanf.c
  lib/libc/tests/stdio/sscanf_test.c
  lib/libc/tests/stdio/swscanf_test.c
Owners: none

indent: Simplify test script
  usr.bin/indent/tests/functional_test.sh
Owners: none

indent: Fix buffer overflow
  usr.bin/indent/indent.c
  usr.bin/indent/tests/functional_test.sh
Owners: none

libutil: Add missing MLINKs
  ObsoleteFiles.inc
  lib/libutil/Makefile
  lib/libutil/login.conf.5
  lib/libutil/login_auth.3
  lib/libutil/login_cap.3
  lib/libutil/pw_util.3
  lib/libutil/uucplock.3
Owners: none

ZIL: Make allocations more flexible
  include/sys/zil_impl.h
  include/sys/zio.h
  module/zfs/zil.c
  module/zfs/zio.c
Owners: none

inotify: Fix a namei path buffer leak
  sys/kern/vfs_inotify.c
Owners: none

inotify: Fix a namei path buffer leak
  sys/kern/vfs_inotify.c
Owners: none

libutil++: Move to the utilities package
  lib/libutil++/Makefile
Owners: none

libutil++: Move to the utilities package
  lib/libutil++/Makefile
Owners: none

Remove unused variables in msun/bsdsrc/b_tgamma.c
  lib/msun/bsdsrc/b_tgamma.c
Owners: none

Remove unused variables in msun/bsdsrc/b_tgamma.c
  lib/msun/bsdsrc/b_tgamma.c
Owners: none

[libm] Avoid left shift of signed integer entities
  lib/msun/src/e_fmodf.c
  lib/msun/src/math_private.h
  lib/msun/src/s_ilogbf.c
  lib/msun/src/s_remquof.c
Owners: none

[libm] Avoid left shift of signed integer entities
  lib/msun/src/e_fmodf.c
  lib/msun/src/math_private.h
  lib/msun/src/s_ilogbf.c
  lib/msun/src/s_remquof.c
Owners: none

watchdog: Convert to using sbintime_t format
  sys/dev/watchdog/watchdog.c
  sys/sys/watchdog.h
  usr.sbin/watchdogd/watchdogd.c
Owners: none

watchdog: Add a new "Control" ioctl
  sys/dev/watchdog/watchdog.c
  sys/sys/watchdog.h
  usr.sbin/watchdogd/watchdogd.c
Owners: none

watchdog: Add a new "Control" ioctl
  sys/dev/watchdog/watchdog.c
  sys/sys/watchdog.h
  usr.sbin/watchdogd/watchdogd.c
Owners: none

watchdog: Convert to using sbintime_t format
  sys/dev/watchdog/watchdog.c
  sys/sys/watchdog.h
  usr.sbin/watchdogd/watchdogd.c
Owners: none

src.opts.mk: Style nits, remove obsolete comment
  share/mk/src.opts.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

src.opts.mk: Style nits, remove obsolete comment
  share/mk/src.opts.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

depend-cleanup: Handle tcopy moving from C to C++
  tools/build/depend-cleanup.sh
Owners: @bsdimp

depend-cleanup: Handle tcopy moving from C to C++
  tools/build/depend-cleanup.sh
Owners: @bsdimp

vm_pageout: Disallow invalid values for act_scan_laundry_weight
  sys/vm/vm_pageout.c
Owners: none

sys/conf: Re-add -Wno-unused to ipfilter build flags
  sys/conf/kern.pre.mk
Owners: none

Retire zfs_autoimport_disable kmod option
  include/sys/spa.h
  lib/libzpool/kernel.c
  man/man4/zfs.4
  module/os/freebsd/zfs/kmod_core.c
  module/zfs/spa_config.c
  module/zfs/spa_misc.c
Owners: none

zfs: install zhack(1) manual page
  cddl/usr.sbin/zhack/Makefile
Owners: none

zfs: install zhack(1) manual page
  cddl/usr.sbin/zhack/Makefile
Owners: none

Reduced the delay time in empty_both_buffers()
  sys/dev/atkbdc/atkbdc.c
Owners: none

Reduced the delay in reset_aux_dev()
  sys/dev/atkbdc/atkbdc.c
Owners: none

syslogd.8: Remove incorrect .Aq
  usr.sbin/syslogd/syslogd.8
Owners: none

syslogd.8: Remove incorrect .Aq
  usr.sbin/syslogd/syslogd.8
Owners: none

kern: fix setgroups(2) and getgroups(2) to match other platforms
  lib/libc/include/compat.h
  lib/libsys/Symbol.sys.map
  lib/libsys/getgroups.2
  lib/libsys/setgroups.2
  sbin/hastd/subr.c
  sys/kern/kern_prot.c
  sys/kern/syscalls.master
  usr.bin/newgrp/newgrp.c
  usr.bin/quota/quota.c
  usr.sbin/chroot/chroot.c
  usr.sbin/lpr/lpc/lpc.c
Owners: @gbergling

kern: fix setgroups(2) and getgroups(2) to match other platforms
  lib/libc/include/compat.h
  lib/libsys/Symbol.sys.map
  lib/libsys/getgroups.2
  lib/libsys/setgroups.2
  sbin/hastd/subr.c
  sys/kern/kern_prot.c
  sys/kern/syscalls.master
  usr.bin/newgrp/newgrp.c
  usr.bin/quota/quota.c
  usr.sbin/chroot/chroot.c
  usr.sbin/lpr/lpc/lpc.c
Owners: @gbergling

sysent: regenerate after bumping setgroups/getgroups
  lib/libsys/_libsys.h
  lib/libsys/syscalls.map
  sys/compat/freebsd32/freebsd32_syscall.h
  sys/compat/freebsd32/freebsd32_syscalls.c
  sys/compat/freebsd32/freebsd32_sysent.c
  sys/compat/freebsd32/freebsd32_systrace_args.c
  sys/kern/init_sysent.c
  sys/kern/syscalls.c
  sys/kern/systrace_args.c
  sys/sys/syscall.h
  sys/sys/syscall.mk
  sys/sys/sysproto.h
Owners: none

sysent: regenerate after bumping setgroups/getgroups
  lib/libsys/_libsys.h
  lib/libsys/syscalls.map
  sys/compat/freebsd32/freebsd32_syscall.h
  sys/compat/freebsd32/freebsd32_syscalls.c
  sys/compat/freebsd32/freebsd32_sysent.c
  sys/compat/freebsd32/freebsd32_systrace_args.c
  sys/kern/init_sysent.c
  sys/kern/syscalls.c
  sys/kern/systrace_args.c
  sys/sys/syscall.h
  sys/sys/syscall.mk
  sys/sys/sysproto.h
Owners: none

build: introduce the notion of a build epoch
  .clean_build_epoch
  Makefile.inc1
  tools/build/depend-cleanup.sh
Owners: @bsdimp

build: introduce the notion of a build epoch
  .clean_build_epoch
  Makefile.inc1
  tools/build/depend-cleanup.sh
Owners: @bsdimp

ifconfig: Garbage collect unused parameter swabips
  sbin/ifconfig/ifconfig.c
Owners: none

tests: gif(4): Add tests to cover all IPv[46] in IPv[46] setups
  tests/sys/net/if_gif.sh
Owners: @ngie-eign

makefs: zfs uberblock location is calculated wrong
  sys/cddl/boot/zfs/zfsimpl.h
  usr.sbin/makefs/zfs.c
  usr.sbin/makefs/zfs/vdev.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
