Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

linuxkpi: Add `ida_alloc_range()`
  sys/compat/linuxkpi/common/include/linux/idr.h
Owners: none

linuxkpi: Add `sysfs_add_file_to_group()` and `sysfs_remove_file_from_group()`
  sys/compat/linuxkpi/common/include/linux/sysfs.h
Owners: none

linuxkpi: Add the `topology_*()` functions
  sys/compat/linuxkpi/common/include/asm/topology.h
  sys/compat/linuxkpi/common/include/linux/gfp.h
  sys/compat/linuxkpi/common/include/linux/topology.h
Owners: none

linuxkpi: Declare several log message prefixes
  sys/compat/linuxkpi/common/include/linux/printk.h
Owners: none

linuxkpi: Add the `topology_*()` functions
  sys/compat/linuxkpi/common/include/asm/topology.h
  sys/compat/linuxkpi/common/include/linux/gfp.h
  sys/compat/linuxkpi/common/include/linux/topology.h
Owners: none

linuxkpi: Add `name` field to `struct resource`
  sys/compat/linuxkpi/common/include/linux/ioport.h
Owners: none

linuxkpi: Declare several log message prefixes
  sys/compat/linuxkpi/common/include/linux/printk.h
Owners: none

linuxkpi: Add `name` field to `struct resource`
  sys/compat/linuxkpi/common/include/linux/ioport.h
Owners: none

linuxkpi: Define `DEFINE_SHOW_STORE_ATTRIBUTE()`
  sys/compat/linuxkpi/common/include/linux/seq_file.h
Owners: none

linuxkpi: Define `DEFINE_SHOW_STORE_ATTRIBUTE()`
  sys/compat/linuxkpi/common/include/linux/seq_file.h
Owners: none

linuxkpi: Include <linux/spinlock.h> from <linux/refcount.h>
  sys/compat/linuxkpi/common/include/linux/refcount.h
Owners: none

linuxkpi: Update posittion after copy in `seq_read()`
  sys/compat/linuxkpi/common/src/linux_seq_file.c
Owners: none

linuxkpi: Use `__builtin_popcountg()` instead of `bitcount*()`
  sys/compat/linuxkpi/common/include/linux/bitops.h
Owners: none

linuxkpi: Use `__builtin_popcountg()` instead of `bitcount*()`
  sys/compat/linuxkpi/common/include/linux/bitops.h
Owners: none

linuxkpi: Include <linux/spinlock.h> from <linux/refcount.h>
  sys/compat/linuxkpi/common/include/linux/refcount.h
Owners: none

linuxkpi: Update posittion after copy in `seq_read()`
  sys/compat/linuxkpi/common/src/linux_seq_file.c
Owners: none

geom: Correct use of expand_number()
  sbin/geom/core/geom.c
Owners: none

geom: Correct use of expand_number()
  sbin/geom/core/geom.c
Owners: none

Bump __FreeBSD_version for 5339de539a58
  sys/sys/param.h
Owners: none

Bump __FreeBSD_version for 4757b351ea9d
  sys/sys/param.h
Owners: none

top: improve sort field storage/lookup
  usr.bin/top/machine.c
  usr.bin/top/machine.h
  usr.bin/top/top.c
  usr.bin/top/utils.c
  usr.bin/top/utils.h
Owners: @grimreaper

top: improve sort field storage/lookup
  usr.bin/top/machine.c
  usr.bin/top/machine.h
  usr.bin/top/top.c
  usr.bin/top/utils.c
  usr.bin/top/utils.h
Owners: @grimreaper

ssh: sshd-session: properly save off the privileged gid
  crypto/openssh/uidswap.c
Owners: @dag-erling

ssh: sshd-session: properly save off the privileged gid
  crypto/openssh/uidswap.c
Owners: @dag-erling

Remove unused variables in msun/bsdsrc/b_tgamma.c
  lib/msun/bsdsrc/b_tgamma.c
Owners: none

Remove unused variables in msun/bsdsrc/b_tgamma.c
  lib/msun/bsdsrc/b_tgamma.c
Owners: none

Updates for ccosh[f] and csinh[f]
  lib/msun/src/s_ccosh.c
  lib/msun/src/s_ccoshf.c
  lib/msun/src/s_csinh.c
  lib/msun/src/s_csinhf.c
Owners: none

Updates for ccosh[f] and csinh[f]
  lib/msun/src/s_ccosh.c
  lib/msun/src/s_ccoshf.c
  lib/msun/src/s_csinh.c
  lib/msun/src/s_csinhf.c
Owners: none

busdma: another fix for small bounce transfers
  sys/powerpc/powerpc/busdma_machdep.c
  sys/riscv/riscv/busdma_bounce.c
  sys/x86/x86/busdma_bounce.c
Owners: none

busdma: another fix for small bounce transfers
  sys/powerpc/powerpc/busdma_machdep.c
  sys/riscv/riscv/busdma_bounce.c
  sys/x86/x86/busdma_bounce.c
Owners: none

amd64 pmap: preallocate another page table page in pmap_demote_DMAP()
  sys/amd64/amd64/pmap.c
Owners: none

libc/amd64: rewrite memrchr() baseline impl. to read the string from the back
  lib/libc/amd64/string/memrchr.S
Owners: none

libc/amd64: rewrite memrchr() scalar impl. to read the string from the back
  lib/libc/amd64/string/memrchr.S
Owners: none

libc/amd64: rewrite memrchr() scalar impl. to read the string from the back
  lib/libc/amd64/string/memrchr.S
Owners: none

libc/amd64: rewrite memrchr() baseline impl. to read the string from the back
  lib/libc/amd64/string/memrchr.S
Owners: none

man/man7: drop i386 from simd(7)
  share/man/man7/simd.7
Owners: none

man/man7: drop i386 from simd(7)
  share/man/man7/simd.7
Owners: none

vfs: Put the definition of COPY_FILE_RANGE_CLONE in unistd.h
  sys/sys/unistd.h
  sys/sys/vnode.h
Owners: none

vfs: Put the definition of COPY_FILE_RANGE_CLONE in unistd.h
  sys/sys/unistd.h
  sys/sys/vnode.h
Owners: none

amd64 pmap: fix mismerge
  sys/amd64/amd64/pmap.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
