Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

vm_domainset: Ensure round-robin works properly
  sys/vm/vm_domainset.c
Owners: none

Move bbr and rack to use inline per C99 (TCP Sub-system)
  sys/netinet/tcp_stacks/bbr.c
  sys/netinet/tcp_stacks/rack.c
Owners: none

Move bbr and rack to use inline per C99 (TCP Sub-system)
  sys/netinet/tcp_stacks/bbr.c
  sys/netinet/tcp_stacks/rack.c
Owners: none

regex/exhaust_test: Skip flaky 'regcomp_too_big' testcase on all archs
  contrib/netbsd-tests/lib/libc/regex/t_exhaust.c
Owners: @ngie-eign

regex/exhaust_test: Update require.memory
  contrib/netbsd-tests/lib/libc/regex/t_exhaust.c
Owners: @ngie-eign

inet_net_test: Compare pointers against nullptr
  lib/libc/tests/net/inet_net_test.cc
Owners: none

inet_net_test: Use int to hold expected return values from inet_net_pton
  lib/libc/tests/net/inet_net_test.cc
Owners: none

inet_net_test: Use int to hold expected return values from inet_net_pton
  lib/libc/tests/net/inet_net_test.cc
Owners: none

inet_net_test: Compare pointers against nullptr
  lib/libc/tests/net/inet_net_test.cc
Owners: none

dc(4): fix argument to if_foreach_llmaddr() for 21143.
  sys/dev/dc/if_dc.c
Owners: none

pci: add quirk to disable Function-Level Reset (FLR)
  sys/dev/pci/pci.c
Owners: @bsdimp, @bsdjhb

fwget: pci: mediatek: correct package name
  usr.sbin/fwget/pci/pci_network_mediatek
Owners: none

igc(4): also build module on aarch64
  sys/modules/Makefile
Owners: none

bluetooth: ng_ubt_rtl/rtlbtfw: remove duplicate entry in device table
  sys/netgraph/bluetooth/drivers/ubt/ng_ubt_rtl.c
  usr.sbin/bluetooth/rtlbtfw/main.c
  usr.sbin/bluetooth/rtlbtfw/rtlbtfw.conf
Owners: none

zfs: zfs_getpages: Don't zero freshly allocated pages
  sys/contrib/openzfs/module/os/freebsd/zfs/zfs_vnops_os.c
Owners: none

zfs: zfs_getpages: Don't zero freshly allocated pages
  sys/contrib/openzfs/module/os/freebsd/zfs/zfs_vnops_os.c
Owners: none

release: Add pkg .conf to METALOG on dvd
  release/Makefile
Owners: none

release: Add pkg .conf to METALOG on dvd
  release/Makefile
Owners: none

AMD IOMMU: fix per-device IOMMU bypass when IR is enabled
  sys/dev/iommu/busdma_iommu.c
  sys/x86/iommu/amd_intrmap.c
Owners: none

AMD IOMMU: fix per-device IOMMU bypass when IR is enabled
  sys/dev/iommu/busdma_iommu.c
  sys/x86/iommu/amd_intrmap.c
Owners: none

UDP: let udp_pcblist() support UDP and UDP-Lite
  sys/netinet/udp_usrreq.c
Owners: none

UDP: let udp_pcblist() support UDP and UDP-Lite
  sys/netinet/udp_usrreq.c
Owners: none

Revert "UDP: let udp_pcblist() support UDP and UDP-Lite"
  sys/netinet/udp_usrreq.c
Owners: none

Revert "UDP: let udp_pcblist() support UDP and UDP-Lite"
  sys/netinet/udp_usrreq.c
Owners: none

UDP: let udp_pcblist() support UDP and UDP-Lite
  sys/netinet/udp_usrreq.c
Owners: none

UDP: let udp_pcblist() support UDP and UDP-Lite
  sys/netinet/udp_usrreq.c
Owners: none

quot: Make nusers unsigned
  usr.sbin/quot/quot.c
Owners: none

quot: Make nusers unsigned
  usr.sbin/quot/quot.c
Owners: none

quot: Make nusers unsigned
  usr.sbin/quot/quot.c
Owners: none

Fix return value for setting zvol threading
  module/zfs/zvol.c
Owners: none

Linux 6.18: namespace type moved to ns_common
  config/kernel-namespace.m4
  config/kernel-userns-capabilities.m4
  config/kernel.m4
  module/os/linux/spl/spl-zone.c
Owners: none

sha256_generic: make internal functions a little more private
  module/icp/algs/sha2/sha2_generic.c
Owners: none

Linux 6.18: replace nth_page()
  module/os/linux/zfs/abd_os.c
Owners: none

Linux 6.18: block_device_operations->getgeo takes struct gendisk*
  config/kernel-block-device-operations.m4
  module/os/linux/zfs/zvol_os.c
Owners: none

Linux 6.18: replace write_cache_pages()
  config/kernel-writeback.m4
  config/kernel-writepage_t.m4
  config/kernel.m4
  module/os/linux/zfs/zpl_file.c
Owners: none

Linux 6.18: generic_drop_inode() and generic_delete_inode() renamed
  config/kernel-drop-inode.m4
  config/kernel.m4
  include/os/linux/kernel/linux/vfs_compat.h
  module/os/linux/zfs/zpl_super.c
Owners: none

Linux 6.18: convert ida_simple_* calls
  module/os/linux/zfs/zvol_os.c
Owners: none

modules: fix some riscv module logic
  sys/modules/Makefile
Owners: none

man4: move allwinner pages and logic to a standard place
  share/man/man4/Makefile
  share/man/man4/aw_gpio.4
  share/man/man4/aw_mmc.4
  share/man/man4/aw_rtc.4
  share/man/man4/aw_sid.4
  share/man/man4/aw_spi.4
  share/man/man4/aw_syscon.4
  share/man/man4/man4.aarch64/Makefile
  share/man/man4/man4.arm/Makefile
Owners: none

modules: enable allwinner kmods on riscv
  sys/arm/conf/GENERIC
  sys/arm/conf/NOTES
  sys/modules/Makefile
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
