Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

libpathconv: Document library in the man pages
  lib/libpathconv/abs2rel.3
  lib/libpathconv/rel2abs.3
Owners: none

libpathconv: Document library in the man pages
  lib/libpathconv/abs2rel.3
  lib/libpathconv/rel2abs.3
Owners: none

libpcap: don't try to create usbusX interfaces
  contrib/libpcap/pcap-bpf.c
Owners: none

libpcap: don't try to create usbusX interfaces
  contrib/libpcap/pcap-bpf.c
Owners: none

libpcap: disable more code related to USB pseudo-interfaces
  contrib/libpcap/pcap-bpf.c
Owners: none

libpcap: disable more code related to USB pseudo-interfaces
  contrib/libpcap/pcap-bpf.c
Owners: none

libc/amd64: Disable baseline version of stpncpy()
  lib/libc/amd64/string/stpncpy.S
Owners: none

libc/amd64: Disable baseline version of stpncpy()
  lib/libc/amd64/string/stpncpy.S
Owners: none

libfetch: Fix -Wunterminated-string-initialization
  lib/libfetch/common.c
Owners: @dag-erling

netmap: silence -Wdefault-const-init-field-unsafe warning
  sys/dev/netmap/netmap_kloop.c
Owners: none

cdefs.h: Introduce __nonstring attribute
  sys/sys/cdefs.h
  tools/build/cross-build/include/common/sys/cdefs.h
Owners: @bsdimp

libthr: fix -Wunterminated-string-initialization
  lib/libthr/thread/thr_printf.c
Owners: none

libthr: fix -Wunterminated-string-initialization
  lib/libthr/thread/thr_printf.c
Owners: none

netmap: silence -Wdefault-const-init-field-unsafe warning
  sys/dev/netmap/netmap_kloop.c
Owners: none

libfetch: Fix -Wunterminated-string-initialization
  lib/libfetch/common.c
Owners: @dag-erling

cdefs.h: Introduce __nonstring attribute
  sys/sys/cdefs.h
  tools/build/cross-build/include/common/sys/cdefs.h
Owners: @bsdimp

rtld: silence clang's unterminated-string-initialization warning
  lib/libsysdecode/utrace.c
  libexec/rtld-elf/rtld.c
  libexec/rtld-elf/rtld_utrace.h
Owners: none

rtld: silence clang's unterminated-string-initialization warning
  lib/libsysdecode/utrace.c
  libexec/rtld-elf/rtld.c
  libexec/rtld-elf/rtld_utrace.h
Owners: none

sys: Make priority.h and rtprio.h include all dependencies
  sys/sys/priority.h
  sys/sys/rtprio.h
  tools/build/test-includes/badfiles.inc
Owners: @bsdimp

cdev: Use len variable instead of hardcoded buffer size
  share/examples/kld/cdev/module/cdev.c
Owners: none

cross-build: Add -Werror=int-conversion
  tools/build/mk/Makefile.boot
Owners: @bsdimp

bin/test: fix -Wunterminated-string-initialization warning
  bin/test/test.c
Owners: none

libcuse: silence -Wthread-safety-analysis warnings
  lib/libcuse/cuse_lib.c
Owners: none

usr.sbin/pmcannotate: fix use of uninitialized variable
  usr.sbin/pmcannotate/pmcannotate.c
Owners: none

chacha20: Fix -Wunterminated-string-initialization
  sys/crypto/chacha20/chacha.c
Owners: none

zfs: Fix -Wformat warning with latest clang
  sys/contrib/openzfs/include/os/freebsd/spl/sys/cmn_err.h
  sys/contrib/openzfs/include/os/freebsd/spl/sys/kmem.h
  sys/contrib/openzfs/include/sys/spa.h
  sys/contrib/openzfs/include/sys/vdev.h
  sys/contrib/openzfs/include/sys/zfs_debug.h
Owners: none

vtfontcv: Fix -Wunterminated-string-initialization
  sys/sys/font.h
Owners: none

imgact_elf: Fix uninitialized variable use in note_procstat_auxv
  sys/kern/imgact_elf.c
Owners: none

makefs: Fix -Wunterminated-string-initialization
  usr.sbin/makefs/msdos/direntry.h
Owners: none

m4: Fix -Wunterminated-string-initialization
  usr.bin/m4/misc.c
Owners: none

sbin/fsck_msdosfs: fix -Wunterminated-string-initialization
  sbin/fsck_msdosfs/dir.c
Owners: none

bin/sh: Fix -Wunterminated-string-initialization
  bin/sh/options.h
Owners: @jillest

bsd.sys.mk: Add -Wno-error=character-conversion for Clang 21+
  share/mk/bsd.sys.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

bsnmpd/tools: Fix -Wunterminated-string-initialization
  usr.sbin/bsnmpd/tools/libbsnmptools/bsnmptc.c
Owners: none

sys/xen: Use __printflike() instead of format(printf)
  sys/dev/xen/blkback/blkback.c
  sys/xen/xen_intr.h
  sys/xen/xenbus/xenbusvar.h
  sys/xen/xenstore/xenstorevar.h
Owners: none

ncurses: Fix -Wunterminated-string-initialization
  contrib/ncurses/progs/infocmp.c
Owners: none

ocs_fc: Use __printflike() instead of format(printf)
  sys/dev/ocs_fc/ocs_ddump.h
  sys/dev/ocs_fc/ocs_mgmt.h
  sys/dev/ocs_fc/ocs_os.h
  sys/dev/ocs_fc/ocs_utils.h
Owners: none

linux_timer: Fix bad copyout of uninitialized oval
  sys/compat/linux/linux_timer.c
Owners: none

GitHub cross-build CI: Update compiler versions
  .github/workflows/cross-bootstrap-tools.yml
Owners: none

rtsold: Validate entries in domain search lists
  usr.sbin/rtsold/rtsol.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
