Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

pf tests: fix intermittent mld test failures
  tests/sys/netpfil/pf/Makefile
  tests/sys/netpfil/pf/mld.py
Owners: @ngie-eign

pf tests: fix intermittent mld test failures
  tests/sys/netpfil/pf/Makefile
  tests/sys/netpfil/pf/mld.py
Owners: @ngie-eign

libc: Add missing MLINK for tzname(3)
  lib/libc/stdtime/Makefile.inc
  lib/libc/stdtime/tzset.3
Owners: none

libc: Add missing MLINK for tzname(3)
  lib/libc/stdtime/Makefile.inc
  lib/libc/stdtime/tzset.3
Owners: none

virtual_oss(8): Remove floating point formats from preference list
  usr.sbin/virtual_oss/virtual_oss/int.h
Owners: none

virtual_oss(8): Remove floating point formats from preference list
  usr.sbin/virtual_oss/virtual_oss/int.h
Owners: none

Fix multiple security issues in OpenSSL.
  crypto/openssl/crypto/cms/cms_pwri.c
  crypto/openssl/crypto/ec/ecp_sm2p256.c
  crypto/openssl/crypto/http/http_lib.c
Owners: @juikim

Fix multiple security issues in OpenSSL.
  crypto/openssl/crypto/cms/cms_pwri.c
  crypto/openssl/crypto/ec/ecp_sm2p256.c
  crypto/openssl/crypto/http/http_lib.c
Owners: @juikim

Fix multiple security issues in OpenSSL.
  crypto/openssl/crypto/cms/cms_pwri.c
  crypto/openssl/crypto/ec/ecp_sm2p256.c
  crypto/openssl/crypto/http/http_lib.c
Owners: @juikim

Fix multiple security issues in OpenSSL.
  crypto/openssl/crypto/cms/cms_pwri.c
  crypto/openssl/crypto/http/http_lib.c
Owners: @juikim

Fix issue from OpenSSL.
  crypto/openssl/crypto/cms/cms_pwri.c
Owners: @juikim

Fix multiple security issues in OpenSSL.
  crypto/openssl/crypto/cms/cms_pwri.c
  crypto/openssl/crypto/http/http_lib.c
Owners: @juikim

Fix multiple security issues in OpenSSL.
  crypto/openssl/crypto/cms/cms_pwri.c
  crypto/openssl/crypto/http/http_lib.c
Owners: @juikim

Fix issue from OpenSSL.
  crypto/openssl/crypto/cms/cms_pwri.c
Owners: @juikim

Add UPDATING entries and bump version.
  UPDATING
  sys/conf/newvers.sh
Owners: none

Add UPDATING entries and bump version.
  UPDATING
  sys/conf/newvers.sh
Owners: none

Add UPDATING entries and bump version.
  UPDATING
  sys/conf/newvers.sh
Owners: none

amd64: bump sleepq hash size to 2048
  sys/amd64/include/param.h
Owners: none

amd64: bump sleepq hash size to 2048
  sys/amd64/include/param.h
Owners: none

libc: Move tzset.3 to stdtime
  lib/libc/gen/Makefile.inc
  lib/libc/stdtime/Makefile.inc
  lib/libc/stdtime/tzset.3
Owners: none

atf_pytest: fix xfail detection from pytest report
  tests/atf_python/atf_pytest.py
Owners: @ngie-eign

linuxkpi: Move string_helpers.h to string_choices.h
  sys/compat/linuxkpi/common/include/linux/string_choices.h
  sys/compat/linuxkpi/common/include/linux/string_helpers.h
Owners: none

virtual_oss: Do not build if WITHOUT_CUSE is set
  lib/Makefile
  libexec/rc/rc.d/Makefile
  usr.sbin/Makefile
Owners: none

virtual_oss: Do not build if WITHOUT_CUSE is set
  lib/Makefile
  libexec/rc/rc.d/Makefile
  usr.sbin/Makefile
Owners: none

namei.9: Remove duplicate WANTPARENT description
  share/man/man9/namei.9
Owners: none

namei.9: Remove duplicate WANTPARENT description
  share/man/man9/namei.9
Owners: none

release: Use standard Azure disk image extension
  release/Makefile.azure
Owners: none

release: Use standard Azure disk image extension
  release/Makefile.azure
Owners: none

packages: remove ncurses-all license text
  release/packages/ucl/ncurses-all.ucl
Owners: none

packages: remove ncurses-all license text
  release/packages/ucl/ncurses-all.ucl
Owners: none

tcp: apply rate limits to challenge ACKs
  sys/netinet/tcp_syncache.c
  sys/netinet/tcp_syncache.h
Owners: none

tcp: apply rate limits to challenge ACKs
  sys/netinet/tcp_syncache.c
  sys/netinet/tcp_syncache.h
Owners: none

sys/conf: Remap paths for reproducibility
  Makefile.inc1
  sys/conf/kern.post.mk
  sys/conf/kmod.mk
Owners: none

dtrace: Use a size_t to represent a buffer size in the printm action
  cddl/contrib/opensolaris/lib/libdtrace/common/dt_consume.c
  sys/cddl/contrib/opensolaris/uts/common/dtrace/dtrace.c
Owners: none

re: Make sure re_rxeof() is called in net epoch context
  sys/dev/re/if_re.c
Owners: none

libnv: Fix handling of nvlist_dump() and nvlist_send() for child nvlists
  sys/contrib/libnv/nvlist.c
Owners: none

share/mk: Deduplicate some handling of debug info
  share/mk/Makefile
  share/mk/bsd.README
  share/mk/bsd.debug.mk
  share/mk/bsd.lib.mk
  share/mk/bsd.own.mk
  share/mk/bsd.prog.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

share/mk: Substitute reproducible prefixes in dwarf info
  share/mk/bsd.debug.mk
  share/mk/bsd.opts.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

newvers: Add a builddir parameter
  sys/conf/kern.post.mk
  sys/conf/newvers.sh
Owners: none

LinuxKPI: pci: allocate entire pci_dev hiereachy up to root port on attach
  sys/compat/linuxkpi/common/src/linux_pci.c
Owners: none
