Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

iwx: fix and clean up suspend/resume path
  sys/dev/iwx/if_iwx.c
Owners: none

iwx: clean up TX AMPDU session establishment and checking
  sys/dev/iwx/if_iwx.c
  sys/dev/iwx/if_iwx_debug.h
  sys/dev/iwx/if_iwxvar.h
Owners: none

iwx: clean up TX AMPDU session establishment and checking
  sys/dev/iwx/if_iwx.c
  sys/dev/iwx/if_iwx_debug.h
  sys/dev/iwx/if_iwxvar.h
Owners: none

unix/stream: fix a race with MSG_PEEK on SOCK_SEQPACKET with MSG_EOR
  sys/kern/uipc_usrreq.c
  tests/sys/kern/unix_seqpacket_test.c
Owners: @ngie-eign

unix/stream: fix a race with MSG_PEEK on SOCK_SEQPACKET with MSG_EOR
  sys/kern/uipc_usrreq.c
  tests/sys/kern/unix_seqpacket_test.c
Owners: @ngie-eign

Retire pccard(4)
  share/man/man4/Makefile
  share/man/man4/cardbus.4
  share/man/man4/pccard.4
  share/man/man4/pccbb.4
  share/man/man4/xl.4
  share/man/man9/DEVICE_DETACH.9
  share/man/man9/bus_alloc_resource.9
  usr.sbin/dumpcis/dumpcis.8
Owners: none

ipfilter: Add htable (hash table) tunable
  sys/netpfil/ipfilter/netinet/ip_htable.c
Owners: @cschuber

ipfilter: Calculate the number of elements in ipf_errors
  sbin/ipf/libipf/interror.c
Owners: @cschuber

ipfilter: Add an htable max size tuneable.
  sys/netpfil/ipfilter/netinet/ip_htable.c
  sys/netpfil/ipfilter/netinet/ip_htable.h
Owners: @cschuber

ipfilter: Don't trust userland supplied iph_size
  sbin/ipf/libipf/interror.c
  sys/netpfil/ipfilter/netinet/ip_htable.c
Owners: @cschuber

ipfilter: Add an htable max size tuneable.
  sys/netpfil/ipfilter/netinet/ip_htable.c
  sys/netpfil/ipfilter/netinet/ip_htable.h
Owners: @cschuber

ipfilter: Add htable (hash table) tunable
  sys/netpfil/ipfilter/netinet/ip_htable.c
Owners: @cschuber

ipfilter: Calculate the number of elements in ipf_errors
  sbin/ipf/libipf/interror.c
Owners: @cschuber

ipfilter: Don't trust userland supplied iph_size
  sbin/ipf/libipf/interror.c
  sys/netpfil/ipfilter/netinet/ip_htable.c
Owners: @cschuber

hgame.4: typo
  share/man/man4/hgame.4
Owners: none

hgame.4: typo
  share/man/man4/hgame.4
Owners: none

Fix typo in recently added 400G media
  sys/net/if_media.h
Owners: none

Fix typo in recently added 400G media
  sys/net/if_media.h
Owners: none

cxgbe(4): Avoid racy access to requested_fec in sysctl_requested_fec
  sys/dev/cxgbe/t4_main.c
Owners: none

cxgbe(4): Avoid racy access to requested_fec in sysctl_requested_fec
  sys/dev/cxgbe/t4_main.c
Owners: none

dtrace_io.4: Use bio_length instead of bio_bcount in examples
  share/man/man4/dtrace_io.4
Owners: none

dtrace_io.4: Use bio_length instead of bio_bcount in examples
  share/man/man4/dtrace_io.4
Owners: none

quot: Improve manual page
  usr.sbin/quot/quot.8
Owners: none

quot: Improve manual page
  usr.sbin/quot/quot.8
Owners: none

quot: Rewrite -n mode input parser
  usr.sbin/quot/quot.8
  usr.sbin/quot/quot.c
  usr.sbin/quot/tests/quot_test.sh
Owners: none

quot: Rewrite -n mode input parser
  usr.sbin/quot/quot.8
  usr.sbin/quot/quot.c
  usr.sbin/quot/tests/quot_test.sh
Owners: none

queue.3: Add MLINKs for *_EMPTY_ATOMIC
  share/man/man3/Makefile
Owners: none

queue.3: Add MLINKs for *_EMPTY_ATOMIC
  share/man/man3/Makefile
Owners: none

exterror.9 man page
  share/man/man9/Makefile
  share/man/man9/exterror.9
Owners: none

exterror.9 man page
  share/man/man9/Makefile
  share/man/man9/exterror.9
Owners: none

lam: fix using stdin more than once
  etc/mtree/BSD.tests.dist
  usr.bin/lam/Makefile
  usr.bin/lam/lam.c
  usr.bin/lam/tests/Makefile
  usr.bin/lam/tests/lam_test.sh
Owners: none

lam: fix using stdin more than once
  etc/mtree/BSD.tests.dist
  usr.bin/lam/Makefile
  usr.bin/lam/lam.c
  usr.bin/lam/tests/Makefile
  usr.bin/lam/tests/lam_test.sh
Owners: none

freebsd-tips: Add a shell function for laptops
  usr.bin/fortune/datfiles/freebsd-tips
Owners: none

freebsd-tips: Add a shell function for laptops
  usr.bin/fortune/datfiles/freebsd-tips
Owners: none

cd9660: Unbreak symbolic links
  sys/fs/cd9660/cd9660_vnops.c
Owners: none

cd9660: Unbreak symbolic links
  sys/fs/cd9660/cd9660_vnops.c
Owners: none

cd9660: Unbreak symbolic links
  sys/fs/cd9660/cd9660_vnops.c
Owners: none

loader manuals: Clarify console and boot_serial
  stand/defaults/loader.conf.5
  stand/man/loader_simp.8
Owners: @bsdimp

loader manuals: Clarify console and boot_serial
  stand/defaults/loader.conf.5
  stand/man/loader_simp.8
Owners: @bsdimp

loader.8: Document module commands
  stand/man/loader.8
Owners: @bsdimp
