Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

services_mkdb(8): Fix a typo in a source code comment
  usr.sbin/services_mkdb/services
Owners: none

libc: Fix a typo in a source code comment
  lib/libc/i386/gen/makecontext.c
Owners: none

g_part: Fix a few typos in source code comments
  sys/geom/part/g_part.c
Owners: none

udp: Fix a typo in a source code comment
  sys/netinet/udp_usrreq.c
  sys/netinet6/udp6_usrreq.c
Owners: none

ice(4): Fix a few typos in source code comments
  sys/dev/ice/ice_bitops.h
  sys/dev/ice/ice_lan_tx_rx.h
  sys/dev/ice/ice_lib.h
  sys/dev/ice/ice_protocol_type.h
Owners: none

isa: Fix a typo in a source code comment
  sys/isa/isareg.h
Owners: none

pf: remove duplicate struct definition
  contrib/tcpdump/print-pfsync.c
  sys/net/if_pfsync.h
  sys/net/pfvar.h
  sys/netpfil/pf/if_pfsync.c
  sys/netpfil/pf/pf_nl.c
Owners: @glebius

pfctl.8: small cleanups
  sbin/pfctl/pfctl.8
Owners: none

pf: rewrite the pf_state_peer_ntoh and pf_state_peer_hton macros as functions.
  sys/net/pfvar.h
  sys/netpfil/pf/pf.c
Owners: @glebius

pf: rewrite the pf_state_peer_ntoh and pf_state_peer_hton macros as functions.
  sys/net/pfvar.h
  sys/netpfil/pf/pf.c
Owners: @glebius

pf: remove duplicate struct definition
  contrib/tcpdump/print-pfsync.c
  sys/net/if_pfsync.h
  sys/net/pfvar.h
  sys/netpfil/pf/if_pfsync.c
  sys/netpfil/pf/pf_nl.c
Owners: @glebius

pfctl.8: small cleanups
  sbin/pfctl/pfctl.8
Owners: none

ufs_times_locked(): style
  sys/ufs/ufs/ufs_vnops.c
Owners: none

mlx5 ipsec: for tx, enable SN autoincrement whenever ESN is enabled
  sys/dev/mlx5/mlx5_accel/mlx5_ipsec_offload.c
Owners: none

mlx5 ipsec: for tx, enable SN autoincrement whenever ESN is enabled
  sys/dev/mlx5/mlx5_accel/mlx5_ipsec_offload.c
Owners: none

sysctl.3: Reference kinfo_getvmmap(3), kinfo_getfile(3), and kinfo_getproc(3)
  lib/libc/gen/sysctl.3
Owners: none

dtrace.1: Document security.bsd.allow_destructive_dtrace
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
Owners: none

dtrace.1: fix mandoc -Tlint
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
Owners: none

dtrace.1: Document security.bsd.allow_destructive_dtrace
  cddl/contrib/opensolaris/cmd/dtrace/dtrace.1
Owners: none

depend-cleanup: Add a clean_obj function
  tools/build/depend-cleanup.sh
Owners: @bsdimp

depend-cleanup: Add a clean_obj function
  tools/build/depend-cleanup.sh
Owners: @bsdimp

zfs: fix build issues from 4bdb32185
  cddl/lib/libicp/Makefile
  cddl/lib/libicp_rescue/Makefile
  sys/conf/files.amd64
  sys/modules/zfs/Makefile
Owners: none

zfs: fix build issues from 53a2e2635
  cddl/lib/libicp/Makefile
  cddl/lib/libicp_rescue/Makefile
  sys/conf/files.amd64
  sys/modules/zfs/Makefile
Owners: none

ObsoleteFiles.inc: Don't remove /usr/share/et
  ObsoleteFiles.inc
Owners: none

ObsoleteFiles.inc: Don't remove /usr/share/et
  ObsoleteFiles.inc
Owners: none

objtool-wrapper: Update Debian packaging
  contrib/debian/rules.in
Owners: none

Debian rules: install scripts/objtool-wrapper.in into dkms tree
  contrib/debian/rules.in
Owners: none

libsa/zfs: remove unused variable
  stand/libsa/zfs/zfsimpl.c
Owners: @bsdimp

libsa/zfs: remove unused variable
  stand/libsa/zfs/zfsimpl.c
Owners: @bsdimp

libsa/zfs: ignore labels with zero txg
  stand/libsa/zfs/zfsimpl.c
Owners: @bsdimp

libsa/zfs: ignore labels with zero txg
  stand/libsa/zfs/zfsimpl.c
Owners: @bsdimp

libsa/zfs: simplify vdev_find_previous()
  stand/libsa/zfs/zfsimpl.c
Owners: @bsdimp

libsa/zfs: simplify vdev_find_previous()
  stand/libsa/zfs/zfsimpl.c
Owners: @bsdimp

libsa/zfs: refactor vdev tree for better resiliency against stale disks
  stand/libsa/zfs/zfsimpl.c
  sys/cddl/boot/zfs/zfsimpl.h
Owners: @bsdimp

libsa/zfs: refactor vdev tree for better resiliency against stale disks
  stand/libsa/zfs/zfsimpl.c
  sys/cddl/boot/zfs/zfsimpl.h
Owners: @bsdimp

libsa/zfs: further improve handling of stale labels
  stand/libsa/zfs/zfsimpl.c
  sys/cddl/boot/zfs/zfsimpl.h
Owners: @bsdimp

libsa/zfs: further improve handling of stale labels
  stand/libsa/zfs/zfsimpl.c
  sys/cddl/boot/zfs/zfsimpl.h
Owners: @bsdimp

libsa/zfs: inline vdev_init_from_label() into vdev_probe()
  stand/libsa/zfs/zfsimpl.c
Owners: @bsdimp

libsa/zfs: inline vdev_init_from_label() into vdev_probe()
  stand/libsa/zfs/zfsimpl.c
Owners: @bsdimp

CI: Add Debian 13 to the FULL_OS runner list
  .github/workflows/scripts/qemu-2-start.sh
  .github/workflows/scripts/qemu-3-deps-vm.sh
  .github/workflows/scripts/qemu-5-setup.sh
  .github/workflows/zfs-qemu.yml
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
