Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

domainset(9): Split domainset validation logic into a separate function
  share/man/man9/domainset.9
  sys/kern/kern_cpuset.c
  sys/sys/domainset.h
Owners: none

bhyve: Add support for specifying guest NUMA configuration
  usr.sbin/bhyve/acpi.c
  usr.sbin/bhyve/acpi.h
  usr.sbin/bhyve/amd64/bhyverun_machdep.c
  usr.sbin/bhyve/bhyve.8
  usr.sbin/bhyve/bhyverun.c
  usr.sbin/bhyve/bhyverun.h
  usr.sbin/bhyve/bootrom.c
  usr.sbin/bhyve/pci_emul.c
  usr.sbin/bhyve/pci_fbuf.c
  usr.sbin/bhyve/pci_passthru.c
Owners: @bsdjhb, @grehan-freebsd

bhyve: Add support for specifying guest NUMA configuration
  usr.sbin/bhyve/acpi.c
  usr.sbin/bhyve/acpi.h
  usr.sbin/bhyve/amd64/bhyverun_machdep.c
  usr.sbin/bhyve/bhyve.8
  usr.sbin/bhyve/bhyverun.c
  usr.sbin/bhyve/bhyverun.h
  usr.sbin/bhyve/bootrom.c
  usr.sbin/bhyve/pci_emul.c
  usr.sbin/bhyve/pci_fbuf.c
  usr.sbin/bhyve/pci_passthru.c
Owners: @bsdjhb, @grehan-freebsd

bhyve/acpi: Mark dsdt_line as 'printflike'
  usr.sbin/bhyve/acpi.h
Owners: @bsdjhb, @grehan-freebsd

bhyve/tpm_ppi_qemu: Cast address of the TPP3 field to uint32_t
  usr.sbin/bhyve/tpm_ppi_qemu.c
Owners: @bsdjhb, @grehan-freebsd

bhyve/tpm_ppi_qemu: Cast address of the TPP3 field to uint32_t
  usr.sbin/bhyve/tpm_ppi_qemu.c
Owners: @bsdjhb, @grehan-freebsd

bhyve/acpi: Mark dsdt_line as 'printflike'
  usr.sbin/bhyve/acpi.h
Owners: @bsdjhb, @grehan-freebsd

krb5: Remove includes from autoconf header.
  krb5/include/autoconf.h
Owners: none

krb5: Remove includes from autoconf header.
  krb5/include/autoconf.h
Owners: none

GitHub: Use a link for CONTRIBUTING.md in comment
  .github/workflows/checklist.yml
Owners: none

GitHub: Use a link for CONTRIBUTING.md in comment
  .github/workflows/checklist.yml
Owners: none

chroot.8: Be more precise when describing '-u', '-g' and '-G'
  usr.sbin/chroot/chroot.8
Owners: none

chroot.8: Be more precise when describing '-u', '-g' and '-G'
  usr.sbin/chroot/chroot.8
Owners: none

krb5: Chase 89cdb002b63d updating to current DSO
  etc/gss-krb5/mech
Owners: none

krb5: Chase dd0ec030f8fd updating to current DSO
  etc/gss-krb5/mech
Owners: none

Obsoletefiles.inc: Add architecture-specific 'runq.h' headers
  ObsoleteFiles.inc
Owners: none

Obsoletefiles.inc: Add architecture-specific 'runq.h' headers
  ObsoleteFiles.inc
Owners: none

bmake: Add a package for bmake and share/mk
  UPDATING
  release/packages/ucl/bmake-all.ucl
  release/packages/ucl/sendmail.ucl
  release/packages/ucl/yp.ucl
  share/mk/Makefile
  usr.bin/bmake/Makefile.inc
Owners: @bsdimp, @bapt, @bdrewery, @emaste

bridge: exterr-ize
  sys/net/if_bridge.c
  sys/sys/exterr_cat.h
Owners: none

clang-scan-deps: Pass ${TDFILE} to tblgen, not ${.ALLSRC}
  usr.bin/clang/clang-scan-deps/Makefile
Owners: none

bmake: Add a package for bmake and share/mk
  UPDATING
  release/packages/ucl/bmake-all.ucl
  release/packages/ucl/sendmail.ucl
  release/packages/ucl/yp.ucl
  share/mk/Makefile
  usr.bin/bmake/Makefile.inc
Owners: @bsdimp, @bapt, @bdrewery, @emaste

clang-scan-deps: Pass ${TDFILE} to tblgen, not ${.ALLSRC}
  usr.bin/clang/clang-scan-deps/Makefile
Owners: none

bridge: exterr-ize
  sys/net/if_bridge.c
  sys/sys/exterr_cat.h
Owners: none

tests/sys/net/if_bridge_test: fix MTU test
  tests/sys/net/if_bridge_test.sh
Owners: @ngie-eign

crash.8: update a little
  share/man/man8/crash.8
Owners: none

pom.6: add a more complete bibliography
  usr.bin/pom/pom.6
Owners: none

bsdinstall: use the canonical name for compression
  usr.sbin/bsdinstall/bsdinstall.8
  usr.sbin/bsdinstall/scripts/zfsboot
Owners: none

bsdinstall: use the canonical name for compression
  usr.sbin/bsdinstall/bsdinstall.8
  usr.sbin/bsdinstall/scripts/zfsboot
Owners: none

sys/param.h: Split some macros into new <sys/_param.h>
  sys/sys/_param.h
  sys/sys/param.h
Owners: none

runq: Deduce most parameters, remove machine headers
  sys/amd64/include/runq.h
  sys/arm/include/runq.h
  sys/arm64/include/runq.h
  sys/i386/include/runq.h
  sys/kern/kern_switch.c
  sys/kern/sched_ule.c
  sys/powerpc/include/runq.h
  sys/riscv/include/runq.h
  sys/sys/runq.h
Owners: @zxombie

runq: More selective includes of <sys/runq.h> to reduce pollution
  sys/dev/usb/usb_process.h
  sys/kern/kern_switch.c
  sys/kern/sched_4bsd.c
  sys/kern/sched_ule.c
  sys/sys/proc.h
Owners: none

runq: Hide function prototypes under _KERNEL
  sys/sys/runq.h
Owners: none

runq: API tidy up: 'pri' => 'idx', 'idx' as int, remove runq_remove_idx()
  sys/kern/kern_switch.c
  sys/kern/sched_4bsd.c
  sys/kern/sched_ule.c
  sys/sys/runq.h
  sys/sys/sched.h
Owners: none

runq: Clarity and style pass
  sys/kern/kern_switch.c
  sys/sys/runq.h
Owners: none

runq: More macros; Better and more consistent naming
  sys/kern/kern_switch.c
  sys/kern/sched_4bsd.c
  sys/kern/sched_ule.c
  sys/sys/runq.h
Owners: none

runq: Re-order functions more logically
  sys/kern/kern_switch.c
  sys/sys/runq.h
Owners: none

runq: Revamp runq_find*(), new runq_find_range()
  sys/kern/kern_switch.c
Owners: none

runq: runq_check(): Re-implement on top of runq_findq()
  sys/kern/kern_switch.c
Owners: none

runq: Tidy up and rename runq_setbit() and runq_clrbit()
  sys/kern/kern_switch.c
Owners: none

runq: New function runq_is_queue_empty(); Use it in ULE
  sys/kern/kern_switch.c
  sys/kern/sched_ule.c
  sys/sys/runq.h
Owners: none
