Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

rc.d: Fix Kerberos rc scripts
  libexec/rc/rc.d/Makefile
Owners: none

rc.conf: Use user.localbase to determine _localbase
  libexec/rc/rc.conf
Owners: none

krb5: Don't install gssapi.h twice
  krb5/include/gssapi/Makefile
Owners: none

bridge: Divorce ifuntagged from vlanfilter
  sys/net/if_bridge.c
  tests/sys/net/if_bridge_test.sh
Owners: @ngie-eign

tests/sys/net: if_bridge_test does not require python
  tests/sys/net/Makefile
Owners: @ngie-eign

ifconfig.8: Remove VLAN filtering section
  sbin/ifconfig/ifconfig.8
Owners: none

Remove Secure RPC DES authentication
  ObsoleteFiles.inc
  include/rpc/auth_des.h
  lib/libc/rpc/Symbol.map
  lib/libc/rpc/auth_des.c
  lib/libc/rpc/authdes_prot.c
  lib/libc/rpc/key_call.c
  lib/libc/rpc/publickey.5
  lib/libc/rpc/rpc_secure.3
  lib/libc/rpc/rpc_soc.3
  lib/libc/rpc/rpc_soc.c
  lib/libc/rpc/svc_auth.c
  lib/libc/rpc/svc_auth_des.c
  lib/librpcsvc/Makefile
  lib/librpcsvc/yp_update.c
  libexec/rc/rc.conf
  libexec/rc/rc.d/Makefile
  libexec/rc/rc.d/ypupdated
  share/man/man5/rc.conf.5
  sys/rpc/auth.h
  tools/build/mk/OptionalObsoleteFiles.inc
  usr.sbin/Makefile
  usr.sbin/rpc.ypupdated/Makefile
  usr.sbin/rpc.ypupdated/Makefile.depend
  usr.sbin/rpc.ypupdated/update.c
  usr.sbin/rpc.ypupdated/yp_dbdelete.c
  usr.sbin/rpc.ypupdated/yp_dbupdate.c
  usr.sbin/rpc.ypupdated/ypupdate
  usr.sbin/rpc.ypupdated/ypupdated_extern.h
  usr.sbin/rpc.ypupdated/ypupdated_main.c
  usr.sbin/rpc.ypupdated/ypupdated_server.c
Owners: @bsdimp

bridge: Divorce ifuntagged from vlanfilter
  sys/net/if_bridge.c
  tests/sys/net/if_bridge_test.sh
Owners: @ngie-eign

Remove Secure RPC DES authentication
  ObsoleteFiles.inc
  include/rpc/auth_des.h
  lib/libc/rpc/Symbol.map
  lib/libc/rpc/auth_des.c
  lib/libc/rpc/authdes_prot.c
  lib/libc/rpc/key_call.c
  lib/libc/rpc/publickey.5
  lib/libc/rpc/rpc_secure.3
  lib/libc/rpc/rpc_soc.3
  lib/libc/rpc/rpc_soc.c
  lib/libc/rpc/svc_auth.c
  lib/libc/rpc/svc_auth_des.c
  lib/librpcsvc/Makefile
  lib/librpcsvc/yp_update.c
  libexec/rc/rc.conf
  libexec/rc/rc.d/Makefile
  libexec/rc/rc.d/ypupdated
  share/man/man5/rc.conf.5
  sys/rpc/auth.h
  tools/build/mk/OptionalObsoleteFiles.inc
  usr.sbin/Makefile
  usr.sbin/rpc.ypupdated/Makefile
  usr.sbin/rpc.ypupdated/Makefile.depend
  usr.sbin/rpc.ypupdated/update.c
  usr.sbin/rpc.ypupdated/yp_dbdelete.c
  usr.sbin/rpc.ypupdated/yp_dbupdate.c
  usr.sbin/rpc.ypupdated/ypupdate
  usr.sbin/rpc.ypupdated/ypupdated_extern.h
  usr.sbin/rpc.ypupdated/ypupdated_main.c
  usr.sbin/rpc.ypupdated/ypupdated_server.c
Owners: @bsdimp

ifconfig.8: Remove VLAN filtering section
  sbin/ifconfig/ifconfig.8
Owners: none

tests/sys/net: if_bridge_test does not require python
  tests/sys/net/Makefile
Owners: @ngie-eign

RELNOTES, UPDATING: Document Secure RPC DES removal
  RELNOTES
  UPDATING
Owners: none

RELNOTES, UPDATING: Document Secure RPC DES removal
  RELNOTES
  UPDATING
Owners: none

arm64 pmap: do not panic when unable to insert PTP into trie
  sys/arm64/arm64/pmap.c
Owners: @zxombie

pmap_enter_{l2,pde}: correct the handling of an error case
  sys/amd64/amd64/pmap.c
  sys/arm64/arm64/pmap.c
Owners: @zxombie

Added folder: gsoc-ppt that contains librapl and process.c
  gsoc-ppt/librapl/.depend
  gsoc-ppt/librapl/.depend.rapl-read.pico
  gsoc-ppt/librapl/Makefile
  gsoc-ppt/librapl/librapl.h
  gsoc-ppt/librapl/librapl.so.0
  gsoc-ppt/librapl/librapl.so.0.debug
  gsoc-ppt/librapl/librapl.so.0.full
  gsoc-ppt/librapl/rapl
  gsoc-ppt/librapl/rapl-read.c
  gsoc-ppt/librapl/rapl-read.pico
  gsoc-ppt/process
  gsoc-ppt/process.c
Owners: none

pmap_demote_{l2,pde}: never invalidate wired mappings
  sys/amd64/amd64/pmap.c
  sys/arm64/arm64/pmap.c
Owners: @zxombie

vm_page: Fix handling of empty bad memory addresses file
  sys/vm/vm_page.c
Owners: none

vm_page: Fix handling of empty bad memory addresses file
  sys/vm/vm_page.c
Owners: none

vmm: library version bump
  ObsoleteFiles.inc
Owners: none

vmm: library version bump
  ObsoleteFiles.inc
Owners: none

bhyve: Add CPUID_BHYVE_FEATURES leaf
  sys/amd64/vmm/x86.c
Owners: @bsdjhb, @grehan-freebsd

bhyve: Support and advertise 15-bit MSI Extended Destination ID
  sys/amd64/vmm/io/vioapic.c
  sys/amd64/vmm/vmm_lapic.c
  sys/amd64/vmm/x86.c
  sys/x86/include/apicreg.h
Owners: @bsdjhb, @grehan-freebsd

rtld: require MAP_GUARD support
  libexec/rtld-elf/map_object.c
Owners: none

rtld: require MAP_GUARD support
  libexec/rtld-elf/map_object.c
Owners: none

krb5: Install pkgconfig data
  krb5/Makefile
  krb5/Makefile.inc
  krb5/libdata/Makefile
Owners: none

krb5: Install pkgconfig data
  krb5/Makefile
  krb5/Makefile.inc
  krb5/libdata/Makefile
Owners: none

kern.post.mk: Support flavors in PORTS_MODULES
  share/man/man7/build.7
  sys/conf/kern.post.mk
Owners: none

kern.post.mk: Support flavors in PORTS_MODULES
  share/man/man7/build.7
  sys/conf/kern.post.mk
Owners: none

lsvfs(1): Make slight refactor
  usr.bin/lsvfs/lsvfs.c
Owners: none

lsvfs(1): Make slight refactor
  usr.bin/lsvfs/lsvfs.c
Owners: none

Add quiet/-q option to /usr/sbin/service
  usr.sbin/service/service.8
  usr.sbin/service/service.sh
Owners: none

service: Add an option to enable debugging
  usr.sbin/service/service.8
  usr.sbin/service/service.sh
Owners: none

zed: prettify slack notification message
  cmd/zed/zed.d/zed-functions.sh
Owners: none

icmp: remove unused BANDLIM_UNLIMITED
  sys/netinet/icmp_var.h
  sys/netinet/ip_icmp.c
Owners: none

icmp: remove unused BANDLIM_UNLIMITED
  sys/netinet/icmp_var.h
  sys/netinet/ip_icmp.c
Owners: none

Vendor import of mandoc at 2025-07-27
  Makefile
  TODO
  catman.8
  catman.c
  gmdiff
  man.7
  man.options.1
  man_html.c
  man_term.c
  man_validate.c
  mandoc.1
  mandoc.css
  mandocd.8
  mandocd.c
  manpath.c
  mdoc_html.c
  mdoc_man.c
  mdoc_markdown.c
  mdoc_term.c
  mdoc_validate.c
  out.c
  out.h
  roff.7
  roff_term.c
  tbl.h
  tbl_html.c
  tbl_layout.c
  tbl_term.c
  term.c
  term.h
  term_ascii.c
  term_ps.c
  term_tab.c
Owners: none

Vendor import of mandoc at 2025-07-27
  Makefile
  TODO
  catman.8
  catman.c
  gmdiff
  man.7
  man.options.1
  man_html.c
  man_term.c
  man_validate.c
  mandoc.1
  mandoc.css
  mandocd.8
  mandocd.c
  manpath.c
  mdoc_html.c
  mdoc_man.c
  mdoc_markdown.c
  mdoc_term.c
  mdoc_validate.c
  out.c
  out.h
  roff.7
  roff_term.c
  tbl.h
  tbl_html.c
  tbl_layout.c
  tbl_term.c
  term.c
  term.h
  term_ascii.c
  term_ps.c
  term_tab.c
Owners: none

lsvfs(1): Capsicumise
  usr.bin/lsvfs/lsvfs.c
Owners: none

pf: free anchor and ethernet anchor zones on vnet shutdown
  sys/netpfil/pf/pf.c
Owners: @glebius

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
