Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

release: switch OCI containers to use pkg sets
  release/tools/oci-image-notoolchain.conf
Owners: none

release: switch OCI containers to use pkg sets
  release/tools/oci-image-notoolchain.conf
Owners: none

zpool_reopen_004_pos: Clear label from offline disk after destroy
  tests/zfs-tests/tests/functional/cli_root/zpool_reopen/zpool_reopen_004_pos.ksh
Owners: @ngie-eign

getgroups.2: Simplifications; Be clearer on programs to be modified
  lib/libsys/getgroups.2
Owners: none

getgroups.2: Simplifications; Be clearer on programs to be modified
  lib/libsys/getgroups.2
Owners: none

release/RPI: Add RPI Zero 2W device tree blob dtb
  release/arm64/RPI.conf
Owners: none

aacraid.4: Improve HARDWARE introductory sentance
  share/man/man4/aacraid.4
Owners: none

aacraid.4: Fix document description + tag SPDX
  share/man/man4/aacraid.4
Owners: none

umass.4: Modernize driver loading instructions
  share/man/man4/umass.4
Owners: none

cli.lua.8: Reflow literal comments
  stand/lua/cli.lua.8
Owners: @kevans91

tests/ci: use pkgbase to populate the VM image
  tests/ci/Makefile
Owners: @ngie-eign

tests/ci: make buildimage and runtest independent
  tests/ci/Makefile
  tests/ci/Makefile.aarch64
  tests/ci/Makefile.amd64
  tests/ci/Makefile.armv7
  tests/ci/Makefile.powerpc64
  tests/ci/Makefile.powerpc64le
  tests/ci/Makefile.riscv64
Owners: @ngie-eign

getgroups.2: Simplifications; Be clearer on programs to be modified
  lib/libsys/getgroups.2
Owners: none

add dtb support for RPI CM4, CM4s, CM4_ioBoard
  release/arm64/RPI.conf
Owners: none

release: remove the RPI CM4s .dtb
  release/arm64/RPI.conf
Owners: none

release/RPI: Add RPI Zero 2W device tree blob dtb
  release/arm64/RPI.conf
Owners: none

sys: NOTES, GENERIC*: Re-order 'wlan_tkip'
  sys/amd64/conf/GENERIC
  sys/arm/conf/TEGRA124
  sys/conf/NOTES
  sys/i386/conf/GENERIC
  sys/powerpc/conf/GENERIC64
  sys/powerpc/conf/GENERIC64LE
Owners: none

libc: compat.h: Remove a superfluous blank line at end
  lib/libc/include/compat.h
Owners: none

jail.2: Mention EPERM is returned on open directories
  lib/libc/sys/jail.2
Owners: none

linux: setgroups(): Avoid allocation under the process lock
  sys/compat/linux/linux_misc.c
Owners: none

linux: setgroups16(): Pre-extend the groups array
  sys/compat/linux/linux_uid16.c
Owners: none

cr_canseeothergids(): Make the logic easier to grasp
  sys/kern/kern_prot.c
Owners: none

initgroups.3: Revamp, mention FreeBSD 15's change in behavior
  lib/libc/gen/initgroups.3
Owners: none

linux: getsockopt(): Simplify exporting groups a bit
  sys/compat/linux/linux_socket.c
Owners: none

getgrouplist.3: Rework, use more appropriate terminology
  lib/libc/gen/getgrouplist.3
Owners: none

initgroups(3): Fix return value on allocation failure
  lib/libc/gen/initgroups.c
Owners: none

getgroups.2: Clarify, mention ascending order, add SECURITY CONSIDERATIONS
  lib/libc/sys/getgroups.2
Owners: none

setgroups.2: Add SECURITY CONSIDERATIONS, rework
  lib/libc/sys/setgroups.2
Owners: none

group.5: Add a reference to setcred(2)
  share/man/man5/group.5
Owners: none

tools/regression/priv: Don't call setgroups() with the effective GID
  tools/regression/priv/main.c
Owners: none

stress2: Fix removal of supplementary groups
  tools/test/stress2/misc/fdatasync.sh
  tools/test/stress2/misc/fdatasync2.sh
  tools/test/stress2/misc/fifo2.sh
  tools/test/stress2/misc/ftruncate.sh
  tools/test/stress2/misc/ftruncate2.sh
  tools/test/stress2/misc/kevent7.sh
  tools/test/stress2/misc/killpg.sh
  tools/test/stress2/misc/killpg2.sh
  tools/test/stress2/misc/killpg3.sh
  tools/test/stress2/misc/maxproc.sh
  tools/test/stress2/misc/mlockall3.sh
  tools/test/stress2/misc/mlockall7.sh
  tools/test/stress2/misc/mountu.sh
  tools/test/stress2/misc/msync.sh
  tools/test/stress2/misc/pread.sh
  tools/test/stress2/misc/sched.sh
  tools/test/stress2/misc/sigreturn3.sh
  tools/test/stress2/misc/sigreturn4.sh
  tools/test/stress2/misc/syscall4.sh
  tools/test/stress2/misc/tmpfs16.sh
Owners: none

mac_do.4: Mention "from" part's GID can also match supplementary groups
  share/man/man4/mac_do.4
Owners: none

vfs cache: Add vn_fullpath_jail(), factor out common code
  share/man/man9/Makefile
  share/man/man9/vn_fullpath.9
  sys/kern/vfs_cache.c
  sys/sys/vnode.h
Owners: none

MAC/do: Check executable path from the current jail's root
  sys/security/mac_do/mac_do.c
Owners: none

mdo(1): Add support and shortcuts for fully specifying users and groups
  usr.bin/mdo/mdo.c
Owners: none

share/man/man9: Fix compilation
  share/man/man9/Makefile
Owners: none

vn_fullpath.9: Add missing links for described functions
  share/man/man9/Makefile
Owners: none

initgroups.3: Clarify that ENOMEM is a possible value for 'errno'
  lib/libc/gen/initgroups.3
Owners: none

nfsuserd: Fix OOB access on membership of too many groups
  usr.sbin/nfsuserd/nfsuserd.c
Owners: none

getgrouplist.3: Insist on the value returned in 'ngroups'; Minor changes
  lib/libc/gen/getgrouplist.3
Owners: none
