Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

cxgbe(4): T7 related updates to shared code
  sys/dev/cxgbe/common/t4_hw.c
  sys/dev/cxgbe/common/t4_msg.h
  sys/dev/cxgbe/common/t4_regs.h
  sys/dev/cxgbe/tom/t4_cpl_io.c
  usr.sbin/cxgbetool/reg_defs_t7.c
Owners: none

cxgbe(4): fix nvmf_che module build
  sys/modules/cxgbe/nvmf_che/Makefile
Owners: none

cxgbe(4): fix nvmf_che module build
  sys/modules/cxgbe/nvmf_che/Makefile
Owners: none

apm(8): Drop MLINK to apmconf(8)
  ObsoleteFiles.inc
  usr.sbin/apm/Makefile
  usr.sbin/apm/apm.8
Owners: none

apm(8): Drop MLINK to apmconf(8)
  ObsoleteFiles.inc
  usr.sbin/apm/Makefile
  usr.sbin/apm/apm.8
Owners: none

MFV: less v685.
  contrib/less/NEWS
  contrib/less/ch.c
  contrib/less/charset.c
  contrib/less/command.c
  contrib/less/compose.uni
  contrib/less/decode.c
  contrib/less/edit.c
  contrib/less/fmt.uni
  contrib/less/forwback.c
  contrib/less/funcs.h
  contrib/less/help.c
  contrib/less/input.c
  contrib/less/less.h
  contrib/less/less.nro
  contrib/less/lessecho.nro
  contrib/less/lesskey.nro
  contrib/less/lglob.h
  contrib/less/line.c
  contrib/less/lsystem.c
  contrib/less/main.c
  contrib/less/mkutable
  contrib/less/omit.uni
  contrib/less/optfunc.c
  contrib/less/opttbl.c
  contrib/less/os.c
  contrib/less/pattern.c
  contrib/less/screen.c
  contrib/less/search.c
  contrib/less/ubin.uni
  contrib/less/version.c
  contrib/less/wide.uni
  contrib/less/xbuf.c
  usr.bin/less/defines.h
Owners: none

MFV: less v685.
  contrib/less/NEWS
  contrib/less/ch.c
  contrib/less/charset.c
  contrib/less/command.c
  contrib/less/compose.uni
  contrib/less/decode.c
  contrib/less/edit.c
  contrib/less/fmt.uni
  contrib/less/forwback.c
  contrib/less/funcs.h
  contrib/less/help.c
  contrib/less/input.c
  contrib/less/less.h
  contrib/less/less.nro
  contrib/less/lessecho.nro
  contrib/less/lesskey.nro
  contrib/less/lglob.h
  contrib/less/line.c
  contrib/less/lsystem.c
  contrib/less/main.c
  contrib/less/mkutable
  contrib/less/omit.uni
  contrib/less/optfunc.c
  contrib/less/opttbl.c
  contrib/less/os.c
  contrib/less/pattern.c
  contrib/less/screen.c
  contrib/less/search.c
  contrib/less/ubin.uni
  contrib/less/version.c
  contrib/less/wide.uni
  contrib/less/xbuf.c
  usr.bin/less/defines.h
Owners: none

Add files via upload
  sys/dev/sound/midi/mpu401.c
Owners: none

ministat: Clean up usage message, manual page, and chameleon
  usr.bin/ministat/chameleon
  usr.bin/ministat/ministat.1
  usr.bin/ministat/ministat.c
Owners: none

ministat: Clean up usage message, manual page, and chameleon
  usr.bin/ministat/chameleon
  usr.bin/ministat/ministat.1
  usr.bin/ministat/ministat.c
Owners: none

sound: Remove dead midi code
  sys/dev/sound/midi/midi.c
Owners: none

sound: Remove dead midi code
  sys/dev/sound/midi/midi.c
Owners: none

cuse: Fix cdevpriv bugs in cuse_client_open()
  sys/fs/cuse/cuse.c
Owners: none

cuse: Fix cdevpriv bugs in cuse_client_open()
  sys/fs/cuse/cuse.c
Owners: none

sound: Retire unused mixer functions
  sys/dev/sound/pcm/mixer.c
  sys/dev/sound/pcm/mixer.h
Owners: none

sound: Retire unused mixer functions
  sys/dev/sound/pcm/mixer.c
  sys/dev/sound/pcm/mixer.h
Owners: none

sound: Move mixer->modify_counter to more appropriate place
  sys/dev/sound/pcm/mixer.c
Owners: none

sound: Move mixer->modify_counter to more appropriate place
  sys/dev/sound/pcm/mixer.c
Owners: none

sound: Retire OLDPCM_IOCTL
  sys/dev/sound/pcm/dsp.c
Owners: none

sound: Retire OLDPCM_IOCTL
  sys/dev/sound/pcm/dsp.c
Owners: none

stand: Teach the zfs loader about dynamic gang headers
  stand/libsa/zfs/zfsimpl.c
  sys/cddl/boot/zfs/zfsimpl.h
Owners: @bsdimp

arm64/spe: Fix the GENERIC-NODEBUG build
  sys/arm64/spe/arm_spe_dev.c
Owners: none

arm64/spe: Fix the GENERIC-NODEBUG build
  sys/arm64/spe/arm_spe_dev.c
Owners: none

sound: Remove unnecessary uio checks in dsp_io_ops()
  sys/dev/sound/pcm/dsp.c
Owners: none

sound: Remove unnecessary uio checks in dsp_io_ops()
  sys/dev/sound/pcm/dsp.c
Owners: none

sound: Do not use double pointer in dsp_io_ops()
  sys/dev/sound/pcm/dsp.c
Owners: none

sound: Do not use double pointer in dsp_io_ops()
  sys/dev/sound/pcm/dsp.c
Owners: none

sound: Retire SND_DIAGNOSTIC PCM locking macros
  sys/dev/sound/pcm/sound.h
Owners: none

sound: Retire SND_DIAGNOSTIC PCM locking macros
  sys/dev/sound/pcm/sound.h
Owners: none

arm64: Fix calculating kernel size for preload metadata
  sys/arm64/arm64/machdep_boot.c
Owners: @zxombie

arm64: Fix calculating kernel size for preload metadata
  sys/arm64/arm64/machdep_boot.c
Owners: @zxombie

uart: provide and use default rclk for JH7110 UART
  sys/dev/uart/uart_bus_fdt.c
  sys/dev/uart/uart_dev_snps.c
Owners: none

mmc_fdt: handle broken-cd property
  sys/dev/mmc/mmc_fdt_helpers.c
Owners: none

cxgbe(4): Expanded interrupt handling for T7
  sys/dev/cxgbe/adapter.h
  sys/dev/cxgbe/common/common.h
  sys/dev/cxgbe/common/t4_hw.c
  sys/dev/cxgbe/t4_main.c
  sys/dev/cxgbe/t4_sge.c
Owners: none

cxgbe(4): Expanded interrupt handling for T7
  sys/dev/cxgbe/adapter.h
  sys/dev/cxgbe/common/common.h
  sys/dev/cxgbe/common/t4_hw.c
  sys/dev/cxgbe/t4_main.c
  sys/dev/cxgbe/t4_sge.c
Owners: none

stand: Teach the zfs loader about dynamic gang headers
  stand/libsa/zfs/zfsimpl.c
  sys/cddl/boot/zfs/zfsimpl.h
Owners: @bsdimp

drm2: update gone_in to 16 from 13
  sys/dev/drm2/drm_os_freebsd.h
Owners: @bsdimp

drm2: update gone_in to 16 from 13
  sys/dev/drm2/drm_os_freebsd.h
Owners: @bsdimp

mlx5: Fix compilation error when not building with KERN_TLS
  sys/dev/mlx5/mlx5_en/mlx5_en_main.c
Owners: none

mlx5: Fix compilation error when not building with KERN_TLS
  sys/dev/mlx5/mlx5_en/mlx5_en_main.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
