Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

tarfs: Simplify sameness checks
  tests/sys/fs/tarfs/tarfs_test.sh
Owners: @ngie-eign

tarfs: Simplify sameness checks
  tests/sys/fs/tarfs/tarfs_test.sh
Owners: @ngie-eign

cp: Simplify sameness checks
  bin/cp/tests/cp_test.sh
Owners: none

cp: Simplify sameness checks
  bin/cp/tests/cp_test.sh
Owners: none

fts: Further improve the manual page
  lib/libc/gen/fts.3
Owners: none

fts: Further improve the manual page
  lib/libc/gen/fts.3
Owners: none

ln: Simplify sameness checks
  bin/ln/tests/ln_test.sh
Owners: none

x86: Add a way to inject artificial MCA events for testing
  sys/x86/x86/mca.c
Owners: none

x86: Add a way to inject artificial MCA events for testing
  sys/x86/x86/mca.c
Owners: none

Cirrus-CI: Bump to FreeBSD 14.3 image
  .cirrus.yml
Owners: none

Makefile.inc1: Avoid including cwd in path
  Makefile.inc1
Owners: none

boot_i386.8: Mention this is legacy
  sbin/reboot/boot_i386.8
Owners: none

Merge commit 7a66a26658f4 from llvm git (by Fangrui Song):
  contrib/llvm-project/llvm/lib/ObjCopy/ELF/ELFObjcopy.cpp
Owners: @DimitryAndric

tests/netinet: fix so_reuseport_lb_test flakyness
  tests/sys/netinet/so_reuseport_lb_test.c
Owners: @ngie-eign

tests/netinet: fix so_reuseport_lb_test flakyness
  tests/sys/netinet/so_reuseport_lb_test.c
Owners: @ngie-eign

krb5: create the KDC database directory
  etc/mtree/BSD.var.dist
Owners: none

krb5: create the KDC database directory
  etc/mtree/BSD.var.dist
Owners: none

tests/aio: Add support for larger max_buf_aio to vectored_big_iovcnt test
  tests/sys/aio/aio_test.c
Owners: @asomers

tests/aio: Add support for larger max_buf_aio to vectored_big_iovcnt test
  tests/sys/aio/aio_test.c
Owners: @asomers

cam/iosched: Initialize max_lat
  sys/cam/cam_iosched.c
Owners: none

cam/iosched: Initialize max_lat
  sys/cam/cam_iosched.c
Owners: none

Revert "cam/iosched: Initialize max_lat"
  sys/cam/cam_iosched.c
Owners: none

Revert "cam/iosched: Initialize max_lat"
  sys/cam/cam_iosched.c
Owners: none

heimdal-kadmin: Add support for the -f dump option
  crypto/heimdal/kadmin/dump.c
  crypto/heimdal/kadmin/kadmin-commands.in
  crypto/heimdal/kdc/hpropd.c
  crypto/heimdal/kdc/mit_dump.c
  crypto/heimdal/lib/hdb/Makefile.am
  crypto/heimdal/lib/hdb/common.c
  crypto/heimdal/lib/hdb/ext.c
  crypto/heimdal/lib/hdb/hdb-mitdb.c
  crypto/heimdal/lib/hdb/hdb-protos.h
  crypto/heimdal/lib/hdb/hdb.asn1
  crypto/heimdal/lib/hdb/hdb.c
  crypto/heimdal/lib/hdb/hdb.h
  crypto/heimdal/lib/hdb/hdb_locl.h
  crypto/heimdal/lib/hdb/keys.c
  crypto/heimdal/lib/hdb/mkey.c
  crypto/heimdal/lib/hdb/print.c
  crypto/heimdal/lib/hdb/version-script.map
  crypto/heimdal/lib/kadm5/chpass_s.c
  crypto/heimdal/lib/kadm5/randkey_s.c
  kerberos5/lib/libhdb/Makefile
  share/mk/src.libnames.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

kadmin.8: Document the new dump -f flag
  crypto/heimdal/kadmin/kadmin.8
Owners: none

net80211: document some of the crypto/key functions
  sys/net80211/ieee80211.c
  sys/net80211/ieee80211_crypto.c
Owners: none

net80211: document some of the crypto/key functions
  sys/net80211/ieee80211.c
  sys/net80211/ieee80211_crypto.c
Owners: none

ncurses: Move to the minimal set
  release/packages/ucl/ncurses-all.ucl
Owners: none

ncurses: Move to the minimal set
  release/packages/ucl/ncurses-all.ucl
Owners: none

Makefile: Force DISTDIR=/ for (update-)packages
  Makefile
Owners: none

Makefile: Force DISTDIR=/ for (update-)packages
  Makefile
Owners: none

libpkgecc: Remove -ffreestanding
  secure/lib/libpkgecc/Makefile
Owners: none

libpkgecc: Remove -ffreestanding
  secure/lib/libpkgecc/Makefile
Owners: none

packages: Set dependency origin in generate-ucl.lua
  release/packages/generate-set-ucl.lua
  release/packages/generate-ucl.lua
  release/packages/set-template.ucl
  release/packages/sets/base-dbg.ucl
  release/packages/sets/base-jail-dbg.ucl
  release/packages/sets/base-jail.ucl
  release/packages/sets/base.ucl
  release/packages/sets/optional-dbg.ucl
  release/packages/sets/optional-jail-dbg.ucl
  release/packages/sets/optional-jail.ucl
  release/packages/sets/optional.ucl
  release/packages/ucl/at.ucl
  release/packages/ucl/bluetooth.ucl
  release/packages/ucl/bsdconfig.ucl
  release/packages/ucl/bsdinstall.ucl
  release/packages/ucl/caroot.ucl
  release/packages/ucl/certctl.ucl
  release/packages/ucl/clang.ucl
  release/packages/ucl/devd.ucl
  release/packages/ucl/newsyslog.ucl
  release/packages/ucl/periodic.ucl
  release/packages/ucl/rc.ucl
  release/packages/ucl/rcmds.ucl
  release/packages/ucl/sendmail.ucl
  release/packages/ucl/tests-all.ucl
  release/packages/ucl/yp.ucl
Owners: none

packages: Set dependency origin in generate-ucl.lua
  release/packages/generate-set-ucl.lua
  release/packages/generate-ucl.lua
  release/packages/set-template.ucl
  release/packages/sets/base-dbg.ucl
  release/packages/sets/base-jail-dbg.ucl
  release/packages/sets/base-jail.ucl
  release/packages/sets/base.ucl
  release/packages/sets/optional-dbg.ucl
  release/packages/sets/optional-jail-dbg.ucl
  release/packages/sets/optional-jail.ucl
  release/packages/sets/optional.ucl
  release/packages/ucl/at.ucl
  release/packages/ucl/bluetooth.ucl
  release/packages/ucl/bsdconfig.ucl
  release/packages/ucl/bsdinstall.ucl
  release/packages/ucl/caroot.ucl
  release/packages/ucl/certctl.ucl
  release/packages/ucl/clang.ucl
  release/packages/ucl/devd.ucl
  release/packages/ucl/newsyslog.ucl
  release/packages/ucl/periodic.ucl
  release/packages/ucl/rc.ucl
  release/packages/ucl/rcmds.ucl
  release/packages/ucl/sendmail.ucl
  release/packages/ucl/tests-all.ucl
  release/packages/ucl/yp.ucl
Owners: none

generate-ucl.lua: Add missing copyright header
  release/packages/generate-ucl.lua
Owners: none

generate-ucl.lua: Add missing copyright header
  release/packages/generate-ucl.lua
Owners: none

release: Fix dependency ordering
  release/Makefile
Owners: none

release: Fix dependency ordering
  release/Makefile
Owners: none

BSD.root.dist: Add package tag for all directories
  etc/mtree/BSD.root.dist
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
