Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

blocklist: Add vendor import instructions
  contrib/blocklist/FreeBSD-upgrade
  contrib/blocklist/freebsd-changes.sh
Owners: none

MFV: Import blocklist 2025-12-15 (8a4b011)
  contrib/blocklist/bin/blocklistd.c
Owners: none

blocklist: blacklist: Chase recent upstream changes
  contrib/blocklist/bin/blacklistd.c
Owners: none

RELNOTES: Add an entry for fca793bfecda and friends
  RELNOTES
Owners: none

RELNOTES: Add an entry for 8e3fd450cc53 and friends
  RELNOTES
Owners: none

Hyper-V: hn: just call vf's ioctl when changing mtu
  sys/dev/hyperv/netvsc/if_hn.c
Owners: none

Hyper-V: hn: just call vf's ioctl when changing mtu
  sys/dev/hyperv/netvsc/if_hn.c
Owners: none

mana: support jumbo packet size
  sys/dev/mana/gdma.h
  sys/dev/mana/mana.h
  sys/dev/mana/mana_en.c
Owners: none

mana: support jumbo packet size
  sys/dev/mana/gdma.h
  sys/dev/mana/mana.h
  sys/dev/mana/mana_en.c
Owners: none

Resurrect standalone command
  ObsoleteFiles.inc
  usr.bin/Makefile
  usr.bin/command/Makefile
  usr.bin/command/command.sh
Owners: none

Resurrect standalone command
  ObsoleteFiles.inc
  usr.bin/Makefile
  usr.bin/command/Makefile
  usr.bin/command/command.sh
Owners: none

camcontrol.8: Descriptions before examples
  sbin/camcontrol/camcontrol.8
Owners: none

camcontrol.8: Descriptions before examples
  sbin/camcontrol/camcontrol.8
Owners: none

cdce.4: Minor polish
  share/man/man4/cdce.4
Owners: none

cdce.4: Minor polish
  share/man/man4/cdce.4
Owners: none

cdce.4: Add RTL8153 to HARDWARE
  share/man/man4/cdce.4
Owners: none

cdce.4: Add RTL8153 to HARDWARE
  share/man/man4/cdce.4
Owners: none

at cron file is now in /etc/cron.d
  libexec/atrun/atrun.man
Owners: none

at cron file is now in /etc/cron.d
  libexec/atrun/atrun.man
Owners: none

udl.4: Consolidate HARDWARE and add HISTORY
  share/man/man4/udl.4
Owners: none

udl.4: Consolidate HARDWARE and add HISTORY
  share/man/man4/udl.4
Owners: none

udl.4: Tweak HARDWARE for hardware release note
  share/man/man4/udl.4
Owners: none

udl.4: Tweak HARDWARE for hardware release note
  share/man/man4/udl.4
Owners: none

Specialize the REALTEK RTL8153 quirk to just rev=0x31fd
  sys/dev/usb/quirk/usb_quirk.c
Owners: none

Specialize the REALTEK RTL8153 quirk to just rev=0x31fd
  sys/dev/usb/quirk/usb_quirk.c
Owners: none

nvme: make the interface standard file
  sys/conf/files
Owners: none

nvme: make the interface standard file
  sys/conf/files
Owners: none

vnode_pager: use ptoa(), atop()
  sys/vm/vnode_pager.c
Owners: none

vnode_pager: use ptoa(), atop()
  sys/vm/vnode_pager.c
Owners: none

man: cosmetic: fix typos; use consistent spelling for "non-existing"
  man/man8/zfs-create.8
  man/man8/zfs-rename.8
Owners: none

zvol: cosmetic: fix up `volthreading` property short name
  module/zcommon/zfs_prop.c
Owners: none

zfs_main: cosmetic: add missing flag to the comment for create
  cmd/zfs/zfs_main.c
Owners: none

zed.d, contrib: fix shellcheck errors in scripts
  cmd/zed/zed.d/history_event-zfs-list-cacher.sh.in
  contrib/dracut/90zfs/mount-zfs.sh.in
Owners: none

bhyve.8: Fix consistency and terms in manpage
  usr.sbin/bhyve/bhyve.8
Owners: @bsdjhb, @grehan-freebsd

bhyve.8: Fix consistency and terms in manpage
  usr.sbin/bhyve/bhyve.8
Owners: @bsdjhb, @grehan-freebsd

bhyve.8: Fix consistency and terms in manpage
  usr.sbin/bhyve/bhyve.8
Owners: @bsdjhb, @grehan-freebsd

Linux 6.19: replace i_state access with inode_state_read_once()
  config/kernel-inode-state.m4
  config/kernel.m4
  include/os/linux/kernel/linux/vfs_compat.h
  module/os/linux/zfs/zfs_vnops_os.c
Owners: none

kmem: don't pass __GFP_HIGHMEM to __vmalloc
  module/os/linux/spl/spl-kmem-cache.c
  module/os/linux/spl/spl-kmem.c
Owners: none

kmem: don't add __GFP_COMP for KM_VMEM allocations
  include/os/linux/spl/sys/kmem.h
  module/os/linux/spl/spl-kmem-cache.c
Owners: none

src.conf: Add WITH_LLVM_LINK_STATIC_LIBRARIES build knob
  lib/clang/libclang/Makefile
  lib/clang/liblldb/Makefile
  lib/clang/libllvm/Makefile
  share/man/man5/src.conf.5
  share/mk/src.opts.mk
  tools/build/mk/OptionalObsoleteFiles.inc
  tools/build/options/WITH_LLVM_LINK_STATIC_LIBRARIES
  usr.bin/clang/Makefile.inc
  usr.bin/clang/clang.prog.mk
  usr.bin/clang/lld/Makefile
  usr.bin/clang/lldb-server/Makefile
  usr.bin/clang/lldb/Makefile
  usr.bin/clang/llvm.prog.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste
