Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

lib/msun/tests: xfail failing invtrig_test cases on non-x86
  lib/msun/tests/invtrig_test.c
Owners: none

lib/msun/tests: remove newlines in ATF msgs
  contrib/netbsd-tests/lib/libm/t_fe_round.c
  lib/msun/tests/fmaxmin_test.c
Owners: @ngie-eign

sys/rpc: UNIX auth: Do not log on bogus AUTH_SYS messages
  sys/rpc/svc_auth_unix.c
Owners: none

sys/rpc: UNIX auth: Do not log on bogus AUTH_SYS messages
  sys/rpc/svc_auth_unix.c
Owners: none

imgact: Mark brandinfo and note structures as const
  sys/amd64/amd64/elf_machdep.c
  sys/amd64/linux/linux_sysvec.c
  sys/amd64/linux32/linux32_sysvec.c
  sys/arm64/arm64/elf_machdep.c
  sys/arm64/linux/linux_sysvec.c
  sys/compat/ia32/ia32_sysvec.c
  sys/compat/linux/linux_futex.c
  sys/kern/imgact_elf.c
  sys/kern/kern_exec.c
  sys/sys/imgact_elf.h
  sys/sys/proc.h
Owners: @zxombie

imgact: Mark brandinfo and note structures as const
  sys/amd64/amd64/elf_machdep.c
  sys/amd64/linux/linux_sysvec.c
  sys/amd64/linux32/linux32_sysvec.c
  sys/arm64/arm64/elf_machdep.c
  sys/arm64/linux/linux_sysvec.c
  sys/compat/ia32/ia32_sysvec.c
  sys/compat/linux/linux_futex.c
  sys/kern/imgact_elf.c
  sys/kern/kern_exec.c
  sys/sys/imgact_elf.h
  sys/sys/proc.h
Owners: @zxombie

ipfw: Check for errors from sooptcopyin() and sooptcopyout()
  sys/netpfil/ipfw/ip_fw_nat.c
Owners: none

ipfw: Check for errors from sooptcopyin() and sooptcopyout()
  sys/netpfil/ipfw/ip_fw_nat.c
Owners: none

exec: Check for errors when mapping the shared object
  sys/kern/kern_exec.c
Owners: none

exec: Check for errors when mapping the shared object
  sys/kern/kern_exec.c
Owners: none

certctl.8: Update documentation of BUNDLE
  usr.sbin/certctl/certctl.8
Owners: none

certctl.8: Update documentation of BUNDLE
  usr.sbin/certctl/certctl.8
Owners: none

libm: remainder: make sure x is zero
  lib/msun/src/e_remainder.c
Owners: none

libm: remainder: make sure x is zero
  lib/msun/src/e_remainder.c
Owners: none

libm: remainder: make sure x is zero
  lib/msun/src/e_remainder.c
Owners: none

fusefs: fix intermittency in the BadServer.ShortWrite test
  tests/sys/fs/fusefs/bad_server.cc
Owners: @asomers

fusefs: fix intermittency in the BadServer.ShortWrite test
  tests/sys/fs/fusefs/bad_server.cc
Owners: @asomers

bsdinstall: Tweak pkgbase/dist set labels
  usr.sbin/bsdinstall/scripts/auto
  usr.sbin/bsdinstall/scripts/jail
Owners: none

Revert ".cirrus.yml: Reenable CI with pre-commit CI scripts"
  .cirrus.yml
Owners: none

lib/msun/tests: xfail failing lrint_test cases on non-x86 archs
  lib/msun/tests/lrint_test.c
Owners: none

lib/msun/tests: xfail remaining failing tests on non-x86 archs
  lib/msun/tests/cexp_test.c
  lib/msun/tests/ctrig_test.c
  lib/msun/tests/exponential_test.c
  lib/msun/tests/fma_test.c
  lib/msun/tests/invctrig_test.c
  lib/msun/tests/logarithm_test.c
  lib/msun/tests/lround_test.c
  lib/msun/tests/nan_test.c
  lib/msun/tests/nearbyint_test.c
  lib/msun/tests/next_test.c
  lib/msun/tests/trig_test.c
Owners: none

sockets: add PF_HYPERV alias
  lib/libsys/socket.2
  sys/sys/socket.h
Owners: none

socket(2): refactor the manual page
  lib/libsys/socket.2
Owners: none

socket(2): refactor the manual page
  lib/libsys/socket.2
Owners: none

sockets: add PF_HYPERV alias
  lib/libsys/socket.2
  sys/sys/socket.h
Owners: none

unionfs: fix NULL deref on closing an fd passed through SCM_RIGHTS
  sys/fs/unionfs/union_subr.c
  sys/fs/unionfs/union_vnops.c
Owners: none

unionfs: fix NULL deref on closing an fd passed through SCM_RIGHTS
  sys/fs/unionfs/union_subr.c
  sys/fs/unionfs/union_vnops.c
Owners: none

socket.2: spell
  lib/libsys/socket.2
Owners: none

socket.2: spell
  lib/libsys/socket.2
Owners: none

mmap_seek: print error code and text on failure
  tests/zfs-tests/cmd/mmap_seek.c
Owners: @ngie-eign

conf: enable TCP_HPTS_KTEST on debug builds
  sys/conf/std.debug
  sys/conf/std.nodebug
Owners: none

conf: enable TCP_HPTS_KTEST on debug builds
  sys/conf/std.debug
  sys/conf/std.nodebug
Owners: none

tests/multicast: fix test flakyness
  tests/sys/netinet/multicast.sh
Owners: @ngie-eign

tests/multicast: fix test flakyness
  tests/sys/netinet/multicast.sh
Owners: @ngie-eign

unix/stream: repair SO_SNDTIMEO
  sys/kern/uipc_usrreq.c
  tests/sys/kern/unix_stream.c
Owners: @ngie-eign

unix/stream: repair SO_SNDTIMEO
  sys/kern/uipc_usrreq.c
  tests/sys/kern/unix_stream.c
Owners: @ngie-eign

Cirrus-CI: Build packages in parallel
  .cirrus.yml
Owners: none

Cirrus-CI: Bump to FreeBSD 14.3 image
  .cirrus.yml
Owners: none

Cirrus-CI: Switch back to tzst packages, but use level 1
  .cirrus.yml
Owners: none

Cirrus-CI: Use nproc instead of sysctl -n hw.ncpu
  .cirrus.yml
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
