Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

if_ovpn tests: skip float and linklocal test on < 2.7
  tests/sys/net/if_ovpn/if_ovpn.sh
  tests/sys/net/if_ovpn/utils.subr
Owners: @ngie-eign

init_main: Fix logging the subsystem of pre-loaded kernel modules
  sys/kern/init_main.c
Owners: none

init_main: Fix logging the subsystem of pre-loaded kernel modules
  sys/kern/init_main.c
Owners: none

LinuxKPI: skbuff: no longer use IEEE80211_DEBUG to turn on debug
  sys/compat/linuxkpi/common/include/linux/skbuff.h
Owners: none

LinuxKPI: skbuff: no longer use IEEE80211_DEBUG to turn on debug
  sys/compat/linuxkpi/common/include/linux/skbuff.h
Owners: none

tcpdump: get BINDIR from usr.sbin/Makefile.inc [NFC]
  usr.sbin/tcpdump/Makefile.inc
Owners: none

tcpdump: get BINDIR from usr.sbin/Makefile.inc [NFC]
  usr.sbin/tcpdump/Makefile.inc
Owners: none

tcpdump: drop no-op LBL_ALIGN macro
  usr.sbin/tcpdump/tcpdump/Makefile
Owners: none

tcpdump: drop no-op LBL_ALIGN macro
  usr.sbin/tcpdump/tcpdump/Makefile
Owners: none

tcpdump: don't create unused version.c
  usr.sbin/tcpdump/tcpdump/Makefile
Owners: none

tcpdump: don't create unused version.c
  usr.sbin/tcpdump/tcpdump/Makefile
Owners: none

boot_i386.8: Mention this is legacy
  sbin/reboot/boot_i386.8
Owners: none

tests: Update for jemalloc's option parsing
  bin/sh/tests/execution/func1.0
  tools/regression/bpf/bpf_filter/Makefile
Owners: @jillest

sys: Rename BLOAT_KERNEL_WITH_EXTERR to EXTERR_STRINGS
  UPDATING
  sys/amd64/conf/GENERIC
  sys/arm64/conf/std.arm64
  sys/conf/options
  sys/sys/exterrvar.h
Owners: none

sys: Rename BLOAT_KERNEL_WITH_EXTERR to EXTERR_STRINGS
  UPDATING
  sys/amd64/conf/GENERIC
  sys/arm64/conf/std.arm64
  sys/conf/options
  sys/sys/exterrvar.h
Owners: none

Makefile.inc1: Avoid including cwd in path
  Makefile.inc1
Owners: none

chroot.2: Update errors and unprivileged use
  lib/libc/sys/chroot.2
Owners: none

arch.7: Clarify older 32-bit arm support
  share/man/man7/arch.7
Owners: none

arch.7: Clarify older 32-bit arm support
  share/man/man7/arch.7
Owners: none

bhyve: insert VM name to the VNC screen title
  usr.sbin/bhyve/rfb.c
Owners: @bsdjhb, @grehan-freebsd

bhyve: insert VM name to the VNC screen title
  usr.sbin/bhyve/rfb.c
Owners: @bsdjhb, @grehan-freebsd

nvme: Call vm_fault_hold_pages instead of vmapbuf
  sys/dev/nvme/nvme_ctrlr.c
Owners: @bsdimp

nvme: Always print the opcode hex and sct/sc hex values
  sys/dev/nvme/nvme_util.c
Owners: @bsdimp

nvme: Call vm_fault_hold_pages instead of vmapbuf
  sys/dev/nvme/nvme_ctrlr.c
Owners: @bsdimp

nvme: Always print the opcode hex and sct/sc hex values
  sys/dev/nvme/nvme_util.c
Owners: @bsdimp

Makefile.inc1: Build openssl as a certctl dependency on old FreeBSD
  Makefile.inc1
Owners: none

Makefile.inc1: Build openssl as a certctl dependency on old FreeBSD
  Makefile.inc1
Owners: none

pf tests: sctp:pfsync robustness improvement
  tests/sys/netpfil/pf/sctp.sh
Owners: @ngie-eign

pf tests: sctp:pfsync robustness improvement
  tests/sys/netpfil/pf/sctp.sh
Owners: @ngie-eign

ethernet: Prefer memcmp() over bcmp()
  sys/net/if_ethersubr.c
Owners: none

ethernet: Prefer memcmp() over bcmp()
  sys/net/if_ethersubr.c
Owners: none

init_main: Remove the placeholder SYSINIT
  sys/kern/init_main.c
Owners: none

init_main: Remove the placeholder SYSINIT
  sys/kern/init_main.c
Owners: none

umb: Fix setting the input routine
  sys/dev/usb/net/if_umb.c
Owners: none

umb: Fix setting the input routine
  sys/dev/usb/net/if_umb.c
Owners: none

dtrace_lockstat.4: Fix description
  share/man/man4/dtrace_lockstat.4
Owners: none

dtrace_lockstat.4: Fix description
  share/man/man4/dtrace_lockstat.4
Owners: none

look(1): Capsicumise
  usr.bin/look/look.c
Owners: none

libgpio: Add and document gpio interrupt utility functions
  lib/libgpio/Makefile
  lib/libgpio/gpio.3
  lib/libgpio/gpio.c
  lib/libgpio/libgpio.h
Owners: none

libgpio: Add and document gpio interrupt utility functions
  lib/libgpio/Makefile
  lib/libgpio/gpio.3
  lib/libgpio/gpio.c
  lib/libgpio/libgpio.h
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
