Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

cxgbe(4): Skip non-existent blocks in the interrupt handler
  sys/dev/cxgbe/common/t4_hw.c
Owners: none

cxgbe(4): Skip non-existent blocks in the interrupt handler
  sys/dev/cxgbe/common/t4_hw.c
Owners: none

hgame.4: Polish
  share/man/man4/hgame.4
Owners: none

hgame.4: Polish
  share/man/man4/hgame.4
Owners: none

jail.8: Add creating a jail from package base
  usr.sbin/jail/jail.8
Owners: none

jail.8: Add creating a jail from package base
  usr.sbin/jail/jail.8
Owners: none

mpr.4: Add Broadcom LSI 3808 to HARDWARE
  share/man/man4/mpr.4
Owners: none

jail.8: Add creating a jail from distribution set
  usr.sbin/jail/jail.8
Owners: none

ix.4: Add E610 to HARDWARE section
  share/man/man4/ix.4
Owners: none

mx25l.4: Describe better and tag spdx
  share/man/man4/mx25l.4
Owners: none

mx25l.4: Add n25q64 to hardware list
  share/man/man4/mx25l.4
Owners: none

sbp.4: Add a hardware section, fix markup nits
  share/man/man4/sbp.4
Owners: none

pcic.4: Remove stale manual
  ObsoleteFiles.inc
  share/man/man4/Makefile
  share/man/man4/ath.4
  share/man/man4/exca.4
  share/man/man4/pcic.4
Owners: none

hgame.4: Polish
  share/man/man4/hgame.4
Owners: none

jail.8: Add creating a jail from package base
  usr.sbin/jail/jail.8
Owners: none

unix: Remove an always-false null pointer check
  sys/kern/uipc_usrreq.c
Owners: none

unix: Fix handling of listening sockets during garbage collection
  sys/kern/uipc_usrreq.c
  tests/sys/kern/unix_passfd_test.c
Owners: @ngie-eign

unix: Remove an always-false null pointer check
  sys/kern/uipc_usrreq.c
Owners: none

unix: Fix handling of listening sockets during garbage collection
  sys/kern/uipc_usrreq.c
  tests/sys/kern/unix_passfd_test.c
Owners: @ngie-eign

aio: fix alignment of struct (o)aiocb32 on non-amd64
  sys/kern/vfs_aio.c
Owners: @asomers

aio: fix alignment of struct (o)aiocb32 on non-amd64
  sys/kern/vfs_aio.c
Owners: @asomers

aio: fix alignment of struct (o)aiocb32 on non-amd64
  sys/kern/vfs_aio.c
Owners: @asomers

aio: fix alignment of struct (o)aiocb32 on non-amd64
  sys/kern/vfs_aio.c
Owners: @asomers

rtwn: migrate to new ieee80211 key data accessors
  sys/dev/rtwn/if_rtwn_cam.c
Owners: none

rtwn: migrate to new ieee80211 key data accessors
  sys/dev/rtwn/if_rtwn_cam.c
Owners: none

mtw: convert to new net80211 crypto key API
  sys/dev/usb/wlan/if_mtw.c
Owners: none

mtw: convert to new net80211 crypto key API
  sys/dev/usb/wlan/if_mtw.c
Owners: none

aio: fix alignment of struct (o)aiocb32 on non-amd64
  sys/kern/vfs_aio.c
Owners: @asomers

iwx: clean up debugging around key add/set; comments on delete
  sys/dev/iwx/if_iwx.c
  sys/dev/iwx/if_iwx_debug.h
Owners: none

iwx: clean up debugging around key add/set; comments on delete
  sys/dev/iwx/if_iwx.c
  sys/dev/iwx/if_iwx_debug.h
Owners: none

jail.8: Add creating a jail from distribution set
  usr.sbin/jail/jail.8
Owners: none

jail.8: Add creating a jail from package base
  usr.sbin/jail/jail.8
Owners: none

hgame.4: Polish
  share/man/man4/hgame.4
Owners: none

pcic.4: Remove stale manual
  ObsoleteFiles.inc
  share/man/man4/Makefile
  share/man/man4/ath.4
  share/man/man4/exca.4
  share/man/man4/pcic.4
Owners: none

mx25l.4: Describe better and tag spdx
  share/man/man4/mx25l.4
Owners: none

mx25l.4: Add n25q64 to hardware list
  share/man/man4/mx25l.4
Owners: none

sbp.4: Add a hardware section, fix markup nits
  share/man/man4/sbp.4
Owners: none

ix.4: Add E610 to HARDWARE section
  share/man/man4/ix.4
Owners: none

mpr.4: Add Broadcom LSI 3808 to HARDWARE
  share/man/man4/mpr.4
Owners: none

iwx: fix and clean up suspend/resume path
  sys/dev/iwx/if_iwx.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
