Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

Cirrus-CI: Bump to FreeBSD 15.0-RELEASE
  .cirrus.yml
Owners: none

kern: Introduce RLIMIT_VMM
  sys/dev/vmm/vmm_dev.c
  sys/kern/kern_resource.c
  sys/sys/resource.h
  sys/sys/resourcevar.h
  usr.bin/procstat/procstat_rlimit.c
Owners: none

kern: Introduce RLIMIT_VMM
  sys/dev/vmm/vmm_dev.c
  sys/kern/kern_resource.c
  sys/sys/resource.h
  sys/sys/resourcevar.h
  usr.bin/procstat/procstat_rlimit.c
Owners: none

bhyve: Eliminate exit status magic numbers
  usr.sbin/bhyve/aarch64/bhyverun_machdep.c
  usr.sbin/bhyve/aarch64/vmexit.c
  usr.sbin/bhyve/amd64/bhyverun_machdep.c
  usr.sbin/bhyve/amd64/fwctl.c
  usr.sbin/bhyve/amd64/vmexit.c
  usr.sbin/bhyve/bhyverun.c
  usr.sbin/bhyve/bhyverun.h
  usr.sbin/bhyve/gdb.c
  usr.sbin/bhyve/mevent.c
  usr.sbin/bhyve/mevent_test.c
  usr.sbin/bhyve/riscv/bhyverun_machdep.c
  usr.sbin/bhyve/riscv/vmexit.c
  usr.sbin/bhyve/snapshot.c
Owners: @bsdjhb, @grehan-freebsd

bhyve: Eliminate exit status magic numbers
  usr.sbin/bhyve/aarch64/bhyverun_machdep.c
  usr.sbin/bhyve/aarch64/vmexit.c
  usr.sbin/bhyve/amd64/bhyverun_machdep.c
  usr.sbin/bhyve/amd64/fwctl.c
  usr.sbin/bhyve/amd64/vmexit.c
  usr.sbin/bhyve/bhyverun.c
  usr.sbin/bhyve/bhyverun.h
  usr.sbin/bhyve/gdb.c
  usr.sbin/bhyve/mevent.c
  usr.sbin/bhyve/mevent_test.c
  usr.sbin/bhyve/riscv/bhyverun_machdep.c
  usr.sbin/bhyve/riscv/vmexit.c
  usr.sbin/bhyve/snapshot.c
Owners: @bsdjhb, @grehan-freebsd

vmm: Add ability to destroy VMs on close
  lib/libvmmapi/vmmapi.c
  lib/libvmmapi/vmmapi.h
  sys/dev/vmm/vmm_dev.c
  sys/dev/vmm/vmm_dev.h
Owners: @bsdjhb, @grehan-freebsd

bhyve: Introduce monitor mode
  usr.sbin/bhyve/aarch64/bhyverun_machdep.c
  usr.sbin/bhyve/amd64/bhyverun_machdep.c
  usr.sbin/bhyve/bhyve.8
  usr.sbin/bhyve/bhyverun.c
  usr.sbin/bhyve/riscv/bhyverun_machdep.c
Owners: @bsdjhb, @grehan-freebsd

vmm: Add ability to destroy VMs on close
  lib/libvmmapi/vmmapi.c
  lib/libvmmapi/vmmapi.h
  sys/dev/vmm/vmm_dev.c
  sys/dev/vmm/vmm_dev.h
Owners: @bsdjhb, @grehan-freebsd

bhyve: Introduce monitor mode
  usr.sbin/bhyve/aarch64/bhyverun_machdep.c
  usr.sbin/bhyve/amd64/bhyverun_machdep.c
  usr.sbin/bhyve/bhyve.8
  usr.sbin/bhyve/bhyverun.c
  usr.sbin/bhyve/riscv/bhyverun_machdep.c
Owners: @bsdjhb, @grehan-freebsd

sdhci: Try to complete the last transaction if dumping
  sys/dev/sdhci/sdhci.c
Owners: none

sdhci: Try to complete the last transaction if dumping
  sys/dev/sdhci/sdhci.c
Owners: none

vi: do not fail external crossbuild when V=0 is set to silence the build
  usr.bin/vi/catalog/Makefile
Owners: none

bectl: log modifying functions to zpool history
  lib/libbe/be.c
  lib/libbe/be.h
  lib/libbe/libbe.3
  sbin/bectl/bectl.c
Owners: none

bectl: log modifying functions to zpool history
  lib/libbe/be.c
  lib/libbe/be.h
  lib/libbe/libbe.3
  sbin/bectl/bectl.c
Owners: none

examples/mdoc: Remove document description quotes
  share/examples/mdoc/example.1
  share/examples/mdoc/example.3
  share/examples/mdoc/example.4
  share/examples/mdoc/example.9
Owners: none

examples/mdoc: Remove document description quotes
  share/examples/mdoc/example.1
  share/examples/mdoc/example.3
  share/examples/mdoc/example.4
  share/examples/mdoc/example.9
Owners: none

example.3: Show updated library macro usage
  share/examples/mdoc/example.3
Owners: none

example.3: Show updated library macro usage
  share/examples/mdoc/example.3
Owners: none

.cirrus.yml: Add persistent worker
  .cirrus.yml
Owners: none

.cirrus.yml: Add persistent worker
  .cirrus.yml
Owners: none

Test persistent worker
  .cirrus.yml
Owners: none

Test cirrus persistent worker
  .cirrus.yml
Owners: none

limits: Unbreak after RLIMIT_VMM addition
  usr.bin/limits/limits.1
  usr.bin/limits/limits.c
Owners: none

limits: Unbreak after RLIMIT_VMM addition
  usr.bin/limits/limits.1
  usr.bin/limits/limits.c
Owners: none

Test persistent worker
  .cirrus.yml
Owners: none

.github: enable codeql,cppcheck analysis
  .github/workflows/static-analysis.yml
Owners: none

bpf: virtualize bpf_iflist
  sys/net/bpf.c
Owners: none

bpf: virtualize bpf_iflist
  sys/net/bpf.c
Owners: none

devfs: make destroy_dev() a release barrier for cdevpriv destructors runs
  sys/fs/devfs/devfs_int.h
  sys/fs/devfs/devfs_vnops.c
  sys/kern/kern_conf.c
Owners: none

vlan: plug a new panic associated with interface removal
  sys/net/if_vlan.c
Owners: none

vlan: plug a new panic associated with interface removal
  sys/net/if_vlan.c
Owners: none

LinuxKPI: bump __FreeBSD_version for vmap_pfn implementation
  sys/sys/param.h
Owners: none

LinuxKPI: bump __FreeBSD_version for vmap_pfn implementation
  sys/sys/param.h
Owners: none

LinuxKPI: Move vmap-related code from linux_compat.c to linux_page.c
  sys/compat/linuxkpi/common/src/linux_compat.c
  sys/compat/linuxkpi/common/src/linux_page.c
Owners: none

LinuxKPI: Implement vmap_pfn
  sys/compat/linuxkpi/common/include/linux/vmalloc.h
  sys/compat/linuxkpi/common/src/linux_page.c
Owners: none

LinuxKPI: Implement vmap_pfn
  sys/compat/linuxkpi/common/include/linux/vmalloc.h
  sys/compat/linuxkpi/common/src/linux_page.c
Owners: none

LinuxKPI: Move vmap-related code from linux_compat.c to linux_page.c
  sys/compat/linuxkpi/common/src/linux_compat.c
  sys/compat/linuxkpi/common/src/linux_page.c
Owners: none

ixgbe: Remove unused function ixgbe_is_media_cage_present
  sys/dev/ixgbe/ixgbe_e610.c
Owners: none

RAIDZ: Remove some excessive logging
  module/zfs/vdev_raidz.c
Owners: none

tests/ci: Fix building in Github
  tests/ci/Makefile
Owners: @ngie-eign
