Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

tests/ci: style: canonicalize, sort, and multiline kmods/pkgs
  tests/ci/tools/ci.conf
Owners: @ngie-eign

tests/ci: Add missing kmods and pkgs to unskip tests
  tests/ci/tools/ci.conf
Owners: @ngie-eign

tests/ci: Add missing kmods and pkgs to unskip tests
  tests/ci/tools/ci.conf
Owners: @ngie-eign

Backport AVX2 AES-GCM implementation from BoringSSL
  config/toolchain-simd.m4
  contrib/icp/gcm-simd/boringssl/LICENSE
  contrib/icp/gcm-simd/boringssl/README
  contrib/icp/gcm-simd/boringssl/aes-gcm-avx2-x86_64-linux.S
  include/os/linux/kernel/linux/simd_x86.h
  lib/libicp/Makefile.am
  lib/libspl/include/sys/simd.h
  module/Kbuild.in
  module/icp/algs/modes/gcm.c
  module/icp/algs/modes/modes.c
  module/icp/asm-x86_64/modes/THIRDPARTYLICENSE.boringssl
  module/icp/asm-x86_64/modes/THIRDPARTYLICENSE.boringssl.descrip
  module/icp/asm-x86_64/modes/aesni-gcm-avx2-vaes.S
  module/icp/include/modes/modes.h
  scripts/spdxcheck.pl
Owners: none

crypto_test: include AVX2 GCM implementation in tests
  tests/zfs-tests/cmd/crypto_test.c
Owners: @ngie-eign

simd_stat: expose availability of VAES and VPCLMULQDQ
  module/zcommon/simd_stat.c
Owners: none

certctl: Reimplement in C
  Makefile.inc1
  usr.sbin/certctl/Makefile
  usr.sbin/certctl/certctl.8
  usr.sbin/certctl/certctl.c
  usr.sbin/certctl/certctl.sh
  usr.sbin/certctl/tests/Makefile
  usr.sbin/certctl/tests/certctl.subr
  usr.sbin/certctl/tests/certctl_test.sh
Owners: none

certctl: Reimplement in C
  Makefile.inc1
  usr.sbin/certctl/Makefile
  usr.sbin/certctl/certctl.8
  usr.sbin/certctl/certctl.c
  usr.sbin/certctl/certctl.sh
  usr.sbin/certctl/tests/Makefile
  usr.sbin/certctl/tests/certctl.subr
  usr.sbin/certctl/tests/certctl_test.sh
Owners: none

certctl: Fix bootstrap build
  usr.sbin/certctl/Makefile
  usr.sbin/certctl/certctl.8
  usr.sbin/certctl/certctl.c
Owners: none

certctl: Fix bootstrap build
  usr.sbin/certctl/Makefile
  usr.sbin/certctl/certctl.8
  usr.sbin/certctl/certctl.c
Owners: none

Revert "certctl: Fix bootstrap build"
  usr.sbin/certctl/Makefile
  usr.sbin/certctl/certctl.8
  usr.sbin/certctl/certctl.c
Owners: none

Revert "certctl: Fix bootstrap build"
  usr.sbin/certctl/Makefile
  usr.sbin/certctl/certctl.8
  usr.sbin/certctl/certctl.c
Owners: none

certctl: Fix bootstrap build
  usr.sbin/certctl/Makefile
  usr.sbin/certctl/certctl.c
Owners: none

certctl: Fix bootstrap build
  usr.sbin/certctl/Makefile
  usr.sbin/certctl/certctl.c
Owners: none

AUTHORS/mailmap: update with new contributors
  .mailmap
  AUTHORS
Owners: none

etc: add missing mtree entry for certctl tests
  etc/mtree/BSD.tests.dist
Owners: none

etc: add missing mtree entry for certctl tests
  etc/mtree/BSD.tests.dist
Owners: none

mlx5: plug theoretical leak in vxlan rules
  sys/dev/mlx5/mlx5_en/mlx5_en_flow_table.c
Owners: none

mlx5: plug theoretical leak in vxlan rules
  sys/dev/mlx5/mlx5_en/mlx5_en_flow_table.c
Owners: none

fusefs: support FUSE_IOCTL
  sys/fs/fuse/fuse_internal.c
  sys/fs/fuse/fuse_ipc.c
  sys/fs/fuse/fuse_vnops.c
  tests/sys/fs/fusefs/Makefile
  tests/sys/fs/fusefs/ioctl.cc
  tests/sys/fs/fusefs/mockfs.cc
  tests/sys/fs/fusefs/mockfs.hh
Owners: @asomers

build: introduce the notion of a build epoch
  .clean_build_epoch
  Makefile.inc1
  tools/build/depend-cleanup.sh
Owners: @bsdimp

Revert "certctl: Fix bootstrap build"
  usr.sbin/certctl/Makefile
  usr.sbin/certctl/certctl.c
Owners: none

Revert "certctl: Reimplement in C"
  Makefile.inc1
  usr.sbin/certctl/Makefile
  usr.sbin/certctl/certctl.8
  usr.sbin/certctl/certctl.c
  usr.sbin/certctl/certctl.sh
  usr.sbin/certctl/tests/Makefile
  usr.sbin/certctl/tests/certctl.subr
  usr.sbin/certctl/tests/certctl_test.sh
Owners: none

Modifications to committers-src.dot: hselasky and karels
  share/misc/committers-src.dot
Owners: none

Modifications to committers-src.dot: hselasky and karels
  share/misc/committers-src.dot
Owners: none

Integrating openzfs features
  sys/contrib/openzfs/module/zfs/zfs_chksum.c
Owners: none

Reduced the delay in the test_controller(KBDC p)
  sys/dev/atkbdc/atkbdc.c
Owners: none

Added TS logs to trackdown the bottlenecks in the kernel space including vfs mount
  stand/kshim/bsd_kernel.c
  sys/contrib/openzfs/module/os/freebsd/spl/spl_vfs.c
  sys/contrib/openzfs/module/os/freebsd/zfs/zfs_vfsops.c
  sys/contrib/openzfs/module/zfs/zio.c
  sys/dev/acpica/acpi.c
  sys/dev/usb/controller/usb_controller.c
  sys/dev/usb/usb_hub.c
  sys/fs/devfs/devfs_vfsops.c
  sys/geom/geom_event.c
  sys/kern/kern_descrip.c
  sys/kern/kern_time.c
  sys/kern/subr_bus.c
  sys/kern/vfs_init.c
  sys/kern/vfs_mount.c
  sys/kern/vfs_mountroot.c
  sys/kern/vfs_subr.c
  sys/kern/vfs_vnops.c
  sys/vm/uma_core.c
Owners: @bsdimp

aio: Fix a race in sys_aio_cancel()
  sys/kern/vfs_aio.c
Owners: @asomers

rc: improve NAME_setup handling
  libexec/rc/rc.subr
  share/man/man8/rc.subr.8
Owners: none

libutil: Add missing MLINKs
  ObsoleteFiles.inc
  lib/libutil/Makefile
  lib/libutil/login.conf.5
  lib/libutil/login_auth.3
  lib/libutil/login_cap.3
  lib/libutil/pw_util.3
  lib/libutil/uucplock.3
Owners: none

libutil: Document pidfile_signal()
  lib/libutil/pidfile.3
Owners: none

indent: Fix buffer overflow
  usr.bin/indent/indent.c
  usr.bin/indent/tests/functional_test.sh
Owners: none

bsd.man.mk: Add checkmanlinks target
  share/mk/bsd.man.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

kern.post.mk: Support flavors in PORTS_MODULES
  share/man/man7/build.7
  sys/conf/kern.post.mk
Owners: none

indent: Simplify test script
  usr.bin/indent/tests/functional_test.sh
Owners: none

hastd: Fix nv data size check
  sbin/hastd/nv.c
Owners: none

libutil: Document pidfile_signal()
  lib/libutil/pidfile.3
Owners: none

bsd.man.mk: Add checkmanlinks target
  share/mk/bsd.man.mk
Owners: @bsdimp, @bapt, @bdrewery, @emaste

hastd: Fix nv data size check
  sbin/hastd/nv.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
