Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

flua: move lposix back into flua for now
  libexec/flua/Makefile
  libexec/flua/linit_flua.c
Owners: none

nuageinit: require lfs where it's needed
  libexec/nuageinit/nuageinit
Owners: @bapt

nuageinit: require lfs where it's needed
  libexec/nuageinit/nuageinit
Owners: @bapt

flua: unbreak the build
  libexec/flua/lposix/Makefile
  libexec/flua/lposix/Makefile.inc
  libexec/flua/modules/lposix.c
  libexec/flua/modules/lposix.h
Owners: none

flua: unbreak the build
  libexec/flua/lposix/Makefile
  libexec/flua/lposix/Makefile.inc
  libexec/flua/modules/lposix.c
  libexec/flua/modules/lposix.h
Owners: none

if_vmx: fix panic during kldload
  sys/dev/vmware/vmxnet3/if_vmx.c
Owners: none

if_vmx: fix panic during kldload
  sys/dev/vmware/vmxnet3/if_vmx.c
Owners: none

apei_detach: fix swi_remove parameter
  sys/dev/acpica/acpi_apei.c
Owners: none

apei_detach: fix swi_remove parameter
  sys/dev/acpica/acpi_apei.c
Owners: none

Cirrus-CI: Bump to FreeBSD 13.5 image
  .cirrus.yml
Owners: none

Cirrus-CI: Bump to FreeBSD 14.3 image
  .cirrus.yml
Owners: none

Cirrus-CI: Bump to FreeBSD 14.3 image
  .cirrus.yml
Owners: none

tests: gif(4): Add tests to cover all IPv[46] in IPv[46] setups
  tests/sys/net/if_gif.sh
Owners: @ngie-eign

EtherIP: Fix passing the address family from if_bridge(4) to gif(4)
  sys/net/if_bridge.c
  sys/net/if_gif.c
Owners: none

tests: gif(4): Add regression tests for setup with EtherIP
  tests/sys/net/if_gif.sh
Owners: @ngie-eign

ipfw: Teach ipfw that EtherIP is an upper layer protocol
  sys/netpfil/ipfw/ip_fw2.c
Owners: none

gif.4: Mention that gif(4) can tunnel Ethernet traffic
  share/man/man4/gif.4
Owners: none

init_main: Fix logging the subsystem of pre-loaded kernel modules
  sys/kern/init_main.c
Owners: none

qlnxe: Fix advertising the IFCAP_LINKSTATE capability
  sys/dev/qlnx/qlnxe/qlnx_os.c
Owners: none

qlnxe: Unconditionally enable extended media types
  sys/dev/qlnx/qlnxe/qlnx_def.h
  sys/dev/qlnx/qlnxe/qlnx_os.c
Owners: none

qlnxe: Support SIOCGIFXMEDIA ioctl
  sys/dev/qlnx/qlnxe/qlnx_os.c
Owners: none

qlnxe: Report speeds in decimal format
  sys/dev/qlnx/qlnxe/ecore_dev.c
  sys/dev/qlnx/qlnxe/ecore_mcp.c
Owners: none

tslog: Move sysinit_tslog_shim() into kern_tslog.c
  sys/kern/kern_tslog.c
  sys/sys/kernel.h
Owners: none

tcp: Fix expiring and purging hostcache entries of vnet jails
  sys/netinet/tcp_hostcache.c
Owners: none

ifconfig: Garbage collect unused parameter swabips
  sbin/ifconfig/ifconfig.c
Owners: none

tcp: Add CTLFLAG_VNET flag to some sysctls
  sys/netinet/tcp_hostcache.c
Owners: none

ifconfig: Display the IFCAP_HWSTATS capability
  sbin/ifconfig/ifconfig.c
Owners: none

ifconfig: Fix the display of the IFCAP_MEXTPG capability
  sbin/ifconfig/ifconfig.c
Owners: none

witness: Record the first acquired file and line for recursable locks
  sys/kern/subr_witness.c
Owners: none

witness: White space cleanup and some style(9) tweeks
  sys/kern/subr_witness.c
Owners: none

release: Don't publish pkgbase.repo for embedded
  release/Makefile.mirrors
Owners: none

release: Don't publish pkgbase.repo for embedded
  release/Makefile.mirrors
Owners: none

Makefile.inc1: Fix package-pkg with CROSS_TOOLCHAIN
  release/scripts/make-pkg-package.sh
Owners: none

Makefile.inc1: Fix package-pkg with CROSS_TOOLCHAIN
  release/scripts/make-pkg-package.sh
Owners: none

vnet.9: Remove references to non-existant macros and update how to virtualize sysctls
  share/man/man9/VNET.9
Owners: none

vnet.9: Remove references to non-existant macros and update how to virtualize sysctls
  share/man/man9/vnet.9
Owners: none

pci: add quirk to disable Function-Level Reset (FLR)
  sys/dev/pci/pci.c
Owners: @bsdimp, @bsdjhb

pci: add quirk to disable Function-Level Reset (FLR)
  sys/dev/pci/pci.c
Owners: @bsdimp, @bsdjhb

fts: Document thread (un)safety
  lib/libc/gen/fts.3
Owners: none

fts: Document thread (un)safety
  lib/libc/gen/fts.3
Owners: none
