Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

getgrouplist(3): Remove superfluous headers, bogus comment and whitespace
  lib/libc/gen/getgrouplist.c
Owners: none

getgrouplist(3): Remove superfluous headers, bogus comment and whitespace
  lib/libc/gen/getgrouplist.c
Owners: none

krb5: Enable PRINC_LOOK_AHEAD in ksu
  krb5/usr.bin/ksu/Makefile
Owners: none

krb5: Enable PRINC_LOOK_AHEAD in ksu
  krb5/usr.bin/ksu/Makefile
Owners: none

bsdinstall: Drop outdated comments about ZFS dataset compression
  usr.sbin/bsdinstall/bsdinstall.8
  usr.sbin/bsdinstall/scripts/zfsboot
Owners: none

pkgbase: fix alpha and beta versioning
  Makefile.inc1
Owners: none

pkgbase: fix alpha and beta versioning
  Makefile.inc1
Owners: none

bsdinstall: Drop outdated comments about ZFS dataset compression
  usr.sbin/bsdinstall/bsdinstall.8
  usr.sbin/bsdinstall/scripts/zfsboot
Owners: none

tools: Drop cryptotest
  tools/tools/crypto/Makefile
  tools/tools/crypto/cryptorun.sh
  tools/tools/crypto/cryptotest.c
Owners: none

tools: Drop cryptotest
  tools/tools/crypto/Makefile
  tools/tools/crypto/cryptorun.sh
  tools/tools/crypto/cryptotest.c
Owners: none

pkgbase: fix alpha and beta versioning
  Makefile.inc1
Owners: none

gunion: Also destroy the rw_lock
  sys/geom/union/g_union.c
Owners: none

gunion: Also destroy the rw_lock
  sys/geom/union/g_union.c
Owners: none

ng_device: replace dependency on vnode.h with fcntl.h
  sys/netgraph/ng_device.c
Owners: none

ng_device: replace dependency on vnode.h with fcntl.h
  sys/netgraph/ng_device.c
Owners: none

ng_device: enable setting the device to non-blocking mode
  sys/netgraph/ng_device.c
Owners: none

ng_device: enable setting the device to non-blocking mode
  sys/netgraph/ng_device.c
Owners: none

ng_device.c: improve compliance with style(9)
  sys/netgraph/ng_device.c
Owners: none

ng_device.c: improve compliance with style(9)
  sys/netgraph/ng_device.c
Owners: none

ZFS allow send:encrypted
  cmd/zfs/zfs_main.c
  include/sys/dsl_deleg.h
  include/zfs_deleg.h
  man/man8/zfs-allow.8
  module/zcommon/zfs_deleg.c
  module/zfs/zfs_ioctl.c
Owners: none

Add send:encrypted test
  tests/runfiles/common.run
  tests/zfs-tests/tests/Makefile.am
  tests/zfs-tests/tests/functional/cli_root/zfs_send_delegation/cleanup.ksh
  tests/zfs-tests/tests/functional/cli_root/zfs_send_delegation/setup.ksh
  tests/zfs-tests/tests/functional/cli_root/zfs_send_delegation/zfs_send_test.ksh
  tests/zfs-tests/tests/functional/cli_user/zfs_send_delegation_user/cleanup.ksh
  tests/zfs-tests/tests/functional/cli_user/zfs_send_delegation_user/setup.ksh
  tests/zfs-tests/tests/functional/cli_user/zfs_send_delegation_user/zfs_send_usertest.ksh
Owners: @ngie-eign

Fix ddle memleak in ddt_log_load
  module/zfs/ddt_log.c
Owners: none

Make new zhack test a little more reliable
  tests/zfs-tests/tests/functional/cli_root/zhack/zhack_metaslab_leak.ksh
Owners: @ngie-eign

e1000: fix igb VF stats
  sys/dev/e1000/if_em.c
  sys/dev/e1000/if_em.h
Owners: none

e1000: fix igb VF stats
  sys/dev/e1000/if_em.c
  sys/dev/e1000/if_em.h
Owners: none

Supercharge the most beautiful console font ever with +4300 glyphs.
  share/vt/fonts/gallant.hex
Owners: none

UPDATING: mention the src.conf change
  UPDATING
Owners: none

UPDATING: mention the src.conf change
  UPDATING
Owners: none

FreeBSD: Satisfy ASSERT_VOP_IN_SEQC()
  module/os/freebsd/zfs/zfs_acl.c
  module/os/freebsd/zfs/zfs_vnops_os.c
  module/os/freebsd/zfs/zfs_znode_os.c
Owners: none

Fix type in dbrrd_closest()
  module/zfs/zfs_crrd.c
Owners: none

ZTS: refreserv/refreserv_raidz improvements
  tests/zfs-tests/tests/functional/refreserv/refreserv_raidz.ksh
Owners: @ngie-eign

jaildesc: add kevent support
  lib/libsys/kqueue.2
  sys/kern/kern_event.c
  sys/kern/kern_jail.c
  sys/kern/kern_jaildesc.c
  sys/sys/event.h
  sys/sys/jaildesc.h
Owners: none

jaildesc: add kevent support
  lib/libsys/kqueue.2
  sys/kern/kern_event.c
  sys/kern/kern_jail.c
  sys/kern/kern_jaildesc.c
  sys/sys/event.h
  sys/sys/jaildesc.h
Owners: none

packages: Add correct license for zoneinfo
  release/packages/ucl/zoneinfo-all.ucl
Owners: none

packages: Use LIB_PACKAGE for zfs and ufs packages
  cddl/lib/libavl/Makefile
  cddl/lib/libicp/Makefile
  cddl/lib/libnvpair/Makefile
  cddl/lib/libspl/Makefile
  cddl/lib/libtpool/Makefile
  cddl/lib/libumem/Makefile
  cddl/lib/libuutil/Makefile
  cddl/lib/libzdb/Makefile
  cddl/lib/libzfs/Makefile
  cddl/lib/libzfs_core/Makefile
  cddl/lib/libzfsbootenv/Makefile
  cddl/lib/libzpool/Makefile
  cddl/lib/libzutil/Makefile
  lib/libbe/Makefile
  lib/libufs/Makefile
  release/packages/ucl/libufs-all.ucl
  release/packages/ucl/libzfs-all.ucl
Owners: none

packages: Use LIB_PACKAGE for zfs and ufs packages
  cddl/lib/libavl/Makefile
  cddl/lib/libicp/Makefile
  cddl/lib/libnvpair/Makefile
  cddl/lib/libspl/Makefile
  cddl/lib/libtpool/Makefile
  cddl/lib/libumem/Makefile
  cddl/lib/libuutil/Makefile
  cddl/lib/libzdb/Makefile
  cddl/lib/libzfs/Makefile
  cddl/lib/libzfs_core/Makefile
  cddl/lib/libzfsbootenv/Makefile
  cddl/lib/libzpool/Makefile
  cddl/lib/libzutil/Makefile
  lib/libbe/Makefile
  lib/libufs/Makefile
  release/packages/ucl/libufs-all.ucl
  release/packages/ucl/libzfs-all.ucl
Owners: none

packages: Add correct license for zoneinfo
  release/packages/ucl/zoneinfo-all.ucl
Owners: none

bridge: Do outbound VLAN filtering in bridge_enqueue
  sys/net/if_bridge.c
Owners: none

bridge: Do outbound VLAN filtering in bridge_enqueue
  sys/net/if_bridge.c
Owners: none

efi: create libacpi
  stand/efi/Makefile
  stand/efi/contrib/dev/acpica/os_specific/service_layers/osunixxf.c
  stand/efi/libacpi/Makefile
  stand/efi/libacpi/acpi/amd64/Osd/OsdMemory.c
  stand/efi/libacpi/acpi/include/init_acpi.h
  stand/efi/libacpi/acpi/init_acpi.c
  stand/efi/libacpi/acpi_detect.c
  stand/efi/libacpi/include/acpi_detect.h
  stand/efi/loader/Makefile
  stand/efi/loader/main.c
  sys/contrib/dev/acpica/components/events/evxface.c
  sys/contrib/dev/acpica/components/hardware/hwxface.c
  sys/contrib/dev/acpica/components/namespace/nsxfeval.c
  sys/contrib/dev/acpica/components/utilities/utdelete.c
  sys/contrib/dev/acpica/components/utilities/utinit.c
  sys/contrib/dev/acpica/components/utilities/utxfinit.c
  sys/contrib/dev/acpica/include/accommon.h
Owners: @bsdimp
