Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

Reapply "Merge commit e24f90190c77 from llvm git (by Brad Smith):"
  contrib/llvm-project/clang/lib/Driver/ToolChains/FreeBSD.h
  lib/clang/freebsd_cc_version.h
  lib/libgcc_s/Makefile
Owners: @DimitryAndric

Reapply "Merge commit e24f90190c77 from llvm git (by Brad Smith):"
  contrib/llvm-project/clang/lib/Driver/ToolChains/FreeBSD.h
  lib/clang/freebsd_cc_version.h
  lib/libgcc_s/Makefile
Owners: @DimitryAndric

pathconf.2: Document the new _PC_CASE_INSENSITIVE name
  lib/libsys/pathconf.2
Owners: none

nfs: Add support for the new _PC_CASE_INSENSITIVE name
  sys/fs/nfs/nfs_commonsubs.c
  sys/fs/nfs/nfs_var.h
  sys/fs/nfsclient/nfs_clrpcops.c
  sys/fs/nfsclient/nfs_clstate.c
  sys/fs/nfsclient/nfs_clvnops.c
  sys/fs/nfsserver/nfs_nfsdport.c
  sys/fs/nfsserver/nfs_nfsdserv.c
Owners: none

param.h: Bump __FreeBSD_version to 1500502
  sys/sys/param.h
Owners: none

UPDATING: Add an entry for f27afc476551
  UPDATING
Owners: none

freebsd-update: Add some diagnositic information for a failure case
  usr.sbin/freebsd-update/freebsd-update.sh
Owners: none

pam_krb5: Restore allow_kdc_spoof option
  contrib/pam-krb5/docs/pam_krb5.pod
  contrib/pam-krb5/module/auth.c
  contrib/pam-krb5/module/internal.h
  contrib/pam-krb5/module/options.c
Owners: none

pam_krb5: Restore allow_kdc_spoof option
  contrib/pam-krb5/docs/pam_krb5.pod
  contrib/pam-krb5/module/auth.c
  contrib/pam-krb5/module/internal.h
  contrib/pam-krb5/module/options.c
Owners: none

pam_krb5: Fix manual page in MIT case
  ObsoleteFiles.inc
  lib/libpam/modules/pam_krb5/Makefile
  lib/libpam/modules/pam_krb5/pam-krb5.8
Owners: @dag-erling

pam_krb5: Fix manual page in MIT case
  ObsoleteFiles.inc
  lib/libpam/modules/pam_krb5/Makefile
  lib/libpam/modules/pam_krb5/pam-krb5.8
Owners: @dag-erling

pam_krb5: Restore allow_kdc_spoof option
  contrib/pam-krb5/docs/pam_krb5.pod
  contrib/pam-krb5/module/auth.c
  contrib/pam-krb5/module/internal.h
  contrib/pam-krb5/module/options.c
Owners: none

ObsoleteFiles: Fix repeated typo in recent entries
  ObsoleteFiles.inc
Owners: none

ObsoleteFiles: Fix repeated typo in recent entries
  ObsoleteFiles.inc
Owners: none

pam_krb5: Fix manual page in MIT case
  ObsoleteFiles.inc
  lib/libpam/modules/pam_krb5/Makefile
  lib/libpam/modules/pam_krb5/pam-krb5.8
Owners: @dag-erling

ObsoleteFiles: Fix typo in recent entry
  ObsoleteFiles.inc
Owners: none

ntpd: Fix segfault when same IP on multiple interfaces
  contrib/ntp/ntpd/ntp_io.c
Owners: none

ntpd: Fix segfault when same IP on multiple interfaces
  contrib/ntp/ntpd/ntp_io.c
Owners: none

ntpd: Fix segfault when same IP on multiple interfaces
  contrib/ntp/ntpd/ntp_io.c
Owners: none

ypldap(8): Fix a typo in a debug message
  usr.sbin/ypldap/ldapclient.c
Owners: none

mpool(3): Fix a typo in statistical message
  lib/libc/db/mpool/mpool.c
Owners: none

lpr(1): Fix a typo in a debug message
  usr.sbin/lpr/lpr/lpr.1
Owners: @gbergling

isp.4: Fix a typo in the manual page
  share/man/man4/isp.4
Owners: none

snd_dummy.4: Fix a typo in the manual page
  share/man/man4/snd_dummy.4
Owners: none

ypldap(8): Fix a typo in a debug message
  usr.sbin/ypldap/ldapclient.c
Owners: none

mpool(3): Fix a typo in statistical message
  lib/libc/db/mpool/mpool.c
Owners: none

lpr(1): Fix a typo in a debug message
  usr.sbin/lpr/lpr/lpr.1
Owners: @gbergling

isp.4: Fix a typo in the manual page
  share/man/man4/isp.4
Owners: none

release: Ship DVD with only emacs@nox flavour
  release/scripts/pkg-stage.sh
Owners: none

release: Ship DVD with only emacs@nox flavour
  release/scripts/pkg-stage.sh
Owners: none

pam_krb5: Restore allow_kdc_spoof option
  contrib/pam-krb5/docs/pam_krb5.pod
  contrib/pam-krb5/module/auth.c
  contrib/pam-krb5/module/internal.h
  contrib/pam-krb5/module/options.c
Owners: none

pam_krb5: Fix manual page in MIT case
  ObsoleteFiles.inc
  lib/libpam/modules/pam_krb5/Makefile
  lib/libpam/modules/pam_krb5/pam-krb5.8
Owners: @dag-erling

mount.8: document nosymfollow option
  sbin/mount/mount.8
Owners: none

mount.8: document nosymfollow option
  sbin/mount/mount.8
Owners: none

arm: Add missing argument in mtx_init() calls
  sys/arm/freescale/imx/imx6_ssi.c
  sys/arm/freescale/vybrid/vf_sai.c
Owners: none

arm: Add missing argument in mtx_init() calls
  sys/arm/freescale/imx/imx6_ssi.c
  sys/arm/freescale/vybrid/vf_sai.c
Owners: none

snd_hda: Patch Lenovo V15
  sys/dev/sound/pci/hda/hdaa_patches.c
  sys/dev/sound/pci/hda/hdac.h
Owners: none

sound: Fix revents in midi_poll()
  sys/dev/sound/midi/midi.c
Owners: none

sound: Fix revents in midi_poll()
  sys/dev/sound/midi/midi.c
Owners: none

rtld: fix powerpc build
  libexec/rtld-elf/powerpc/reloc.c
  libexec/rtld-elf/powerpc64/reloc.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
