Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

LinuxKPI: skbuff: add a misplaced socket operation to skbuff.h for now
  sys/compat/linuxkpi/common/include/linux/skbuff.h
Owners: none

LinuxKPI: 802.11: additions for Linux v6.17 based wireless drivers
  sys/compat/linuxkpi/common/include/linux/ieee80211.h
  sys/compat/linuxkpi/common/include/linux/nl80211.h
  sys/compat/linuxkpi/common/include/net/cfg80211.h
  sys/compat/linuxkpi/common/include/net/mac80211.h
  sys/compat/linuxkpi/common/src/linux_80211.c
  sys/compat/linuxkpi/common/src/linux_80211_macops.c
Owners: none

LinuxKPI: 802.11: additions for Linux v6.17 based wireless drivers
  sys/compat/linuxkpi/common/include/linux/ieee80211.h
  sys/compat/linuxkpi/common/include/linux/nl80211.h
  sys/compat/linuxkpi/common/include/net/cfg80211.h
  sys/compat/linuxkpi/common/include/net/mac80211.h
  sys/compat/linuxkpi/common/src/linux_80211.c
  sys/compat/linuxkpi/common/src/linux_80211_macops.c
Owners: none

UPDATING: bump __FreeBSD_version for LinuxKPI changes
  UPDATING
  sys/sys/param.h
Owners: none

UPDATING: bump __FreeBSD_version for LinuxKPI changes
  UPDATING
  sys/sys/param.h
Owners: none

tcp: fix typo in comment
  sys/netinet/tcp_syncache.c
Owners: none

tcp: fix typo in comment
  sys/netinet/tcp_syncache.c
Owners: none

exec: Check for errors when mapping the shared object
  sys/kern/kern_exec.c
Owners: none

ipfw: Check for errors from sooptcopyin() and sooptcopyout()
  sys/netpfil/ipfw/ip_fw_nat.c
Owners: none

ipfw: Check for errors from sooptcopyin() and sooptcopyout()
  sys/netpfil/ipfw/ip_fw_nat.c
Owners: none

ata: Add error bits
  sys/sys/ata.h
Owners: none

ata: Add error bits
  sys/sys/ata.h
Owners: none

rc: Chase 052211e08c0e and bfb202c4554a, remove ifconfig down/up
  libexec/rc/rc.d/hostapd
Owners: none

rc: Chase 45e82bf3cdd6 and f56400237384, remove ifconfig down/up
  libexec/rc/rc.d/hostapd
Owners: none

vmm: Improve register get/set handling a bit
  sys/amd64/vmm/vmm.c
  sys/arm64/vmm/vmm.c
  sys/dev/vmm/vmm_dev.c
  sys/riscv/vmm/vmm.c
Owners: @bsdjhb, @grehan-freebsd

vmm: Improve register get/set handling a bit
  sys/amd64/vmm/vmm.c
  sys/arm64/vmm/vmm.c
  sys/dev/vmm/vmm_dev.c
  sys/riscv/vmm/vmm.c
Owners: @bsdjhb, @grehan-freebsd

vmm: Add PRIV_DRIVER checks for passthru ioctls
  sys/amd64/vmm/vmm_dev_machdep.c
  sys/dev/vmm/vmm_dev.c
  sys/dev/vmm/vmm_dev.h
Owners: @bsdjhb, @grehan-freebsd

vmm: Add PRIV_DRIVER checks for passthru ioctls
  sys/amd64/vmm/vmm_dev_machdep.c
  sys/dev/vmm/vmm_dev.c
  sys/dev/vmm/vmm_dev.h
Owners: @bsdjhb, @grehan-freebsd

vmm: Move local variables into ioctl handlers
  sys/amd64/vmm/vmm_dev_machdep.c
  sys/arm64/vmm/vmm_dev_machdep.c
  sys/riscv/vmm/vmm_dev_machdep.c
Owners: @bsdjhb, @grehan-freebsd

vmm: Move local variables into ioctl handlers
  sys/amd64/vmm/vmm_dev_machdep.c
  sys/arm64/vmm/vmm_dev_machdep.c
  sys/riscv/vmm/vmm_dev_machdep.c
Owners: @bsdjhb, @grehan-freebsd

man9: Provide SYSCTL_BOOL & SYSCTL_ADD_BOOL man pages
  share/man/man9/Makefile
Owners: none

man9: Provide SYSCTL_BOOL & SYSCTL_ADD_BOOL man pages
  share/man/man9/Makefile
Owners: none

tests/sys/netpfil/pf/sctp: make use of required.kmods
  tests/sys/netpfil/pf/sctp.sh
Owners: @ngie-eign

tests/sys/netpfil/pf/sctp: make use of required.kmods
  tests/sys/netpfil/pf/sctp.sh
Owners: @ngie-eign

if_vxlan: fix byteorder of source port
  sys/net/if_vxlan.c
Owners: none

if_vxlan: fix byteorder of source port
  sys/net/if_vxlan.c
Owners: none

ZTS: fail test run if test runner crashes unexpectedly
  scripts/zfs-tests.sh
  tests/test-runner/bin/test-runner.py.in
Owners: @ngie-eign

zpool: fix conflict with -v and -o options
  cmd/zpool/zpool_main.c
Owners: none

bsd-family-tree: add OpenBSD 7.8 release
  share/misc/bsd-family-tree
Owners: none

bsd-family-tree: add OpenBSD 7.8 release
  share/misc/bsd-family-tree
Owners: none

vmimage.subr: Fix when/where we fix up METALOG
  release/tools/vmimage.subr
Owners: none

random: add RDSEED as a provably unique entropy source
  sys/conf/files.x86
  sys/dev/random/ivy.c
  sys/dev/random/random_harvestq.c
  sys/dev/random/rdseed.c
  sys/modules/Makefile
  sys/modules/rdseed_rng/Makefile
  sys/sys/random.h
Owners: none

random: add RDSEED as a provably unique entropy source
  sys/conf/files.x86
  sys/dev/random/ivy.c
  sys/dev/random/random_harvestq.c
  sys/dev/random/rdseed.c
  sys/modules/Makefile
  sys/modules/rdseed_rng/Makefile
  sys/sys/random.h
Owners: none

release: split up Oracle Cloudware tools
  release/Makefile.oracle
Owners: none

release: split up Oracle Cloudware tools
  release/Makefile.oracle
Owners: none

sndctl(8): Modify vchans only on supported directions
  usr.sbin/sndctl/sndctl.c
Owners: none

sndctl(8): Modify vchans only on supported directions
  usr.sbin/sndctl/sndctl.c
Owners: none

snd_dummy: Create device alias
  share/man/man4/snd_dummy.4
  sys/dev/sound/dummy.c
Owners: none

snd_dummy: Create device alias
  share/man/man4/snd_dummy.4
  sys/dev/sound/dummy.c
Owners: none

snd_dummy.4: Use sound(4) instead of PCM
  share/man/man4/snd_dummy.4
Owners: none
