Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

ipfilter/ippool: Dump a copy of ippool hash data in "new" format
  sbin/ipf/libipf/printhash_live.c
  sbin/ipf/libipf/printhashdata.c
Owners: @cschuber

ipfilter/ippool: Dump a copy of ippool dstlist data in "new" format
  sbin/ipf/libipf/printdstl_live.c
  sbin/ipf/libipf/printdstlist.c
  sbin/ipf/libipf/printdstlistdata.c
Owners: @cschuber

ipfilter ippool: Prefix deleted entries with "#"
  sbin/ipf/libipf/printhashdata.c
Owners: @cschuber

ipfilter ippool: Flag deleted entries with "#"
  sbin/ipf/libipf/printpooldata.c
Owners: @cschuber

ipfilter ippool: Flag deleted entries with "#"
  sbin/ipf/libipf/printpooldata.c
Owners: @cschuber

ipfilter/ippool: Dump a copy of ippool dstlist data in "new" format
  sbin/ipf/libipf/printdstl_live.c
  sbin/ipf/libipf/printdstlist.c
  sbin/ipf/libipf/printdstlistdata.c
Owners: @cschuber

ipfilter ippool: Prefix deleted entries with "#"
  sbin/ipf/libipf/printhashdata.c
Owners: @cschuber

pf: return PF_PASS/PF_DROP from pf_setup_pdesc()
  sys/netpfil/pf/pf.c
Owners: @glebius

pf: return PF_PASS/PF_DROP from pf_setup_pdesc()
  sys/netpfil/pf/pf.c
Owners: @glebius

pf: fix possibe SCTP panic
  sys/netpfil/pf/pf.c
Owners: @glebius

pf: fix possibe SCTP panic
  sys/netpfil/pf/pf.c
Owners: @glebius

tcp: close two minor races with debug messages
  sys/netinet/tcp_syncache.c
Owners: none

tcp: close two minor races with debug messages
  sys/netinet/tcp_syncache.c
Owners: none

pf: fix 'natpass'
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/nat.sh
  tests/sys/netpfil/pf/rdr.sh
Owners: @glebius, @ngie-eign

pf: fix 'natpass'
  sys/netpfil/pf/pf.c
  tests/sys/netpfil/pf/nat.sh
  tests/sys/netpfil/pf/rdr.sh
Owners: @glebius, @ngie-eign

calendar.freebsd: Update calendar for tiga@
  usr.bin/calendar/calendars/calendar.freebsd
Owners: none

calendar.freebsd: Update calendar for tiga@
  usr.bin/calendar/calendars/calendar.freebsd
Owners: none

cxgbe tom: Support sending "raw" WR mbufs on plain TCP and TLS sockets
  sys/dev/cxgbe/tom/t4_cpl_io.c
  sys/dev/cxgbe/tom/t4_tls.c
  sys/dev/cxgbe/tom/t4_tom.h
Owners: none

cxgbe tom: Export alloc_raw_mbuf for use in other TOE drivers
  sys/dev/cxgbe/tom/t4_ddp.c
  sys/dev/cxgbe/tom/t4_tom.h
Owners: none

cxgbe(4): Use hw_port and tx_chan correctly all over the driver
  sys/dev/cxgbe/adapter.h
  sys/dev/cxgbe/common/t4_hw.c
  sys/dev/cxgbe/t4_main.c
  sys/dev/cxgbe/t4_netmap.c
  sys/dev/cxgbe/t4_sched.c
  sys/dev/cxgbe/t4_sge.c
  sys/dev/cxgbe/tom/t4_cpl_io.c
  sys/dev/cxgbe/tom/t4_listen.c
Owners: none

cxgbe(4): Rename lport to hw_port.
  sys/dev/cxgbe/adapter.h
  sys/dev/cxgbe/common/t4_hw.c
  sys/dev/cxgbe/crypto/t6_kern_tls.c
  sys/dev/cxgbe/t4_l2t.c
  sys/dev/cxgbe/t4_l2t.h
  sys/dev/cxgbe/tom/t4_tom.c
  sys/dev/cxgbe/tom/t4_tom_l2t.c
Owners: none

cxgbe tom: Halve the size of offload transmit software descriptors
  sys/dev/cxgbe/cxgbei/icl_cxgbei.c
  sys/dev/cxgbe/iw_cxgbe/qp.c
  sys/dev/cxgbe/tom/t4_cpl_io.c
  sys/dev/cxgbe/tom/t4_tls.c
  sys/dev/cxgbe/tom/t4_tom.c
  sys/dev/cxgbe/tom/t4_tom.h
Owners: none

cxgbe tom: Send auxiliary TLS work requests as raw WR mbufs
  sys/dev/cxgbe/tom/t4_cpl_io.c
  sys/dev/cxgbe/tom/t4_tls.c
  sys/dev/cxgbe/tom/t4_tom.h
Owners: none

cxgbe(4): Update meminfo for T7
  sys/dev/cxgbe/t4_main.c
Owners: none

cxgbe(4): hw/fw headers and shared code for the Terminator 7 ASIC
  sys/conf/files
  sys/dev/cxgbe/common/common.h
  sys/dev/cxgbe/common/t4_hw.c
  sys/dev/cxgbe/common/t4_hw.h
  sys/dev/cxgbe/common/t4_msg.h
  sys/dev/cxgbe/common/t4_regs.h
  sys/dev/cxgbe/common/t4_regs_values.h
  sys/dev/cxgbe/common/t4_tcb.h
  sys/dev/cxgbe/cudbg/cudbg_flash_utils.c
  sys/dev/cxgbe/cudbg/cudbg_lib.c
  sys/dev/cxgbe/cudbg/cudbg_lib_common.h
  sys/dev/cxgbe/firmware/t4fw_interface.h
  sys/dev/cxgbe/firmware/t7fw_cfg.txt
  sys/dev/cxgbe/firmware/t7fw_cfg_fpga.txt
  sys/dev/cxgbe/firmware/t7fw_cfg_uwire.txt
  sys/dev/cxgbe/t4_main.c
  sys/dev/cxgbe/t4_sge.c
  sys/dev/cxgbe/tom/t4_tls.c
  sys/modules/cxgbe/Makefile
  sys/modules/cxgbe/t7_firmware/Makefile
Owners: none

cxgbe(4): Claim T7 based devices
  share/man/man4/cxgbe.4
  sys/dev/cxgbe/t4_iov.c
  sys/dev/cxgbe/t4_main.c
  sys/dev/cxgbe/t4_vf.c
Owners: none

cxgbe(4): Add T7 support to routines that deal with memory windows
  sys/dev/cxgbe/t4_main.c
Owners: none

cxgbe(4): Recognize the new capabilities reported by T7 firmwares
  sys/dev/cxgbe/adapter.h
  sys/dev/cxgbe/t4_main.c
Owners: none

cxgbe(4): Include T7 PMRX cache stats in the sysctl that shows PM stats
  sys/dev/cxgbe/t4_main.c
Owners: none

cxgbe(4): Support for displaying T7 MPS TCAM entries
  sys/dev/cxgbe/t4_main.c
Owners: none

cxgbe(4): Congestion manager context settings for T7
  sys/dev/cxgbe/t4_netmap.c
  sys/dev/cxgbe/t4_sge.c
Owners: none

cxgbe(4): T7 LB mode support
  sys/dev/cxgbe/cudbg/cudbg_lib.c
  sys/dev/cxgbe/t4_main.c
Owners: none

cxgbe(4): T7's SGE context has 4 more bytes
  sys/dev/cxgbe/t4_ioctl.h
  sys/dev/cxgbe/t4_main.c
Owners: none

cxgbe(4): Updates for T7 CIM multicore operation
  sys/dev/cxgbe/adapter.h
  sys/dev/cxgbe/t4_main.c
  sys/dev/cxgbe/t4_netmap.c
  sys/dev/cxgbe/t4_sge.c
  sys/dev/cxgbe/tom/t4_connect.c
  sys/dev/cxgbe/tom/t4_listen.c
  sys/dev/cxgbe/tom/t4_tom.c
  sys/dev/cxgbe/tom/t4_tom.h
Owners: none

cxgbe(4): Support for T7 tracing filters
  sys/dev/cxgbe/t4_main.c
  sys/dev/cxgbe/t4_tracer.c
Owners: none

cxgbe(4): T7 ULPTX supports larger data length with MEMIO commands
  sys/dev/cxgbe/crypto/t4_keyctx.c
  sys/dev/cxgbe/iw_cxgbe/mem.c
  sys/dev/cxgbe/tom/t4_ddp.c
Owners: none

cxgbe(4): Add support for port types SFP56 and QSFP56 and speed 200Gbps
  sys/dev/cxgbe/t4_main.c
Owners: none

cxgbe(4): T7 TCB CPLs have queue and channel in different location
  sys/dev/cxgbe/t4_filter.c
  sys/dev/cxgbe/tom/t4_cpl_io.c
  sys/dev/cxgbe/tom/t4_tom.c
Owners: none

cxgbe(4): Update the filtering code for T7
  sys/dev/cxgbe/t4_filter.c
  sys/dev/cxgbe/t4_ioctl.h
  sys/dev/cxgbe/tom/t4_connect.c
  sys/dev/cxgbe/tom/t4_tom.c
Owners: none

ccr: Support T7.
  sys/dev/cxgbe/crypto/t4_crypto.c
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
