Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

jail: add kqueue(2) support for jails
  lib/libsys/kqueue.2
  sys/kern/kern_event.c
  sys/kern/kern_jail.c
  sys/sys/event.h
  sys/sys/jail.h
Owners: none

jail: add kqueue(2) support for jails
  lib/libsys/kqueue.2
  sys/kern/kern_event.c
  sys/kern/kern_jail.c
  sys/sys/event.h
  sys/sys/jail.h
Owners: none

Like for -P et al, state that -deElL are syscons only options.
  usr.sbin/vidcontrol/vidcontrol.1
Owners: none

Like for -P et al, state that -deElL are syscons only options.
  usr.sbin/vidcontrol/vidcontrol.1
Owners: none

ddb4: improve formatting
  share/man/man4/ddb.4
Owners: none

ddb: improve show tcpcb
  sys/netinet/tcp_usrreq.c
Owners: none

ddb: add show all tcpcbs
  share/man/man4/ddb.4
  sys/netinet/tcp_usrreq.c
Owners: none

vtnet: Do "hardware" accounting for the total number of received octets
  sys/dev/virtio/network/if_vtnet.c
Owners: none

vtnet: Do "hardware" accounting for the total number of received octets
  sys/dev/virtio/network/if_vtnet.c
Owners: none

vtnet: Prefer "hardware" accounting for the multicast and total number of octets sent
  sys/dev/virtio/network/if_vtnet.c
Owners: none

vtnet: Prefer "hardware" accounting for the multicast and total number of octets sent
  sys/dev/virtio/network/if_vtnet.c
Owners: none

ddb: add optional printing of BBLog entries
  share/man/man4/ddb.4
  sys/netinet/tcp_log_buf.c
  sys/netinet/tcp_log_buf.h
  sys/netinet/tcp_usrreq.c
Owners: none

ddb: fix handling of BBLog entries when BBLog is disabled
  sys/netinet/tcp_log_buf.h
  sys/netinet/tcp_usrreq.c
Owners: none

tcp: fix local blackholing
  sys/netinet/tcp_input.c
Owners: none

udp: fix local blackholing
  sys/netinet6/udp6_usrreq.c
Owners: none

tcp: fix handling of TIME WAIT for local TCP connections
  sys/netinet/tcp_timewait.c
Owners: none

tcp: remove TCPTV_TWTRUNC
  sys/netinet/tcp_timer.h
Owners: none

jail: add jail descriptors
  lib/libjail/jail.c
  lib/libsys/Symbol.sys.map
  lib/libsys/_libsys.h
  lib/libsys/jail.2
  lib/libsys/syscalls.map
  sys/compat/freebsd32/freebsd32_syscall.h
  sys/compat/freebsd32/freebsd32_syscalls.c
  sys/compat/freebsd32/freebsd32_sysent.c
  sys/compat/freebsd32/freebsd32_systrace_args.c
  sys/conf/files
  sys/kern/init_sysent.c
  sys/kern/kern_descrip.c
  sys/kern/kern_jail.c
  sys/kern/kern_jaildesc.c
  sys/kern/syscalls.c
  sys/kern/syscalls.master
  sys/kern/systrace_args.c
  sys/sys/file.h
  sys/sys/jail.h
  sys/sys/jaildesc.h
  sys/sys/syscall.h
  sys/sys/syscall.mk
  sys/sys/sysproto.h
  sys/sys/user.h
Owners: none

jail: add jail descriptors
  lib/libjail/jail.c
  lib/libsys/Symbol.sys.map
  lib/libsys/_libsys.h
  lib/libsys/jail.2
  lib/libsys/syscalls.map
  sys/compat/freebsd32/freebsd32_syscall.h
  sys/compat/freebsd32/freebsd32_syscalls.c
  sys/compat/freebsd32/freebsd32_sysent.c
  sys/compat/freebsd32/freebsd32_systrace_args.c
  sys/conf/files
  sys/kern/init_sysent.c
  sys/kern/kern_descrip.c
  sys/kern/kern_jail.c
  sys/kern/kern_jaildesc.c
  sys/kern/syscalls.c
  sys/kern/syscalls.master
  sys/kern/systrace_args.c
  sys/sys/file.h
  sys/sys/jail.h
  sys/sys/jaildesc.h
  sys/sys/syscall.h
  sys/sys/syscall.mk
  sys/sys/sysproto.h
  sys/sys/user.h
Owners: none

snd_hda: Fix a sporadic panic during kldunload
  sys/dev/sound/pci/hda/hdac.c
  sys/modules/sound/driver/hda/Makefile
Owners: none

snd_hda: Fix a sporadic panic during kldunload
  sys/dev/sound/pci/hda/hdac.c
  sys/modules/sound/driver/hda/Makefile
Owners: none

moused(8): Add support for evdev protocol
  libexec/rc/rc.conf
  libexec/rc/rc.d/Makefile
  libexec/rc/rc.d/msconvd
  tools/build/mk/OptionalObsoleteFiles.inc
  usr.sbin/moused/Makefile
  usr.sbin/moused/Makefile.depend
  usr.sbin/moused/moused/Makefile
  usr.sbin/moused/moused/event-names.h
  usr.sbin/moused/moused/moused.8
  usr.sbin/moused/moused/moused.c
  usr.sbin/moused/moused/moused.conf
  usr.sbin/moused/moused/moused.conf.5
  usr.sbin/moused/moused/quirks.c
  usr.sbin/moused/moused/quirks.h
  usr.sbin/moused/moused/quirks/5-generic-touchpad.quirks
  usr.sbin/moused/moused/util-evdev.c
  usr.sbin/moused/moused/util-evdev.h
  usr.sbin/moused/moused/util-list.c
  usr.sbin/moused/moused/util-list.h
  usr.sbin/moused/moused/util.c
  usr.sbin/moused/moused/util.h
  usr.sbin/moused/msconvd/Makefile
  usr.sbin/moused/msconvd/msconvd.8
  usr.sbin/moused/msconvd/msconvd.c
Owners: @bsdimp

cyapa(4): Add support for reporting data with sysmouse protocol
  sys/dev/cyapa/cyapa.c
Owners: none

cyapa(4): Add support for reporting data with sysmouse protocol
  sys/dev/cyapa/cyapa.c
Owners: none

moused(8): Add support for evdev protocol
  libexec/rc/rc.conf
  libexec/rc/rc.d/Makefile
  libexec/rc/rc.d/msconvd
  tools/build/mk/OptionalObsoleteFiles.inc
  usr.sbin/moused/Makefile
  usr.sbin/moused/Makefile.depend
  usr.sbin/moused/moused/Makefile
  usr.sbin/moused/moused/event-names.h
  usr.sbin/moused/moused/moused.8
  usr.sbin/moused/moused/moused.c
  usr.sbin/moused/moused/moused.conf
  usr.sbin/moused/moused/moused.conf.5
  usr.sbin/moused/moused/quirks.c
  usr.sbin/moused/moused/quirks.h
  usr.sbin/moused/moused/quirks/5-generic-touchpad.quirks
  usr.sbin/moused/moused/util-evdev.c
  usr.sbin/moused/moused/util-evdev.h
  usr.sbin/moused/moused/util-list.c
  usr.sbin/moused/moused/util-list.h
  usr.sbin/moused/moused/util.c
  usr.sbin/moused/moused/util.h
  usr.sbin/moused/msconvd/Makefile
  usr.sbin/moused/msconvd/msconvd.8
  usr.sbin/moused/msconvd/msconvd.c
Owners: @bsdimp

Remove cached FreeBSD-kmods repo from cloudware
  release/tools/azure.conf
  release/tools/ec2.conf
  release/tools/vagrant.conf
Owners: none

tcp: add gone_in note for net.inet.tcp.sack.revised for fbsd16
  share/man/man4/tcp.4
  sys/netinet/tcp_sack.c
Owners: none

tcp: add gone_in note for net.inet.tcp.sack.revised for fbsd16
  share/man/man4/tcp.4
  sys/netinet/tcp_sack.c
Owners: none

Update main to 16
  UPDATING
  lib/clang/freebsd_cc_version.h
  lib/clang/include/lld/Common/Version.inc
  sys/conf/newvers.sh
  sys/sys/param.h
Owners: none

Update main to 16
  UPDATING
  lib/clang/freebsd_cc_version.h
  lib/clang/include/lld/Common/Version.inc
  sys/conf/newvers.sh
  sys/sys/param.h
Owners: none

Make stable/15 a stable branch
  UPDATING
  libexec/rc/rc.conf
  release/Makefile
  release/release.conf.sample
  share/man/man5/src.conf.5
  share/mk/src.opts.mk
  sys/sys/param.h
Owners: @bsdimp, @bapt, @bdrewery, @emaste

Remove std.debug from kernel configs
  sys/amd64/conf/GENERIC
  sys/amd64/conf/MINIMAL
  sys/arm/conf/std.armv7
  sys/arm64/conf/std.arm64
  sys/i386/conf/GENERIC
  sys/i386/conf/MINIMAL
  sys/powerpc/conf/GENERIC
  sys/powerpc/conf/GENERIC64
  sys/powerpc/conf/GENERIC64LE
  sys/riscv/conf/GENERIC
Owners: none

Remove NODEBUG kernels
  sys/amd64/conf/GENERIC-NODEBUG
  sys/amd64/conf/MINIMAL-NODEBUG
  sys/arm/conf/GENERIC-NODEBUG
  sys/arm64/conf/GENERIC-MMCCAM-NODEBUG
  sys/arm64/conf/GENERIC-NODEBUG
  sys/i386/conf/GENERIC-NODEBUG
  sys/i386/conf/MINIMAL-NODEBUG
  sys/powerpc/conf/GENERIC-NODEBUG
  sys/powerpc/conf/GENERIC64-NODEBUG
  sys/powerpc/conf/GENERIC64LE-NODEBUG
  sys/riscv/conf/GENERIC-NODEBUG
Owners: none

libc: prevent incorrect %a/%La rounding at full precision
  lib/libc/gdtoa/_hdtoa.c
  lib/libc/gdtoa/_hldtoa.c
  lib/libc/tests/stdio/printfloat_test.c
Owners: none

jaildesc: fix a misplaced error check and a spurious finit call Reported by: kib
  sys/kern/kern_jaildesc.c
Owners: none

jaildesc: fix a misplaced error check and a spurious finit call Reported by: kib
  sys/kern/kern_jaildesc.c
Owners: none

devd: Remove gross hack
  sbin/devd/devd.cc
Owners: none

devd: Remove gross hack
  sbin/devd/devd.cc
Owners: none

moused: Fix movement of moused/moused to moused/moused/moused
  tools/build/depend-cleanup.sh
Owners: @bsdimp

moused: Fix movement of moused/moused to moused/moused/moused
  tools/build/depend-cleanup.sh
Owners: @bsdimp
