Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

route: fix `route -n monitor` when its output is redirected
  sbin/route/route_netlink.c
Owners: none

indent: Simplify test script
  usr.bin/indent/tests/functional_test.sh
Owners: none

indent: Simplify test script
  usr.bin/indent/tests/functional_test.sh
Owners: none

indent: Fix buffer overflow
  usr.bin/indent/indent.c
  usr.bin/indent/tests/functional_test.sh
Owners: none

indent: Fix buffer overflow
  usr.bin/indent/indent.c
  usr.bin/indent/tests/functional_test.sh
Owners: none

15.0: Update main to -PRERELEASE
  sys/conf/newvers.sh
Owners: none

15.0: Update main to -PRERELEASE
  sys/conf/newvers.sh
Owners: none

Add UPDATING entries and bump version.
  UPDATING
  sys/conf/newvers.sh
Owners: none

Add UPDATING entries and bump version.
  UPDATING
  sys/conf/newvers.sh
Owners: none

Add UPDATING entries and bump version.
  UPDATING
  sys/conf/newvers.sh
Owners: none

vfs: Add support for file cloning to VOP_COPY_FILE_RANGE
  sys/fs/fuse/fuse_vnops.c
  sys/kern/vfs_default.c
  sys/kern/vfs_syscalls.c
  sys/kern/vfs_vnops.c
  sys/sys/unistd.h
  sys/sys/vnode.h
Owners: @asomers

vfs: Add support for file cloning to VOP_COPY_FILE_RANGE
  sys/fs/fuse/fuse_vnops.c
  sys/kern/vfs_default.c
  sys/kern/vfs_syscalls.c
  sys/kern/vfs_vnops.c
  sys/sys/unistd.h
  sys/sys/vnode.h
Owners: @asomers

RELNOTES: Add an entry for COPY_FILE_RANGE_CLONE
  RELNOTES
Owners: none

RELNOTES: Add an entry for COPY_FILE_RANGE_CLONE
  RELNOTES
Owners: none

devfs readdir: handle short buffer same as UFS
  sys/fs/devfs/devfs_vnops.c
Owners: none

jail: separate "statically valid allow flags" from "prison0 allow flags"
  sys/kern/kern_jail.c
  sys/sys/jail.h
Owners: none

kern: disallow user scheduling/debugging/signalling of jailed procs
  sys/kern/kern_jail.c
  sys/kern/kern_prot.c
  sys/sys/jail.h
  sys/sys/priv.h
  usr.sbin/jail/jail.8
Owners: none

jail: separate "statically valid allow flags" from "prison0 allow flags"
  sys/kern/kern_jail.c
  sys/sys/jail.h
Owners: none

kern: disallow user scheduling/debugging/signalling of jailed procs
  sys/kern/kern_jail.c
  sys/kern/kern_prot.c
  sys/sys/jail.h
  sys/sys/priv.h
  usr.sbin/jail/jail.8
Owners: none

jail.h: fix the build
  sys/sys/jail.h
Owners: none

jail.h: fix the build
  sys/sys/jail.h
Owners: none

grep: toss in some explicit fflush()
  usr.bin/grep/util.c
Owners: none

grep: toss in some explicit fflush()
  usr.bin/grep/util.c
Owners: none

libsa: ip fragment reassembly is buggy
  stand/libsa/ip.c
Owners: @bsdimp

libsa: ip fragment reassembly is buggy
  stand/libsa/ip.c
Owners: @bsdimp

arm64: Support TBI in userspace
  sys/arm64/arm64/efirt_machdep.c
  sys/arm64/arm64/elf_machdep.c
  sys/arm64/arm64/exec_machdep.c
  sys/arm64/arm64/genassym.c
  sys/arm64/arm64/pmap.c
  sys/arm64/arm64/ptrauth.c
  sys/arm64/arm64/swtch.S
  sys/arm64/arm64/vm_machdep.c
  sys/arm64/include/cpu.h
  sys/arm64/include/elf.h
  sys/arm64/include/proc.h
  sys/arm64/include/vmparam.h
  sys/sys/param.h
  tests/sys/kern/ptrace_test.c
Owners: @zxombie, @ngie-eign

arm64: Support TBI in userspace
  sys/arm64/arm64/efirt_machdep.c
  sys/arm64/arm64/elf_machdep.c
  sys/arm64/arm64/exec_machdep.c
  sys/arm64/arm64/genassym.c
  sys/arm64/arm64/pmap.c
  sys/arm64/arm64/ptrauth.c
  sys/arm64/arm64/swtch.S
  sys/arm64/arm64/vm_machdep.c
  sys/arm64/include/cpu.h
  sys/arm64/include/elf.h
  sys/arm64/include/proc.h
  sys/arm64/include/vmparam.h
  sys/sys/param.h
  tests/sys/kern/ptrace_test.c
Owners: @zxombie, @ngie-eign

rtld: fix dependencies for rtld-libc
  libexec/rtld-elf/Makefile
  libexec/rtld-elf/rtld-libc/Makefile.inc
Owners: none

syscalls: normalize _exit(2) declerations
  lib/libsys/Makefile.sys
  libexec/rtld-elf/rtld-libc/rtld_libc.h
  sys/kern/kern_exit.c
  sys/kern/syscalls.conf
  sys/kern/syscalls.master
  sys/tools/syscalls/config.lua
  sys/tools/syscalls/scripts/syscall_h.lua
  sys/tools/syscalls/scripts/syscalls_map.lua
Owners: none

sysent: regen for _exit(2) normalization
  lib/libsys/_libsys.h
  lib/libsys/syscalls.map
  sys/compat/freebsd32/freebsd32_syscall.h
  sys/compat/freebsd32/freebsd32_syscalls.c
  sys/compat/freebsd32/freebsd32_sysent.c
  sys/compat/freebsd32/freebsd32_systrace_args.c
  sys/kern/init_sysent.c
  sys/kern/syscalls.c
  sys/kern/systrace_args.c
  sys/sys/syscall.h
  sys/sys/syscall.mk
  sys/sys/sysproto.h
Owners: none

sysent: regen for _exit(2) normalization
  lib/libsys/_libsys.h
  lib/libsys/syscalls.map
  sys/compat/freebsd32/freebsd32_syscall.h
  sys/compat/freebsd32/freebsd32_syscalls.c
  sys/compat/freebsd32/freebsd32_sysent.c
  sys/compat/freebsd32/freebsd32_systrace_args.c
  sys/kern/init_sysent.c
  sys/kern/syscalls.c
  sys/kern/systrace_args.c
  sys/sys/syscall.h
  sys/sys/syscall.mk
  sys/sys/sysproto.h
Owners: none

syscalls: normalize _exit(2) declerations
  lib/libsys/Makefile.sys
  libexec/rtld-elf/rtld-libc/rtld_libc.h
  sys/kern/kern_exit.c
  sys/kern/syscalls.conf
  sys/kern/syscalls.master
  sys/tools/syscalls/config.lua
  sys/tools/syscalls/scripts/syscall_h.lua
  sys/tools/syscalls/scripts/syscalls_map.lua
Owners: none

rtld: fix dependencies for rtld-libc
  libexec/rtld-elf/Makefile
  libexec/rtld-elf/rtld-libc/Makefile.inc
Owners: none

sysent: add a new NORETURN type flag
  sys/kern/syscalls.master
  sys/tools/syscalls/core/syscall.lua
  sys/tools/syscalls/scripts/libsys_h.lua
Owners: none

syscalls.master: mark _exit as not returning
  sys/kern/syscalls.master
Owners: none

sysent: regen to mark _exit _Noreturn
  lib/libsys/_libsys.h
Owners: none

syscalls.master: mark _exit as not returning
  sys/kern/syscalls.master
Owners: none

sysent: add a new NORETURN type flag
  sys/kern/syscalls.master
  sys/tools/syscalls/core/syscall.lua
  sys/tools/syscalls/scripts/libsys_h.lua
Owners: none

sysent: regen to mark _exit _Noreturn
  lib/libsys/_libsys.h
Owners: none

acpi_powerres: D3cold support
  share/man/man9/pci.9
  sys/compat/linuxkpi/common/include/linux/pci.h
  sys/contrib/dev/acpica/include/actypes.h
  sys/dev/acpica/acpi.c
  sys/dev/acpica/acpi_pci.c
  sys/dev/acpica/acpi_powerres.c
  sys/dev/acpica/acpivar.h
  sys/dev/pci/pci.c
  sys/dev/pci/pcivar.h
Owners: @bsdimp, @bsdjhb
