Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

Fix NULL deref segfault in bhyve's usb_mouse.c
  usr.sbin/bhyve/usb_mouse.c
Owners: @bsdjhb, @grehan-freebsd

Fix NULL deref segfault in bhyve's usb_mouse.c
  usr.sbin/bhyve/usb_mouse.c
Owners: @bsdjhb, @grehan-freebsd

nvme: Handle get/set feature payloads
  sys/dev/nvme/nvme_ctrlr_cmd.c
Owners: @bsdimp

nvme: Handle get/set feature payloads
  sys/dev/nvme/nvme_ctrlr_cmd.c
Owners: @bsdimp

nvme: Support Autonomous Power State Transition (APST)
  share/man/man4/nvme.4
  sys/dev/nvme/nvme_ctrlr.c
Owners: @bsdimp

nvme: Support Autonomous Power State Transition (APST)
  share/man/man4/nvme.4
  sys/dev/nvme/nvme_ctrlr.c
Owners: @bsdimp

nvme: Add APST payload overriding
  share/man/man4/nvme.4
  sys/dev/nvme/nvme_ctrlr.c
Owners: @bsdimp

nvme: Add APST payload overriding
  share/man/man4/nvme.4
  sys/dev/nvme/nvme_ctrlr.c
Owners: @bsdimp

acpi_ibm: register all appropriate sysctls as uint
  sys/dev/acpi_support/acpi_ibm.c
Owners: none

acpi_ibm: register all appropriate sysctls as uint
  sys/dev/acpi_support/acpi_ibm.c
Owners: none

linux: support termios2 ioctls
  sys/compat/linux/linux_ioctl.c
  sys/compat/linux/linux_ioctl.h
Owners: none

linux: support termios2 ioctls
  sys/compat/linux/linux_ioctl.c
  sys/compat/linux/linux_ioctl.h
Owners: none

getopt(3): be more explicit about :: extension
  lib/libc/stdlib/getopt.3
Owners: none

getopt(3): be more explicit about :: extension
  lib/libc/stdlib/getopt.3
Owners: none

login.conf.5: Remove mention of login copyright setting
  lib/libutil/login.conf.5
  usr.bin/login/login.conf
  usr.sbin/etcupdate/tests/conflicts_test.sh
  usr.sbin/etcupdate/tests/tests_test.sh
Owners: none

login.conf.5: Remove mention of login copyright setting
  lib/libutil/login.conf.5
  usr.bin/login/login.conf
  usr.sbin/etcupdate/tests/conflicts_test.sh
  usr.sbin/etcupdate/tests/tests_test.sh
Owners: none

loader.efi(8): clarify UEFI boot path and boot1.efi usage
  stand/man/loader.efi.8
Owners: @bsdimp

loader.efi(8): clarify UEFI boot path and boot1.efi usage
  stand/man/loader.efi.8
Owners: @bsdimp

linux: add hidraw ioctl handler
  sys/compat/linux/linux_ioctl.c
  sys/compat/linux/linux_ioctl.h
Owners: none

linux: add hidraw ioctl handler
  sys/compat/linux/linux_ioctl.c
  sys/compat/linux/linux_ioctl.h
Owners: none

ata-serverworks: Fix incorrect port count for BCM5770 SATA controller
  sys/dev/ata/ata-pci.h
Owners: none

ata-serverworks: Fix incorrect port count for BCM5770 SATA controller
  sys/dev/ata/ata-pci.h
Owners: none

ixl(4): Enable building driver on ARM64
  sys/arm64/conf/NOTES
  sys/conf/files.arm64
  sys/conf/options.arm64
  sys/modules/Makefile
Owners: none

ixl(4): Enable building driver on ARM64
  sys/arm64/conf/NOTES
  sys/conf/files.arm64
  sys/conf/options.arm64
  sys/modules/Makefile
Owners: none

grep: add testcase to test color when matches is greater than MAX_MATCHES
  contrib/netbsd-tests/usr.bin/grep/d_color_d.out
  contrib/netbsd-tests/usr.bin/grep/t_grep.sh
  usr.bin/grep/tests/Makefile
Owners: @ngie-eign

grep: add testcase to test color when matches is greater than MAX_MATCHES
  contrib/netbsd-tests/usr.bin/grep/d_color_d.out
  contrib/netbsd-tests/usr.bin/grep/t_grep.sh
  usr.bin/grep/tests/Makefile
Owners: @ngie-eign

sound: Update pcm/feeder.h LICENSE
  sys/dev/sound/pcm/feeder.h
Owners: none

sound: Retire pcm_feeder->desc_static
  sys/dev/sound/pcm/feeder.c
  sys/dev/sound/pcm/feeder.h
  sys/dev/sound/pcm/feeder_chain.c
  sys/dev/sound/pcm/feeder_eq.c
  sys/dev/sound/pcm/feeder_format.c
  sys/dev/sound/pcm/feeder_matrix.c
  sys/dev/sound/pcm/feeder_mixer.c
  sys/dev/sound/pcm/feeder_rate.c
  sys/dev/sound/pcm/feeder_volume.c
  sys/dev/sound/pcm/sndstat.c
Owners: none

sound: Retire unused pcm_feeder->align
  sys/dev/sound/pcm/feeder.h
Owners: none

sound: Get rid of unnecessary breaks
  sys/dev/sound/pci/atiixp.c
  sys/dev/sound/pcm/feeder_eq.c
  sys/dev/sound/pcm/feeder_format.c
  sys/dev/sound/pcm/feeder_rate.c
  sys/dev/sound/pcm/feeder_volume.c
  sys/dev/sound/pcm/mixer.c
Owners: none

sound: Stop building midi as a module
  sys/dev/sound/midi/midi.c
Owners: none

snd_hda: Default to 256 when corb/rirb is invalid
  sys/dev/sound/pci/hda/hdac.c
Owners: none

sound: Retire snd_midi->busy
  sys/dev/sound/midi/midi.c
Owners: none

sound: Retire midi_devs and mstat_lock
  sys/dev/sound/midi/midi.c
  sys/dev/sound/midi/midi.h
  sys/dev/sound/midi/mpu401.c
Owners: none

sound: Update midi/midi.* LICENSE
  sys/dev/sound/midi/midi.c
  sys/dev/sound/midi/midi.h
Owners: none

sound: Remove dead if-statement
  sys/dev/sound/midi/midi.c
Owners: none

sound: Merge midi_destroy() with midi_uninit()
  sys/dev/sound/midi/midi.c
Owners: none

sound: Retire snd_midi->qlock
  sys/dev/sound/midi/midi.c
Owners: none

snd_dummy: Initial MIDI support
  sys/dev/sound/dummy.c
  sys/modules/sound/driver/dummy/Makefile
Owners: none

sound: Retire MIDI_DEBUG
  sys/dev/sound/midi/midi.c
Owners: none
