Repository freebsd/freebsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @bsdimp, @dag-erling, @asomers, @juikim, @gshapiro, @stephane-rochoy-stormshield, @grehan-freebsd, @bapt, @trasz, @cschuber, @bdrewery, @kevans91, @evadot, @zxombie, @glebius, @grimreaper, @gbergling

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
#
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
#
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
#
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
#
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
#
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/one-true-awk/		@bsdimp
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libsecureboot/	@stephane-rochoy-stormshield
/lib/libveriexec/	@stephane-rochoy-stormshield
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/nuageinit/	@bapt
/libexec/rc/rc.d/rctl/	@trasz
/sbin/ipf		@cschuber
/sbin/mount_fusefs @asomers
/sbin/nvmecontrol @bsdimp
/sbin/veriexec/	@stephane-rochoy-stormshield
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand		@bsdimp
/stand/lua	@kevans91
/stand/veriexec.mk	@stephane-rochoy-stormshield
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/arm64	@zxombie
/sys/arm64/include	@zxombie
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/ftgpio/	@stephane-rochoy-stormshield
/sys/dev/ftwd/	@stephane-rochoy-stormshield
/sys/dev/iscsi/	@trasz
/sys/dev/nctgpio/	@stephane-rochoy-stormshield
/sys/dev/ncthwm/	@stephane-rochoy-stormshield
/sys/dev/nvd	@bsdimp
/sys/dev/nvme	@bsdimp
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/superio/	@stephane-rochoy-stormshield
/sys/dev/veriexec/	@stephane-rochoy-stormshield
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/ipfilter	@cschuber
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/security/mac_veriexec/	@stephane-rochoy-stormshield
/sys/security/mac_veriexec_parser/	@stephane-rochoy-stormshield
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling

mrsas.4: Add Fujitsu RAID Controller SAS 6Gbit/s 1GB (D3116)
  share/man/man4/mrsas.4
Owners: none

tools: remove powerpcspe
  tools/boot/full-test.sh
  tools/boot/universe.sh
Owners: none

tools: remove powerpcspe
  tools/boot/full-test.sh
  tools/boot/universe.sh
Owners: none

Makefile*: remove powerpcspe
  Makefile
  Makefile.inc1
  cddl/lib/libzpool/Makefile
  include/Makefile
  libexec/rtld-elf/rtld-libc/Makefile.inc
  share/mk/bsd.cpu.mk
  share/mk/bsd.endian.mk
  share/mk/bsd.opts.mk
  stand/defs.mk
  sys/conf/Makefile.powerpc
  sys/conf/kern.mk
  sys/conf/kern.pre.mk
  sys/modules/Makefile
  sys/modules/zfs/Makefile
  tests/sys/kern/Makefile
  usr.sbin/Makefile.powerpc
Owners: @bsdimp, @bapt, @bdrewery, @emaste, @ngie-eign

Makefile*: remove powerpcspe
  Makefile
  Makefile.inc1
  cddl/lib/libzpool/Makefile
  include/Makefile
  libexec/rtld-elf/rtld-libc/Makefile.inc
  share/mk/bsd.cpu.mk
  share/mk/bsd.endian.mk
  share/mk/bsd.opts.mk
  stand/defs.mk
  sys/conf/Makefile.powerpc
  sys/conf/kern.mk
  sys/conf/kern.pre.mk
  sys/modules/Makefile
  sys/modules/zfs/Makefile
  tests/sys/kern/Makefile
  usr.sbin/Makefile.powerpc
Owners: @bsdimp, @bapt, @bdrewery, @emaste, @ngie-eign

release: remove powerpcspe
  release/powerpc/powerpcspe.conf
Owners: none

release: remove powerpcspe
  release/powerpc/powerpcspe.conf
Owners: none

ps(1): Sort headers
  bin/ps/keyword.c
  bin/ps/ps.c
Owners: none

ps(1): Sort headers
  bin/ps/keyword.c
  bin/ps/ps.c
Owners: none

sys/x86/NOTES: Add vt_efifb
  sys/x86/conf/NOTES
Owners: none

sys/x86/NOTES: Add vt_efifb
  sys/x86/conf/NOTES
Owners: none

i386: Fix kernel compilation after introduction of ASMC_DEBUG option
  sys/conf/options.i386
Owners: none

i386: Fix kernel compilation after introduction of ASMC_DEBUG option
  sys/conf/options.i386
Owners: none

libpmc: Import AMD Zen 5 PMU events.
  lib/libpmc/pmu-events/arch/x86/amdzen5/branch-prediction.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/data-fabric.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/decode.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/execution.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/floating-point.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/inst-cache.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/l2-cache.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/l3-cache.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/load-store.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/memory-controller.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/pipeline.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/recommended.json
  lib/libpmc/pmu-events/arch/x86/mapfile.csv
Owners: none

libpmc: Import AMD Zen 5 PMU events.
  lib/libpmc/pmu-events/arch/x86/amdzen5/branch-prediction.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/data-fabric.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/decode.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/execution.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/floating-point.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/inst-cache.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/l2-cache.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/l3-cache.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/load-store.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/memory-controller.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/pipeline.json
  lib/libpmc/pmu-events/arch/x86/amdzen5/recommended.json
  lib/libpmc/pmu-events/arch/x86/mapfile.csv
Owners: none

smartpqi: update to version 4660.0.2002
  share/man/man4/smartpqi.4
  sys/dev/smartpqi/smartpqi_cam.c
  sys/dev/smartpqi/smartpqi_cmd.c
  sys/dev/smartpqi/smartpqi_controllers.h
  sys/dev/smartpqi/smartpqi_defines.h
  sys/dev/smartpqi/smartpqi_discovery.c
  sys/dev/smartpqi/smartpqi_event.c
  sys/dev/smartpqi/smartpqi_helper.c
  sys/dev/smartpqi/smartpqi_init.c
  sys/dev/smartpqi/smartpqi_intr.c
  sys/dev/smartpqi/smartpqi_ioctl.c
  sys/dev/smartpqi/smartpqi_main.c
  sys/dev/smartpqi/smartpqi_misc.c
  sys/dev/smartpqi/smartpqi_prototypes.h
  sys/dev/smartpqi/smartpqi_queue.c
  sys/dev/smartpqi/smartpqi_request.c
  sys/dev/smartpqi/smartpqi_response.c
  sys/dev/smartpqi/smartpqi_sis.c
  sys/dev/smartpqi/smartpqi_structures.h
Owners: none

smartpqi: update to version 4660.0.2002
  share/man/man4/smartpqi.4
  sys/dev/smartpqi/smartpqi_cam.c
  sys/dev/smartpqi/smartpqi_cmd.c
  sys/dev/smartpqi/smartpqi_controllers.h
  sys/dev/smartpqi/smartpqi_defines.h
  sys/dev/smartpqi/smartpqi_discovery.c
  sys/dev/smartpqi/smartpqi_event.c
  sys/dev/smartpqi/smartpqi_helper.c
  sys/dev/smartpqi/smartpqi_init.c
  sys/dev/smartpqi/smartpqi_intr.c
  sys/dev/smartpqi/smartpqi_ioctl.c
  sys/dev/smartpqi/smartpqi_main.c
  sys/dev/smartpqi/smartpqi_misc.c
  sys/dev/smartpqi/smartpqi_prototypes.h
  sys/dev/smartpqi/smartpqi_queue.c
  sys/dev/smartpqi/smartpqi_request.c
  sys/dev/smartpqi/smartpqi_response.c
  sys/dev/smartpqi/smartpqi_sis.c
  sys/dev/smartpqi/smartpqi_structures.h
Owners: none

smartpqi: update to version 4660.0.2002
  share/man/man4/smartpqi.4
  sys/dev/smartpqi/smartpqi_cam.c
  sys/dev/smartpqi/smartpqi_cmd.c
  sys/dev/smartpqi/smartpqi_controllers.h
  sys/dev/smartpqi/smartpqi_defines.h
  sys/dev/smartpqi/smartpqi_discovery.c
  sys/dev/smartpqi/smartpqi_event.c
  sys/dev/smartpqi/smartpqi_helper.c
  sys/dev/smartpqi/smartpqi_init.c
  sys/dev/smartpqi/smartpqi_intr.c
  sys/dev/smartpqi/smartpqi_ioctl.c
  sys/dev/smartpqi/smartpqi_main.c
  sys/dev/smartpqi/smartpqi_misc.c
  sys/dev/smartpqi/smartpqi_prototypes.h
  sys/dev/smartpqi/smartpqi_queue.c
  sys/dev/smartpqi/smartpqi_request.c
  sys/dev/smartpqi/smartpqi_response.c
  sys/dev/smartpqi/smartpqi_sis.c
  sys/dev/smartpqi/smartpqi_structures.h
Owners: none

smartpqi: update to version 4660.0.2002
  share/man/man4/smartpqi.4
  sys/dev/smartpqi/smartpqi_cam.c
  sys/dev/smartpqi/smartpqi_cmd.c
  sys/dev/smartpqi/smartpqi_controllers.h
  sys/dev/smartpqi/smartpqi_defines.h
  sys/dev/smartpqi/smartpqi_discovery.c
  sys/dev/smartpqi/smartpqi_event.c
  sys/dev/smartpqi/smartpqi_helper.c
  sys/dev/smartpqi/smartpqi_init.c
  sys/dev/smartpqi/smartpqi_intr.c
  sys/dev/smartpqi/smartpqi_ioctl.c
  sys/dev/smartpqi/smartpqi_main.c
  sys/dev/smartpqi/smartpqi_misc.c
  sys/dev/smartpqi/smartpqi_prototypes.h
  sys/dev/smartpqi/smartpqi_queue.c
  sys/dev/smartpqi/smartpqi_request.c
  sys/dev/smartpqi/smartpqi_response.c
  sys/dev/smartpqi/smartpqi_sis.c
  sys/dev/smartpqi/smartpqi_structures.h
Owners: none

freebsd-base.7: Fix stray -r
  share/man/man7/freebsd-base.7
Owners: none

mrsas.4: Fix devid hex style
  share/man/man4/mrsas.4
Owners: none

mrsas.4: Fix devid hex style
  share/man/man4/mrsas.4
Owners: none

conf: remove MPC85XXSPE
  sys/powerpc/conf/MPC85XXSPE
Owners: none

param.h: remove powerpcspe
  sys/powerpc/include/param.h
Owners: none

stand: remove powerpcspe linker script
  stand/powerpc/ofw/powerpcspe.ldscript
Owners: @bsdimp

conf: remove powerpcspe
  sys/conf/files.powerpc
  sys/conf/ldscript.powerpcspe
  sys/conf/options.powerpc
  sys/powerpc/booke/spe.c
Owners: none

conf: remove powerpcspe
  sys/conf/files.powerpc
  sys/conf/ldscript.powerpcspe
  sys/conf/options.powerpc
  sys/powerpc/booke/spe.c
Owners: none

param.h: remove powerpcspe
  sys/powerpc/include/param.h
Owners: none

conf: remove MPC85XXSPE
  sys/powerpc/conf/MPC85XXSPE
Owners: none

stand: remove powerpcspe linker script
  stand/powerpc/ofw/powerpcspe.ldscript
Owners: @bsdimp

lib: remove powerpcspe
  lib/libc/csu/powerpcspe/Makefile.inc
  lib/libc/powerpcspe/Makefile.inc
  lib/libc/powerpcspe/_fpmath.h
  lib/libc/powerpcspe/gen/Makefile.inc
  lib/libc/powerpcspe/gen/_setjmp.S
  lib/libc/powerpcspe/gen/fabs.S
  lib/libc/powerpcspe/gen/flt_rounds.c
  lib/libc/powerpcspe/gen/fpgetmask.c
  lib/libc/powerpcspe/gen/fpgetround.c
  lib/libc/powerpcspe/gen/fpgetsticky.c
  lib/libc/powerpcspe/gen/fpsetmask.c
  lib/libc/powerpcspe/gen/fpsetround.c
  lib/libc/powerpcspe/gen/setjmp.S
  lib/libc/powerpcspe/gen/sigsetjmp.S
  lib/libc/powerpcspe/softfloat/milieu.h
  lib/libc/powerpcspe/softfloat/powerpc-gcc.h
  lib/libc/powerpcspe/softfloat/softfloat.h
  lib/libsys/powerpcspe/Makefile.sys
Owners: none

lib: remove powerpcspe
  lib/libc/csu/powerpcspe/Makefile.inc
  lib/libc/powerpcspe/Makefile.inc
  lib/libc/powerpcspe/_fpmath.h
  lib/libc/powerpcspe/gen/Makefile.inc
  lib/libc/powerpcspe/gen/_setjmp.S
  lib/libc/powerpcspe/gen/fabs.S
  lib/libc/powerpcspe/gen/flt_rounds.c
  lib/libc/powerpcspe/gen/fpgetmask.c
  lib/libc/powerpcspe/gen/fpgetround.c
  lib/libc/powerpcspe/gen/fpgetsticky.c
  lib/libc/powerpcspe/gen/fpsetmask.c
  lib/libc/powerpcspe/gen/fpsetround.c
  lib/libc/powerpcspe/gen/setjmp.S
  lib/libc/powerpcspe/gen/sigsetjmp.S
  lib/libc/powerpcspe/softfloat/milieu.h
  lib/libc/powerpcspe/softfloat/powerpc-gcc.h
  lib/libc/powerpcspe/softfloat/softfloat.h
  lib/libsys/powerpcspe/Makefile.sys
Owners: none

sdio: add sdio_{read,write}_2
  sys/dev/sdio/sdio_subr.c
  sys/dev/sdio/sdio_subr.h
Owners: none

Cron: add CC and BCC option for crontab variables
  usr.sbin/cron/cron/do_command.c
  usr.sbin/cron/crontab/crontab.5
Owners: none

df: Fix -k flag consistency with other BLOCKSIZE flags
  bin/df/df.c
Owners: none

df: Fix -k flag consistency with other BLOCKSIZE flags
  bin/df/df.c
Owners: none

Cron: add CC and BCC option for crontab variables
  usr.sbin/cron/cron/do_command.c
  usr.sbin/cron/crontab/crontab.5
Owners: none

device_delete_child should be destroying the child, not the dev
  sys/kern/subr_bus.c
Owners: none

sdio: add sdio_{read,write}_2
  sys/dev/sdio/sdio_subr.c
  sys/dev/sdio/sdio_subr.h
Owners: none

device_delete_child should be destroying the child, not the dev
  sys/kern/subr_bus.c
Owners: none
